<div class="card-faction">
	<span class="card-affiliation">{{ card.affiliation_name }}</span>.
	<span class="card-faction">{{ card.faction_name }}</span>.
	<span class="card-rarity">{{ card.rarity_name }}</span>.
</div>