<p>
	{% trans with {'%author%': '<b>'~username~'</b>', '%decklist%': "<b><a href=\""~ url|replace({'&':'&amp;'})|raw ~"\">"~ decklist_name~"</a></b>"} %}
	emails.newcomment.commenter
	{% endtrans %}
</p>
<div style="font-family:sans-serif;border:1px solid lightgray;border-width:1px 0px">
{{ comment|raw }}
</div>
<p style="color:lightgray;font-size:0.8em">
	{{'emails.unsubscribe' | trans({'%profile%': profile}) | raw}}
</p>