<div class="row">
    <div class="col-xs-12">

    <ul class="list-inline">
    <li><a href="{{ path('about') }}">Sobre este sitio</a></li>
    <li><a href="{{ path('api_intro') }}">API</a></li>
    <li><a href="{{ path('donators') }}">Donadores</a> <span class="fa fa-gift donator" title="Los Gentiles Donadores"></span></li>
    </ul>

    <p>
    Diseñado y construido por Alsciende.
    Contacto: 
    <a href="https://twitter.com/alsciende" title="Twitter"><span class="fa fa-twitter"></span></a>
    <a href="https://reddit.com/user/Alsciende/" title="Reddit"><span class="fa fa-reddit"></span></a>
    <a href="mailto:alsciende@icloud.com" title="E-mail"><span class="fa fa-envelope"></span></a>
    </p>

    <p>
    Traducido al castellano por fafranco82
    Contacto: 
    <a href="https://twitter.com/morifinwe" title="Twitter"><span class="fa fa-twitter"></span></a>
    <a href="mailto:fafranco82@gmail.com" title="E-mail"><span class="fa fa-envelope"></span></a>
    </p>

    <p>
    Por favor, indicanos cualquier error, sugerencia o petición de caracterísitcas en <a href="https://github.com/Alsciende/thronesdb/issues">GitHub</a>
    </p>

    <p>
    Puedes contribuir aportando dinero en <a href="https://paypal.me/alsciende">Paypal</a>.
    </p>

    <p>
    La información presentada en este sitio sobre Juego de Tronos: El juego de cartas Segunda Edición, tanto la gráfica como la literal, está bajo los derechos de
    Fantasy Flight Games. Este sitio no está producido, aprobado, apoyado ni afiliado con Fantasy Flight Games, ni con su distribuidora en España, Edge Entertainment.
    </p>

    </div>
</div>