<div class="row">
    <div class="col-xs-12">

    <ul class="list-inline">
    <li><a href="{{ path('about') }}">O stronie</a></li>
    <li><a href="{{ path('api_intro') }}">API</a></li>
    <li><a href="{{ path('donators') }}">Darczyńcy</a> <span class="fa fa-gift donator" title="The Gracious Donator"></span></li>
    </ul>

    <p>
    Oryginalny projekt przez Alsciende (<a href="https://netrunnerdb.com" target="_blank">NetrunnerDB</a> i <a href="https://thronesdb.com" target="_blank">ThronesDB</a>). Zmodyfikowany i zaadaptowany do SW: Przeznaczenie przez fafranco82
    Kontakt: 
    <a href="https://twitter.com/morifinwe" title="Twitter"><span class="fa fa-twitter"></span></a>
    <a href="mailto:webmaster@swdestinydb.com" title="E-mail"><span class="fa fa-envelope"></span></a>
    </p>

    <p>
    Przetłumaczone na język polski przez Siema
    Kontakt: 
    <a href="https://twitter.com/garaddon" title="Twitter"><span class="fa fa-twitter"></span></a>
    <!--<a href="mailto:user@gmail.com" title="E-mail"><span class="fa fa-envelope"></span></a>-->
    </p>

    <p>
    Błędy i propozycje funkcjonalności prosimy składać na <a href="https://github.com/fafranco82/swdestinydb/issues">GitHub</a>
    </p>

    <p>
    Możesz wspomóc stronę przez <a href="https://paypal.me/fafranco82">Paypal</a>.
    </p>

    <p>
    Wszelkie treści zawarte na tej stronie i dotyczące gry Star Wars: Przeznaczenie, zarówno tekstowe jak i graficzne, są własnością Fantasy Flight Games i/lub Galakta.</br>
    Ta strona nie jest tworzona, wspierana, ani powiązana z Fantasy Flight Games, ani Galaktą.
    </p>

    </div>
</div>
