<div class="row">
    <div class="col-xs-12">

    <ul class="list-inline">
    <li><a href="{{ path('about') }}">About</a></li>
    <li><a href="{{ path('api_intro') }}">API</a></li>
    <li><a href="{{ path('donators') }}">Donators</a> <span class="fa fa-gift donator" title="The Gracious Donator"></span></li>
    </ul>

    <p>
    Original design by Alsciende (<a href="https://netrunnerdb.com" target="_blank">NetrunnerDB</a> and <a href="https://thronesdb.com" target="_blank">ThronesDB</a>). Modified and adapted to SW Destiny by fafranco82
    Contact: 
    <a href="https://twitter.com/morifinwe" title="Twitter"><span class="fa fa-twitter"></span></a>
    <a href="mailto:fafranco82@gmail.com" title="E-mail"><span class="fa fa-envelope"></span></a>
    </p>

    <p>
    Please post bug reports and feature requests on <a href="https://github.com/fafranco82/swdestinydb/issues">GitHub</a>
    </p>

    <p>
    You may contribute by giving money on <a href="https://paypal.me/fafranco82">Paypal</a>.
    </p>

    <p>
    The information presented on this site about Star Wars Destiny, both literal and graphical, is copyrighted by Fantasy Flight Games.
    This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games.
    </p>

    </div>
</div>