@font-face {
  font-family: 'swdestiny';
  src:  url('../fonts/swdestiny.eot?1gixo9');
  src:  url('../fonts/swdestiny.eot?1gixo9#iefix') format('embedded-opentype'),
    url('../fonts/swdestiny.ttf?1gixo9') format('truetype'),
    url('../fonts/swdestiny.woff?1gixo9') format('woff'),
    url('../fonts/swdestiny.svg?1gixo9#swdestiny') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'swdestiny' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-die:before {
  content: "\e90a";
}
.icon-unique:before {
  content: "\e909";
}
.icon-blank:before {
  content: "\e902";
}
.icon-discard:before {
  content: "\e903";
}
.icon-disrupt:before {
  content: "\e904";
}
.icon-focus:before {
  content: "\e905";
}
.icon-melee:before {
  content: "\e906";
}
.icon-ranged:before {
  content: "\e907";
}
.icon-shield:before {
  content: "\e908";
}
.icon-resource:before {
  content: "\e900";
}
.icon-special:before {
  content: "\e901";
}
.icon-upgrade:before {
  content: "\e92e";
}
.icon-battlefield:before {
  content: "\e947";
}
.icon-character:before {
  content: "\e971";
}
.icon-support:before {
  content: "\e9b4";
}
.icon-event:before {
  content: "\e9b5";
}

