@font-face {
  font-family: 'swdestiny';
  src:  url('../fonts/swdestiny.eot?3x5pgy');
  src:  url('../fonts/swdestiny.eot?3x5pgy#iefix') format('embedded-opentype'),
    url('../fonts/swdestiny.ttf?3x5pgy') format('truetype'),
    url('../fonts/swdestiny.woff?3x5pgy') format('woff'),
    url('../fonts/swdestiny.svg?3x5pgy#swdestiny') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'swdestiny' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-set-AW:before {
  content: "\e90d";
}
.icon-set-SoR:before {
  content: "\e90e";
}
.icon-set-EaW:before {
  content: "\e90f";
}
.icon-set-TPG:before {
  content: "\e910";
}
.icon-set-LEG:before {
  content: "\e913";
}
.icon-set-RIV:before {
  content: "\e914";
}
.icon-set-WotF:before {
  content: "\e915";
}
.icon-set-AtG:before {
  content: "\e917";
}
.icon-set-CONV:before {
  content: "\e918";
}
.icon-set-AoN:before {
  content: "\e900";
}
.icon-set-SoH:before {
  content: "\e91a";
}
.icon-set-CM:before {
  content: "\e91c";
}
.icon-set-TR:before {
  content: "\e91d";
}
.icon-set-FA:before {
  content: "\e91b";
}
.icon-set-RM:before {
  content: "\e91f";
}
.icon-set-EC:before {
  content: "\e91e";
}
.icon-set-PW:before {
  content: "\e920";
}
.icon-set-HS:before {
  content: "\e921";
}
.icon-collectors:before {
  content: "\e90c";
}
.icon-character:before {
  content: "\e971";
}
.icon-support:before {
  content: "\e9b4";
}
.icon-upgrade:before {
  content: "\e916";
}
.icon-downgrade:before {
  content: "\e95e";
}
.icon-event:before {
  content: "\e9b5";
}
.icon-battlefield:before {
  content: "\e947";
}
.icon-plot:before {
  content: "\e919";
}
.icon-blank:before {
  content: "\e902";
}
.icon-melee:before {
  content: "\e906";
}
.icon-ranged:before {
  content: "\e907";
}
.icon-indirect:before {
  content: "\e911";
}
.icon-shield:before {
  content: "\e908";
}
.icon-resource:before {
  content: "\e901";
}
.icon-focus:before {
  content: "\e905";
}
.icon-discard:before {
  content: "\e903";
}
.icon-disrupt:before {
  content: "\e904";
}
.icon-special:before {
  content: "\e90b";
}
.icon-unique:before {
  content: "\e909";
}
.icon-cards:before {
  content: "\e912";
}
.icon-die:before {
  content: "\e90a";
}
