@font-face {
  font-family: 'swdestiny';
  src:  url('../fonts/swdestiny.eot?totfte');
  src:  url('../fonts/swdestiny.eot?totfte#iefix') format('embedded-opentype'),
    url('../fonts/swdestiny.ttf?totfte') format('truetype'),
    url('../fonts/swdestiny.woff?totfte') format('woff'),
    url('../fonts/swdestiny.svg?totfte#swdestiny') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'swdestiny' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-set-SoR:before {
  content: "\e90e";
}
.icon-set-AW:before {
  content: "\e90d";
}
.icon-set-EaW:before {
  content: "\e90f";
}
.icon-set-TPG:before {
  content: "\e910";
}
.icon-set-LEG:before {
  content: "\e913";
}
.icon-set-RIV:before {
  content: "\e914";
}
.icon-set-WotF:before {
  content: "\e915";
}
.icon-collectors:before {
  content: "\e90c";
}
.icon-die:before {
  content: "\e90a";
}
.icon-unique:before {
  content: "\e909";
}
.icon-blank:before {
  content: "\e902";
  color: #000;
}
.icon-discard:before {
  content: "\e903";
}
.icon-disrupt:before {
  content: "\e904";
}
.icon-focus:before {
  content: "\e905";
}
.icon-melee:before {
  content: "\e906";
}
.icon-ranged:before {
  content: "\e907";
}
.icon-indirect:before {
  content: "\e911";
}
.icon-shield:before {
  content: "\e908";
}
.icon-resource:before {
  content: "\e900";
  color: #000;
}
.icon-special:before {
  content: "\e901";
  color: #000;
}
.icon-upgrade:before {
  content: "\e92e";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-battlefield:before {
  content: "\e947";
}
.icon-character:before {
  content: "\e971";
}
.icon-support:before {
  content: "\e9b4";
}
.icon-event:before {
  content: "\e9b5";
}
.icon-cards:before {
  content: "\e90b";
}
.icon-plot:before {
  content: "\e912";
}
