<h1>¿Qué? ¿No hay mazos?</h1>

<p>
	Los mazos son fantásticos. Puedes <span class="fake-inline-button text-primary"><span class="fa fa-pencil"></span> Editar</span>los hasta que estés satisfecho,
	luego <span class="fake-inline-button text-primary"><span class="fa fa-share"></span> Publicar</span>los para poder verlos con otros usuarios.
	Y si quieres tenerlos para tí mismo, aún puedes <span class="fake-inline-button text-primary"><span class="fa fa-download"></span> Descargar</span>los o
	<span class="fake-inline-button text-primary"><span class="fa fa-clipboard"></span> Exportar</span>los.
</p>

<p>
	¿Así que a qué esperas? Para crear tu primer mazo, puedes tanto <span class="fake-inline-button text-primary"><span class="fa fa-plus"></span> Construir</span> uno desde cero usando el Constructor de mazos,
	<span class="fake-inline-button text-primary"><span class="fa fa-upload"></span> Importar</span> uno de internet,
	o <span class="fake-inline-button text-primary"><span class="fa fa-upload"></span> Subir</span> el fichero de un mazo en el formato de OCTGN o en texto plano.
</p>