<h1>Jeszcze nic nie stworzyłeś?</h1>

<p>
	Tworzenie talii jest super! Możesz <span class="fake-inline-button text-primary"><span class="fa fa-pencil"></span> edytować</span> je do woli,
	a potem <span class="fake-inline-button text-primary"><span class="fa fa-share"></span> opublikować</span> je dla innych graczy.
	A jeśli wolisz jednak je zachować dla siebie, to możesz <span class="fake-inline-button text-primary"><span class="fa fa-download"></span> pobrać</span> je,
	albo <span class="fake-inline-button text-primary"><span class="fa fa-clipboard"></span> wyeksportować</span>.
</p>

<p>
    Więc na co czekasz? Stworzyć talię możesz <span class="fake-inline-button text-primary"><span class="fa fa-plus"></span> budując</span> ją od zera przy użyciu Edytora talii,
	<span class="fake-inline-button text-primary"><span class="fa fa-upload"></span> zaimportować</span> ją z internetu,
	lub <span class="fake-inline-button text-primary"><span class="fa fa-upload"></span> wgrać</span> plik talii w formacie Octgn lub tekstowym.
</p>
