<h1 id="faq">FAQ</h1>

<p>Ecco alcune domande ricorrenti che i giocatori potrebbero porsi
nel corso di una partita.</p>

<h4 id="generale">Generale</h4>

<p><em>Posso giocare con un mio amico se entrambi usiamo dei mazzi
malvagio (o eroe)?</em></p>

<ul>
<li>Sì. Puoi giocare contro chiunque, a prescindere dall’affiliazione
del suo mazzo. Potresti perfino usare gli stessi personaggi che
sta usando il tuo avversario!</li>
</ul>

<p><em>Posso avere più di 5 carte nella mia mano?</em></p>

<ul>
<li>Sì, puoi avere nella tua mano più carte del tuo limite di mano.
Tuttavia, durante la fase di gestione, se dopo aver scartato hai
un numero di carte nella tua mano superiore al tuo limite di
mano, non pescherai altre carte.</li>
</ul>

<p><em>Che differenza c’è tra turno e round?</em></p>

<ul>
<li>Un turno è l’azione di un giocatore. Un round è composto da
una fase di azione e una fase di gestione.</li>
</ul>

<p><em>Che differenza c’è tra danno in mischia e danno a distanza?</em></p>

<ul>
<li>Non c’è nessuna differenza funzionale. L’unica differenza tra i
due tipi di danno sta nelle carte che interagiscono con essi, e
nel fatto che non puoi risolverli come parte della stessa azione.</li>
</ul>

<p><em>Quando uno dei miei personaggi sta per subire danni, devo usare
i suoi scudi?</em></p>

<ul>
<li>Sì, se possibile.</li>
</ul>

<h4 id="dadi">Dadi</h4>

<p><em>Se uso più copie dello stesso personaggio, devo ricordare quale
dado proviene da ogni personaggio?</em></p>

<ul>
<li>Sì. Assicurati che i dadi di ogni personaggio siano posizionati in
modo che risulti evidente da quale personaggio provengono.
Se un personaggio è sconfitto, i suoi dadi specifici devono
essere rimossi dalla riserva, se presenti.</li>
</ul>

<p><em>Per dado personaggio si intende qualsiasi dado posseduto da
un personaggio?</em></p>

<ul>
<li>No. Un dado personaggio è un dado che corrisponde alla carta
personaggio. Un dado miglioria non è mai un dado personaggio
e viene sempre chiamato dado miglioria nel testo delle carte.</li>
</ul>

<p><em>Devo risolvere tutti i miei dadi con lo stesso
simbolo simultaneamente?</em></p>

<ul>
<li>No. Puoi risolvere il numero di dadi con lo stesso simbolo che
preferisci quando effettui l’azione di risolvere i dadi.</li>
</ul>

<p><em>Posso scegliere un dado con un modificatore o con un costo in
risorsa quando attivo un personaggio con Protezione?</em></p>

<ul>
<li>Sì. La parola chiave Protezione permette di rimuovere un dado
“danno” dalla riserva di dadi di un avversario per infliggere
danni pari al valore del dado rimosso al personaggio con
Protezione attivato. Il testo tra parentesi indica sinteticamente
di “risolvere contro di lui 1 dado “danno” di un avversario”
solo come promemoria, ma la definizione accurata della parola
chiave è quella riportata in questo Compendio delle Regole e
non quella esposta superficialmente sulla carta.</li>
</ul>

<h4 id="carte">Carte</h4>

<p><em>Posso riposizionare una miglioria su un personaggio che possiede
già il numero massimo di migliorie?</em></p>

<ul>
<li>Sì, ma dovrai scartare una delle migliorie di quel personaggio
per fare spazio.</li>
</ul>

<p><em>Posso scartare una miglioria grigia per ridurre il costo di una
miglioria non grigia e viceversa?</em></p>

<ul>
<li>Sì. Puoi scartare una miglioria di qualsiasi colore per ridurre il
costo di un’altra miglioria, a prescindere dal suo colore.</li>
</ul>

<p><em>Cosa succede se sostituisco una miglioria con un’altra miglioria
che costa meno risorse?</em></p>

<p>*Giochi la nuova miglioria gratuitamente.</p>

<p><em>Posso usare la capacità speciale che si trova su una carta esaurita?</em></p>

<ul>
<li>Puoi usare la capacità speciale su una carta esaurita, purché
quella capacità non ti richieda di esaurire la carta al fine di usarla.</li>
</ul>

<p><em>Cosa succede se gioco una carta supporto su cui è riportata
un’“Azione”?</em></p>

<ul>
<li>Ora hai una nuova azione che puoi effettuare. Non risolvi
l’azione quando giochi la carta.</li>
</ul>

<p><em>Cosa succede se voglio giocare una copia di una carta unica ma il
mio avversario ne ha una in gioco?</em></p>

<ul>
<li>Ogni giocatore può avere in gioco 1 sola copia di una carta
unica (ma può includerne 2 nel proprio mazzo). Quindi puoi
giocare la tua copia, ma una volta che una copia è in gioco,
non potrai giocare l’altra.</li>
</ul>

<p><em>Cosa succede quando una capacità “dopo” si innesca su una
capacità “prima” e c’è un’altra capacità “dopo” in coda?</em></p>

<ul>
<li>Le capacità “dopo” entrano in coda e attendono il loro turno
di risoluzione. Se una capacità “dopo” si innesca durante la
risoluzione di un’altra capacità, sarà risolta dopo la capacità
che l’ha innescata e ogni altra capacità già in coda.</li>
</ul>

<h4 id="interazionitralecarte">Interazioni tra le carte</h4>

<p><em>Se rivendico l’Armeria Imperiale (<span class="icon-set-AW"></span>169) e gioco una miglioria
assegnandola a Rey (<span class="icon-set-AW"></span>38), quest’ultima può effettuare
un’azione aggiuntiva?</em></p>

<ul>
<li>No. Dal momento che rivendichi il campo di battaglia, devi
passare tutte le azioni future, incluse le azioni addizionali
dovute alla capacità di Rey.</li>
</ul>

<p><em>Se risolvo la capacità speciale di Poe Dameron (<span class="icon-set-AW"></span>29) per
risolvere la capacità speciale di Nero Uno (<span class="icon-set-AW"></span>32), posso tirare
il dado di Nero Uno nella riserva anche se la capacità recita
“ripetere il tiro”?</em></p>

<ul>
<li>No. Il dado di Nero Uno in realtà non è nella tua riserva,
quindi non puoi ripetere il tiro di quel dado.</li>
</ul>

<p><em>Posso utilizzare Astuzia (<span class="icon-set-AW"></span>65) per obbligare un avversario a
scartare il suo Detonatore Termico (<span class="icon-set-AW"></span>67) o le sue Granate di
Fanteria (<span class="icon-set-AW"></span>17)?</em></p>

<ul>
<li>Sì. Infliggerai danno ai personaggi di un avversario e poi il</li>
</ul>

<p><em>Detonatore Termico o le Granate di Fanteria saranno scartati.
Posso utilizzare Astuzia (<span class="icon-set-AW"></span>65) per scambiare un Holocron Sith
(<span class="icon-set-AW"></span>16) di un avversario con una carta nella mia mano?</em></p>

<ul>
<li>No. Non puoi avere la carta di un avversario nella tua mano o nel
tuo mazzo. In conclusione, l’Holocron Sith non ha alcun effetto.</li>
</ul>

<h1 id="chiarimentisullecarte">Chiarimenti sulle carte</h1>

<p>Questa sezione fornisce le risposte relative ad alcune
carte specifiche.</p>

<h4 id="faq-aw-164">Accovacciarsi (<span class="icon-set-AW"></span>164)</h4>

<ul>
<li>Se gli scudi bloccano tutto il danno in mischia inflitto a un
personaggio con Accovacciarsi, quel personaggio non ha subito
alcun danno e la miglioria non è scartata.</li>
</ul>

<h4 id="faq-aw-80">Ambizione Sconfinata (<span class="icon-set-AW"></span>80)</h4>

<ul>
<li>Con questa carta puoi pescare carte finché non hai un numero
di carte nella tua mano pari al tuo limite di mano.</li>
</ul>

<h4 id="faq-aw-92">Asso nella Manica (<span class="icon-set-AW"></span>92)</h4>

<ul>
<li>Qualsiasi capacità speciale sul dado può comunque essere
risolta normalmente.</li>
<li>Al dado non si applica alcuna capacità non speciale presente
sulla carta abbinata al dado.</li>
</ul>

<h4 id="faq-aw-9">Conte Dooku (<span class="icon-set-AW"></span>9)</h4>

<ul>
<li>Se 1 dado viene risolto con 1 dado modificato, si considera
come un’unica fonte di danno e il Conte Dooku può ottenere
soltanto 1 scudo.</li>
<li>Se 2 o più dadi non modificati sono risolti durante la stessa
azione, il Conte Dooku può ottenere 1 scudo per ogni dado,
in quanto ogni dado va risolto separatamente.</li>
</ul>

<h4 id="faq-aw-126">Fuga Mirabolante (<span class="icon-set-AW"></span>126)</h4>

<ul>
<li>Dopo aver ripetuto il tiro dei dadi, rimuovi tutti i dadi “vuoto”
del tuo avversario, anche se il loro tiro non è stato ripetuto.</li>
</ul>

<h4 id="faq-aw-3">Generale Grievous (<span class="icon-set-AW"></span>3)</h4>

<ul>
<li>Il Generale Grievous ruba una miglioria prima che questa possa
essere riposizionata.</li>
</ul>

<h4 id="faq-aw-16">Holocron Sith (<span class="icon-set-AW"></span>16)</h4>

<ul>
<li>Puoi scambiare l’Holocron Sith con carte che recitano “solo
personaggi blu” anche se il personaggio non è blu.</li>
<li>Non devi pagare alcuna risorsa quando effettui lo scambio.</li>
</ul>

<h4 id="faq-aw-130">Lascia Vincere il Wookiee (<span class="icon-set-AW"></span>130)</h4>

<ul>
<li>È possibile scegliere una qualsiasi delle due opzioni, anche se nella
riserva ci sono 1 o meno dadi o non ci sono personaggi esauriti.</li>
</ul>

<h4 id="faq-aw-79">Nessuna Speranza (<span class="icon-set-AW"></span>79)</h4>

<ul>
<li>È possibile scegliere una qualsiasi delle due opzioni, a prescindere
dal numero di risorse o di carte in mano possedute dal giocatore.</li>
</ul>

<h4 id="faq-aw-36">Padawan (<span class="icon-set-AW"></span>36)</h4>

<ul>
<li>Se sostituisci una miglioria sul Padawan al fine di ridurre
il costo di una nuova miglioria Arma che stai giocando, la
miglioria da sostituire rimane sul Padawan finché la nuova
miglioria non entra in gioco. Di conseguenza, la capacità del
Padawan non può ridurre il costo della nuova miglioria.</li>
</ul>

<h4 id="faq-aw-29">Poe Dameron (<span class="icon-set-AW"></span>29)</h4>

<ul>
<li>Durante la risoluzione della capacità speciale di Poe Dameron, se
viene scelta un’altra capacità speciale sulla carta scartata, quella
capacità speciale si risolve completamente prima dell’effetto “poi”.</li>
</ul>

<h4 id="faq-aw-38">Rey (<span class="icon-set-AW"></span>38)</h4>

<ul>
<li>Se giochi una miglioria con Imboscata su Rey, puoi effettuare
2 azioni aggiuntive durante il tuo turno.</li>
</ul>

<h4 id="faq-aw-110">Ritirata (<span class="icon-set-AW"></span>110)</h4>

<ul>
<li>Il giocatore che ha il controllo del campo di battaglia non cambia.</li>
</ul>

<h4 id="faq-aw-129">Salto nell’iperspazio (<span class="icon-set-AW"></span>129)</h4>

<ul>
<li>Il giocatore che ha il controllo del campo di battaglia non
cambia, nemmeno se il campo di battaglia viene scambiato.</li>
<li>La capacità di rivendicazione del campo di battaglia non
viene risolta.</li>
</ul>

<h4 id="faq-aw-23">Signore del Crimine (<span class="icon-set-AW"></span>23)</h4>

<ul>
<li>Se il personaggio con Signore del Crimine viene sconfitto
dopo che la capacità di Signore del Crimine è stata innescata,
l’effetto di Signore del Crimine si innesca comunque alla fine
del round, anche se il personaggio bersaglio non è più in gioco.</li>
<li>I giocatori perdono per non avere nessuna carta nella loro
mano e nel loro mazzo prima che Signore del Crimine si risolva
alla fine del round.</li>
</ul>

<h4 id="faq-aw-12">Sorella della Notte (<span class="icon-set-AW"></span>12)</h4>

<ul>
<li>La Sorella della Notte può ripetere il tiro di 1 dado e poi subire
l’ultimo danno per essere sconfitta.</li>
</ul>

<h1 id="errata">Errata</h1>

<p>Questa sezione descrive i cambiamenti ufficiali alle carte e al
regolamento. I riferimenti a ogni carta si riferiscono al prodotto
meno recente in cui compaiono. È possibile scaricare le immagini
ad alta risoluzione delle versioni aggiornate di ogni carta dalla
pagina di supporto di Star Wars Destiny in qualsiasi momento.</p>

<h4 id="errata-aw-9">Conte Dooku (<span class="icon-set-AW"></span>9)</h4>

<ul>
<li>Il testo della capacità diventa: “Prima che a questo personaggio
siano inflitti 1 o più danni, puoi scartare 1 carta dalla tua mano
per fornirgli 1 scudo.”</li>
</ul>

<h4 id="errata-aw-137">Seconda Possibilità (<span class="icon-set-AW"></span>137)</h4>

<ul>
<li>Il testo della capacità diventa: “Prima che il personaggio con
questa miglioria sia sconfitto, curagli invece 5 danni e scarta
questa miglioria dal gioco.”</li>
</ul>
