<h1 id="faq">FAQ</h1>

<p>Here are a few common questions that a player might have
while playing.</p>

<p><em>Can I play with my friend if we are both using villain (or hero)
decks?</em></p>

<ul>
<li>Yes. You can play against anyone, regardless of what
affiliation their deck is. You could even use the same
characters they are using!</li>
</ul>

<p><em>When one of my characters is about to take damage, do I
have to use their shields?</em></p>

<ul>
<li>Yes, if able.</li>
</ul>

<p><em>If I play an upgrade on an exhausted character, can I
immediately roll its die into my pool?</em></p>

<ul>
<li>No. You must wait until the character readies again to
roll the new die into your pool, along with the rest of the
character’s dice.</li>
</ul>

<p><em>Can I redeploy an upgrade to a character who already has
the maximum number of upgrades?</em></p>

<ul>
<li>Yes, but you would have to discard one of the character’s
upgrades to make room.</li>
</ul>

<p><em>What is the difference between ranged, melee and indirect damage?</em></p>

<ul>
<li>The only difference between ranged and melee damage
is the cards that interact with them and that you cannot
resolve them as part of the same action. Indirect damage
differs in the same ways and, in addition, the opponent
deals damage to their characters, distributed as they wish.</li>
</ul>

<p><em>Can I use the special ability on an exhausted card?</em></p>

<ul>
<li>You can use the special ability on an exhausted card,
provided the ability does not require you to exhaust the
card in order to use it.</li>
</ul>

<p><em>Can I have more than five cards in my hand?</em></p>

<ul>
<li>Yes. You can have more cards in your hand than your hand
size. You would not draw more cards during the upkeep
phase, though, if you have more cards in hand than your
hand size after discarding.</li>
</ul>

<p><em>Can I discard a Gray upgrade to reduce the cost of a non-
Gray upgrade, and vice versa?</em></p>

<ul>
<li>Yes. You can discard an upgrade of any color to reduce the
cost of another upgrade, regardless of its color.</li>
</ul>

<p><em>Do I have to resolve all of my dice of the same symbol
at once?</em></p>

<ul>
<li>No. You resolve only as many dice of one symbol as you
wish while taking the Resolve Dice action.</li>
</ul>

<p><em>What happens if I play a support card that has “Action” listed
on it?</em></p>

<ul>
<li>You now have a new action that you can take. You do not
resolve the action when you play the card.</li>
</ul>

<p><em>What happens if I want to play a copy of a unique card but
my opponent has one in play?</em></p>

<ul>
<li>Each player can have one copy of a unique card in play
(though you can still have two in your deck). So you can
play your copy, but once you have a copy of it in play, you
cannot play another one.</li>
</ul>

<p><em>If I am using multiples of the same character, do I have to
remember which dice came from which character?</em></p>

<ul>
<li>Yes. Make sure that each character’s dice are positioned
in such a way that it is obvious which character they came
from. If a character is defeated, its specific dice must be
removed from the pool, if they are there.</li>
</ul>

<p><em>What happens if I replace an upgrade with another upgrade
that costs fewer resources?</em></p>

<ul>
<li>You play the new upgrade for free.</li>
</ul>

<p><em>Is a character die any die that the character has?</em></p>

<ul>
<li>No. A character die is a die that corresponds to the
character card. An upgrade is never a character die and is
always called out by card text as an upgrade die.</li>
</ul>

<p><em>What is the difference between a turn and a round?</em></p>

<ul>
<li>A turn is one player’s action. A round consists of an action
phase and an upkeep phase.</li>
</ul>

<p><em>Can Rey (<span class="icon-set-AW"></span>38) take an additional action if I claim the
Imperial Armory (<span class="icon-set-AW"></span>169) with her?</em></p>

<ul>
<li>No. You must pass all future actions once you claim
the battlefield, including the additional action that Rey
gives you.</li>
</ul>

<p><em>If I resolve Poe Dameron’s (<span class="icon-set-AW"></span>29) special to use the special on
Black One (<span class="icon-set-AW"></span>32), can I roll Black One’s die into the pool even
though it says “reroll”?</em></p>

<ul>
<li>No. The Black One die is not actually in your pool, so you
cannot reroll it.</li>
</ul>

<p><em>What happens when an after ability triggers off of a before
ability, and there is another after ability in the queue?</em></p>

<ul>
<li>After abilities enter a queue and wait their turn to resolve.
If an after ability triggers during the resolution of any other
ability, it will resolve after that ability and any other after
ability already in the queue.</li>
</ul>

<p><em>Can I use Cunning (<span class="icon-set-AW"></span>65) to trigger discard an opponent’s
Thermal Detonator (<span class="icon-set-AW"></span>67) or Infantry Grenades (<span class="icon-set-AW"></span>17)?</em></p>

<ul>
<li>Yes. You will deal the damage to an opponent’s
characters and then discard the Thermal Detonator or
Infantry Grenades.</li>
</ul>

<p><em>Can I use Cunning (<span class="icon-set-AW"></span>65) to switch an opponent’s Sith
Holocron (<span class="icon-set-AW"></span>16) with a card in my hand?</em></p>

<ul>
<li>No. You cannot have an opponent’s card in your hand or
deck. The end result is that the Sith Holocron has no effect.</li>
</ul>

<p><em>Can I ignore spending 5 resources to trigger the special
ability on Crime Lord (<span class="icon-set-AW"></span>23) when I claim Rebel War Room
(<span class="icon-set-AW"></span>171)?</em></p>

<ul>
<li>No. The Rebel War Room only ignores the resource cost
printed on a die.</li>
</ul>

<p><em>Can I exhaust a card that has an action that I cannot fully
resolve in order to stall the round? Like a Backup Muscle
(<span class="icon-set-AW"></span>99) with no damage on it or playing Noble Sacrifice (<span class="icon-set-AW"></span>118)
when I have no Blue characters.</em></p>

<ul>
<li>You can use the action/play the card but it does not stall
the round. Because the only effect when you used Backup
Muscle or Noble Sacrifice was the card being exhausted or
played, you are considered to have passed your turn.</li>
</ul>

<p><em>How does Cunning (<span class="icon-set-AW"></span>65) interact with an opponent’s Black
One (<span class="icon-set-AW"></span>32)?</em></p>

<ul>
<li>When you use the special ability on Cunning, you resolve
it as if the card with the special ability you are using is
your own. However, you do not ever remove the Black One
die from your pool so you cannot resolve the replacement
effect to reroll it.</li>
</ul>

<p><em>Can I use Sith Holocron (<span class="icon-set-AW"></span>16) to switch an upgrade onto a
Royal Guard (<span class="icon-set-SoR"></span>12)?</em></p>

<ul>
<li>Yes. Switching an upgrade onto a character is not the same
as playing one.</li>
</ul>

<p><em>Can I exhaust or play a card that has an action that I cannot
fully resolve in order to stall the round? Like a Backup Muscle
(<span class="icon-set-AW"></span>99) with no damage on it or playing Noble Sacrifice (<span class="icon-set-AW"></span>118)
when I have no Blue characters.</em></p>

<ul>
<li>Yes. Playing a card from your hand, even if it has no effect,
removes a card from your hand and does not count as
doing nothing. The same applies to exhausting a card or
rerolling a die to its same side.</li>
</ul>

<p><em>What happens to a character’s dice that are still in the dice
pool when they are readied again, like with Bala-Tik (<span class="icon-set-AW"></span>19)
or Leadership (<span class="icon-set-AW"></span>141)? Are they removed? Are they rerolled
when the character activates again?</em></p>

<ul>
<li>If a character is readied, none of their dice are removed. If
they activate again, then any dice that have been returned
to the character are rolled in like normal, but nothing
happens to their dice already in their pool.</li>
</ul>

<p><em>I have a Count Dooku (<span class="icon-set-AW"></span>9) with 1 remaining health, and my
opponent resolves a die showing 2 ranged damage against it.
However, they also have an Admiral Ackbar (<span class="icon-set-AW"></span>27) in play and
before I take the damage I discard the last card in my hand
to block one of the incoming damage. Can I then assign the
2 damage from Ackbar’s ability before the 2 ranged damage
resolves, killing Dooku and dodging the 2 damage from
the die?</em></p>

<ul>
<li>When you resolve Count Dooku’s “Before” ability and
discard the last card in your hand, Admiral Ackbar’s “After”
ability is added to the queue. However, the 2 ranged
damage die has already been added to the queue, and was
just interrupted by the “Before” ability. Therefore, Ackbar’s
ability enters the queue behind the 2 ranged damage. So
the die will resolve, killing Dooku, and then you will have to
take 2 damage on one of your other characters.</li>
</ul>

<p><em>What happens if I use Obi-Wan Kenobi’s before ability (<span class="icon-set-SoR"></span>37)
with a Rejuvenate (<span class="icon-set-SoR"></span>132) or other healing effect? Does he
remain in play since he no longer has damage on him equal
to his health?</em></p>

<ul>
<li>He does not remain in play. Obi-Wan Kenobi took damage
equal to his health, and without a replacement effect
there is no way to change this. Since a healing ability like
Rejuvenate is not a replacement effect, Obi-Wan is set
aside after the event he plays is resolved.</li>
</ul>

<p><em>If my opponent has a TIE Pilot (<span class="icon-set-SoR"></span>4) die and several other
dice showing ranged damage, what happens if I play Dodge
(<span class="icon-set-AW"></span>155)?</em></p>

<ul>
<li>Since Dodge removes all of the dice at the same time,
only the TIE Pilot die is removed. Though if there are two
different TIE Pilot dice in their pool, then all of their dice
are protected from Dodge.</li>
</ul>

<p><em>Can I roll in a Blackmail (<span class="icon-set-SoR"></span>23) die and resolve it with Fast
Hands (<span class="icon-set-SoR"></span>150) before an opponent can give me a resource to
remove it?</em></p>

<ul>
<li>Yes. The abilities are simultaneous so you can choose to
resolve either one in order of your choice.</li>
</ul>

<p><em>I play a Z6 Riot Control Baton (<span class="icon-set-SoR"></span>8) on FN&#8211;2199 (<span class="icon-set-SoR"></span>2) and roll it
into my pool. I roll a blank and then reroll it. Can I still resolve
it per FN&#8211;2199’s ability?</em></p>

<ul>
<li>You are not able to resolve it after rerolling. While resolving
FN&#8211;2199’s ability, the “after” ability on the Z6 Riot Control
Baton is added to the queue. But FN&#8211;2199’s ability must
fully resolve before anything waiting in the queue can. If
you choose to resolve the Baton die, its “after” ability would
do nothing since the die is no longer in your pool. You can
either resolve it or reroll it, not both.</li>
</ul>

<p><em>If I use Obi-Wan Kenobi’s (<span class="icon-set-SoR"></span>37) ability to play a Noble
Sacrifice (<span class="icon-set-AW"></span>118) from my discard pile before he is defeated,
what happens? Can I play a second copy of Noble Sacrifice,
and then another card off of the second Noble Sacrifice?</em></p>

<ul>
<li>You can play a second copy of Noble Sacrifice. However,
only one Noble Sacrifice has an effect. Before Obi-Wan
Kenobi is defeated, you can trigger his ability to play a
Noble Sacrifice. Then, before he is defeated from that
Noble Sacrifice, you can play another copy of it since
“Before” effects interrupt the game. Repeat this to then
play any other Blue card you want from your discard pile
or hand. Then the second Noble Sacrifice resolves, and
Obi-Wan is defeated and you can choose and exhaust a
character. However, the next Noble Sacrifice that resolves
does nothing, since you can no longer defeat Obi-Wan; he
is already defeated.</li>
</ul>

<p><em>Can I gain the resource from Outer Rim Smuggler (<span class="icon-set-SoR"></span>46)
when I play Smuggling (<span class="icon-set-AW"></span>134) to discard the last card from
my hand?</em></p>

<ul>
<li>No. The last card was not played from your hand,
but discarded.</li>
</ul>

<p><em>Can I deal 2 damage from Palpatine’s (<span class="icon-set-SoR"></span>11) ability if I resolve
one of his dice with Anger (<span class="icon-set-SoR"></span>71)?</em></p>

<ul>
<li>No. Palpatine’s ability only works when the controller of
Palpatine resolves one of his dice, not an opponent.</li>
</ul>

<p><em>If I use my action to claim Docking Bay (<span class="icon-set-SoR"></span>153), and I use
it to play Outmaneuver (<span class="icon-set-SoR"></span>149), do I get the resource from
Outmanuever?</em></p>

<ul>
<li>No, you do not get the resource. The card was not in play
when you claimed the battlefield, so its ability did not enter
the queue.</li>
</ul>

<p><em>Can I discard a unique upgrade in play to play and lower the
cost of another copy?</em></p>

<ul>
<li>No. You cannot play a unique upgrade if you have another
copy of it in play.</li>
</ul>

<p><em>Can I play Endurance (<span class="icon-set-EaW"></span>147) if my opponent removed one of
my dice with Prized Possession (<span class="icon-set-AW"></span>102) during their last turn?</em></p>

<ul>
<li>No, you cannot play Endurance. The die is placed on Prized
Possession and is therefore under your opponent’s control.</li>
</ul>

<p><em>If I resolve the special ability on Ascension Gun (<span class="icon-set-SoR"></span>59) to use
the claim ability on Main Plaza (<span class="icon-set-EaW"></span>157), can I move damage
from it or onto it?</em></p>

<ul>
<li>Yes, Ascension Gun allows you to move damage from it or
onto it.</li>
</ul>

<p class="new"><em>If a player plays Lure (<span class="icon-set-LEG"></span>154) and chooses Sabine Wren
(<span class="icon-set-EaW"></span>40) and her “Before” ability plays a weapon with Ambush,
who takes the first additional action?</em></p>

<ul>
<li class="new">The player that played Lure would take the first additional
action. When Lure resolves, that additional action is
created first, followed by Sabine Wren’s activation,
and additional actions are taken in the order that they
were created.</li>
</ul>

<p class="new"><em>For game effects, is zero considered an odd or even number?</em></p>

<ul>
<li class="new">Zero is an even number.</li>
</ul>

<h1 id="cardclarifications">Card clarifications</h1>

<p>This section provides you answers about specific cards.</p>

<h3 id="faq-aw" class="new">Awakenings (<span class="icon-set-AW"></span>)</h3>

<h4 id="faq-01079">Abandon All Hope (79)</h4>

<ul>
<li>Either option can be chosen, no matter how many
resources or cards in hand a player has.</li>
</ul>

<h4 id="faq-01092">Ace In The Hole (92)</h4>

<ul>
<li><p>Any inherent dice ability (this includes special abilities) on
the die can still be resolved as normal.</p></li>
<li><p>Any non-inherent dice ability on the card that the die is
associated with does not apply to the die.</p></li>
<li><p>Any non-special ability on the card that the die is
associated with does not apply to the die.</p></li>
</ul>

<h4 id="faq-01080">Boundless Ambition (80)</h4>

<ul>
<li>You can only draw cards with this until you have cards in
your hand equal to your hand size.</li>
</ul>

<h4 id="faq-01023">Crime Lord (23)</h4>

<ul>
<li><p>If the character with Crime Lord is defeated after Crime
Lord’s ability is triggered, Crime Lord still triggers at the
end of the round even if it is no longer in play.</p></li>
<li><p>Players lose from having no cards in their hand or deck
before Crime Lord resolves at the end of the round.</p></li>
</ul>

<h4 id="faq-01009">Count Dooku (9)</h4>

<ul>
<li><p>If a die is spent with a modified die, that is one source of
damage and Count Dooku can only gain 1 shield.</p></li>
<li><p>If two or more non-modified dice are spent during the same
action, Dooku could gain a shield for each one, because
each die is resolved separately.</p></li>
</ul>

<h4 id="faq-01126">Daring Escape (126)</h4>

<ul>
<li>After rerolling the dice, you remove all of your opponent’s
dice showing blanks, even if they were not rerolled.</li>
</ul>

<h4 id="faq-01058">Force Training (58)</h4>

<ul>
<li>You must pick two different options when resolving its
special ability; you cannot pick the same ability twice.</li>
</ul>

<h4 id="faq-01003">General Grievous (3)</h4>

<ul>
<li>General Grievous steals an upgrade before it can
be redeployed.</li>
</ul>

<h4 id="faq-01164">Hunker Down (164)</h4>

<ul>
<li>If shields block all melee damage that was dealt to a
character with Hunker Down attached, then the character
did not take any damage and keeps the upgrade.</li>
</ul>

<h4 id="faq-01129">Hyperspace Jump (129)</h4>

<ul>
<li><p>Control of the battlefield does not change, even if the
battlefield is switched out.</p></li>
<li><p>The claim ability of the battlefield is not used.</p></li>
</ul>

<h4 id="faq-01130">Let The Wookie Win (130)</h4>

<ul>
<li>Either option can be chosen, even if there are fewer than 2
dice in the pool or no exhausted characters.</li>
</ul>

<h4 id="faq-01012">Nightsister (12)</h4>

<ul>
<li>The Nightsister can reroll a die and then take the final
damage to defeat herself.</li>
</ul>

<h4 id="faq-01042">One With The Force (42)</h4>

<ul>
<li>When this card becomes a support, its die remains in the
pool if it is already there. If it was not in the pool, then it
moves from the character to the support.</li>
</ul>

<h4 id="faq-01036">Padawan (36)</h4>

<ul>
<li>If you replace an upgrade on the Padawan in order to
reduce the cost of a new weapon upgrade you are playing,
the replaced upgrade stays on the Padawan until the new
upgrade enters play. As such, the Padawan’s ability cannot
decrease the cost of the new upgrade.</li>
</ul>

<h4 id="faq-01029">Poe Dameron (29)</h4>

<ul>
<li>During the resolution of Poe’s special, if another special
ability is chosen on the card that is discarded, that special
fully resolves before the “Then” effect.</li>
</ul>

<h4 id="faq-01037">Qui-Gon Jinn (37)</h4>

<ul>
<li>When Qui-Gon Jinn has max shields, you can still use
his ability and remove one of them before gaining the
new shield.</li>
</ul>

<h4 id="faq-01110" class="new">Retreat (110)</h4>

<ul>
<li class="new">“Then end the action phase” is a delayed effect that will
occur after the additional action has been taken or after
the opponent declines to act.</li>
</ul>

<h4 id="faq-01038">Rey (38)</h4>

<ul>
<li>If you play an upgrade with Ambush on Rey, you may take
two additional actions during your turn.</li>
</ul>

<h4 id="faq-01137">Second Chance (137)</h4>

<ul>
<li>Second Chance is a replacement effect so if a character has
two copies of Second Chance and would be defeated, only
one copy resolves. The other one can no longer replace
being defeated and stays attached to the character.</li>
<li>When healing with Second Chance, any excess damage
that would be dealt to the character is ignored. Thus if
the character is defeated by damage you always heal the
character down to 5 damage less than its health.</li>
</ul>

<h4 id="faq-01016">Sith Holocron (16)</h4>

<ul>
<li><p>You can switch cards that say “Blue character only” onto a
character that is not Blue.</p></li>
<li><p>You do not pay any resources for switching to a new card.</p></li>
</ul>

<h4 id="faq-01112">Surgical Strike (112)</h4>

<ul>
<li>You cannot remove zero dice to discard a support. If no dice
are removed, then there is no value to reference.</li>
</ul>

<h3 id="faq-sor">Spirit of Rebellion (<span class="icon-set-SoR"></span>)</h3>

<h4 id="faq-02009">Asajj Ventress (9)</h4>

<h4 id="faq-02059">Ascension Gun (59)</h4>

<ul>
<li>You can only use the ability on battlefields brought
to the game as part of a player’s deck that are in the
set-aside zone.</li>
</ul>

<h4 id="faq-02023">Blackmail (23)</h4>

<ul>
<li>An opponent can give you one resource after each time you
reroll Blackmail as well as roll it into your pool.</li>
</ul>

<h4 id="faq-02030">C&#8211;3PO (30)</h4>

<ul>
<li>C&#8211;3PO does not allow you to resolve the die without paying
its resource cost, nor does he allow you to ignore modifiers.</li>
<li>C&#8211;3PO can turn other dice into specials, at which point the
value of the die does change to 0.</li>
</ul>

<h4 id="faq-02003">Director Krennic (3)</h4>

<ul>
<li>The Deathtrooper die comes from your set-aside zone. If
there is no Deathrooper die in your set-aside zone, then his
ability does nothing.</li>
<li>If you are using Deathtroopers in your team then you must
have additional Deathtrooper dice to use with Krennic.</li>
</ul>

<h4 id="faq-02151">Carbon-Freezing Chamber (151)</h4>

<ul>
<li>You can choose a character die that is not in a dice pool.</li>
</ul>

<h4 id="faq-02152">Cargo Hold (152)</h4>

<ul>
<li><p>You can move an upgrade to a character that has 3
upgrades, but one of the upgrades has to be discarded.</p></li>
<li><p>Moving upgrades ignores play restrictions.</p></li>
</ul>

<h4 id="faq-02002">Fn&#8211;2199 (2)</h4>

<ul>
<li>If you do not resolve the weapon die rolled in with his
ability immediately, then it stays in your pool until resolved
or removed, as per the normal rules.</li>
</ul>

<h4 id="faq-02135">Force Illusion (135)</h4>

<ul>
<li><p>If you discard less cards than the amount of damage being
dealt (by running out of cards in your deck), then none of
the damage is blocked.</p></li>
<li><p>You can choose whether Force Illusion or shields block
damage first.</p></li>
</ul>

<h4 id="faq-02014">Force Lightning (14)</h4>

<ul>
<li>Force Lightning can remove an opponent’s blank (<span class="icon-blank"></span>).</li>
</ul>

<h4 id="faq-02129">Momentum Shift (129)</h4>

<ul>
<li>If all of your characters already have their maximum
number of shields, then you cannot move a shield.</li>
</ul>

<h4 id="faq-02105">My Ally Is The Force (105)</h4>

<ul>
<li>You can turn a die showing a focus to another one of
its sides.</li>
</ul>

<h4 id="faq-02131">Premonitions (131)</h4>

<ul>
<li>If your opponent has a copy of Premonitions in their set
aside zone, you can play the card on it for free, and then
discard it to their discard pile. You cannot look at their card
before you play Premonitions.</li>
<li>If there is a play restriction that prevents the card from
being played, discard it to its owner’s discard pile.</li>
</ul>

<h4 id="faq-02121">Salvo (121)</h4>

<ul>
<li>If the die has a resource cost, you pay the cost one time,
but deal the damage to each character.</li>
</ul>

<h4 id="faq-02125">Training (125)</h4>

<ul>
<li>The second die comes from your set-aside zone. If you do
not have another of that character’s die, then this ability
does nothing.</li>
<li>Playing a second copy of Training on a character does
nothing, as the character is already elite.</li>
<li>The die from Training is also that character’s die. If Training
ever leaves play, the controller of the character chooses
which of its dice is set aside.</li>
</ul>

<h3 id="faq-eaw" class="new">Empire At War (<span class="icon-set-EaW"></span>)</h3>

<h4 id="faq-03031">Ahsoka Tano (31)</h4>

<ul>
<li>You must pay for dice from upgrades on her as well.</li>
</ul>

<h4 id="faq-03049">Ancient Lightsaber (49)</h4>

<ul>
<li>When this upgrade’s action is used, place it on the bottom
of its owner’s deck.</li>
</ul>

<h4 id="faq-03128" class="new">Battle of Wills (128)</h4>

<ul>
<li class="new">If multiple players are tied for the lowest combined value,
remove all character dice just rolled by each tied player.</li>
</ul>

<h4 id="faq-03081">Coercion (81)</h4>

<ul>
<li>If the player cannot pay for the event (or fulfill any play
restrictions on it), then they do not have to play it and can
take any action they wish.</li>
<li>Even if the event has no effect, a player must play it and
resolve as much of it as possible (provided they fulfill any
play restrictions listed on the card).</li>
<li>Passing is not an action so a player can choose to pass
their turn instead of taking an action. The next time they
would take an action that round, they must still play the
chosen event, if able.</li>
</ul>

<h4 id="faq-03058" class="new">EMP Grenades (58)</h4>

<ul>
<li class="new">This special ability cannot discard a droid character
from play.</li>
</ul>

<h4 id="faq-03002">General Hux (2)</h4>

<ul>
<li>The special ability counts each character you have in play,
not any of your defeated characters.</li>
</ul>

<h4 id="faq-03015">Grand Inquisitor’s Lightsaber (15)</h4>

<ul>
<li>When resolving this special, you can reroll it instead of
removing it from your pool even if you did not turn a
character die to a blank.</li>
</ul>

<h4 id="faq-03085">Hutt Ties (85)</h4>

<ul>
<li>Either option can be chosen, even if a player does not have
any resources or dice.</li>
</ul>

<h4 id="faq-03013">ID&#8211;9 Seeker Droid (13)</h4>

<ul>
<li>This ability is an inherent die ability.</li>
<li>The value of this die is constantly checked and will decrease
whenever another ID9 Seeker Droid die leaves your pool.</li>
</ul>

<h4 id="faq-03033">Kanan Jarrus (33)</h4>

<ul>
<li>You do not have to declare what action you are taking
before using Kanan’s ability.</li>
</ul>

<h4 id="faq-03034">Mace Windu (34)</h4>

<ul>
<li>Shields do not affect remaining health.</li>
</ul>

<h4 id="faq-03003">Magnaguard (3)</h4>

<ul>
<li>Even if this character is healed after its ability triggers, it
will still be defeated at the end of the round.</li>
<li>You can still deal damage to this character once it has 8
damage on it, just any excess damage over that is ignored.</li>
<li>This character’s ability does not alter how a player
distributes damage “as they wish”.</li>
</ul>

<h4 id="faq-03159">Port District (159)</h4>

<ul>
<li>If you decrease the cost of the upgrade being played below
3, or play it for free, then it does not gain ambush.</li>
</ul>

<h4 id="faq-03115" class="new">Running Interference (115)</h4>

<ul>
<li>After taking an action, using two copies of this support on
the same opponent will only prevent them from taking that
action on their next turn that round, not their next two
turns.</li>
<li class="new">This ability only triggers and can be used on one of the six
actions listed on page 13. Card abilities that are similar
to actions, such as resolving dice with Maz Kanata (<span class="icon-set-SoR"></span>45),
cannot be used to trigger Running Interference.</li>
<li class="new">A player choosing to pass on their turn is considered
to have taken a turn and the delayed effect of Running
Interference will expire at the end of that turn.</li>
</ul>

<h3 id="faq-leg" class="new">Legacies (<span class="icon-set-LEG"></span>)</h3>

<h4 id="faq-05148">Cantina Brawl (148)</h4>

<ul>
<li>Players can keep repeating this effect as long as they
discard a card from their hand.</li>
</ul>

<h4 id="faq-05020" class="new">Doctor Aphra (20)</h4>

<ul>
<li class="new">You cannot draw a card from an opponent’s card or die
effect that deals indirect damage to you.</li>
</ul>

<h4 id="faq-05021" class="new">Greedo (21)</h4>

<ul>
<li class="new">This ability is self-referential; you only roll dice that are on
his card into your pool. His dice that are already in your
pool do not get rerolled.</li>
</ul>

<h4 id="faq-05153" class="new">Hasty Exit (153)</h4>

<ul>
<li class="new">You must control the battlefield in order to give control of it
to an opponent.</li>
</ul>

<h4 id="faq-05047" class="new">Jar Jar Binks (47)</h4>

<ul>
<li class="new">The first ability is considered a “Use a card action.”</li>
<li class="new">If the second ability resolves and Jar Jar Binks has none of
his character dice in a pool, then all dice will be rerolled.</li>
</ul>

<h4 id="faq-05002">Maul (2)</h4>

<ul>
<li>Maul’s ability does not trigger if a special ability on a die
removes his dice because special abilities are inherent dice
abilities, not card effects.</li>
</ul>

<h4 id="faq-05022">Rebel Traitor (22)</h4>

<ul>
<li>The opponent chooses which of their characters to activate.</li>
</ul>

<h4 id="faq-05135">Resilient (135)</h4>

<ul>
<li>Resilient’s ability does not trigger if a special ability on a
die removes that character’s dice because special abilities
are inherent dice abilities, not card effects.</li>
</ul>

<h4 id="faq-05105" class="new">Unbreakable (105)</h4>

<ul>
<li class="new">This ability can remove a die showing a value of 0 if your
characters have no shields.</li>
</ul>

<h4 id="faq-05156" class="new">Vandalize (156)</h4>

<ul>
<li class="new">You do not remove any of your character dice to discard a
support or upgrade that costs 0 from play.</li>
</ul>
