<h1 id="faq">FAQ</h1>

<p>Folgende Fragen werden häufig gestellt.</p>

<p><em>Kann ich gegen einen Freund spielen, der genau wie ich ein
Schurkendeck (oder Heldendeck) spielen möchte?</em></p>

<ul>
<li>Ja. Du kannst gegen jeden spielen, egal welche Fraktion sein Deck
hat. Ihr könntet sogar dieselben Charaktere verwenden!</li>
</ul>

<p><em>Wenn einer meiner Charaktere im Begriff ist, Schaden zu erleiden,
muss ich dann seine Schilde verwenden?</em></p>

<ul>
<li>Ja, falls möglich.</li>
</ul>

<p><em>Kann ich eine Aufwertung auf einen Charakter verlegen, der bereits
über die maximale Anzahl an Aufwertungen verfügt?</em></p>

<ul>
<li>Ja, aber du müsstest 1 der Aufwertungen des Charakters ablegen,
um Platz zu schaffen.</li>
</ul>

<p><em>Was ist der Unterschied zwischen Fernkampfschaden
und Nahkampfschaden?</em></p>

<ul>
<li>Einen funktionalen Unterschied gibt es nicht. Allerdings gibt es
Karten, die nur mit einer Schadensart interagieren. Außerdem
kannst du nicht beide Schadensarten mit ein und derselben
Aktion abhandeln.</li>
</ul>

<p><em>Kann ich die Spezialfähigkeit einer erschöpften Karte verwenden?</em></p>

<ul>
<li>Du kannst die Spezialfähigkeit einer erschöpften Karte verwenden,
vorausgesetzt, die Fähigkeit verlangt nicht, dass du die Karte
erschöpfst, um sie zu verwenden.</li>
</ul>

<p><em>Kann ich mehr als 5 Karten auf der Hand haben?</em></p>

<ul>
<li>Ja. Du kannst mehr Karten auf der Hand haben, als dein Handkartenlimit
beträgt, allerdings würdest du dann in der Auffrischphase
keine Karten nachziehen, es sei denn, du legst vorher
welche ab.</li>
</ul>

<p><em>Kann ich eine graue Aufwertung ablegen, um die Kosten einer nichtgrauen
Aufwertung zu senken (und umgekehrt)?</em></p>

<ul>
<li>Ja. Du kannst eine Aufwertung von beliebiger Farbe ablegen,
um die Kosten einer anderen Aufwertung zu senken, egal welche
Farbe sie hat.</li>
</ul>

<p><em>Muss ich alle meine Würfel mit gleichem Symbol
gleichzeitig abhandeln?</em></p>

<ul>
<li>Nein. Beim Ausführen der Aktion „Würfel abhandeln“ handelst du
nur so viele Würfel eines Symbols ab, wie du möchtest.</li>
</ul>

<p><em>Was passiert, wenn ich eine Unterstützung spiele, auf der das
Stichwort „Aktion“ steht?</em></p>

<ul>
<li>Ab sofort hast du beim Ausführen von Aktionen eine weitere
Möglichkeit zur Auswahl. Die Aktion wird nicht abgehandelt,
sobald du die Karte spielst.</li>
</ul>

<p><em>Was passiert, wenn ich eine einzigartige Karte spielen will, die mein
Gegner bereits im Spiel hat?</em></p>

<ul>
<li>Jeder Spieler kann von jeder einzigartigen Karte 1 Kopie im Spiel
haben (in deinem Deck kannst du bis zu 2 Kopien haben). Du
kannst also deine Karte spielen, doch sobald du sie im Spiel hast,
kannst du keine weitere Kopie davon spielen.</li>
</ul>

<p><em>Wenn ich einen Charakter in mehrfacher Ausführung verwende, muss
ich mir dann merken, welche Würfel von welchem Charakter stammen?</em></p>

<ul>
<li>Ja. Achte darauf, dass deine Würfel immer so liegen, dass man
eindeutig erkennt, von welchem Charakter sie stammen. Falls ein
Charakter besiegt wird, musst du den Würfel dieses Charakters aus
deinem Pool entfernen (falls er dort liegt).</li>
</ul>

<p><em>Was passiert, wenn ich eine Aufwertung durch eine günstigere
Aufwertung ersetze?</em></p>

<ul>
<li>Du spielst die neue Aufwertung kostenlos.</li>
</ul>

<p><em>Sind alle Würfel, die ein Charakter hat, Charakterwürfel?</em></p>

<ul>
<li>Nein. Nur die Würfel, die tatsächlich zur Charakterkarte
gehören, sind Charakterwürfel. Eine Aufwertung ist niemals
ein Charakterwürfel und wird in Kartentexten immer als
Aufwertungswürfel bezeichnet.</li>
</ul>

<p><em>Was ist der Unterschied zwischen Spielzug und Spielrunde?
* Ein Spielzug ist die Aktion eines einzelnen Spielers. Eine Spielrunde
besteht aus einer Aktionsphase und einer Auffrischphase.
Kann Rey (<span class="icon-set-AW"></span>38) eine zusätzliche Aktion durchführen, falls ich mit ihr
das Imperiale Arsenal (<span class="icon-set-AW"></span>169) beanspruche?</em></p>

<ul>
<li>Nein. Hast du einmal das Schlachtfeld beansprucht, musst du bei
allen zukünftigen Aktionen passen, inklusive der Zusatzaktionen, die
Rey dir gibt.</li>
</ul>

<p><em>Kann ich den Würfel von Schwarz Eins (<span class="icon-set-AW"></span>32) in den Pool werfen,
falls ich die Spezialfähigkeit von Poe Dameron (<span class="icon-set-AW"></span>29) abhandle, um
die Spezialfähigkeit auf Schwarz Eins zu verwenden, auch wenn die
Spezialfähigkeit von Schwarz Eins von „neu würfeln“ spricht?</em></p>

<ul>
<li>Nein. Da sich der Würfel von Schwarz Eins gerade nicht in deinem
Pool befindet, kannst du ihn auch nicht neu werfen.</li>
</ul>

<p><em>Was geschieht, wenn eine Nachdem-Fähigkeit durch eine Bevor-
Fähigkeit ausgelöst wird, und sich noch eine andere Nachdem-
Fähigkeit in der Warteschlange befindet?</em></p>

<ul>
<li>Nachdem-Fähigkeiten betreten eine Warteschlange und warten
dort, bis sie abgehandelt werden. Falls eine Nachdem-Fähigkeit
während der Abhandlung einer beliebigen anderen Fähigkeit
ausgelöst wird, wird sie erst abgehandelt, nachdem die auslösende
Fähigkeit und jede andere Nachdem-Fähigkeit, die sich bereits in
der Warteschlange befindet, abgehandelt worden ist.</li>
</ul>

<p><em>Kann ich Gerissenheit (<span class="icon-set-AW"></span>65) verwenden, um das Ablegen eines
gegnerischen Thermaldetonators (<span class="icon-set-AW"></span>67) oder gegnerischer Infanteriegranaten
(<span class="icon-set-AW"></span>17) auszulösen?</em></p>

<ul>
<li>Ja. Du fügst gegnerischen Charakteren den Schaden zu und legst
dann den Thermaldetonator oder die Infanteriegranaten ab.</li>
</ul>

<p><em>Kann ich Gerissenheit (<span class="icon-set-AW"></span>65) verwenden, um das Sith-Holocron (<span class="icon-set-AW"></span>16)
mit einer Karte auf meiner Hand zu tauschen?</em></p>

<ul>
<li>Nein. Du kannst keine gegnerischen Karten auf deiner Hand oder in
deinem Deck haben. Das Endresultat wäre, dass das Sith-Holocron
keinen Effekt hätte.</li>
</ul>

<h1 id="klarstellungenvonkartentexten">Klarstellungen von Kartentexten</h1>

<p>In diesem Kapitel werden Fragen zu Kartentexten beantwortet.</p>

<h4 id="faq-aw-92">Ass im Ärmel (<span class="icon-set-AW"></span>92)</h4>

<ul>
<li>Die Spezialfähigkeit des Würfels (falls vorhanden) kann wie gewohnt
abgehandelt werden.</li>
<li>Jede Nicht-Spezialfähigkeit der zugehörigen Karte des Würfels wird
nicht auf den Würfel angewendet.</li>
</ul>

<h4 id="faq-aw-9">Count Dooku (<span class="icon-set-AW"></span>9)</h4>

<ul>
<li>Falls ein Würfel zusammen mit einem Modifikator abgehandelt wird,
gilt dies als 1 Schadensquelle und Count Dooku kann nur
1 Schild erhalten.</li>
<li>Falls 2 oder mehr nicht-modifizierte Würfel während derselben
Aktion abgehandelt werden, könnte Dooku für jeden 1 Schild
erhalten, weil jeder Würfel separat abgehandelt wird.</li>
</ul>

<h4 id="faq-aw-23">Gangsterboss (<span class="icon-set-AW"></span>23)</h4>

<ul>
<li>Falls der mit Gangsterboss aufgewertete Charakter besiegt wird,
nachdem die Spezialfähigkeit
von Gangsterboss ausgelöst worden
ist, wird Gangsterboss dennoch am Ende der Runde ausgelöst,
obwohl er nicht mehr im Spiel ist.</li>
<li>Spieler, die keine Karten mehr auf ihrer Hand und in ihrem
Deck haben, verlieren am Ende der Runde, bevor Gangsterboss
abgehandelt wird.</li>
</ul>

<h4 id="faq-aw-3">General Grievous (<span class="icon-set-AW"></span>3)</h4>

<ul>
<li>General Grievous stiehlt eine Aufwertung, bevor sie verlegt
werden kann.</li>
</ul>

<h4 id="faq-aw-80">Grenzenloser Ehrgeiz (<span class="icon-set-AW"></span>80)</h4>

<ul>
<li>Mit dieser Fähigkeit kannst du nur so viele Karten ziehen, bis du
Karten in Höhe deines Handkartenlimits auf deiner Hand hast.</li>
</ul>

<h4 id="faq-aw-79">Lass alle Hoffnung fahren (<span class="icon-set-AW"></span>79)</h4>

<ul>
<li>Jede der beiden Optionen kann gewählt werden, egal wie viele
Ressourcen oder Handkarten der Spieler hat.</li>
</ul>

<h4 id="faq-aw-130">Lass den Wookiee gewinnen (<span class="icon-set-AW"></span>130)</h4>

<ul>
<li>Jede der beiden Optionen kann gewählt werden, auch wenn der
Spieler weniger als 2 Würfel in seinem Pool oder keine erschöpften
Charaktere hat.</li>
</ul>

<h4 id="faq-aw-36">Padawan (<span class="icon-set-AW"></span>36)</h4>

<ul>
<li>Falls du eine Aufwertung des Padawans ablegst, um die Kosten
zum Spielen einer neuen Waffe-Aufwertung zu senken, bleibt die
ersetzte Aufwertung solange auf dem Padawan liegen, bis die neue
Aufwertung ins Spiel kommt, d. h. die Fähigkeit des Padawans kann
die Kosten der neuen Aufwertung nicht senken.</li>
</ul>

<h4 id="faq-aw-29">Poe Dameron (<span class="icon-set-AW"></span>29)</h4>

<ul>
<li>Falls während der Abhandlung von Poes Spezialfähigkeit eine
weitere Spezialfähigkeit von der abgelegten Karte gewählt wird,
handelt man diese Spezialfähigkeit vollständig ab, bevor der
„Dann“-Effekt eintritt.</li>
</ul>

<h4 id="faq-aw-38">Rey (<span class="icon-set-AW"></span>38)</h4>

<ul>
<li>Falls du eine Aufwertung mit dem Schlüsselwort Hinterhalt an
Rey spielst, darfst du 2 zusätzliche Aktionen während deines
Zuges ausführen.</li>
</ul>

<h4 id="faq-aw-110">Rückzug (<span class="icon-set-AW"></span>110)</h4>

<ul>
<li>Die Kontrolle über das Schlachtfeld wechselt nicht.</li>
</ul>

<h4 id="faq-aw-12">Schwester der Nacht (<span class="icon-set-AW"></span>12)</h4>

<ul>
<li>Die Schwester der Nacht kann einen Würfel neu werfen und dann
den letzten Schaden erleiden, durch den sie besiegt wird.</li>
</ul>

<h4 id="faq-aw-16">Sith-Holocron (<span class="icon-set-AW"></span>16)</h4>

<ul>
<li>Du kannst das Sith-Holocron gegen eine Karte mit dem Zusatz
„Nur blaue Charaktere“ tauschen, auch wenn der aufgewertete
Charakter nicht blau ist.</li>
<li>Das Tauschen der Karten kostet keine Ressourcen.</li>
</ul>

<h4 id="faq-aw-129">Sprung in den Hyperraum (<span class="icon-set-AW"></span>129)</h4>

<ul>
<li>Die Kontrolle über das Schlachtfeld wechselt nicht, auch wenn das
Schlachtfeld ausgetauscht wird.</li>
<li>Die Beanspruchen-Fähigkeit des Schlachtfeldes wird nicht verwendet.</li>
</ul>

<h4 id="faq-aw-126">Tollkühne Flucht (<span class="icon-set-AW"></span>126)</h4>

<ul>
<li>Nachdem die Würfel neu geworfen worden sind, entfernst du alle
Würfel des Gegners, die eine Leerseite zeigen, auch wenn sie nicht
neu geworfen wurden.</li>
</ul>

<h4 id="faq-aw-164">Verschanzen (<span class="icon-set-AW"></span>164)</h4>

<ul>
<li>Falls aller Nahkampfschaden, der dem aufgewerteten Charakter
zugefügt wurde, durch Schilde abgeblockt wird, erleidet der
Charakter keinen Schaden und behält die Aufwertung.</li>
</ul>
