<h1 id="preguntasfrecuentes">Preguntas frecuentes</h1>

<p>Las siguientes preguntas suelen formularse con frecuencia
durante las partidas.</p>

<p><em>¿Puedo jugar con mi amigo si ambos estamos usando un mazo
de villanos (o de héroes)?</em></p>

<ul>
<li>Sí. Puedes jugar contra cualquiera persona, independientemente
de cuál sea la afiliación de su mazo. ¡Incluso podría
suceder que tú y tu adversario utilicéis los mismos Personajes!</li>
</ul>

<p><em>Cuando uno de mis Personajes va a sufrir daño, ¿tengo que
usar sus escudos?</em></p>

<ul>
<li>Sí, si te es posible.</li>
</ul>

<p><em>¿Puedo redesplegar una Mejora a un Personaje que ya posee
la cantidad máxima de Mejoras?</em></p>

<ul>
<li>Sí, pero tendrás que descartar una de las Mejoras de ese
Personaje para dejar espacio.</li>
</ul>

<p><em>¿Cuál es la diferencia entre daño a distancia y daño
cuerpo a cuerpo?</em></p>

<ul>
<li>No existe ninguna diferencia funcional. La única diferencia
entre ambos tipos de daño consiste en las cartas que interactúan
con cada uno y que no puedes resolver ambos tipos
de daño como parte de la misma acción.</li>
</ul>

<p><em>¿Puedo utilizar la capacidad especial de una carta agotada?</em></p>

<ul>
<li>Puedes utilizar la capacidad especial de una carta agotada,
siempre que la capacidad no requiera agotar la carta para
poder utilizarla.</li>
</ul>

<p><em>¿Puedo tener más de cinco cartas en mi mano?</em></p>

<ul>
<li>Sí. En tu mano puedes tener una cantidad de cartas superior
a tu tamaño de mano. Sin embargo, si tras descartar
cartas en tu mano tienes una cantidad de cartas superior a
tu tamaño de mano, en ese caso no robarás cartas durante
la fase de Mantenimiento.</li>
</ul>

<p><em>¿Puedo descartar una Mejora de color Gris para reducir el
coste de una Mejora que no sea de color Gris, y viceversa?</em></p>

<ul>
<li>Sí. Puedes descartar una Mejora de cualquier color para
reducir el coste de otra Mejora, independientemente de cuál
sea su color.</li>
</ul>

<p><em>¿Tengo que resolver todos mis dados del mismo símbolo
a la vez?</em></p>

<ul>
<li>No. Al realizar la acción de resolver dados, puedes resolver
la cantidad que quieras de dados de un mismo símbolo.</li>
</ul>

<p><em>¿Qué sucede si juego una carta de Apoyo que tiene una
«Acción» escrita en ella?</em></p>

<ul>
<li>Ahora tienes una nueva acción que puedes realizar. No
resuelves la acción cuando juegas la carta.</li>
</ul>

<p><em>¿Qué sucede si quiero jugar un copia de una carta única pero
mi adversario ya tiene en juego una copia de esa carta?</em></p>

<ul>
<li>Cada jugador puede tener una copia de una carta única en
juego (aunque sigues pudiendo tener dos copias de esa carta
en tu mazo). Así que puedes jugar tu copia, pero una vez tengas
una copia de esa carta en juego, no puedes jugar la otra.</li>
</ul>

<p><em>Si estoy utilizando múltiples dados de Personaje idénticos,
¿tengo que acordarme de qué Personaje procede cada dado?</em></p>

<ul>
<li>Sí. Asegúrate de que el dado de cada Personaje está colocado
de tal manera que resulte obvio de qué Personaje procedía
ese dado. Si un Personaje es derrotado, su dado correspondiente
debe ser retirado de la reserva (si es que está ahí).</li>
</ul>

<p><em>¿Qué sucede si reemplazo una
Mejora por otra Mejora que
cuesta menos recursos?</em></p>

<ul>
<li>Puedes jugar la nueva
Mejora sin tener que
pagar nada.</li>
</ul>

<p><em>¿Un dado de Personaje es
cualquier dado que tenga
un Personaje?</em></p>

<ul>
<li>No. Un dado de Personaje
es un dado que corresponde
a la carta del Personaje.
Un dado de Mejora
nunca es un dado de Personaje,
y el texto de las cartas
siempre se refiere a estos dados
como dados de Mejora.</li>
</ul>

<p><em>¿Cuál es la diferencia entre un turno
y una ronda?</em></p>

<ul>
<li>Un turno es una acción de un jugador. Una
ronda consiste en una fase de Acciones y una fase
de Mantenimiento.</li>
</ul>

<p><em>¿Puede Rey (<span class="icon-set-AW"></span>38) realizar una acción adicional si reclamo el
Arsenal imperial (<span class="icon-set-AW"></span>169) con ella?</em></p>

<ul>
<li>No. Una vez has reclamado el campo de batalla, debes dejar
pasar todas las futuras acciones, incluida la acción adicional
que Rey te proporciona.</li>
</ul>

<p><em>¿Si resuelvo la capacidad especial de Poe Dameron (<span class="icon-set-AW"></span>29)
para utilizar la capacidad especial de Negro Uno (<span class="icon-set-AW"></span>32), puedo
volver a tirar en la reserva el dado de Negro Uno a pesar de
que en la carta pone “vuelve a tirar”?</em></p>

<ul>
<li>No. El dado de Negro Uno no está realmente en tu reserva,
por lo que no puedes volverlo a tirar.</li>
</ul>

<p><em>¿Qué es lo que sucede cuando una capacidad «Después de&#8230;»
se activa debido a una capacidad “Antes de&#8230;”, y hay otra
capacidad en la cola de capacidades por resolver?</em></p>

<ul>
<li>Las capacidades “Después de&#8230;” entran en la cola de capacidades
por resolver y esperan a que les llegue su turno para
ser resueltas. Si una capacidad “Después de&#8230;” se activa
durante la resolución de cualquier otra capacidad, se resolverá
después de esa capacidad y cualquier otra capacidad
que ya esté en la cola.</li>
</ul>

<p><em>¿Puedo utilizar la Astucia (<span class="icon-set-AW"></span>65) para provocar que se descarte
el Detonador térmico (<span class="icon-set-AW"></span>67) o las Granadas de infantería
(<span class="icon-set-AW"></span>17) de un adversario?</em></p>

<ul>
<li>Sí. Infligirás el daño a los Personajes de un adversario y
luego descartarás el Detonador térmico o las Granadas
de infantería.</li>
</ul>

<p><em>¿Puedo utilizar la Astucia (<span class="icon-set-AW"></span>65) para intercambiar el
Holocrón Sith (<span class="icon-set-AW"></span>16) de un adversario por una carta que tengo
en mi mano?</em></p>

<ul>
<li>No. No puedes tener en tu mano o en tu mazo la carta de un
adversario. El resultado final sería que el Holocrón Sith no
produce ningún efecto.</li>
</ul>

<h1 id="aclaracionesdecartas">Aclaraciones de cartas</h1>

<p>Esta sección proporciona respuestas sobre cartas específicas.</p>

<h4 id="ambicióndesmedidaspanclassicon-set-awspan80">Ambición desmedida (<span class="icon-set-AW"></span>80)</h4>

<ul>
<li>Sólo puedes robar cartas de esta manera hasta que tengas
tantas cartas en tu mano como tu tamaño de mano.</li>
</ul>

<h4 id="asenlamangaspanclassicon-set-awspan92">As en la manga (<span class="icon-set-AW"></span>92)</h4>

<ul>
<li>Toda capacidad especial en el dado sigue pudiendo resolverse
de manera normal.</li>
<li>Toda capacidad que no sea especial en la carta a la que el
dado está asociado no se aplica al dado.</li>
</ul>

<h4 id="condedookuspanclassicon-set-awspan9">Conde Dooku (<span class="icon-set-AW"></span>9)</h4>

<ul>
<li>Si se gasta un dado con un dado modificado, eso se considera
una sola fuente de daño y el Conde Dooku sólo puede
recibir 1 escudo.</li>
<li>Si se gastan dos o más dados no modificados durante la
misma acción, Dooku puede recibir un escudo por cada uno
de esos dados, porque cada dado se resuelve por separado.</li>
</ul>

<h4 id="dejaganaralwookieespanclassicon-set-awspan130">Deja ganar al wookiee (<span class="icon-set-AW"></span>130)</h4>

<ul>
<li>Se puede elegir cualquiera de las opciones, incluso si
hay menos de 2 dados en la reserva o no hay ningún
Personaje agotado.</li>
</ul>

<h4 id="generalgrievousspanclassicon-set-awspan3">General Grievous (<span class="icon-set-AW"></span>3)</h4>

<ul>
<li>El General Grievous roba una Mejora antes de que ésta
pueda ser redesplegada.</li>
</ul>

<h4 id="hermananocturnaspanclassicon-set-awspan12">Hermana nocturna (<span class="icon-set-AW"></span>12)</h4>

<ul>
<li>La Hermana Nocturna puede volver a tirar un dado y luego
infligirse el daño resultante para derrotarse a sí misma.</li>
</ul>

<h4 id="holocrónsithspanclassicon-set-awspan16">Holocrón sith (<span class="icon-set-AW"></span>16)</h4>

<ul>
<li>Puedes intercambiar cartas que digan “Sólo Personaje de
color Azul” con un Personaje que no sea de color Azul.</li>
<li>No pagas ningún recurso por hacer el intercambio a una
nueva carta.</li>
</ul>

<h4 id="huidaarriesgadaspanclassicon-set-awspan126">Huida arriesgada (<span class="icon-set-AW"></span>126)</h4>

<ul>
<li>Tras volver a tirar los dados, retira todos los dados de tu
adversario que muestren caras vacías, incluso aunque no
fueran vueltos a tirar.</li>
</ul>

<h4 id="padawanspanclassicon-set-awspan36">Padawan (<span class="icon-set-AW"></span>36)</h4>

<ul>
<li>Si reemplazas una Mejora vinculada al Padawan para reducir
el coste de una nueva Mejora de arma que estás jugando, la
Mejora reemplazada permanece en el Padawan hasta que la
nueva Mejora entra en juego. En consecuencia, la capacidad
del Padawan no puede reducir el coste de la nueva Mejora.</li>
</ul>

<h4 id="perdertodaesperanzaspanclassicon-set-awspan79">Perder toda esperanza (<span class="icon-set-AW"></span>79)</h4>

<ul>
<li>Se puede elegir cualquiera de las opciones, independientemente
de cuantos recursos o cartas en la mano tenga
el jugador.</li>
</ul>

<h4 id="poedameronspanclassicon-set-awspan29">Poe Dameron (<span class="icon-set-AW"></span>29)</h4>

<ul>
<li>Durante la resolución de la capacidad especial de Poe Dameron,
si se elige otra capacidad especial de la carta que está
siendo descartada, esa capacidad especial se resuelve por
completo antes del efecto “Luego”.</li>
</ul>

<h4 id="resguardarsespanclassicon-set-awspan164">Resguardarse (<span class="icon-set-AW"></span>164)</h4>

<ul>
<li>Si los escudos anulan todo el daño cuerpo a cuerpo que fue
infligido a un Personaje que tiene vinculado Resguardarse,
entonces el Personaje no ha llegado a sufrir ningún daño y
conserva la Mejora.</li>
</ul>

<h4 id="retiradaspanclassicon-set-awspan110">Retirada (<span class="icon-set-AW"></span>110)</h4>

<ul>
<li>No se produce ningún cambio en el control del campo
de batalla.</li>
</ul>

<h4 id="reyspanclassicon-set-awspan38">Rey (<span class="icon-set-AW"></span>38)</h4>

<ul>
<li>Si juegas en Rey una Mejora con Emboscada, puedes realizar
dos acciones adicionales durante tu turno.</li>
</ul>

<h4 id="saltoalhiperespaciospanclassicon-set-awspan129">Salto al hiperespacio (<span class="icon-set-AW"></span>129)</h4>

<ul>
<li>No se produce ningún cambio en el control del campo
de batalla, incluso aunque el campo de batalla haya
sido intercambiado.</li>
<li>La capacidad de reclamación del campo de batalla no se usa.</li>
</ul>

<h4 id="señordelcrimenspanclassicon-set-awspan23">Señor del crimen (<span class="icon-set-AW"></span>23)</h4>

<ul>
<li>Si el Personaje al que está vinculado el Señor del crimen es
derrotado después de que la capacidad del Señor del crimen
sea activada, esta capacidad sigue entrando en efecto
al final de la ronda incluso aunque el Señor del crimen ya no
esté en juego.</li>
<li>Los jugadores que pierden por no tener ninguna carta en su
mano y en su mazo lo hacen antes de que el Señor del crimen
se resuelva al final de la ronda.</li>
</ul>
