<h1 id="najczęściejzadawanepytania">Najczęściej zadawane pytania</h1>

<p>Poniżej znajdują się odpowiedzi na częste pytania, które mogą
zrodzić się w głowach graczy podczas rozgrywki.</p>

<p><em>Czy mogę rozegrać partię z przyjacielem, jeśli obydwoje
używamy postaci złoczyńców (lub bohaterów)?</em></p>

<ul>
<li>Tak. Możesz zagrać przeciwko każdemu, niezależnie
od tego, do którego stronnictwa przynależy jego talia.
Możesz nawet użyć tych samych postaci co on!</li>
</ul>

<p><em>Czy muszę użyć osłon, kiedy jedna z moich postaci ma
otrzymać obrażenia?</em></p>

<ul>
<li><p>Tak, jeśli to możliwe.
Czy mogę przepisać ulepszenie do postaci, która już posiada
maksymalną liczbę ulepszeń?</p></li>
<li><p>Tak, ale wówczas musisz odrzucić jedno z jej ulepszeń, aby
zrobić miejsce na nowe.</p></li>
</ul>

<p><em>Jaka jest różnica pomiędzy obrażeniami wręcz a obrażeniami
dystansowymi?</em></p>

<ul>
<li>Pomiędzy nimi nie ma żadnej różnicy funkcyjnej. Jedynym
rozróżnieniem jest to, że karty wchodzą z nimi w interakcję
oraz to, że nie mogą być rozpatrzone w ramach tej samej
akcji.</li>
</ul>

<p><em>Czy mogę użyć specjalnej zdolności wyczerpanej karty?</em></p>

<ul>
<li>Możesz użyć specjalnej zdolności z wyczerpanej karty
pod warunkiem, że do użycia nie wymaga ona wyczerpania
karty.</li>
</ul>

<p><em>Czy mogę mieć na ręce więcej niż pięć kart?</em></p>

<ul>
<li>Tak. Możesz na ręce mieć więcej kart, niż wynosi twój limit
ręki. Jednak wówczas, jeśli po odrzuceniu kart będziesz
mieć na ręce więcej kart, niż wynosi twój limit ręki, to
w fazie utrzymania nie dobierzesz kart.</li>
</ul>

<p><em>Czy mogę odrzucić szare ulepszenie, aby zredukować koszt
nie-szarego ulepszenia i na odwrót?</em></p>

<ul>
<li>Tak. Możesz odrzucić ulepszenie w dowolnym kolorze,
aby zredukować koszt nowego ulepszenia, niezależnie
od jego koloru.</li>
</ul>

<p><em>Czy muszę równocześnie rozpatrzyć wszystkie swoje kości
z tym samym symbolem?</em></p>

<ul>
<li>Nie. Podczas wykonywania akcji rozpatrywania kości
rozpatrujesz tylko tyle kości z jednym symbolem, ile chcesz.</li>
</ul>

<p><em>Co stanie się, jeśli zagram kartę wsparcia, na której znajduje
się słowo „Akcja”?</em></p>

<ul>
<li>Masz teraz nową akcję, którą możesz wykonać. Nie
rozpatrujesz tej akcji w momencie zagrania karty.</li>
</ul>

<p><em>Co dzieje się, kiedy chcę zagrać kopię karty unikatowej,
ale mój przeciwnik już ma ją w grze?</em></p>

<ul>
<li>Każdy gracz może mieć w grze jedną kopię danej karty
unikatowej (choć nadal możesz mieć dwie takie karty
w swojej talii). Tak więc możesz zagrać swoją kopię, ale po
tym, jak znajdzie się ona w grze, nie możesz zagrać kolejnej.</li>
</ul>

<p><em>Czy muszę pamiętać, z której postaci pochodzi dana kość,
jeśli używam kilku kopii tej samej postaci?</em></p>

<ul>
<li>Tak. Musisz upewnić się, że każda kość postaci jest ułożona
w taki sposób, że jasne jest, z której postaci pochodzi. Jeśli
postać zostanie pokonana, konkretna kość musi zostać
usunięta z puli kości, jeśli się tam znajduje.</li>
</ul>

<p><em>Co stanie się, jeśli zastąpię jedno ulepszenie innym, które
kosztuje mniej?</em></p>

<ul>
<li>Zagrasz nowe ulepszenie za darmo.</li>
</ul>

<p><em>Czy kością postaci jest dowolna kość, którą postać posiada?</em></p>

<ul>
<li>Nie. Kość postaci to kość, której odpowiada karta. Kość
ulepszenia nigdy nie jest kością postaci – przez treść karty
zawsze określana jest jako kość ulepszenia.</li>
</ul>

<p><em>Jaka jest różnica między turą a rundą?</em></p>

<ul>
<li>Tura to jedna akcja gracza. Runda składa się z fazy akcji
i fazy utrzymania.</li>
</ul>

<p><em>Czy mogę wykonać dodatkową akcję, jeśli dołączę do Rey
(<span class="icon-set-AW"></span>38) ulepszenie w wyniku zajęcia Imperialnej zbrojowni
(<span class="icon-set-AW"></span>169)?</em></p>

<ul>
<li>Nie. W momencie wykonania akcji zajęcia pola bitwy
rezygnujesz z wykonywania jakichkolwiek kolejnych akcji
w danej rundzie, w tym dodatkowej akcji wynikającej ze
zdolności Rey.</li>
</ul>

<p><em>Czy jeśli rozpatrzę specjalną zdolność Poe Damerona (<span class="icon-set-AW"></span>29),
aby użyć specjalnej zdolności Czarnego (<span class="icon-set-AW"></span>32), mogę rzucić
kością Czarnego do mojej puli kości, mimo że zdolność mówi
„przerzuć”?</em></p>

<ul>
<li>Nie. W tej sytuacji kość Czarnego nie jest w twojej puli, więc
nie możesz jej przerzucić.</li>
</ul>

<p><em>Co się stanie, gdy warunek aktywacji zdolności „po tym”
zostanie spełniony podczas rozpatrywania zdolności „przed
tym”, a w kolejce czeka już inna zdolność „po tym”?</em></p>

<ul>
<li>Zdolności „po tym” wchodzą do kolejki i czekają na swoją
kolej na rozpatrzenie. Jeśli warunek aktywacji zdolności
„po tym” zostanie spełniony podczas rozpatrywania
jakiejkolwiek innej zdolności, dana zdolność „po tym”
zostanie rozpatrzona po obecnie rozpatrywanej zdolności
oraz wszystkich innych zdolnościach „po tym”, które czekają
już w kolejce.</li>
</ul>

<p><em>Czy mogę użyć Sprytu (<span class="icon-set-AW"></span>65), żeby usunąć z gry należący
do przeciwnika ulepszenie Detonator termiczny (<span class="icon-set-AW"></span>67) lub
Granaty przeciwpiechotne (<span class="icon-set-AW"></span>17)?</em></p>

<ul>
<li>Tak. Zgodnie z zapisem specjalnej zdolności należy
najpierw zadać postaciom przeciwnika obrażenia,
a następnie odrzucić z gry Detonator termiczny lub
Granaty Przeciwpiechotne.</li>
</ul>

<p><em>Czy mogę użyć Sprytu (<span class="icon-set-AW"></span>65), żeby zamienić Holokron Sithów
(<span class="icon-set-AW"></span>16) na kartę z mojej ręki?</em></p>

<ul>
<li>Nie. Nie możesz posiadać karty przeciwnika na ręce ani
w swojej talii. Z tego powodu rozpatrzenie specjalnej
zdolności Holokrona Sithów przeciwnika nie ma żadnych
efektów.</li>
</ul>

<h1 id="wyjaśnieniekart">Wyjaśnienie kart</h1>

<p>W tej części znajdują się odpowiedzi na pytania dotyczące
konkretnych kart.</p>

<h4 id="faq-aw-92">As w rękawie (<span class="icon-set-AW"></span>92)</h4>

<ul>
<li>Wszelkie specjalne zdolności na danej kości mogą być
normalnie rozpatrzone.</li>
<li>Wszelkie nie-specjalne zdolności znajdujące się na karcie,
z którą kość jest powiązana, nie działają na daną kość.</li>
</ul>

<h4 id="faq-aw-3">Generał Grievous (<span class="icon-set-AW"></span>3)</h4>

<ul>
<li>Generał Grievous kradnie ulepszenie, zanim będzie ono
mogło zostać przepisane.</li>
</ul>

<h4 id="faq-aw-16">Holokron Sithów (<span class="icon-set-AW"></span>16)</h4>

<ul>
<li>Gracz może zamienić Holokron Sithów na kartę, w której
treści widnieje zapis „Tylko niebieska postać”, robiąc to
na postaci, która nie jest niebieska.</li>
<li>Gracz nie płaci żadnymi żetonami zasobów za zamianę
na nową kartę.</li>
</ul>

<h4 id="faq-aw-9">Hrabia Dooku (<span class="icon-set-AW"></span>9)</h4>

<ul>
<li>Jeśli wydana zostaje kość z modyfikowaną kością, to
uznawane one są za jedno źródło obrażeń i Hrabia Dooku
może zyskać tylko 1 żeton osłony.</li>
<li>Jeśli dwie lub więcej nie-modyfikowane kości są
wydawane w ramach tej samej akcji, Dooku może
zyskać osłonę za każdą z nich, ponieważ każda kość jest
rozpatrywana osobno.</li>
</ul>

<h4 id="faq-aw-110">Odwrót (<span class="icon-set-AW"></span>110)</h4>

<ul>
<li>Kontrola pola bitwy nie zmienia się.</li>
</ul>

<h4 id="faq-aw-36">Padawan (<span class="icon-set-AW"></span>36)</h4>

<ul>
<li>Jeśli gracz zastąpi ulepszenie na Padawanie, aby
zmniejszyć koszt nowego ulepszenia broni, które zagrywa,
zastępowane ulepszenie pozostaje na Padawanie dopóki
nowe ulepszenie nie wejdzie do gry. W związku z tym,
umiejętność Padawana nie może zmniejszyć kosztu
nowego ulepszenia.</li>
</ul>

<h4 id="faq-aw-164">Padnij! (<span class="icon-set-AW"></span>164)</h4>

<ul>
<li>Jeśli osłony zablokują wszystkie obrażenia wręcz, które
zostały zadane postaci, do której dołączono Padnij!,
wówczas dana postać nie otrzymała żadnych obrażeń
i zachowuje dane ulepszenie.</li>
</ul>

<h4 id="faq-aw-29">Poe Dameron (<span class="icon-set-AW"></span>29)</h4>

<ul>
<li>Jeśli podczas rozpatrywania zdolności specjalnej Poe
Damerona zostanie wybrana inna specjalna zdolność
na odrzucanej karcie, dana specjalna zdolność jest
rozpatrywana w pełni przed efektem „po tym”.</li>
</ul>

<h4 id="faq-aw-79">Porzuć wszelką nadzieję (<span class="icon-set-AW"></span>79)</h4>

<ul>
<li>Każda opcja może być wybrana niezależnie od tego,
ile gracz ma żetonów zasobów lub kart na ręce.</li>
</ul>

<h4 id="faq-aw-130">Pozwól Wookiemu wygrać (<span class="icon-set-AW"></span>130)</h4>

<ul>
<li>Każda opcja może być wybrana niezależnie od tego,
czy w puli kości znajdują się mniej niż 2 kości bądź
nie ma żadnych wyczerpanych postaci.</li>
</ul>

<h4 id="faq-aw-38">Rey (<span class="icon-set-AW"></span>38)</h4>

<ul>
<li>Jeśli gracz zagra na Rey ulepszenie ze słowem kluczowym
Zasadzka, może podczas swojej tury wykonać dwie
dodatkowe akcje.</li>
</ul>

<h4 id="faq-aw-12">Siostra Nocy (<span class="icon-set-AW"></span>12)</h4>

<ul>
<li>Siostra nocy może przerzucić kość, a następnie otrzymać
ostatnie obrażenie, które sprawi, że zostanie pokonana.</li>
</ul>

<h4 id="faq-aw-129">Skok w nadprzestrzeń (<span class="icon-set-AW"></span>129)</h4>

<ul>
<li>Kontrola nad polem bitwy nie zmienia się, nawet jeśli
pole bitwy zostaje zamienione.</li>
<li>Zdolność zajęcia pola bitwy nie jest wykorzystywana.</li>
</ul>

<h4 id="faq-aw-23">Szef gangsterów (<span class="icon-set-AW"></span>23)</h4>

<ul>
<li>Jeśli postać z Szefem gangsterów zostanie pokonana po
tym, jak zdolność Szefa gangsterów zostanie aktywowana,
Szef gangsterów nadal się aktywuje na koniec rundy, nawet
jeśli nie jest już obecny w grze.</li>
<li>Gracze przegrywają, jeśli nie mają na swojej ręce i w talii
żadnych kart zanim na koniec rundy zostanie rozpatrzony
Szef gangsterów.</li>
</ul>

<h4 id="faq-aw-126">Śmiała ucieczka (<span class="icon-set-AW"></span>126)</h4>

<ul>
<li>Po przerzucie kości gracz usuwa wszystkie kości przeciwnika
przedstawiające puste ścianki, nawet jeśli nie były
one przerzucane.</li>
</ul>

<h4 id="faq-aw-80">Wybujała ambicja (<span class="icon-set-AW"></span>80)</h4>

<ul>
<li>Gracz może przy pomocy tej karty dobrać karty tylko, aby
mieć na ręce karty w liczbie zgodnej z jego limitem ręki.</li>
</ul>

<h1 id="errata">Errata</h1>

<p>Poniżej znajdują się poprawione teksty kart, na których
pojawiły się błędy.</p>

<h3 id="przebudzenia">Przebudzenia</h3>

<ul>
<li><p>Świątynia Jedi (<span class="icon-set-AW"></span>170) – tekst karty powinien brzmieć:
„Podejrzyj karty na ręce dowolnego przeciwnika i odrzuć
z nich maksymalnie 2 wybrane przez ciebie <strong>wydarzenia</strong>”.</p></li>
<li><p>Detonator termiczny (<span class="icon-set-AW"></span>67) – ostatnie zdanie powinno
brzmieć: „<strong>Odrzuć</strong> to ulepszenie z gry”.</p></li>
</ul>
