<h2 id="diegoldeneregel">Die goldene Regel</h2>

<p>Bei Widersprüchen zwischen Kartentexten und
Spielregeln hat der Kartentext stets Vorrang. Soweit
dies möglich ist, müssen sowohl Spielregeln als auch
Kartentexte befolgt werden.</p>

<h1 id="teil1.kartenartenfarben">Teil 1. Kartenarten &amp; Farben</h1>

<p>Alle Karten können aus folgenden Elementen bestehen: Fraktion,
Farbe, Typ, Titel, Fähigkeit, Einzigartigkeit, Stimmungstext,
Identifikation, Seltenheit und Würfelübersicht.</p>

<h3 id="fraktion">Fraktion</h3>

<p>Jede Karte gehört zu einer Fraktion: Held, Schurke oder Neutral. Zu
welcher Fraktion eine Karte gehört, steht ganz unten auf der Karte.</p>

<h3 id="farben">Farben</h3>

<p>Jeder Karte ist eine Farbe zugeordnet. Man erkennt sie am
Hintergrund der Karte und kann sie am unteren Kartenrand als
Wort ablesen.</p>

<ul>
<li>Rot symbolisiert Kommando und stellt militärische und logistische
Operationen und Charaktere dar.</li>
<li>Blau symbolisiert die Macht und stellt machtbegabte Charaktere
und ihre erlernten Techniken dar.</li>
<li>Gelb symbolisiert Gauner und stellt Abschaum, Verbrecher, Spione
und Schmuggler dar.</li>
<li>Grau symbolisiert Sonstiges und stellt alles dar, was zu keiner der
drei oben genannten Farben passt.</li>
</ul>

<h3 id="arten">Arten</h3>

<p>Jede Karte hat eine von fünf Kartenarten: Schlachtfeld, Charakter,
Ereignis, Aufwertung oder Unterstützung. In der Regel steht die
Art über der Fähigkeit der Karte; nur bei Schlachtfeldern ist sie
nicht aufgeführt.</p>

<h3 id="titel">Titel</h3>

<p>Der Titel einer Karte beschreibt, wen oder was sie im Star Wars-
Universum darstellt.</p>

<h3 id="fähigkeiten">Fähigkeiten</h3>

<p>Auf den meisten Karten sind 1 oder mehrere Fähigkeiten aufgelistet.</p>

<h3 id="einzigartigkeit">Einzigartigkeit</h3>

<p>Jede Karte ist entweder einzigartig oder nicht-einzigartig. Einzigartige
Karten haben ein Sternchen (<span class="icon-unique"></span>) vor dem Titel. Alle anderen Karten
sind nicht-einzigartig.</p>

<p>Ein Spieler kann nicht mehr als 1 Kopie einer einzigartigen Karte
gleichzeitig im Spiel haben. Es kann nicht mehr als 1 Kopie eines
einzigartigen Charakters in einem Team sein; ebenso kann man
einzigartige Unterstützungen und Aufwertungen nur dann spielen,
wenn man keine andere Kopie von ihnen im Spiel hat.</p>

<ul>
<li><p>Die Einschränkungen für Einzigartigkeit gelten für jeden Spieler
separat. Verschiedene Spieler können dieselbe einzigartige Karte
gleichzeitig im Spiel haben.</p></li>
<li><p>Die Einschränkungen für Einzigartigkeit gelten nicht für Würfel.
Ein Spieler kann beliebig viele Kopien desselben Würfels im
Spiel haben.</p></li>
<li><p>Charaktere, die denselben Titel, aber verschiedene Untertitel
haben, gelten, was die Einzigartigkeit betrifft, als ein und
derselbe Charakter.</p>

<p><em>Beispiel: Es ist nicht erlaubt, Darth Vader (Sith-Lord) und Darth Vader (Schüler der Dunklen Seite) im selben Team zu haben.</em></p></li>
</ul>

<h3 id="stimmungstext">Stimmungstext</h3>

<p>Stimmungstext hat keine Auswirkungen auf das Spielgeschehen.</p>

<h3 id="id_card">Identifikation (ID)</h3>

<p>Die Identifikation einer Karte besteht aus dem Symbol ihres Sets
(z. B. <span class="icon-set-AW"></span> für <em>Erwachen</em>) und einer Nummer. Die ID hilft bei der
Zuordnung von Karten und Würfeln.</p>

<h3 id="rarity_card">Seltenheit</h3>

<p>Es gibt fünf Seltenheitsstufen. Die Seltenheit einer Karte wird durch
die Farbe im Hintergrund ihrer ID angezeigt. Ein Würfel, der zu einer
Karte gehört, hat dieselbe Seltenheit wie seine Karte.</p>

<ul>
<li><span class="fg-rarity-S icon-collectors"></span> Feststehend (Grau): Feststehende Karten tauchen nicht
zufällig auf und sind immer im selben Produkt enthalten.</li>
<li><span class="fg-rarity-C icon-collectors"></span> Häufig (Blau): In jedem Booster-Pack sind 3 häufige
Karten enthalten.</li>
<li><span class="fg-rarity-U icon-collectors"></span> Ungewöhnlich (Gelb): In jedem Booster-Pack ist
1 ungewöhnliche Karte enthalten.</li>
<li><span class="fg-rarity-R icon-collectors"></span> Selten (Grün): In jedem Booster-Pack ist 1 seltene Karte mit
zugehörigem Würfel enthalten.</li>
<li><span class="fg-rarity-L icon-collectors"></span> Legendär (lila): In einem von sechs Booster-Packs ist statt
der seltenen Karte mit Würfel eine legendäre Karte mit
Würfel enthalten.</li>
</ul>

<h3 id="würfelübersicht">Würfelübersicht</h3>

<p>Alle Karten, zu denen Würfel gehören, haben eine Übersichtsleiste,
in der alle sechs Seiten des Würfels abgebildet sind.</p>

<h3 id="charaktere">Charaktere</h3>

<p>Charaktere stellen die bemerkenswerten Bewohner des Star Wars-
Universums dar. Jeder Spieler gibt beim Zusammenstellen seines
Teams bis zu 30 Punkte für Charaktere aus. Jeder Charakter verfügt
über 1 oder 2 Würfel, die geworfen werden, sobald der Charakter
aktiviert wird.</p>

<h4 id="ausdauer">Ausdauer</h4>

<p>Die Ausdauer eines Charakters gibt an, wie viel Schaden er erleiden
kann, bevor er besiegt wird.</p>

<h4 id="punktewerte">Punktewert(e)</h4>

<p>Der Punktewert (bzw. die Punktewerte) eines Charakters gibt an,
wie teuer es ist, diesen Charakter ins Team aufzunehmen. Bei zwei
Werten gibt der kleinere Wert an, wie viel es kostet, 1 Würfel dieses
Charakters zu verwenden; der größere Wert gibt an, wie viel es kostet,
2 Würfel dieses Charakters zu verwenden. Ein Charakter mit 2 eigenen
Würfeln wird als Elitecharakter bezeichnet.</p>

<h3 id="ereignisse">Ereignisse</h3>

<p>Ereignisse stellen taktische Winkelzüge, Pläne, Wendungen des
Schicksals und andere unerwartete Entwicklungen dar, die im Laufe
des Spiels eintreten können. Sobald ein
Spieler ein Ereignis spielt, befolgt er die
Anweisungen der Karte und legt sie dann auf
seinen Ablagestapel.</p>

<ul>
<li>Sobald ein Ereignis gespielt wird, gilt es
als „im Limbus“ (siehe „<a href="#limbus">Limbus</a>“),
bis es vollständig abgehandelt ist.</li>
<li>Vorausgesetzt, alle Spielbeschränkungen werden eingehalten
(siehe „<a href="#spielbeschränkungen">Spielbeschränkungen</a>“), kann ein Ereignis auch
dann gespielt werden, wenn es keinen Effekt hat.</li>
</ul>

<h4 id="kostenauchbeiunterstützungenundaufwertungen">Kosten (auch bei Unterstützungen und Aufwertungen)</h4>

<p>Die Kosten einer Karte stehen in der oberen linken Kartenecke.
Um eine Karte spielen zu können, muss man Ressourcen in Höhe
ihrer Kosten ausgeben.</p>

<h3 id="unterstützungen">Unterstützungen</h3>

<p>Unterstützungskarten stellen diverse Fahrzeuge, Kontakte und
logistische Hilfsmittel dar. Sobald ein Spieler eine Unterstützungskarte
spielt, legt er sie offen in seinen Spielbereich, neben oder unter seine
Charaktere. Unterstützungen haben wiederholbare oder andauernde
Effekte und bleiben im Spiel, es sei denn, sie werden durch einen
Effekt oder eine Fähigkeit abgelegt.</p>

<ul>
<li>Unterstützungskarten können keinen Schaden erleiden.</li>
<li>Hat eine Unterstützung einen Würfel, wird dieser Würfel geworfen,
sobald die Unterstützung aktiviert wird.</li>
<li>Es gibt kein Limit für die Anzahl an Unterstützungen, die ein Spieler
haben darf.</li>
</ul>

<h4 id="unterartenauchbeiaufwertungen">Unterarten (auch bei Aufwertungen)</h4>

<p>Auf manchen Karten sind hinter der Kartenart
Unterarten angegeben, wie z. B. „Fahrzeug“
oder „Waffe“. Für Unterarten gelten keine
speziellen Regeln, allerdings können andere
Karten Bezug auf sie nehmen.</p>

<ul>
<li>Wenn in einem Kartentext Bezug auf
eine Unterart genommen wird, ist die
Unterart fettgedruckt.</li>
</ul>

<h3 id="aufwertungen">Aufwertungen</h3>

<p>Aufwertungen stellen Waffen, Ausrüstung und Fähigkeiten dar, die zum
Arsenal eines Charakters gehören. Sobald ein Spieler eine Aufwertung
spielt, legt er sie offen an 1 seiner Charaktere an. Er darf eine bereits
an diesen Charakter angelegte Aufwertung ablegen, um die Kosten
der neuen Aufwertung um die Kosten der abgelegten Aufwertung zu
senken. Aufwertungen haben wiederholbare oder andauernde Effekte
und bleiben im Spiel, es sei denn, sie werden durch einen Effekt oder
eine Fähigkeit abgelegt oder der aufgewertete Charakter wird besiegt.</p>

<ul>
<li>Jeder Charakter kann maximal 3 Aufwertungen haben. Hat ein
Charakter mehr als 3 Aufwertungen, muss sein kontrollierender
Spieler so viele Aufwertungen des Charakters wählen und ablegen,
bis nur noch 3 übrig sind.</li>
<li>Es gibt keine Obergrenze für die Anzahl an <strong>Waffen</strong>, <strong>Ausrüstungen</strong>
oder <strong>Fähigkeiten</strong>, die ein Charakter im Rahmen seiner
3 Aufwertungen haben kann.</li>
<li>Ein Charakter kann mehrere Kopien derselben nicht-einzigartigen
Aufwertung haben.</li>
<li>Hat eine Aufwertung einen Würfel, wird dieser Würfel geworfen,
sobald der aufgewertete Charakter aktiviert wird. Es spielt keine
Rolle, ob die Aufwertung spielbereit oder erschöpft ist, und sie wird
auch nicht zusammen mit dem Charakter erschöpft.</li>
</ul>

<h1 id="teil2.würfelsymbole">Teil 2. Würfel &amp; Symbole</h1>

<p>Bei Star Wars: Destiny kommen sechsseitige Premium-Würfel zum
Einsatz. Alle Würfel bestehen aus folgenden Elementen: Wert, Symbol,
Kosten, Modifikator, Identifikation und Seltenheit.</p>

<h3 id="wert">Wert</h3>

<p>Der Wert ist eine Zahl, die über dem Symbol des Würfels steht.</p>

<ul>
<li>Leerseiten und Spezialfähigkeiten haben keine aufgedruckten Werte
und werden behandelt, als hätten sie den Wert 0.</li>
</ul>

<h3 id="symbol">Symbol</h3>

<p>Auf jeder Würfelseite befindet sich ein Symbol. Sobald ein Würfel
abgehandelt wird, führt man einen Effekt abhängig vom gezeigten
Symbol des Würfels aus.</p>

<h3 id="kosten">Kosten</h3>

<p>Manche Würfel haben Kosten, angezeigt durch ein kleines gelbes
Feld am unteren Rand der Würfelseite. Um diese Seite abhandeln
zu können, muss man Ressourcen in Höhe der angegebenen Kosten
ausgeben. Wer die Kosten nicht bezahlen kann, kann diese Würfelseite
auch nicht abhandeln.</p>

<h3 id="modifikator">Modifikator</h3>

<p>Manche Würfel haben 1 oder mehrere blaue Seiten mit einem Plus (+)
vor dem Wert. Würfelseiten mit einem Plus können nur zusammen mit
einem anderen Würfel abgehandelt werden, der dasselbe Symbol ohne
Plus aufweist. Während des Abhandelns wird der Pluswert auf den
Wert des anderen Würfels addiert und bildet so einen neuen Wert.</p>

<p><em>Beispiel: Du würfelst das Symbol <em><strong>+2<span class="icon-ranged"></span></strong></em>. Da du bereits ein <em><strong>1<span class="icon-ranged"></span></strong></em> gewürfelt hast, kannst du das <em><strong>+2<span class="icon-ranged"></span></strong></em> zusammen mit dem <em><strong>1<span class="icon-ranged"></span></strong></em> abhandeln, um 1 beliebigen Charakter 3 Fernkampfschaden zuzufügen. Hättest du das <em><strong>1<span class="icon-ranged"></span></strong></em> nicht gewürfelt oder bereits ausgegeben, könntest du das <em><strong>+2<span class="icon-ranged"></span></strong></em> nicht abhandeln.</em></p>

<ul>
<li>Ein Modifikator kann nicht alleine für sich abgehandelt werden.</li>
</ul>

<h3 id="id_die">Identifikation (ID)</h3>

<p>Die Identifikation besteht aus dem Symbol des Sets und einer
Nummer. Diese ID entspricht der zugehörigen Karte.</p>

<h3 id="rarity_die">Seltenheit</h3>

<p>Die Seltenheit eines Würfels entspricht der Seltenheit seiner Karte
(siehe „<a href="#rarity_card">Seltenheit</a>“).</p>

<h3 id="würfelsymbole">Würfelsymbole</h3>

<p>Durch die Aktivierung diverser Karten werden Würfel in den Würfelpool
eines Spielers geworfen. Diese Würfel können dann in einer späteren
Aktion abgehandelt werden; wenn das passiert, treten die Effekte der
Würfelsymbole ein. Jedes Symbol hat einen anderen Effekt, wie unten
beschrieben. Zudem verfügen die meisten Symbole über einen Wert,
der die Stärke des Effekts bestimmt.</p>

<h4 id="melee_symbol"><span class="icon-melee"></span> Nahkampfschaden</h4>

<p>Fügt einem Charakter Schaden in Höhe des Wertes des Symbols zu.</p>

<ul>
<li>Der komplette Schaden muss einem einzelnen Charakter zugefügt
werden. Man kann den Schaden eines einzelnen Würfels (oder
eines Würfels, der modifiziert wurde) nicht unter verschiedenen
Charakteren aufteilen. Werden innerhalb einer Aktion mehrere
Würfel abgehandelt, kann jeder Würfel einem anderen Charakter
Schaden zufügen.</li>
</ul>

<h4 id="ranged_symbol"><span class="icon-ranged"></span> Fernkampfschaden</h4>

<p>Fügt einem Charakter Schaden in Höhe des Wertes des Symbols zu.</p>

<ul>
<li>Der komplette Schaden muss einem einzelnen Charakter zugefügt
werden. Man kann den Schaden eines einzelnen Würfels (oder
eines Würfels, der modifiziert wurde) nicht unter verschiedenen
Charakteren aufteilen. Werden innerhalb einer Aktion mehrere
Würfel abgehandelt, kann jeder Würfel einem anderen Charakter
Schaden zufügen.</li>
</ul>

<h4 id="shield_symbol"><span class="icon-shield"></span> Schild</h4>

<p>Gibt einem Charakter Schilde in Höhe des Wertes des Symbols.</p>

<ul>
<li>Alle Schilde müssen einem einzelnen Charakter gegeben
werden. Man kann die Schilde eines einzelnen Würfels (oder
eines Würfels, der modifiziert wurde) nicht unter verschiedenen
Charakteren aufteilen. Werden innerhalb einer Aktion mehrere
Würfel abgehandelt, kann jeder Würfel einem anderen Charakter
Schilde geben.</li>
<li>Ein Charakter kann nicht mehr als 3 Schilde haben. Überschüssige
Schilde, die dem Charakter gegeben würden, werden ignoriert.</li>
</ul>

<h4 id="resource_symbol"><span class="icon-resource"></span> Ressourcen</h4>

<p>Lässt den Spieler Ressourcen in Höhe des Wertes des Symbols erhalten.</p>

<h4 id="disrupt_symbol"><span class="icon-disrupt"></span> Störung</h4>

<p>Zwingt einen Gegner dazu, Ressourcen in Höhe des Wertes des
Symbols zu verlieren.</p>

<ul>
<li>Falls ein Gegner nicht so viele Ressourcen wie der Wert des Symbols
hat, verliert er alle verbliebenen Ressourcen.</li>
<li>Der Gegner kann keine Ressourcen verlieren, die er nicht hat; ein
Spieler kann niemals weniger als 0 Ressourcen haben.</li>
</ul>

<h4 id="discard_symbol"><span class="icon-discard"></span> Ablegen</h4>

<p>Legt Karten von der Hand eines Gegners in Höhe des Wertes des
Symbols ab.</p>

<ul>
<li>Falls ein Gegner nicht so viele Karten wie der Wert des Symbols
auf seiner Hand hat, legt er alle verbliebenen Karten von seiner
Hand ab.</li>
</ul>

<h4 id="focus_symbol"><span class="icon-focus"></span> Fokussieren</h4>

<p>Dreht andere Würfel im Pool des Spielers auf Seiten seiner Wahl in
Höhe des Wertes des Symbols oder weniger.</p>

<ul>
<li>Ein Spieler kann keine gegnerischen Würfel drehen.</li>
</ul>

<h4 id="special_symbol"><span class="icon-special"></span> Spezialfähigkeit</h4>

<p>Verwendet die Spezialfähigkeit, die auf der zugehörigen Karte des
Würfels steht (angezeigt durch ein <span class="icon-special"></span>-Symbol). Würfelseiten mit
Spezialfähigkeit haben immer einen Wert von 0.</p>

<ul>
<li>Ein Spieler kann nicht die Spezialfähigkeit einer anderen Karte
verwenden; es muss die Spezialfähigkeit der Karte sein, deren
Würfel man gerade abhandelt.</li>
<li>Genau wie bei anderen Symbolen kann man mehrere Spezialfähigkeiten
mit derselben Aktion abhandeln. Die Reihenfolge ist
dabei frei wählbar.</li>
<li>Eine Spezialfähigkeit, die den zugehörigen Würfel neu würfeln lässt,
kann kein zweites Mal in derselben Aktion abgehandelt werden.</li>
</ul>

<h4 id="blank_symbol"><span class="icon-blank"></span> Leerseite</h4>

<p>Leerseiten haben keinen Effekt und können nicht abgehandelt werden.
Der Wert einer Leerseite ist immer 0.</p>

<h3 id="würfelüberkartenabhandeln">Würfel über Karten Abhandeln</h3>

<p>Viele Karten erlauben das Abhandeln eines oder mehrerer Würfel.
Sobald man einen Würfel über eine Karte abhandelt, verwendet man
den normalen Würfeleffekt (abhängig vom Symbol) und befolgt alle
zusätzlichen Anweisungen.</p>

<ul>
<li>Die Ressourcenkosten des Würfels (falls vorhanden) müssen
trotzdem bezahlt werden.</li>
<li>Ein Modifikator kann nicht alleine für sich abgehandelt werden.</li>
<li>Beim Abhandeln eines Würfels über einen Karteneffekt können
keine Modifikatoren verwendet werden, es sei denn, die Karte
erlaubt das Abhandeln mehrerer Würfel mit gleichem Symbol.</li>
</ul>

<h3 id="würfelverlassendasspiel">Würfel verlassen das Spiel</h3>

<ul>
<li>Falls eine Karte, zu der ein Würfel gehört, das Spiel verlässt,
wird der zugehörige Würfel sofort aus dem Spiel entfernt und
beiseitegelegt. Der entfernte Würfel kann zu einem späteren
Zeitpunkt zurück ins Spiel kommen, wenn seine Karte wieder ins
Spiel kommt.</li>
<li>Falls ein Spieler zwei Kopien derselben Aufwertung an einem
Charakter hat und beide Aufwertungswürfel in seinem Würfelpool
liegen, kann er, sobald er eine dieser Aufwertungen aus dem
Spiel ablegen muss, entscheiden, welchen Würfel er entfernt
und beiseitelegt. Hat er zwei Kopien derselben Aufwertung
an verschiedenen Charakteren (also 1 Aufwertung an jedem
Charakter), muss er sicherstellen, dass die Würfel separat
zugeordnet werden können.</li>
</ul>

<h1 id="teil3.spielbereiche">Teil 3. Spielbereiche</h1>

<p>Jeder Spieler hat seine eigenen Spielbereiche. Jeder dieser Bereiche
ist entweder im Spiel oder nicht im Spiel.</p>

<h3 id="imspiel">Im Spiel</h3>

<h4 id="charakteregespieltekarten">Charaktere &amp; gespielte Karten</h4>

<p>Nachdem eine Aufwertung oder Unterstützung gespielt worden ist,
wird sie dem Spielbereich hinzugefügt und ist im Spiel. Charaktere
sind von Beginn an im Spiel und bleiben dort, bis sie besiegt werden.
Ereignisse sind niemals im Spiel; sie werden gespielt, abgehandelt und
abgelegt, ohne jemals in den Spielbereich zu kommen.</p>

<ul>
<li>Die Fähigkeiten auf Karten im Spiel können verwendet werden.</li>
<li>Eine Karte kommt ins Spiel, sobald sie von einem Bereich, der nicht
im Spiel ist, in den Spielbereich wechselt.</li>
<li>„Aus dem Spiel“ ist die Kurzform von „aus dem Bereich im Spiel“.</li>
</ul>

<h4 id="würfelpool">Würfelpool</h4>

<p>Hier werden die Würfel geworfen. Jeder Spieler hat seinen
eigenen Würfelpool. Würfel, die nicht im Pool sind, liegen auf ihren
zugehörigen Karten.</p>

<ul>
<li>Ein Spieler kann nur die Würfel in seinem eigenen
Würfelpool abhandeln.</li>
<li>Die Würfel im Würfelpool eines Spielers können manipuliert
(d. h. entfernt, gedreht, etc.) und für Karteneffekte verwendet
werden, die eine bestimmte Würfelseite erfordern.</li>
</ul>

<h4 id="ressourcen">Ressourcen</h4>

<p>Jeder Spieler bewahrt seine Ressourcen neben seinen Karten auf.</p>

<ul>
<li>Die Anzahl der Ressourcen, die ein Spieler hat,
ist eine offene Information.</li>
</ul>

<h4 id="schlachtfeldfallskontrolliert">Schlachtfeld (falls kontrolliert)</h4>

<p>Falls ein Spieler das Schlachtfeld kontrolliert, bewahrt er es in seinem
Spielbereich auf.</p>

<h3 id="nichtimspiel">Nicht im Spiel</h3>

<p>Karten auf der Hand, im Deck und im Ablagestapel eines Spielers sind
nicht im Spiel und ihre Fähigkeiten können nicht verwendet werden,
bis sie gespielt werden.</p>

<ul>
<li>Eine Karte verlässt das Spiel, sobald sie aus dem Spielbereich in
einen Bereich, der nicht im Spiel ist, wechselt.</li>
</ul>

<h4 id="hand">Hand</h4>

<p>Jeder Spieler hat Karten auf seiner Hand. Als Aktion kann
man eine Karte von der eigenen Hand spielen, indem man ihre
Ressourcenkosten bezahlt.</p>

<ul>
<li>Jeder Spieler hat ein Handkartenlimit. Das Handkartenlimit
bestimmt, auf wie viele Karten man während der Auffrischphase
aufzieht (nachdem man beliebig viele Karten abgelegt hat).
Das Standard-Handkartenlimit ist 5. Wer mehr Karten als sein
Handkartenlimit hat, muss trotzdem keine Karten ablegen.</li>
<li>Die Anzahl der Karten auf der Hand eines Spielers ist eine offene
Information. Welche Karten dies jedoch sind, wird vor dem Gegner
geheim gehalten.</li>
<li>Ein Spieler kann keine Karte auf der Hand haben, die seinem
Gegner gehört.</li>
</ul>

<h4 id="deck">Deck</h4>

<p>Jeder Spieler bringt ein Deck, bestehend aus 30 Karten, zum Spiel
mit. Während des Spiels bezeichnet das Wort „Deck“ den verdeckten
Nachziehstapel eines Spielers.</p>

<ul>
<li>Nach dem Mischen wird das Deck verdeckt gehalten und kann von
den Spielern nicht durchgesehen oder umsortiert werden, es sei
denn, eine Spielfähigkeit erlaubt es.</li>
<li>Die Anzahl der Karten, die sich noch im Deck eines Spielers
befinden, ist eine offene Information.</li>
<li>Ein Spieler kann keine Karte in seinem Deck haben, die seinem
Gegner gehört.</li>
</ul>

<h4 id="ablagestapel">Ablagestapel</h4>

<p>Der Ablagestapel ist ein offener Kartenstapel neben dem Deck eines
Spielers und enthält dessen abgelegte Karten.</p>

<ul>
<li>Die Karten im Ablagestapel sind eine offene Information. Jeder
Spieler kann jederzeit die Karten in allen Ablagestapeln durchsehen.</li>
<li>Die Reihenfolge der Karten im Ablagestapel ist irrelevant; man kann
die Karten in seinem Ablagestapel jederzeit umsortieren.</li>
</ul>

<h4 id="limbus">Limbus</h4>

<p>Sobald ein Ereignis gespielt wird, legt man es offen auf den Tisch.
Ab jetzt ist es „im Limbus“, d. h. nicht mehr auf der Hand des Spielers.
Nach der Abhandlung wandert es auf den Ablagestapel.</p>

<ul>
<li>Das Ereignis kommt nicht ins Spiel, gilt aber als gespielt.</li>
</ul>

<h4 id="würfelaufkarten">Würfel auf Karten</h4>

<p>Sobald Würfel nicht im Würfelpool sind, werden sie auf ihre zugehörigen
Karten gelegt.</p>

<ul>
<li>Diese Würfel sind nicht aktiv, können nicht manipuliert werden und
werden behandelt, als würden sie keine Seite zeigen.</li>
</ul>

<h4 id="beiseitegelegtewürfel">Beiseitegelegte Würfel</h4>

<p>Zu Spielbeginn werden einige Würfel beiseitegelegt. Diese Würfel
können über Karten ins Spiel kommen. Wer möchte, kann seine
beiseitegelegten Würfel in einem Würfelbeutel oder -becher vor dem
Gegner verbergen.</p>

<h4 id="vorrat">Vorrat</h4>

<p>In diesem Bereich liegen sämtliche Spielmarker. Alle Marker, die man
erhält (Ressourcen), zufügt (Schaden) oder gibt (Schilde), werden aus
dem Vorrat genommen. Alle Marker, die man ausgibt (Ressourcen),
verliert (Ressourcen), heilt (Schaden) oder entfernt (Schilde) werden
in den Vorrat zurückgelegt. Sollten die Marker zur Neige gehen,
verwendet man einen geeigneten Ersatz.</p>

<h1 id="teil4.individualisierung">Teil 4. Individualisierung</h1>

<p>Individualisierung findet vor dem Spiel statt. Jeder Spieler kann sich
sein eigenes Deck mit individuellen Strategien und Kombinationen
zusammenstellen und so für ein einzigartiges Spielerlebnis sorgen.</p>

<h3 id="1.zusammenstellungdesteams">1. Zusammenstellung des Teams</h3>

<p>Um ein Team zusammenzustellen, wählt man Charaktere im Wert von
bis zu 30 Punkten.</p>

<ul>
<li>Ein Spieler muss sich entscheiden, ob er ein Team aus Heldenoder
Schurkencharakteren zusammenstellen will; Helden- und
Schurkencharaktere können nicht im selben Team spielen.</li>
<li>Ein Spieler kann nur 1 Kopie eines einzigartigen (*) Charakters
auswählen, aber er kann eine beliebige Anzahl Kopien nichteinzigartiger
Charaktere auswählen. Bei einzigartigen Charakteren
muss man sich entscheiden, ob man die Eliteversion (mit dem
höheren Punktewert und 2 Würfeln) oder die nicht-Eliteversion
(mit dem niedrigeren Punktewert und 1 Würfel) verwenden will.</li>
<li>Man muss mindestens 1 Charakter wählen.</li>
<li>Es gibt keine Einschränkungen, was die Farben der Charaktere
betrifft. Man darf gleichfarbige und/oder verschiedenfarbige
Charaktere ins Team aufnehmen.</li>
</ul>

<h3 id="2.zusammenstellungdesdecks">2. Zusammenstellung des Decks</h3>

<p>Ein Deck besteht aus genau 30 Karten.</p>

<ul>
<li>Das Deck kann nicht mehr als 2 Kopien derselben Karte enthalten.</li>
<li>Besteht das Team aus Heldencharakteren, kann das Deck keine
Schurkenkarten enthalten. Besteht das Team aus Schurkencharakteren,
kann das Deck keine Heldenkarten enthalten. Neutrale
Karten können in jedes Deck aufgenommen werden.</li>
<li>Blaue, rote und gelbe Karten können nur dann ins Deck aufgenommen
werden, wenn das Team über einen Charakter der
entsprechenden Farbe verfügt. Graue Karten können in jedes Deck
aufgenommen werden.</li>
<li>Ein Deck kann Ereignisse, Aufwertungen und Unterstützungen
enthalten. Charaktere und Schlachtfelder sind nicht Teil des Decks
und zählen nicht zur Obergrenze von 30 Karten hinzu.</li>
</ul>

<h3 id="3.wahldesschlachtfelds">3. Wahl des Schlachtfelds</h3>

<p>Zusätzlich zu Charakteren und Deck wählt jeder Spieler ein
Schlachtfeld aus und bringt es zum Spiel mit.</p>

<p><em>Beispiel: Ein Spieler sucht sich die Eliteversion von Leia Organa (<span class="icon-set-AW"></span>28) für 16 Punkte und die Nicht-Eliteversion von Han Solo (<span class="icon-set-AW"></span>46) für 14 Punkte aus. Zusammen sind die beiden Charaktere 30 Punkte wert, also das Maximum für ein Team.</em></p>

<p><em>Da Leia Organa und Han Solo Heldencharaktere sind, kann der Spieler
keine Schurkenkarten in sein Deck aufnehmen. Blaue Karten sind
ebenfalls ausgeschlossen, weil er keinen blauen Charakter ins Team
gewählt hat. Er sucht sich insgesamt 30 Karten (eine Mischung aus
roten, gelben und grauen Karten) für sein Deck aus. Dabei achtet er
darauf, dass mindestens 10 Karten eigene Würfel haben, weil er weiß,
wie wichtig es ist, Karten mit Würfeln verlässlich ziehen und spielen
zu können.</em></p>

<p><em>Zu guter Letzt sucht er sich das Lagezentrum der Rebellen (<span class="icon-set-AW"></span>171) als
Schlachtfeld aus. Sollte es beim Spielaufbau gewählt werden, hat er
die Möglichkeit, seine Würfel mit Ressourcenkosten (z. B. Han Solos
3er Fernkampfschaden) kostenlos abzuhandeln.</em></p>

<h1 id="teil5.spielstruktur">Teil 5. Spielstruktur</h1>

<p>Jede Partie ist ein rasanter Schlagabtausch, bei dem die Spieler
abwechselnd zum Zug kommen und Aktionen ausführen.</p>

<h3 id="aufbau">Aufbau</h3>

<p>Um das Spiel aufzubauen, führt man folgende Schritte der Reihe
nach durch:</p>

<ol>
<li>Jeder Spieler legt seine Charakterkarten (zusammen mit den
zugehörigen Würfeln) offen vor sich aus.</li>
<li>Jeder Spieler legt sein Schlachtfeld offen beiseite.</li>
<li>Jeder Spieler mischt sein 30-Karten-Deck und zieht
5 Karten davon.</li>
<li>Jeder Spieler mischt beliebig viele Karten von seiner
Hand in sein Deck zurück und zieht dann wieder auf
5 Karten auf.</li>
<li>Sämtliche Spielmarker werden nach Art (Schaden, Schilde, Ressourcen)
sortiert und neben die Spielfläche gelegt. Jeder Spieler
erhält 2 Ressourcen aus diesem Vorrat.</li>
<li>Die Spieler werfen ihre Start-Charakterwürfel und addieren die
gewürfelten Werte (die weißen Zahlen). Bei Gleichstand wird
nochmal gewürfelt. Der Spieler mit der höchsten Gesamtsumme
entscheidet, auf welchem Schlachtfeld gekämpft wird. Der Spieler,
dessen Schlachtfeld verwendet wird, kontrolliert das Schlachtfeld
und legt es neben sein Deck. Der Spieler, dessen Schlachtfeld nicht
verwendet wird, entfernt sein Schlachtfeld aus dem Spiel und gibt
seinen Charakteren 2 Schilde (beliebig verteilt). Nach dem Würfeln
werden alle Würfel auf die zugehörigen Karten zurückgelegt.</li>
</ol>

<h3 id="runden">Runden</h3>

<p>Jede Partie wird über mehrere Runden gespielt. Eine Runde besteht
aus zwei Phasen: der Aktionsphase und der Auffrischphase.</p>

<h4 id="aktionsphase">Aktionsphase</h4>

<p>Während der Aktionsphase kommen die Spieler abwechselnd zum Zug.
Der Spieler, der das Schlachtfeld kontrolliert, hat den ersten Spielzug.
Wer am Zug ist, kann 1 Aktion ausführen oder passen. Sobald beide
Spieler nacheinander gepasst haben, endet die Aktionsphase und es
geht weiter mit der Auffrischphase.</p>

<h4 id="auffrischphase">Auffrischphase</h4>

<p>Während der Auffrischphase handelt man folgende Schritte ab:</p>

<ol>
<li>Jeder Spieler macht seine erschöpften Karten spielbereit.</li>
<li>Jeder Spieler legt alle Würfel, die immer noch in seinem Würfelpool
sind, auf die zugehörigen Karten zurück.</li>
<li>Jeder Spieler erhält 2 Ressourcen.</li>
<li>Jeder Spieler legt beliebig viele Karten von seiner Hand ab und
zieht dann bis auf sein Handkartenlimit auf.

<ul>
<li>Hat er nach dem Ablegen Karten in Höhe seines Handkartenlimits
(oder mehr) auf der Hand, zieht er keine Karten.</li>
<li>Hat er nicht mehr genug Karten im Deck, um bis auf sein
Handkartenlimit aufziehen zu können, zieht er so viele Karten
wie möglich.</li>
</ul></li>
</ol>

<h4 id="aktionen">Aktionen</h4>

<p>Aktionen führt man immer dann aus, wenn man am Zug ist. Wer
am Zug ist, muss entweder eine Aktion ausführen oder passen. Die
verschiedenen Aktionen werden im Folgenden aufgeführt und weiter
unten näher beschrieben:</p>

<ul>
<li>Eine Karte von der Hand spielen</li>
<li>Einen Charakter oder eine Unterstützung aktivieren</li>
<li>Würfel abhandeln</li>
<li>Karten ablegen, um Würfel neu zu werfen</li>
<li>Eine Kartenaktion verwenden</li>
<li>Das Schlachtfeld beanspruchen</li>
</ul>

<p>Sobald man innerhalb seines Spielzuges zusätzliche Aktionen ausführen
darf, muss man sie sofort ausführen oder passen; man kann sie
sich nicht für später aufheben. Wer außerhalb seines Zuges eine Aktion
ausführen darf, muss sie ebenfalls sofort ausführen. </p>

<h4 id="einekartevonderhandspielen">Eine Karte von der Hand Spielen</h4>

<p>Bevor man eine Karte spielt, sollte man überprüfen, ob auf der
Karte irgendwelche Spielbeschränkungen angegeben sind. Falls es
Spielbeschränkungen gibt und deren Bedingungen nicht erfüllt sind,
kann die Karte nicht gespielt werden.</p>

<p>Falls es keine Beschränkungen gibt oder alle Bedingungen erfüllt sind,
muss man Ressourcen in Höhe der Kosten der Karte ausgeben. Hat
man nicht genügend Ressourcen, kann man die Karte nicht spielen.</p>

<p>Sobald die Kosten der Karte bezahlt sind, wird sie, abhängig von ihrer
Art, abgehandelt.</p>

<ul>
<li>Ereignisse spielen: Man befolgt die Anweisungen der Karte und
legt sie dann ab. Während des Abhandelns befindet sich die Karte
im Limbus.</li>
<li>Aufwertungen spielen: Man wählt einen Charakter und legt die
Aufwertung an ihn an, d. h. unter oder hinter den Charakter. Bevor
man die Kosten zum Spielen einer Aufwertung bezahlt, hat man die
Option, eine Aufwertung, die bereits an den gewählten Charakter
angelegt ist, zu ersetzen. Die Kosten zum Spielen der neuen
Aufwertung werden um die Kosten der alten Aufwertung gesenkt
und die alte Aufwertung wird abgelegt, sobald die neue ins Spiel
kommt. Sind die Kosten der alten Aufwertung gleich oder höher als
die der neuen, ist die neue Aufwertung kostenlos.

<ul>
<li>Die meisten Aufwertungen bringen einen zusätzlichen Würfel mit
sich. Sobald sie gespielt werden, nimmt man den zugehörigen
Würfel aus den beiseitegelegten Würfeln und legt ihn auf die
Aufwertung (oder der Einfachheit halber auf den Charakter, da
der Aufwertungswürfel ohnehin zusammen mit den Charakterwürfeln
geworfen wird).</li>
<li>Ein Charakter kann nicht mehr als 3 Aufwertungen haben.</li>
</ul></li>
<li>Unterstützungen spielen: Man legt die Karte auf den Tisch,
unterhalb des eigenen Teams. Manche Unterstützungen bringen
einen eigenen Würfel mit sich. Sobald sie gespielt werden, nimmt
man den zugehörigen Würfel aus den beiseitegelegten Würfeln und
legt ihn auf die Unterstützung.</li>
</ul>

<h4 id="einencharakterodereineunterstützungaktivieren">Einen Charakter oder eine Unterstützung aktivieren</h4>

<p>Um eine Charakter- oder Unterstützungskarte zu aktivieren, erschöpft
man die Karte und wirft alle ihre Würfel. Ab jetzt liegen diese Würfel
im Würfelpool ihres Spielers und können in einem späteren Zug mittels
einer Aktion abgehandelt werden. Beim Aktivieren eines Charakters
wirft man dessen Charakterwürfel sowie die Aufwertungswürfel seiner
angelegten Aufwertungen. Beim Aktivieren von Unterstützungen wird
nur deren eigener Würfel geworfen. Unterstützungen ohne Würfel
können nicht aktiviert werden.</p>

<ul>
<li>Beim Aktivieren eines Charakters müssen alle ihm zugeordneten
Würfel (seine Charakter- und Aufwertungswürfel) geworfen werden.
Es ist nicht erlaubt, einzelne Würfel auszusuchen und nur diese
zu werfen.</li>
<li>Erschöpfte Charaktere und Unterstützungen können nicht
aktiviert werden.</li>
</ul>

<h4 id="würfelabhandeln">Würfel Abhandeln</h4>

<p>Auf jeder Würfelseite ist ein Symbol aufgedruckt (siehe <a href="#würfelsymbole">Würfelsymbole</a>). Man kann
1 oder mehrere Würfel aus dem eigenen Pool, die dasselbe Symbol
zeigen, nacheinander abhandeln (nimmt man hingegen einen Würfel
hinzu, der einen Modifikator zeigt, werden die Würfel gleichzeitig
abgehandelt). Um einen Würfel abzuhandeln, muss man sämtliche
Kosten bezahlen und die Effekte des gezeigten Würfelsymbols
ausführen. Dann legt man den Würfel auf seine Karte zurück.</p>

<ul>
<li>Jeder Spieler kann nur die Würfel in seinem eigenen
Würfelpool
abhandeln.</li>
<li>Man kann innerhalb einer Aktion auch Würfel mit unterschiedlichen
Werten abhandeln, vorausgesetzt, sie zeigen dasselbe Symbol.</li>
<li>Man kann sich nicht für die Abhandlung eines Würfelsymbols
entscheiden, wenn man keine Symbole dieser Art zum Abhandeln
hat. Beim Ausführen dieser Aktion muss mindestens 1 Würfel
abgehandelt werden.</li>
<li>Man kann beliebige Würfel mit demselben Symbol abhandeln, auch
wenn diese Würfel das Symbol noch nicht gezeigt haben, als der
Spieler mit der Abhandlung begonnen hat.</li>
<li>Pro Aktion kann man einen Würfel nicht mehr als ein
Mal abhandeln.</li>
</ul>

<h4 id="kartenablegenumwürfelneuzuwerfen">Karten ablegen, um Würfel neu zu werfen</h4>

<p>Man kann 1 beliebige Karte von der eigenen Hand ablegen, um 1 oder
mehrere Würfel im eigenen Pool neu zu werfen. Alle Würfel, die neu
geworfen werden sollen, müssen vor dem Neuwerfen gewählt werden.</p>

<ul>
<li>Falls sich keine Würfel im eigenen Pool befinden, kann man auch
keine Karte von der Hand ablegen, um Würfel neu zu werfen.</li>
</ul>

<h4 id="einekartenaktionverwenden">Eine Kartenaktion verwenden</h4>

<p>Auf manchen Unterstützungs-, Aufwertungs- und Charakterkarten sind
besondere Aktionen aufgeführt. Diese Aktionen werden durch das
fettgedruckte Stichwort „Aktion“ eingeleitet. Um sie abzuhandeln,
befolgt man die Anweisungen der Karte.</p>

<h4 id="dasschlachtfeldbeanspruchen">Das Schlachtfeld beanspruchen</h4>

<p>Sobald ein Spieler das Schlachtfeld beansprucht, darf er dessen
Beanspruchen-Fähigkeit verwenden. Falls er das Schlachtfeld nicht
kontrolliert, übernimmt er die Kontrolle darüber und verschiebt die
Schlachtfeldkarte neben sein Deck. Für den Rest der Runde passt er
automatisch in allen Spielzügen. Sein Gegner führt weiter Aktionen
aus, bis auch er passen will. Pro Runde kann nur 1 Spieler das
Schlachtfeld beanspruchen.</p>

<ul>
<li>Auch wer das Schlachtfeld bereits kontrolliert, kann es beanspruchen,
um die Kontrolle zu behalten und die Beanspruchen-
Fähigkeit zu verwenden.</li>
<li>Der Spieler, der das Schlachtfeld kontrolliert, führt in jeder
Spielrunde die erste Aktion aus.</li>
</ul>

<h3 id="passen">Passen</h3>

<p>Falls ein Spieler keine Aktion ausführen möchte, kann er passen. Er
tut nichts, hält sich jedoch die Option offen, nach seinem Gegner doch
noch eine Aktion durchzuführen. Erst wenn beide Spieler nacheinander
gepasst haben, geht die Runde in die Auffrischphase über.</p>

<h3 id="spielsieg">Spielsieg</h3>

<p>Das Spiel kann auf zwei Arten enden:</p>

<ul>
<li>Alle Charaktere eines Spielers sind besiegt. Das Spiel endet sofort
und der andere Spieler gewinnt.</li>
<li>Falls ein Spieler am Ende der Runde (nach der Auffrischphase) keine
Karten mehr auf seiner Hand und in seinem Deck hat. In diesem
Fall hat er das Spiel verloren und der andere Spieler gewinnt. Falls
beide Spieler gleichzeitig auf diese Weise verlieren würden, gewinnt
der Spieler, der am Ende der Runde das Schlachtfeld kontrolliert.</li>
</ul>

<h1 id="teil6.spielkonzepte">Teil 6. Spielkonzepte</h1>

<p>Es folgen wichtige Regeln, die in jeder Partie gelten.</p>

<h3 id="schaden">Schaden</h3>

<p>Sobald einem Charakter Schaden zugefügt wird, legt man entsprechend
viel Schaden auf den Charakter. Sobald ein Charakter Schaden in
Höhe seiner Ausdauer hat, ist er sofort besiegt.</p>

<ul>
<li>Nicht-blockierbarer Schaden kann nicht durch Schilde oder Karteneffekte
abgeblockt werden. Alle Schilde auf einem Charakter,
dem nicht-blockierbarer Schaden zugefügt wird, bleiben auf ihm
liegen; sie werden einfach beim Zufügen des nicht-blockierbaren
Schadens ignoriert.</li>
<li>Schadensmarker gibt es mit den Werten 1 und 3. Die Marker
können nach Belieben ausgetauscht werden, um die korrekte
Schadenssumme auf einem Charakter darzustellen. Sollten die
Schadensmarker zur Neige gehen, verwendet man einen Ersatz
oder notiert den Schaden auf einem Blatt Papier.</li>
<li>In der Regel wird Schaden, der innerhalb derselben Aktion zugefügt
wird, nicht gleichzeitig zugefügt, da ein Würfel nach dem anderen
abgehandelt wird. Ausnahmen gibt es nur, wenn ein Würfel
einen anderen modifiziert. In diesem Fall fügen mehrere Würfel
gleichzeitig Schaden zu.</li>
</ul>

<h3 id="besiegtecharaktere">Besiegte Charaktere</h3>

<p>Sobald ein Charakter Schaden in Höhe seiner Ausdauer hat, ist er
sofort besiegt. Alle seine Würfel (sowohl Charakter- als auch Aufwertungswürfel)
werden aus dem Spiel entfernt, seine Aufwertungen
werden abgelegt und seine Charakterkarte wird aus dem Spiel entfernt.</p>

<ul>
<li>Überschüssiger Schaden aus der Quelle, die den Charakter besiegt
hat, wird ignoriert. Ein Spieler kann einem Charakter mehr Schaden
zufügen, als dieser Ausdauer hat, selbst wenn der Spieler den
Schaden verteilen darf, wie er will (z. B. durch die Spezialfähigkeit
auf dem F&#8211;11D-Blastergewehr).</li>
<li>Sobald alle Charaktere eines Spielers besiegt sind, hat er das
Spiel verloren.</li>
</ul>

<h3 id="ressourcen">Ressourcen</h3>

<p>Ressourcen sind die Währung des Spiels und werden verwendet, um
für Karten, Kartenfähigkeiten und das Abhandeln von Würfeln zu
bezahlen. Wie viele Ressourcen einem Spieler aktuell zur Verfügung
stehen, wird durch seine Ressourcenmarker angezeigt. Sobald ein
Spieler Ressourcen erhält, nimmt er sich Marker aus dem Vorrat.
Sobald er Ressourcen ausgibt oder verliert, legt er sie in den
Vorrat zurück.</p>

<ul>
<li>Während der Auffrischphase erhält jeder Spieler 2 Ressourcen.</li>
<li>Sollte der Vorrat an Ressourcenmarkern zur Neige gehen, verwendet
man einen Ersatz oder notiert die Ressourcen auf einem
Blatt Papier.</li>
</ul>

<h3 id="schilde">Schilde</h3>

<p>Schilde blocken Schaden ab. Jeder Schild blockt 1 Schaden ab,
der dem Charakter zugefügt werden würde. Nachdem der Schaden
abgeblockt worden ist, wird der Schildmarker entfernt.</p>

<ul>
<li>Die Verwendung von Schilden ist nicht optional. Falls möglich,
müssen Schilde verwendet werden, um Schaden abzublocken.</li>
<li>Jeder Charakter kann maximal 3 Schilde gleichzeitig haben. Falls
ein Effekt einem Charakter mehr als 3 Schilde geben würde, werden
die überschüssigen Schilde ignoriert.</li>
<li>Falls der Vorrat an Schildmarkern zur Neige geht, verwendet man
einen Ersatz oder notiert die Schilde auf einem Blatt Papier.</li>
</ul>

<h3 id="ziehen">Ziehen</h3>

<p>Immer wenn ein Spieler eine Karte zieht, nimmt er die oberste Karte
seines Decks und fügt sie seiner Hand hinzu.</p>

<ul>
<li>Sobald ein Spieler mehrere Karten zieht, werden diese Karte
gleichzeitig
gezogen.</li>
<li>Falls ein Spieler nicht mehr so viele Karten in seinem Deck hat, wie
er ziehen soll, zieht er so viele der restlichen Karten wie möglich.
Kann er gar keine Karten ziehen, passiert nichts.</li>
</ul>

<h3 id="spielbereit">Spielbereit</h3>

<p>Eine Karte ist spielbereit, sobald sie sich in senkrechter Position
befindet. Spielbereite Karten können erschöpft (d. h. in waagerechte
Position gebracht) werden. Wird man angewiesen eine Karte
spielbereit zu machen, dreht man sie in die senkrechte Position.</p>

<ul>
<li>Eine Karte, die bereits spielbereit ist, kann nicht mehr spielbereit
gemacht werden.</li>
<li>Spielbereite Unterstützungen und Charaktere können zum
Aktivieren erschöpft werden. Spielbereite Aufwertungen können
nur durch Karteneffekte erschöpft werden.</li>
</ul>

<h3 id="erschöpft">Erschöpft</h3>

<p>Eine Karte ist erschöpft, sobald sie sich in waagerechter Position
befindet. Erschöpfte Karten können spielbereit gemacht (d. h. in
senkrechte Position gebracht) werden. Wird man angewiesen eine
Karte zu erschöpfen, dreht man sie in waagerechte Position.</p>

<ul>
<li>Ein Karte, die bereits erschöpft ist, kann nicht mehr
erschöpft werden.</li>
</ul>

<h1 id="teil7.fähigkeiten">Teil 7. Fähigkeiten</h1>

<p>Eine Fähigkeit ist ein spezieller Text, den eine Karte zum Spiel
beisteuert. Es gibt fünf Arten von Fähigkeiten: Aktionsfähigkeiten,
Beanspruchen-Fähigkeiten, andauernde Fähigkeiten, Spezialfähigkeiten
und ausgelöste Fähigkeiten. Außerdem gibt es Schlüsselwörter; das
sind Kürzel für Fähigkeiten, die auf mehreren Karten auftauchen.
Karten können mehr als 1 Fähigkeit haben; jede Fähigkeit hat ihren
eigenen Absatz im Kartentext.</p>

<p><em>Beispiel: Finn (<span class="icon-set-AW"></span>45) hat 2 verschiedene Fähigkeiten.</em></p>

<p>Eine Fähigkeit wird verwendbar, sobald ihre Karte ins Spiel kommt, und
bleibt verwendbar, solange die Karte im Spiel ist. Die Fähigkeiten
von</p>

<p>Ereignissen werden abgehandelt, sobald das Ereignis gespielt wird.
Eine Fähigkeit muss immer soweit wie möglich abgehandelt werden,
es sei denn, es kommt eine Form des Wortes „dürfen“ darin vor oder
der Spieler wird ausdrücklich vor eine Wahl gestellt. Spezialfähigkeiten
(<span class="icon-special"></span>) müssen zwangsweise abgehandelt werden, falls die entsprechende
Würfelseite abgehandelt wird.</p>

<h3 id="aktionsfähigkeiten">Aktionsfähigkeiten</h3>

<p>Auf manchen Unterstützungs-, Aufwertungs- und Charakterkarten sind
besondere Aktionen aufgeführt, die durch das fettgedruckte Stichwort
„<strong>Aktion</strong>“ eingeleitet werden. Um eine solche Fähigkeit abzuhandeln,
muss der Spieler während seines Zuges 1 Aktion ausgeben und dann
die Anweisungen der Karte befolgen.</p>

<p><em>Beispiel: Kontakte zur Unterwelt (<span class="icon-set-AW"></span>101) hat die Aktionsfähigkeit „Aktion – Erschöpfe diese Unterstützung, um 1 Ressource zu erhalten.“</em></p>

<h3 id="beanspruchen-fähigkeiten">Beanspruchen-Fähigkeiten</h3>

<p>Schlachtfelder haben Beanspruchen-Fähigkeiten, die durch das fettgedruckte
Stichwort „Beanspruchen“ eingeleitet werden. Diese Fähigkeiten
sind optional und dürfen von dem Spieler, der das Schlachtfeld
beansprucht, abgehandelt werden.</p>

<h3 id="andauerndefähigkeiten">Andauernde Fähigkeiten</h3>

<p>Alle Nicht-Schlüsselwort-Fähigkeiten, die keine Auslösebedingung
haben und nicht durch ein fettgedrucktes Stichwort (wie „Aktion“ oder
„Beanspruchen“) eingeleitet werden, sind andauernde Fähigkeiten.</p>

<p><em>Beispiel: Persönliche Eskorte (<span class="icon-set-AW"></span>78) hat die andauernde Fähigkeit: „Der aufgewertete Charakter hat das Schlüsselwort Beschützer.“</em></p>

<h3 id="spezialfähigkeiten">Spezialfähigkeiten</h3>

<p>Diese Fähigkeiten tauchen auf manchen Karten mit zugehörigen
Würfeln auf und werden durch das Symbol <span class="icon-special"></span> gekennzeichnet. Sobald
ein Würfel mit diesem Symbol abgehandelt wird, handelt man die
Spezialfähigkeit der zugehörigen Karte ab.</p>

<ul>
<li><p>Beim Abhandeln einer Spezialfähigkeit (<span class="icon-special"></span>) kann man nicht die
Spezialfähigkeit einer anderen Karte verwenden.</p></li>
<li><p>Falls ein Würfel in einen Pool geworfen wird, ohne dass seine Karte
im Spiel ist, bezieht sich die Spezialfähigkeit des Würfels trotzdem
auf die Spezialfähigkeit der zugehörigen Karte und kann, falls nötig,
wie gewohnt abgehandelt werden.</p>

<p><em>Beispiel: Ass im Ärmel (<span class="icon-set-AW"></span>92) besagt: „Lege eine gelbe Aufwertung von deiner Hand ab, um ihren Würfel zu werfen und in deinen Pool zu legen.“ Die Spezialfähigkeit dieser Aufwertung kann wie gewohnt abgehandelt werden, da der Würfel behandelt wird, als hätte er die Fähigkeit auf allen entsprechenden Seiten, egal ob die Karte im Spiel ist oder nicht.</em></p></li>
</ul>

<h3 id="ausgelöstefähigkeiten">Ausgelöste Fähigkeiten</h3>

<p>Eine ausgelöste Fähigkeit hat eine Auslösebedingung und einen Effekt.
Sobald die Auslösebedingung einer ausgelösten Fähigkeit eintritt,
wird die Fähigkeit abgehandelt. Es gibt zwei Arten von ausgelösten
Fähigkeiten: „Nachdem“- und „Bevor“-Fähigkeiten.</p>

<ul>
<li>Ausgelöste Fähigkeiten existieren unabhängig von ihrer Quelle.
Einmal ausgelöst wird die gesamte Fähigkeit abgehandelt, auch
wenn die Karte, auf der sie steht, das Spiel verlässt.</li>
</ul>

<h4 id="auslösebedingung">Auslösebedingung</h4>

<p>Eine Auslösebedingung gibt den genauen Zeitpunkt an, an dem eine
Fähigkeit verwendet werden kann, und wird entweder durch „nachdem“
oder „bevor“ eingeleitet. Eine Auslösebedingung entspricht einem
bestimmten Vorkommnis, das innerhalb des Spiels stattfindet.</p>

<p><em>Beispiel: Qui-Gon Jinn (<span class="icon-set-AW"></span>37) soll einen Schild erhalten. Dies ist die Auslösebedingung für seine Fähigkeit, die besagt: „Bevor dieser Charakter 1 oder mehrere Schilde erhält, darfst du 1 seiner Schilde entfernen, um einem Charakter 1 Schaden zuzufügen.“</em></p>

<h4 id="bevor-fähigkeiten">Bevor-Fähigkeiten</h4>

<p>Falls im Laufe des Spiels die Auslösebedingung einer Bevor-Fähigkeit
eintritt, wird die Fähigkeit sofort abgehandelt, bevor der Effekt der
Auslösebedingung weiter abgehandelt wird. Auf diese Weise können
Bevor-Fähigkeiten den Spielfluss unterbrechen.</p>

<p><em>Beispiel: Eins mit der Macht (<span class="icon-set-AW"></span>42) besagt: „Bevor der aufgewertete Charakter besiegt wird, wird diese Aufwertung für den Rest des Spiels zu einer Unterstützung.“ Die Auslösebedingung ist: „der aufgewertete Charakter wird besiegt“ und die Zeitangabe „bevor“ fordert dazu auf, den Rest des Effekts vor dem Abhandeln der Auslösebedingung abzuhandeln.</em></p>

<h4 id="nachdem-fähigkeiten">Nachdem-Fähigkeiten</h4>

<p>Falls im Laufe des Spiels die Auslösebedingung einer Nachdem-
Fähigkeit eintritt,
wird die Fähigkeit nach Abhandlung der Auslösebedingung
abgehandelt.
Anders als Bevor-Fähigkeiten unterbrechen
Nachdem-Fähigkeiten
nicht den Spielfluss, sondern kommen in eine
Warteschlange, bis sie mit Abhandeln an der Reihe sind.</p>

<p><em>Beispiel: Komlink (<span class="icon-set-AW"></span>61) besagt: „Nachdem du diese Aufwertung gespielt hast, darfst du beliebig viele deiner Würfel oder beliebig viele Würfel eines Gegners neu werfen.“ Der Effekt des Spielens der Karte muss vollständig abgehandelt (d. h. die Kosten bezahlt und ein Charakter zum Aufwerten gewählt) werden, erst dann wird die Nachdem-Fähigkeit abgehandelt.</em></p>

<h4 id="warteschlange">Warteschlange</h4>

<p>Nachdem-Fähigkeiten kommen in eine virtuelle Warteschlange, sobald
ihre Auslösebedingungen eingetreten sind. Dort warten sie, bis die
Auslösebedingung abgeschlossen ist. War die Auslösebedingung Teil
einer anderen Fähigkeit, wird die gesamte Fähigkeit abgeschlossen,
bevor die Nachdem-Fähigkeit abgehandelt wird. Fähigkeiten in
der Warteschlange werden in der Reihenfolge abgehandelt, in der
sie die Warteschlange betreten haben. Jede einzelne Fähigkeit
muss vollständig abgehandelt sein, bevor die nächste abgehandelt
werden kann. Falls während der Abhandlung einer Fähigkeit in der
Warteschlange eine weitere Fähigkeit hinzukommt, muss sie sich
„hinten anstellen“ und wird zuletzt abgehandelt.</p>

<ul>
<li>Fähigkeiten betreten und verlassen die Warteschlange in chronologischer
Reihenfolge. Wer sich zuerst anstellt, kommt auch als
Erster an die Reihe.</li>
<li>Haben 2 oder mehr Fähigkeiten dieselbe Auslösebedingung,
entscheidet der Spieler, der das Schlachtfeld kontrolliert, in welcher
Reihenfolge sie in die Warteschlange kommen.</li>
</ul>

<h4 id="gleichzeitigeintretendefähigkeiten">Gleichzeitig eintretende Fähigkeiten</h4>

<p>Sobald die Auslösebedingungen von zwei oder mehr ausgelösten
Fähigkeiten gleichzeitig
eintreten, entscheidet der Spieler, der diese
Fähigkeiten abhandelt, in welcher Reihenfolge sie abgehandelt werden
(bei Bevor-Fähigkeiten) oder in die Warteschlange kommen (bei Nachdem-
Fähigkeiten). Falls mehr als 1 Spieler gleichzeitig eintretende
Fähigkeiten hat, entscheidet der Spieler, der das Schlachtfeld
kontrolliert, in welcher Reihenfolge sie abgehandelt werden.</p>

<p><em>Beispiel: Ein Tuskenräuber (<span class="icon-set-AW"></span>22) wird aktiviert, während Jango Fett (<span class="icon-set-AW"></span>21) im Spiel ist. Die Karten werden von verschiedenen Spielern kontrolliert. Beide haben eine Nachdem-Fähigkeit, die nach der Aktivierung des Tuskenräubers abgehandelt werden kann. Der Spieler, der das Schlachtfeld kontrolliert, entscheidet, welche Fähigkeit zuerst in die Warteschlange kommt.</em></p>

<h3 id="schlüsselwörter">Schlüsselwörter</h3>

<p>Schlüsselwörter sind Kürzel und stehen für Fähigkeiten, die auf
mehreren Karten auftauchen.</p>

<ul>
<li>Eine Karte kann ein Schlüsselwort nicht mehrmals haben; entweder
sie hat das Schlüsselwort oder sie hat es nicht.</li>
<li>Falls eine Karte ein Schlüsselwort verliert, hat sie es nicht mehr,
egal wie oft sie es erhalten würde.</li>
</ul>

<h4 id="hinterhalt">Hinterhalt</h4>

<p>Nachdem eine Karte mit dem Schlüsselwort Hinterhalt gespielt
(und abgehandelt) worden ist, darf der Spieler sofort eine weitere
Aktion ausführen.</p>

<ul>
<li>Falls ein Spieler außerhalb seines Zuges eine Aktion ausführen darf,
tut er dies sofort.</li>
</ul>

<h4 id="beschützer">Beschützer</h4>

<p>Bevor ein Charakter mit dem Schlüsselwort Beschützer aktiviert wird,
darf sein Besitzer 1 Würfel, der Schaden (k oder j) zeigt, aus dem
Würfelpool seines Gegners entfernen, um dem aktivierten Beschützer-
Charakter Schaden in Höhe des gezeigten Wertes des entfernten
Würfels zuzufügen.</p>

<h4 id="verlegen">Verlegen</h4>

<p>Dieses Schlüsselwort taucht nur auf Aufwertungen auf. Nachdem der
aufgewertete Charakter besiegt worden ist, darf sein kontrollierender
Spieler diese Aufwertung sofort auf einen seiner anderen Charaktere
verschieben. Der Aufwertungswürfel wird ebenfalls auf die neue
Charakterkarte verschoben, auch wenn er im Würfelpool lag.</p>

<ul>
<li>Das Schlüsselwort Verlegen ignoriert Spielbeschränkungen, sobald
die Karte an einen neuen Charakter angelegt wird.</li>
</ul>

<h3 id="effekte">Effekte</h3>

<p>Ein Effekt ist all das, was aus einer Fähigkeit resultiert. Effekte dauern
so lange an, wie die Aktion, die sie beschreiben.</p>

<h4 id="verzögerteeffekte">Verzögerte Effekte</h4>

<p>Manche Fähigkeiten enthalten verzögerte Effekte. Sie geben einen
zukünftigen Zeitpunkt an oder nennen eine Bedingung, die in der
Zukunft eintreten könnte, und enthalten einen Effekt, der zu diesem
Zeitpunkt in Kraft tritt.</p>

<p><em>Beispiel: Gangsterboss (<span class="icon-set-AW"></span>23) besagt: „Gib 5 Ressourcen aus, um einen Charakter zu wählen. Nachdem diese Spielrunde beendet ist, wird der Charakter besiegt.“ Dass der Charakter besiegt wird, ist ein verzögerter Effekt, da er erst zu einem zukünftigen Zeitpunkt vollständig abgehandelt wird.</em></p>

<ul>
<li>Ein Ereignis mit einem verzögerten Effekt erschafft den Effekt und
wird dann abgelegt. Es bleibt nicht bis zur Abhandlung des Effekts
im Limbus.</li>
</ul>

<h4 id="ersatzeffekte">Ersatzeffekte</h4>

<p>Ein Ersatzeffekt enthält irgendwo in seinem Text das Wort „stattdessen“
oder „anstatt“. Wird ein Ersatzeffekt abgehandelt, gilt der
ursprüngliche Effekt als nicht abgehandelt und kann keine Fähigkeiten
auslösen. Dafür kann der Ersatzeffekt Fähigkeiten auslösen.</p>

<p><em>Beispiel: Zweite Chance (<span class="icon-set-AW"></span>137) besagt: „Bevor der aufgewertete Charakter besiegt werden würde, heile stattdessen 5 Schaden von ihm und lege diese Aufwertung aus dem Spiel ab.“ Da dieser Effekt verhindert, dass der Charakter besiegt wird, behandelt man ihn, als sei er nie besiegt worden.</em></p>

<p>•• Falls zwei oder mehr Ersatzeffekte dieselbe Sache ersetzen wollen,
entscheidet der Spieler, der das Schlachtfeld kontrolliert, welcher
davon abgehandelt wird. Der andere Ersatzeffekt wird nicht
abgehandelt, da die Sache, die er ersetzen würde, nicht mehr
existiert (sie wurde bereits ersetzt).</p>

<h4 id="selbstreferenzielleeffekte">Selbstreferenzielle Effekte</h4>

<p>Bezieht sich die Fähigkeit einer Karte auf ihre eigene Kartenart,
z. B. „diese Aufwertung“ oder „dieser Charakter“, bezieht sie sich nur
auf sich selbst und nicht auf andere Kopien der Karte (Karten mit
demselben Titel).</p>

<h4 id="negativeeffekte">Negative Effekte</h4>

<p>Negative Effekte haben Vorrang vor positiven Effekten. Falls ein Effekt
besagt, dass ein Spieler etwas nicht tun kann, dann kann er es nicht
tun, auch wenn ein anderer Effekt besagt, dass er es kann.</p>

<h4 id="„dann“-effekte">„Dann“-Effekte</h4>

<p>Ein Effekt, der das Wort „dann“ enthält, kann nur abgehandelt werden,
wenn die vorangehenden Effekte der Karte vollständig abgehandelt
wurden (d. h. der Spielstatus muss sich so verändert haben, dass er die
Intention des Effekts in ihrer Gesamtheit widerspiegelt). Wurde ein Teil
der Fähigkeit vor dem „dann“ nicht vollständig abgehandelt, setzt die
Abhandlung des Teils nach dem „dann“ gar nicht erst ein.</p>

<p><em>Beispiel: Schrott sammeln (<span class="icon-set-AW"></span>132) besagt: „Lege die obersten 3 Karten deines Decks ab. Dann darfst du eine Aufwertung oder Unterstützung aus deinem Ablagestapel deiner Hand hinzufügen.“ Falla du weniger als 3 Karten in deinem Deck hast, kannst du keine Karte deiner Hand hinzufügen, weil der vorangehende Effekt nicht vollständig abgehandelt worden ist.</em></p>

<h1 id="teil8.begriffe">Teil 8. Begriffe</h1>

<p>Es folgen Definitionen und Erklärungen wichtiger Begriffe, die jeder
Spieler kennen sollte. Sie sind in alphabetischer Reihenfolge sortiert.</p>

<h3 id="ansehen">Ansehen</h3>

<p>Manchmal darf man sich aufgrund eines Effekts die Karten auf der
Hand oder im Deck eines Spielers ansehen. Durch das Ansehen wird
die Position der Karten nicht verändert und nach dem Ansehen kehren
sie wieder an ihren Ausgangsort zurück.</p>

<h3 id="besitzer">Besitzer</h3>

<p>Der Besitzer einer Karte oder eines Würfels ist der Spieler, der
die Karte bzw. den Würfel zum Spiel mitgebracht hat. Ein Spieler
kann eine Karte oder einen Würfel besitzen und dennoch die
Kontrolle darüber verlieren (z. B. wenn sein Gegner das Schlacht-
feld beansprucht).</p>

<h3 id="charakterwürfel">Charakterwürfel</h3>

<p>Ein Charakterwürfel ist ein Würfel, der zu einem Charakter gehört.</p>

<ul>
<li>Aufwertungswürfel sind keine Charakterwürfel, obwohl sie beim
Aktivieren von Charakteren mitgeworfen werden.</li>
</ul>

<h3 id="gesamtwert">Gesamtwert</h3>

<p>Der Gesamtwert ist die Summe der gezeigten Werte aller Würfel,
die gemeint sind.</p>

<p><em>Beispiel: Der Gesamtwert zweier Würfel die Fernkampfschaden mit den Werten 2 und 1 zeigen, ist 3.</em></p>

<h3 id="drehenwürfel">Drehen (Würfel)</h3>

<p>Sobald ein Würfel auf eine Seite gedreht wird, dreht man ihn so,
dass die entsprechende Seite nach oben zeigt.</p>

<ul>
<li>Sobald ein Würfel gedreht wird, muss er auf eine andere Seite
gedreht werden. Es ist nicht erlaubt, einen Würfel auf die Seite
zu drehen, die schon vor der Drehung oben lag. (Hat der Würfel
mehrere Seiten mit gleichem Wert und Symbol, kann man ihn auf
eine identische Seite drehen.)</li>
</ul>

<h3 id="erhöhensteigen">Erhöhen/Steigen</h3>

<p>Effekte, die etwas erhöhen (oder durch die etwas steigt), gelten
nur für die Dauer des Effekts. Manche Effekte haben eine
andauernde Wirkung.</p>

<p><em>Beispiel: Gunst des Imperators (<span class="icon-set-AW"></span>88) besagt: „Dein Handkartenlimit steigt um 1“. Da bei diesem Effekt keine Dauer angegeben ist, wirkt die Erhöhung dauerhaft.</em></p>

<h3 id="kopieeinerkarte">Kopie (einer Karte)</h3>

<p>Zwei Kopien derselben Karte erkennt man daran, dass sie denselben
Titel haben. Jede weitere Karte mit diesem Titel gilt ebenfalls als
Kopie der Karte, ungeachtet ihrer Kartenart, ihres Textes, Bildes oder
anderer Charakteristika.</p>

<h3 id="günstigste">Günstigste</h3>

<p>Das Günstigste ist das Spielelement mit den geringsten Kosten.</p>

<ul>
<li>Alle Effekte, welche die Kosten modifizieren, werden
dabei mitberücksichtigt.</li>
</ul>

<h3 id="heilen">Heilen</h3>

<p>Sobald Schaden von einem Charakter geheilt wird, entfernt man
entsprechend viel Schaden von ihm.</p>

<ul>
<li>Es wird so viel Schaden wie möglich geheilt. Überschüssige Heilung
wird ignoriert.</li>
<li>Falls durch den Heilungseffekt kein Schaden entfernt wird, wird der
Charakter auch nicht behandelt, als hätte er Schaden geheilt.</li>
</ul>

<h3 id="kontrollierenderspieler">Kontrollierender Spieler</h3>

<p>Der kontrollierende Spieler einer Karte oder eines Würfels ist der
Spieler, der das Spielelement in seinem Spielbereich hat. In der Regel
kontrolliert man alle Karten und Würfel, die man besitzt.</p>

<h3 id="kostenlos">Kostenlos</h3>

<p>Sobald etwas kostenlos gespielt oder abgehandelt wird, bezahlt man
die Kosten der Karte bzw. des Würfels nicht.</p>

<h3 id="nicht-blockierbarerschaden">Nicht-Blockierbarer Schaden</h3>

<ul>
<li>Nicht-blockierbarer Schaden kann nicht durch Schilde oder Karteneffekte
abgeblockt werden. Ein Charakter, dem nicht-blockierbarer
Schaden zugefügt wird, behält alle seine Schilde.</li>
</ul>

<h3 id="schadenerleiden">Schaden Erleiden</h3>

<p>Schaden wird nur dann erlitten, wenn 1 oder mehrere Schadensmarker
auf einen Charakter gelegt werden. Wird der gesamte zugefügte Schaden
durch Schilde oder eine andere Fähigkeit abgeblockt, dann wird kein
Schaden erlitten.</p>

<ul>
<li><p>Schaden, der nicht erlitten wird, wurde trotzdem zugefügt.</p>

<p><em>Beispiel: Verschanzen (<span class="icon-set-AW"></span>164) besagt: „Lege diese Aufwertung ab, falls der aufgewertete Charakter Nahkampfschaden erleidet.“ Falls dem Charakter 2 Schaden zugefügt werden, diese aber durch 2 Schilde abgeblockt werden, erleidet er keinen Schaden und muss die Aufwertung nicht ablegen.</em></p></li>
</ul>

<h3 id="senkensinken">Senken/Sinken</h3>

<p>Effekte, die etwas senken (oder durch die etwas sinkt), gelten
nur für die Dauer des Effekts. Manche Effekte haben eine
andauernde Wirkung.</p>

<p><em>Beispiel: Es hält die Galaxis zusammen (<span class="icon-set-AW"></span>150) besagt: „Bevor du eine blaue Aufwertung spielst, darfst du diese Unterstützung erschöpfen, um die Kosten der Aufwertung um 1 zu senken.“ Dies wirkt nur während des Bezahlens der Kosten zum Spielen der Aufwertung; sobald sie gespielt ist, kehren die Kosten auf ihren Normalwert zurück, da die blaue Aufwertung nun gespielt ist.</em></p>

<h3 id="sichten">Sichten</h3>

<p>Bei manchen Karten muss man ein bestimmtes Spielelement sichten,
damit man ihre Fähigkeit verwenden kann. Um ein Spielelement zu
sichten, muss der Spieler das Element im Spiel haben. In den meisten
Fällen sichtet man einen Charakter einer bestimmten Farbe.</p>

<p><em>Beispiel: Nutze die Macht (<span class="icon-set-AW"></span>149) besagt: „Sichte einen blauen Charakter, um einen Würfel auf eine beliebige Seite zu drehen.“ Man muss einen nicht-besiegten blauen Charakter im Team haben, ansonsten geschieht nichts.</em></p>

<ul>
<li>Es ist nicht erlaubt, Karten oder Charaktere des Gegners zu sichten,
es sei denn, die Karte gestattet es ausdrücklich.</li>
<li>Falls ein Spieler nicht in der Lage ist, das erforderliche Element zu
sichten, dann macht die Karte nichts.</li>
</ul>

<h3 id="spielbeschränkungen">Spielbeschränkungen</h3>

<p>Spielbeschränkungen tauchen auf manchen Karten auf und sind an der
Verwendung des Wortes „nur“ zu erkennen. Man kann eine Karte nur
dann spielen, wenn man ihre Spielbeschränkungen erfüllt.</p>

<p>Auf manchen Aufwertungen steht: „Nur (blaue/rote/gelbe) Charaktere.“
Falls ein Spieler keinen Charakter dieser Farbe zum Aufwerten hat,
kann die Aufwertung nicht gespielt werden.</p>

<ul>
<li>Aufwertungen werden nicht vom aufgewerteten Charakter entfernt,
falls dieser die Spielbeschränkung nicht mehr erfüllt. Der Charakter
muss die Spielbeschränkung nur zum Zeitpunkt des Spielens der
Karte erfüllen.</li>
</ul>

<h3 id="verschieben">Verschieben</h3>

<p>Manche Effekte gestatten das Verschieben von Karten oder Markern.</p>

<ul>
<li>Sobald etwas verschoben wird, kann es nicht an seinen aktuellen
Standort verschoben werden. Falls es keinen gültigen Zielort gibt,
kann das Verschieben nicht abgehandelt werden.</li>
<li>Wenn Schaden auf einen anderen Charakter verschoben wird,
werden Schilde ignoriert und der Charakter wird nicht behandelt,
als hätte er Schaden erlitten.</li>
</ul>

<h3 id="wählenoptionen">Wählen (Optionen)</h3>

<p>Falls eine Fähigkeit mehrere Optionen zur Wahl stellt (z. B. „entweder
&#8230; oder &#8230;“), darf der Spieler, der die Fähigkeit verwendet, eine der
aufgeführten Optionen wählen, auch wenn die gewählte Option keinen
Effekt hat. Hat der Spieler einmal seine Wahl getroffen, muss er so viel
wie möglich davon abhandeln.</p>

<ul>
<li>Manche Karten zwingen einen Gegner zu einer Wahl. Auch der
Gegner kann eine beliebige Option wählen.</li>
</ul>

<h3 id="wählenziel">Wählen (Ziel)</h3>

<p>Ein Ziel ist eine Karte oder ein Würfel, auf den ein Effekt angewendet
wird. Eine Form des Wortes „wählen“ oder Wahl im Text einer Fähigkeit
gibt an, dass zur Abhandlung der Fähigkeit ein Ziel gewählt werden
muss. Der Spieler, der den Effekt abhandelt, muss ein Spielelement
wählen, das den Zielbeschränkungen der Fähigkeit entspricht.</p>

<ul>
<li>Beim Treffen der Wahl kann man keine ungültigen Ziele wählen,
z. B. kann man einem besiegten Charakter keinen Schaden zufügen.
Gibt es keine gültigen Ziele, dann macht die Karte nichts.</li>
<li>Falls ein Spieler mehrere Ziele wählen muss, werden sie alle
gleichzeitig
gewählt.</li>
<li>Ein Effekt mit „beliebig vielen“ oder einer „beliebigen Anzahl/
Zahl“ an Zielen kann auch bei der Wahl von null Zielen erfolgreich
abgehandelt werden, auch wenn der Effekt dann möglicherweise
wirkungslos ist.</li>
</ul>

<h3 id="würfelentfernen">Würfel entfernen</h3>

<p>Wird ein Würfel aus einem Würfelpool entfernt, verschiebt man ihn
zurück auf seine zugehörige Karte.</p>

<ul>
<li>Ein Würfel kann nicht entfernt werden, es sei denn, er liegt im
Würfelpool eines Spielers.</li>
<li>Falls Würfel mit einem bestimmten Symbol entfernt werden müssen,
um einen Effekt auszulösen, dann spielt es keine Rolle, ob dieser
Würfel gerade abgehandelt werden kann oder nicht. Symbole, die
Modifikatoren sind oder Ressourcen kosten, zählen trotzdem als
dieses Symbol.</li>
</ul>

<h3 id="xalsvariable">X als Variable</h3>

<p>Manche Karten verwenden die Variable X. Diese steht immer
für eine Zahl, die im Kartentext näher definiert ist und hat
keinen Standardwert.</p>

<h3 id="zeigen">Zeigen</h3>

<p>Die gezeigte Seite eines Würfels ist die Seite, die oben liegt, nachdem
der Würfel in einen Würfelpool geworfen wurde.</p>

<ul>
<li>Verlangt eine Karte, dass ein Würfel ein bestimmtes Symbol
zeigt, kann man sich nicht auf Würfelseiten beziehen, die nicht
oben liegen.</li>
<li>Effekte, die sich auf einen Würfel beziehen, der ein bestimmtes
Symbol zeigt, funktionieren mit allen Seiten, die dieses Symbol
zeigen, auch wenn es Modifikatoren sind.</li>
<li>Würfel, die auf Karten liegen, zeigen keine Werte oder Symbole.
Erst nachdem ein Würfel in einen Würfelpool geworfen wurde,
hat er eine obenliegende Seite und zeigt Werte und Symbole.</li>
</ul>

<h1 id="teil9.mehrspielerregeln">Teil 9. Mehrspielerregeln</h1>

<p>Star Wars: Destiny kann nicht nur zu zweit gespielt werden; auch
Mehrspielerpartien mit mehreren Gegnern sind möglich. Dabei gibt
es nur ein offizielles Spielformat: Jeder gegen jeden.</p>

<h3 id="jedergegenjeden">Jeder gegen jeden</h3>

<p>Beim Mehrspielerformat „Jeder gegen jeden“ können beliebig viele
Spieler teilnehmen, wobei 3–4 Spieler die empfohlene Anzahl ist. In
Mehrspielerpartien gelten die normalen Spielregeln mit folgenden
Ausnahmen und Ergänzungen.</p>

<h4 id="aufbau">Aufbau</h4>

<p>Um das Spiel aufzubauen, führt man folgende Schritte der Reihe
nach durch:</p>

<ol>
<li>Den Spielern werden zufällige Sitzplätze zugewiesen.</li>
<li>Alle Spieler würfeln um das Schlachtfeld. Der Spieler mit dem
höchsten Gesamtwert gewinnt den konkurrierenden Wurf und wählt
ein Schlachtfeld, das in dieser Partie verwendet wird. Jeder andere
Spieler bekommt 1 Schild, das er einem seiner Charaktere gibt, und
legt sein Schlachtfeld beiseite. Im Falle eines Gleichstands würfeln nur
die am Gleichstand beteiligten Spieler erneut.</li>
</ol>

<h4 id="aktionen">Aktionen</h4>

<p>Beginnend mit dem Spieler, der das Schlachtfeld kontrolliert,
kommen die Spieler der Reihe nach im Uhrzeigersinn zum Zug
und führen Aktionen aus. Erst wenn alle Spieler nacheinander
gepasst haben, endet die Runde. Pro Runde kann nur 1 Spieler
das Schlachtfeld
beanspruchen.</p>

<h4 id="gegnerwählen">Gegner Wählen</h4>

<p>Sobald sich eine Fähigkeit auf einen Gegner bezieht, entscheidet
der Spieler, der die Fähigkeit verwendet, welchen Gegner die
Fähigkeit betrifft.</p>

<h4 id="ausdemspielausscheiden">Aus dem Spiel Ausscheiden</h4>

<p>Falls alle Charaktere eines Spielers besiegt sind oder er am Ende der
Runde keine Karten mehr auf seiner Hand und in seinem Deck hat,
scheidet er sofort aus dem Spiel aus. Alle seine Karten und Würfel
werden aus dem Spiel entfernt, mit Ausnahme von Karten, die er nicht
mehr kontrolliert, und seinem Schlachtfeld (falls es verwendet wird).
Die Anderen spielen ohne ihn weiter, bis nur noch ein Spieler übrig ist;
dieser gewinnt das Spiel.</p>
