<h2 id="thegoldenrule">The Golden Rule</h2>

<p>If the text of a card directly contradicts the rules of the
game, the text of the card takes precedence. If you can
follow both the rules of the game and the text of the
card, do so.</p>

<h1 id="part1.cardtypescolors">Part 1. Card types &amp; colors</h1>

<p>All cards may have the following components: affiliation,
color, type, title, ability, uniqueness, flavor, identification,
rarity, and dice reference.</p>

<h3 id="affiliation">Affiliation</h3>

<p>There are three different affiliations: hero, villain, and neutral.
The affiliation of each card is written on the bottom of
the card.</p>

<h3 id="colors">Colors</h3>

<p>Each card is associated with a specific color and is written on
the bottom of the card.</p>

<ul>
<li>Red is Command and represents military and logistical
endeavors and characters.</li>
<li>Blue is Force and represents characters trained in using the
Force and their varied abilities.</li>
<li>Yellow is Rogue and represents scum, villainy, spies,
and smugglers.</li>
<li>Gray is General and represents everything that does not fall
under one of the other three colors.</li>
</ul>

<h3 id="typesubtype">Type &amp; Subtype</h3>

<p>Each card is one of six types: battlefield, character, event,
upgrade, support, or plot. The type is listed above a card’s abilities,
except on battlefields, where it does not appear. Some cards have one
or more subtypes listed after the type.</p>

<h3 id="title">Title</h3>

<p>A card’s title is used to identify and describe what it
represents in the Star Wars universe.</p>

<h3 id="abilities">Abilities</h3>

<p>Most cards have one or more abilities listed on them.</p>

<h3 id="uniqueness">Uniqueness</h3>

<p>Each card is either unique or non-unique. Unique cards are
marked by a diamond (<span class="icon-unique"></span>) before
their titles. All other cards are non-unique.</p>

<p>A player cannot have more than one copy of a unique card
in play at the same time. There cannot be more than one
copy of a unique character on a team, and a player cannot
play a unique support or unique upgrade if they already have
another copy of that card in play.</p>

<ul>
<li><p>The unique restriction applies to each player individually.
Players can each have one copy of a unique card in play at
the same time.</p></li>
<li><p>If a player ever controls more than one copy of a unique
card, then they must immediately discard one of those
cards from play.</p></li>
<li><p>The unique restriction does not apply to dice. A player can
have multiples of the same dice in play at the same time.</p></li>
<li><p>Characters with the same title but a different subtitle
are still considered to be the same character for
determining uniqueness.</p>

<p><em>Example: A player cannot use Darth Vader, Sith Lord and Darth Vader, Dark Apprentice on the same team.</em></p></li>
</ul>

<h3 id="flavor">Flavor</h3>

<p>Flavor text has no in-game application when present.</p>

<h3 id="id_card">Identification (ID)</h3>

<p>A card’s identification contains the set symbol (Awakenings’
set symbol is <span class="icon-set-aw"></span>) followed by
a number. These help identify the cards and match them to dice.</p>

<h3 id="rarity_card">Rarity</h3>

<p>There are five levels of rarity. The rarity of a card is shown by
a color behind the collector’s info. A die that comes with a
card shares its rarity with that card.</p>

<ul>
<li><span class="fg-rarity-S icon-collectors"></span> Fixed (Gray):
Fixed cards have a non-random distribution and always come in the same product.</li>
<li><span class="fg-rarity-C icon-collectors"></span> Common (Blue): There are three common cards per
booster pack.</li>
<li><span class="fg-rarity-U icon-collectors"></span> Uncommon (Yellow): There is one uncommon card
per booster pack.</li>
<li><span class="fg-rarity-G icon-collectors"></span> Rare (Green): There is one rare card and its matching
die per booster pack.</li>
<li><span class="fg-rarity-L icon-collectors"></span> Legendary (Purple): One in six booster packs has its rare
card and die replaced by a legendary card and its die.</li>
</ul>

<h3 id="dicereferences">Dice references</h3>

<p>A card that comes with a die has reference boxes that show
all six sides of that die.</p>

<h3 id="battlefields">Battlefields</h3>

<p>Battlefields represent various locations that players face-off
in. One battlefield is chosen at the beginning of the game,
and the other battlefield is not used.</p>

<ul>
<li>One player at a time controls the battlefield, and places it
next to their deck, either because they started the game
with it or were the last person to claim it.</li>
<li>Battlefields have claim abilities on them. These abilities may
be resolved when the Claim the Battlefield action is taken.</li>
<li>The player who controls the battlefield takes the first action
each round.</li>
<li>All battlefields are considered to be gray.</li>
</ul>

<h4 id="subtitlealsoappearsoncharacters">Subtitle (also appears on characters)</h4>

<p>A subtitle defines the location or planet of a battlefield,
and helps distinguish different versions of characters from
each other.</p>

<h3 id="plots">Plots</h3>

<p>Plots represent various schemes and strategies that players
can begin the game with. Players may optionally select one
plot (but no more than one) when building their team. Each
plot has a point value that counts toward the 30 point limit,
just like characters. Plots start the game in play and remain
in play.</p>

<ul>
<li>A hero or villain plot can only be selected if there is a
character of that affiliation on a player’s team. A Blue, Red,
or Yellow plot can only be selected if there is a character of
that color on a player’s team.</li>
</ul>

<h4 id="pointvalue">Point value</h4>

<p>A card’s point value is how many points it costs to include it
on a team.</p>

<h3 id="characters">Characters</h3>

<p>Characters represent notable individuals in the Star Wars
universe. Each player spends up to 30 points on characters
during customization. Characters start the game in play and
remain in play until defeated. Each character has one or two
dice that is rolled when that character is activated.</p>

<h4 id="health">Health</h4>

<p>A character’s health is how much damage it can take before
being defeated.</p>

<h4 id="pointvalues">Point value(s)</h4>

<p>A character’s point value(s) is how many points it costs
to include it in a team. If there are two values, then the
smaller value is how many points it costs to use one of that
character’s dice, and the larger value is how many points it
costs to use two of that die. A character with two of its dice is
called an elite character.</p>

<h3 id="events">Events</h3>

<p>Events represent tactical actions, schemes, twists of fate, and
other unexpected developments that might occur during the
game. When a player plays an event, they
follow the card’s instructions and then
discard it to their discard pile.</p>

<ul>
<li>When an event is played, it is considered
to be in limbo (see “<a href="#limbo">Limbo</a>”)
until it is fully resolved.</li>
<li>Provided any play restrictions (see “<a href="#playrestrictions">Play Restrictions</a>”) are met, a player can play an event even if the
event has no effect.</li>
</ul>

<h4 id="costalsoappearsonsupportsandupgrades">Cost (also appears on supports and upgrades)</h4>

<p>The cost of a card is listed in the upper-left hand corner of the
card. A player must spend resources equal to the cost of a
card in order to play it.</p>

<h3 id="supports">Supports</h3>

<p>Support cards represent various vehicles, connections, and
logistical aid. When a player plays a support card, they place
it faceup in their play area, next to or behind their characters.
Supports have repeatable or ongoing effects and stay in play
unless an effect or ability discards them.</p>

<ul>
<li>Support cards cannot take damage.</li>
<li>If a support has a die, that die is rolled when the support
is activated.</li>
<li>There is no limit to the number of supports a player
can have.</li>
</ul>

<h4 id="subtypesalsoappearsoncharactersandupgrades">Subtypes (also appears on characters and upgrades)</h4>

<p>Some cards have subtypes listed after
the card’s type, such as “Vehicle” or
“Weapon.” Subtypes have no inherent
rules associated with them, but other
cards may reference them.</p>

<ul>
<li>When a card refers to a subtype in its
text, the subtype is bold.</li>
</ul>

<h3 id="upgrades">Upgrades</h3>

<p>Upgrades represent weapons, gear, and abilities that
characters have at their disposal. When a player plays an
upgrade, they attach it faceup to one of their characters. A
player may discard an upgrade already on that character
to reduce the cost of the new upgrade by the cost of the
discarded one. Upgrades have repeatable or ongoing abilities
and stay in play unless an effect or ability discards them, or
the character they are attached to is defeated.</p>

<ul>
<li>Each character cannot have more than 3 upgrades. If a
character ever has more than 3 upgrades, the player who
controls it must choose and discard upgrades from it until
it only has 3.</li>
<li>The color of a character and its upgrades do not have
to match. A character can have an upgrade that does
not match its color, provided all deckbuilding and play
restrictions were followed.</li>
<li>There is no limit to the number of <strong>weapons</strong>, <strong>equipment</strong>, or
<strong>abilities</strong> a character can have as part of its 3 upgrades.</li>
<li>A character can have multiple copies of the same
non-unique upgrade.</li>
<li>If an upgrade has a die, that die is rolled when the attached
character is activated. It does not matter if the upgrade
is ready or exhausted, and the upgrade does not exhaust
along with the character.</li>
</ul>

<h1 id="part2.dicedicesymbols">Part 2. Dice &amp; dice symbols</h1>

<p>The game uses six-sided, premium dice. All dice may have
the following components: value, symbol, cost, modifier,
identification, and rarity.</p>

<h3 id="value">Value</h3>

<p>The value is a number that is listed above the symbol.</p>

<ul>
<li>Blanks and specials have no value printed on the die, and
are considered to have a value of 0.</li>
</ul>

<h3 id="symbol" class="new">Symbol</h3>

<p>Each side of a die <span class="new">may have</span> a symbol on it. When a die is resolved,
an effect is carried out based on the symbol that is showing
on the die.</p>

<ul>
<li class="new">Some dice have one or more sides with no symbol, such as Lure of
Power (<span class="icon-set-SoR"></span> 16).</li>
</ul>

<h3 id="cost">Cost</h3>

<p>Some dice have a cost, listed in a yellow box at the bottom of
the side. A player must spend resources equal to the cost of
the die side in order to resolve it. If they cannot pay the cost,
they cannot resolve that die’s side.</p>

<h3 id="modifier">Modifier</h3>

<p>Some dice have one or more blue sides with a plus sign (+)
before the value. Sides with a plus can only be resolved at
the same time as another die that shows the same symbol
without a plus. While resolving, the plus value is added to the
other die to create a new value.</p>

<p><em>Example: You roll a <em><strong>+2 <span class="icon-ranged"></span></strong></em> symbol. You also roll a <em><strong>1 <span class="icon-ranged"></span></strong></em> symbol,so you can resolve the <em><strong>+2 <span class="icon-ranged"></span></strong></em> along with the <em><strong>1 <span class="icon-ranged"></span></strong></em> for 3 ranged damage dealt to any one character. If you had not rolled the <em><strong>1 <span class="icon-ranged"></span></strong></em>, or had already spent it, you could not have resolved the <em><strong>+2 <span class="icon-ranged"></span></strong></em> die.</em></p>

<ul>
<li>A modifier cannot be resolved by itself.</li>
</ul>

<h3 id="id_die">Identification (ID)</h3>

<p>The identification contains the set symbol followed by a
number. Each ID matches a corresponding card.</p>

<h3 id="rarity_die">Rarity</h3>

<p>The rarity of a die matches the rarity of its card (see “<a href="#rarity_card">Rarity</a>”).</p>

<h3 id="dicesymbols">Dice symbols</h3>

<p>Activating various cards rolls dice into a player’s dice pool.
The dice can then be resolved for their symbols’ effect
as a later action. Each symbol has a different effect, as
described below. Most symbols have a value above them that
determines the scale of the effect.</p>

<h4 id="melee_symbol"><span class="icon-melee"></span> Melee damage</h4>

<p>Deals damage to a character equal to the value of the symbol.</p>

<ul>
<li>All damage must be dealt to a single character. A player
cannot split the damage from a single die (or a die that
has been modified) among different characters. When
resolving multiple dice in the same action, each die can
deal damage to a different character.</li>
</ul>

<h4 id="ranged_symbol"><span class="icon-range"></span> Ranged damage</h4>

<p>Deals damage to a character equal to the value of the symbol.</p>

<ul>
<li>All damage must be dealt to a single character. A player
cannot split the damage from a single die (or a die that
has been modified) among different characters. When
resolving multiple dice in the same action, each die can
deal damage to a different character.</li>
</ul>

<h4 id="indirect_symbol"><span class="icon-indirect"></span> <span class="new">Indirect damage</span></h4>

<p class="new">Deals damage to an opponent’s character(s) equal to the
value of the symbol, distributed as that opponent wishes.</p>

<ul>
<li>All damage can be split among multiple characters.</li>
</ul>

<h4 id="shield_symbol"><span class="icon-shield"></span> Shield</h4>

<p>Gives a character shields equal to the value of the symbol.</p>

<ul>
<li>All shields must be given to a single character. A player
cannot split the shields from a single die (or a die that has
been modified) among different characters. When resolving
multiple dice in the same action, each die can give shields
to a different character.</li>
<li>A character cannot have more than 3 shields. Any excess
shields that would be given to the character are ignored.</li>
</ul>

<h4 id="resource_symbol"><span class="icon-resource"></span> Resource</h4>

<p>Gains resources equal to the value of the symbol.</p>

<h4 id="disrupt_symbol"><span class="icon-disrupt"></span> Disrupt</h4>

<p>Forces an opponent to lose resources equal to the value of
the symbol.</p>

<ul>
<li>If an opponent does not have as many resources as
the value of the symbol, then they lose all of their
remaining resources.</li>
<li>The opponent cannot lose resources they don’t have; a
player cannot have fewer than zero resources.</li>
</ul>

<h4 id="discard_symbol"><span class="icon-discard"></span> Discard</h4>

<p>Discards random cards from an opponent’s hand equal to the
value of the symbol.</p>

<ul>
<li>If an opponent does not have as many cards in hand as
the value of the symbol, then they discard all of their
remaining cards.</li>
</ul>

<h4 id="focus_symbol"><span class="icon-focus"></span> Focus</h4>

<p>Turns a number of other dice in the player’s dice pool to the
sides of their choice. The number of dice they turn is equal to
or less than the value of the symbol.</p>

<ul>
<li>A player cannot turn their opponent’s dice.</li>
</ul>

<h4 id="special_symbol"><span class="icon-special"></span> Special</h4>

<p>Uses the special ability marked by a <span class="icon-special"></span>
symbol on that die’s card. Specials have a value of 0.</p>

<ul>
<li>A player cannot use the special ability on a different card;
they must use the special ability on the die’s matching card.</li>
<li>Just like other symbols, a player can use multiple special
abilities during the same action, and chooses the order
that they are resolved in.</li>
<li>A special ability that rerolls its die cannot be resolved a
second time during the same action.</li>
</ul>

<h4 id="blank_symbol"><span class="icon-blank"></span> Blank</h4>

<p>Blank symbols have no effect and cannot be resolved. Blanks
have a value of 0.</p>

<h3 id="resolvingdicethroughcards">Resolving dice through cards</h3>

<p>Many cards allow a player to resolve one or more dice.
When a player resolves a die through a card, they use the
normal die effect based on the symbol, and follow any
extra instructions.</p>

<ul>
<li>A player must still pay any resource cost on that die.</li>
<li>A player cannot resolve a modifier by itself.</li>
<li>A player cannot use modifiers when resolving a die through
a card effect, unless the card allows them to resolve
multiple dice of the same symbol.</li>
</ul>

<h3 id="diceleavingplay">Dice leaving play</h3>

<ul>
<li>If a card with a matching die leaves play, the matching die
is also immediately removed from the game and set aside.
The removed die can enter the game again at a later time,
if its card enters play again</li>
<li>If a player has two copies of the same upgrade on a
character, and both of those upgrade dice are in their
dice pool when they have to discard an upgrade from
play, the player can choose which die to remove and set
aside. If a player has two copies of the same upgrade on
different characters (one upgrade on each character),
they must make sure to track each die separately.</li>
</ul>

<h1 id="part3.areasofplay">Part 3. Areas of play</h1>

<p>Each player has their own areas of play. These areas are
either in play or out-of-play.</p>

<h3 id="inplay">In play</h3>

<h4 id="charactersplotsplayedcards">Characters, plots &amp; played cards</h4>

<p>After an upgrade or support is played, it is added to the play
area and is in play. Characters and plots also start the game in play,
and remain there until defeated. Events are never in play;
they are played, resolved, and discarded without entering the
play area.</p>

<ul>
<li>The abilities on cards in play can be used.</li>
<li>A card enters play when it transitions from an out-of-play
area to the in play area.</li>
<li>“From play” is short for “from the in play area.”</li>
</ul>

<h4 id="dicepool">Dice pool</h4>

<p>This is where dice are rolled. Each player has their own dice
pool. Dice are always placed on their matching cards when
not in a dice pool.</p>

<ul>
<li>A player can only resolve dice in their own dice pool.</li>
<li>Dice in a player’s dice pool can be manipulated (removed,
turned, etc.) or used as a reference for card effects that
require a specific side to be showing.</li>
</ul>

<h4 id="resources">Resources</h4>

<p>A player’s resources are kept next to their cards.</p>

<ul>
<li>The number of resources a player has is open information.</li>
</ul>

<h4 id="battlefieldifcontrolled">Battlefield (if controlled)</h4>

<p>If a player controls the battlefield, it kept in their in play area.</p>

<h3 id="out-of-play">Out-of-play</h3>

<p>Cards in a player’s hand, deck, and discard pile are out of play
and their abilities cannot be used until they are played.</p>

<ul>
<li>A card leaves play when it transitions from the play area to
an out-of-play area.</li>
</ul>

<h4 id="hand">Hand</h4>

<p>Each player has a hand of cards. As an action, they are
able to play cards from their hand by paying the cards’
resource costs.</p>

<ul>
<li>Each player has a hand size. A player’s hand size
determines how many cards they draw up to during the
upkeep phase (after discarding any cards they want). The
default hand size is 5 cards. A player does not have to
discard cards when they have more than their hand size.</li>
<li>The number of cards in a player’s hand is open
information, but the actual cards in it are hidden from a
player’s opponent.</li>
<li>A player cannot have a card their opponent owns in
their hand.</li>
</ul>

<h4 id="deck">Deck</h4>

<p>Each player brings a deck of 30 cards to the game. During the
game, the deck refers to the stack of facedown cards a player
has not drawn yet.</p>

<ul>
<li>After being shuffled, the deck is kept with the cards
facedown, and players cannot look through it or change its
order except through game abilities.</li>
<li>The number of cards left in a player’s deck is
open information.</li>
<li>A player cannot have a card their opponent owns in
their deck.</li>
</ul>

<h4 id="discardpile">Discard pile</h4>

<p>The discard pile is a faceup pile near a player’s deck where
they place their discarded cards.</p>

<ul>
<li>The cards in a discard pile are open information. All
players can look through any player’s discard pile whenever
they wish.</li>
<li>The order of the discard pile is irrelevant. A player can
adjust the order of the cards in their discard pile whenever
they wish.</li>
</ul>

<h4 id="limbo">Limbo</h4>

<p>When an event is played, it is placed faceup on the table and
is in limbo. It is no longer in the player’s hand. Once the event
resolves, it goes to the discard pile.</p>

<ul>
<li>The event does not enter play, but it is considered to have
been played.</li>
</ul>

<h4 id="diceoncards">Dice on cards</h4>

<p>When dice are not in a dice pool, they are placed on their
matching card.</p>

<ul>
<li>These dice are not active, cannot be manipulated, and none
of their sides are considered to be showing.</li>
</ul>

<h4 id="set-asidedice">Set-aside dice</h4>

<p>At the beginning of the game, some dice are set aside. These
are dice that can enter play via cards. Players may hide these
dice from their opponent using a tray or a dice bag.</p>

<h4 id="supply">Supply</h4>

<p>This is where the various game tokens are placed. All tokens
are taken from the supply when gained (resources), dealt
(damage), or given (shields). All tokens are returned to the
supply when spent (resources), lost (resources), healed
(damage) or removed (shields). If players run out of tokens,
they should find a proper proxy.</p>

<h1 id="part4.customization">Part 4. Customization</h1>

<p>Customization happens before playing a game. Players can
experience the game in new ways by developing one-of-a-kind
strategies and combinations.</p>

<h3 id="1.buildingateam">1. Building a team</h3>

<p>To build a team, a player chooses up to 30 points
of characters and up to one plot.</p>

<ul>
<li>Hero and villain characters cannot be on the same team. Neutral
characters can be on any team.</li>
<li>A player can select only one copy of each unique (<span class="icon-unique"></span>)
character, but they can select any number of copies of nonunique
characters. When selecting a unique character, the
player must choose whether to use the elite (larger point
value, two dice) or non-elite (smaller point value, one die)
version of that character.</li>
<li>A player must choose at least one character.</li>
<li>There are no restrictions based on a character’s color. A
player may include characters of the same color or different
colors on their team.</li>
</ul>

<h3 id="2.buildingadeck">2. Building a deck</h3>

<ul>
<li>A deck includes exactly 30 cards. The deck cannot include more
than 2 copies of the same card.</li>
<li>If a team has hero characters, its deck cannot contain villain
cards. If a team has villain characters, its deck cannot contain
hero cards. If a team has all neutral characters, its deck cannot
contain hero or villain cards. Neutral cards can be included in any deck.</li>
<li>Blue, Red, and Yellow cards can only be included in the
deck if the team includes a character of the corresponding
color. Gray cards can be included in any deck.</li>
<li>A deck can contain events, upgrades, and support.
Characters, plots, and battlefields are not included in a deck and do
not count toward its 30 card limit.</li>
</ul>

<h3 id="3.selectingabattlefield">3. Selecting a battlefield</h3>

<p>In addition to characters and a deck, a player selects one
battlefield to bring with them to the game.</p>

<p><em>Example: A player chooses the elite version of Leia Organa (<span class="icon-set-AW"></span>28) for 16 points, and the non-elite version of Han Solo (<span class="icon-set-AW"></span>46) for 14 points. Their two characters are a combined 30 points, which is the most points there can be on a team.</em></p>

<p><em>Since Leia Organa and Han Solo are hero characters, the
player cannot use villain cards in their deck. They can also
not include Blue cards, since they did not choose a Blue
character. The player selects 30 Red, Yellow, and Gray cards
to add to their deck. They decide to take at least 10 cards
that have dice, as it is important to draw and play cards that
provide dice.</em></p>

<p><em>Finally, the player selects Rebel War Room (<span class="icon-set-AW"></span>171)
as their battlefield. If chosen during setup, this will allow them to
use their dice with resource costs, like Han Solo’s 3 ranged
damage side, for free.</em></p>

<h1 id="part5.gamestructure">Part 5. Game structure</h1>

<p>The game is a fast-paced, back-and-forth battle where players
alternate taking actions.</p>

<h3 id="setup">Setup</h3>

<p>To set up the game, follow these steps in order:</p>

<ol>
<li>Each player places their character and plot cards faceup in front of
them, along with those character’s matching dice.</li>
<li>Each player sets aside their battlefield faceup.</li>
<li>Each player shuffles their 30-card deck and draws 5 cards
from it.</li>
<li>Each player shuffles any number of cards from their hand
back into their deck, and then redraws until they have 5
cards in hand.

<ul>
<li>Players should try and choose their cards simultaneously.
If there is a disagreement over who chooses their cards
first, then randomly determine a player to choose first.</li>
</ul></li>
<li>Players sort the various game tokens (damage, shields, and
resources) into piles near the play area. Each player gains
2 resources from this supply.</li>
<li>Players roll their starting character dice and add up the
values rolled (the white numbers). If there is a tie, they
roll again. The player with the highest total chooses which
battlefield to fight on. The player whose battlefield is
being used controls the battlefield and places it next to
their deck. The player whose battlefield is not being used
removes their battlefield from the game and gives 2 shields
to their characters, distributed as they wish. After rolling,
return all character dice to their matching cards.</li>
<li>&#8220;After setup&#8221; abilities trigger.</li>
</ol>

<h3 id="rounds">Rounds</h3>

<p>Each game is played over a series of rounds. Each round has
two different phases: an action phase and an upkeep phase.</p>

<h4 id="actionphase">Action phase</h4>

<p>During the action phase, players alternate taking turns. The
player who controls the battlefield takes the first turn. When
it is a player’s turn, they can perform one action or pass.
When both players pass consecutively, the action phase ends
and play proceeds to the upkeep phase.</p>

<h4 id="upkeepphase">Upkeep phase</h4>

<p>During the upkeep phase, each player does the following:</p>

<ol>
<li>Readies their exhausted cards.</li>
<li>Returns all of the dice still in their dice pool to their
matching cards.</li>
<li>Gains 2 resources.</li>
<li>Discards any number of cards from their hand, and then
draws up until they have cards in hand equal to their
hand size.

<ul>
<li>If, after discarding, a player has cards in their hand equal to
or greater than their hand size, they do not draw any cards.</li>
<li>If a player does not have enough cards left to draw up to
their hand size, they draw as many cards as they can.</li>
</ul></li>
</ol>

<h3 id="actions">Actions</h3>

<p>Actions are taken by a player whenever it is their turn. On a
player’s turn, they must take an action or pass. The different
actions are listed below and described in detail later:</p>

<ul>
<li>Play a card from hand</li>
<li>Activate a character or support</li>
<li>Resolve dice</li>
<li>Discard a card to reroll dice</li>
<li>Use a card action (including a power action)</li>
<li>Claim the battlefield</li>
</ul>

<p>When a player is allowed to take additional actions on their
turn, they must immediately take them following the resolution
of the current action or decline to act (this is not the same as
passing your turn). They cannot save the actions for later. If
they are allowed to take an action outside of their turn, they
also must take it immediately or decline to act.</p>

<h4 id="playacardfromhand">Play a card from hand</h4>

<p>Before a player plays a card, they should first check to see
if there are any play restrictions on the card. If there are,
and those conditions are not met, then the card cannot be
played. <span class="new">If playing an upgrade, choose a character it can be
attached to.</span></p>

<p>If there are no restrictions, or all restrictions to play the card
are met, then the player must pay resources equal to the
card’s cost. If they do not have enough resources to pay, then
the card cannot be played.</p>

<p>Once a card’s cost has been paid, the card is resolved based
on its type.</p>

<ul>
<li><strong>Playing an Event</strong>: The player follows the card’s instructions
and then discards it. The card is in limbo while resolving.</li>
<li><strong>Playing an Upgrade</strong>: The <span class="new">upgrade is attached to the
chosen</span> character by placing it next to or below that
character.

<ul>
<li>Once per round, before paying the cost to play an
upgrade, the player can choose to replace an upgrade
that is already on the chosen character. The cost to play
the new upgrade is decreased by the cost of the old
upgrade, and the old upgrade is discarded when the new
one comes into play. If the old upgrade costs equal to or
more than the one replacing it, then the new upgrade
is free.</li>
<li>Most upgrades come with a die. When they are played,
the player takes the matching die from their set-aside
dice and places it on the upgrade (or, for ease of use,
they can also place it on that character instead since it is
rolled along with the character’s dice).</li>
</ul></li>
<li><strong>Playing a Support</strong>: The player places the card on the table
below their team. Some supports also have a die that
comes with them. When they are played, the player takes
the matching die from their set-aside dice and places it on
the support.</li>
</ul>

<h4 id="activateacharacterorsupport">Activate a character or support</h4>

<p>To activate a character or support card, a player exhausts
that card and rolls all of its dice. These dice are now in that
player’s dice pool, and that player can take an action on a
future turn to resolve their symbols. Characters always roll
their character dice and their upgrade dice (from attached
upgrades) when activated. Supports roll their own die into
the dice pool when activated. Supports without a die cannot
be activated.</p>

<ul>
<li>All of the dice associated with a character (its character
and upgrade dice) must be rolled when that character is
activated. A player cannot pick and choose which dice
to roll.</li>
<li>An exhausted character or support cannot be activated.</li>
</ul>

<h4 id="resolvedice" class="new">Resolve dice</h4>

<p>Each <span class="new">side of a die may have</span> a symbol on it (see <a href="#dicesymbols">Dice symbols</a>). A player may
resolve one or more dice in their pool that have the same
symbol, one at a time (unless adding a modified die, then the
dice are resolved simultaneously). To resolve a die, a player
must pay any costs and carry out the effect represented by
the symbol on that die. Then they return it to the card that it
came from.</p>

<ul>
<li>A player can only resolve dice in their own dice pool.</li>
<li>A player can resolve dice with different values during the
same action, provided the dice share a symbol.</li>
<li>A player cannot choose to resolve dice symbols if they have
no symbols of that type to resolve. A player must resolve at
least one die when taking this action.</li>
<li>A player can resolve any dice with the same symbol, even
if those dice were not showing that symbol when the player
started resolving dice.</li>
<li>A player cannot resolve the same die more than once
per action.</li>
<li class="new">If a player’s effect would resolve an opponent’s die, that die
is resolved as if it were in that player’s pool instead.</li>
</ul>

<h4 id="discardtorerolldice">Discard to reroll dice</h4>

<p>A player can discard one card of their choice from their hand
to reroll one or more dice in their pool. They must choose all
the dice they want to reroll before rerolling.</p>

<ul>
<li>If there are no dice in their pool, they cannot discard a card
from their hand to reroll.</li>
</ul>

<h4 id="useacardaction">Use a card action</h4>

<p>Some support, upgrade, and character cards have special
actions listed on them. These actions are preceded by the
word “Action” in bold. To resolve this action, follow the
card’s instructions.</p>

<ul>
<li><strong>Power Actions</strong>. A power action is an action that can only
be used once per round, even if the card with a power
action changes control, is moved to another character, etc.
A player can use each power action once on each card,
even if the cards have the same title.</li>
</ul>

<h4 id="claimthebattlefield">Claim the battlefield</h4>

<p>When a player claims the battlefield, they may use its claim
ability. If they do not control the battlefield, they take control
of it and move the battlefield card next to their deck. For
the rest of this round, that player automatically passes all
of their future turns and declines to act if they ever have the
opportunity to take actions. Their opponent continues taking
turns until they also pass. Only one player can claim the
battlefield each round.</p>

<ul>
<li>A player can claim the battlefield even if they already control
it in order to keep control of it and use its claim ability.</li>
<li>The player who controls the battlefield takes the first action
each round.</li>
</ul>

<h3 id="passing">Passing</h3>

<p>If a player does not wish to take an action, they may pass.
They do nothing, but they retain the option to take an action
after their opponent. After both players pass consecutively,
the round proceeds to the upkeep phase.</p>

<ul>
<li>If a player triggers an action that does not change the
game state, then they are considered to have passed their
turn instead. If a player exhausts or plays a card that does
not change the game state other than that card being
exhausted or played, then they are also considered to have
passed their turn instead.</li>
</ul>

<p><em>Example: A player uses the Action on General Veers (<span class="icon-set-AW"></span>4), but there is no Veers die for them to remove. As such, nothing happens and they are considered to have passed their turn.</em></p>

<h3 id="remindertext">Reminder text</h3>

<p>Reminder text is text in parentheses that clarifies game text.
It is used to remind players of rules and does not supersede
the rules.</p>

<h3 id="winningthegame">Winning the game</h3>

<p>There are two ways for a game to end:</p>

<ul>
<li>All of a player’s characters are defeated. The game ends
immediately and the other player wins the game.</li>
<li>If a player has no cards in their hand and deck at the
end of a round (after the upkeep phase), they lose and
the other player wins. If both players would lose this way,
the player who controls the battlefield at the end of the
round wins.</li>
</ul>

<h1 id="part6.gameconcepts">Part 6. Game concepts</h1>

<p>These are important rules that are used every game.</p>

<h3 id="damage">Damage</h3>

<p>When a character is dealt damage, place that much damage
on the character. When a character has damage on it equal to
its health, it is immediately defeated.</p>

<ul>
<li>Unblockable damage cannot be blocked by shields or card
effects. Any shields on a character who is dealt unblockable
damage remain on that character; the shields are ignored
for the purposes of dealing the unblockable damage.</li>
<li>Damage tokens come in values of one and three. A player
can swap between these tokens as necessary in order to
track the amount of damage on a character. If the supply
of damage tokens runs out, substitute a different token or
track damage using a different method.</li>
<li>Damage dealt during the same action is usually dealt at
different times since the dice are resolved one at a time.
The only time multiple dice deal damage at the exact same
time is when a die is being modified by other dice.</li>
</ul>

<h3 id="defeatedcharacters">Defeated characters</h3>

<p>When a character has damage on it equal to its health, it
is immediately defeated. Remove all of its dice from the
game (both its character dice and its upgrades), discard
all upgrades on it, and remove the character card from the
game.</p>

<ul>
<li>Any excess damage dealt to a character from a source that
defeats the character is ignored. A player can deal more
damage to a character than they have health, even when
distributing the damage as they wish (e.g., from the special
on the F&#8211;11D Rifle).</li>
<li>When all of a player’s characters are defeated, they lose.</li>
</ul>

<h3 id="resources">Resources</h3>

<p>Resources are the game’s currency and are used to pay
for cards, card abilities, and resolving dice. The amount
of resources a player has available at any given time is
represented by their resource tokens. Resources begin the
game in the supply. When a player gains resources, they
take tokens from the supply. When a player spends or loses
resources, they return tokens to the supply.</p>

<ul>
<li>Each player gains 2 resources during the upkeep phase.</li>
<li>If the supply of resource tokens runs out, substitute a
different token or track resources using a different method.</li>
</ul>

<h3 id="shields">Shields</h3>

<p>Shields block damage. Each shield blocks 1 damage that
would be dealt to the character. After blocking damage, the
shield token is removed.</p>

<ul>
<li>It is not optional to use a shield. Shields must be used to
block damage, if possible.</li>
<li>Each character can have a maximum of 3 shields at one
time. If an effect would give a character more than 3
shields, ignore the excess shields.</li>
<li>If the supply of shield tokens runs out, substitute a different
token or track shields using a different method.</li>
</ul>

<h3 id="draw">Draw</h3>

<p>Whenever a player draws a card, they take the top card of
their deck and add it to their hand.</p>

<ul>
<li>When players draw multiple cards, the cards are drawn
simultaneously.</li>
<li>If a player does not have as many cards left in their deck as
they are supposed to draw, then they draw as many of the
remaining cards as possible. If a player cannot draw any
cards, then nothing happens.</li>
</ul>

<h3 id="ready">Ready</h3>

<p>A card is ready when it is in an upright position. Ready cards
can be exhausted (turned sideways). A player instructed to
ready a card should turn the card to an upright position.</p>

<ul>
<li>A card that is already ready cannot be readied.</li>
<li>Ready supports and characters can exhaust to activate.
Ready upgrades can only be exhausted through
card effects.</li>
</ul>

<h3 id="exhausted">Exhausted</h3>

<p>A card is exhausted when it is turned sideways. Exhausted
cards can be readied (turned upright). A player instructed to
exhaust a card should turn the card to a sideways position.</p>

<ul>
<li>A card that is already exhausted cannot be
exhausted again.</li>
</ul>

<h1 id="part7.abilities">Part 7. Abilities</h1>

<p>An ability is the special game text that a card contributes
to the game. There are five types of abilities: action
abilities, claim abilities, ongoing abilities, special abilities,
and triggered abilities. There are also keywords, which
are shorthands for abilities that appear on multiple cards.
Cards can have more than one ability; each ability is its own
paragraph on the card.</p>

<p><em>Example: Finn (<span class="icon-set-AW"></span>45) has two different abilities.</em></p>

<p>An ability becomes usable as soon as its card enters play, and
remains usable as long as that card is in play. An ability from
an event is resolved when that event is played.</p>

<p>Players must resolve as much of an ability as they are able to,
unless it includes the word “may” or explicitly gives the player
a choice. Special abilities (<span class="icon-special"></span>)
are mandatory if that side of its die is resolved.</p>

<h3 id="queue">Queue</h3>

<p>The queue is an imaginary line that all game effects and
abilities enter and leave in chronological order when
triggered, based on a “first in, first out” principle. Each one
waits its turn in the queue until the trigger condition is
complete. Each effect must fully resolve before the next one
resolves. If during the resolution of something in the queue,
another effect is added, it moves to “the end” of the queue
and is resolved last.</p>

<p><em>Example: A player resolves one of their dice to deal 2 damage to a character. The 2 damage enters the queue, and since nothing else is in the queue it currently resolves.</em></p>

<h3 id="actionabilities">Action abilities</h3>

<p>Some support, upgrade, and character cards have unique
actions listed on them. These actions are preceded by the
word “<strong>Action</strong>” or “<strong>Power Action</strong>” in bold. To resolve
this ability, a player must spend one action on it during
their turn and then follow the instructions on the card.</p>

<p><em>Example: Underworld Connections (<span class="icon-set-AW"></span>101) has the action ability “<strong>Action</strong> - Exhaust this support to gain 1 resource.”</em></p>

<h3 id="claimabilities">Claim abilities</h3>

<p>Battlefields have claim abilities on them, preceded by the
word “<strong>Claim</strong>” in bold. These abilities are optional and may be
resolved by the player who claims the battlefield.</p>

<h3 id="ongoingabilities">Ongoing abilities</h3>

<p>Any non-keyword ability whose text contains no trigger
condition and does not have a bold word in front of it (like
“Action” or “Claim”) is an ongoing ability.</p>

<p><em>Example: Personal Escort (<span class="icon-set-AW"></span>78) has the ongoing ability “Attached character has the Guardian keyword.”</em></p>

<h3 id="inherentdiceabilities">Inherent dice abilities</h3>

<p>Some cards have abilities on them which are considered to
be inherent to the die, and always affect how the die resolves,
independent of the card being in play.</p>

<p><em>Example: Diplomatic Immunity (<span class="icon-set-AW"></span>50) says “The shields from this die can be given to any of your characters, distributed as you wish.” The shields from this die can be split up regardless of whether the card is in play or not, such as when resolved through Poe Dameron’s (<span class="icon-set-AW"></span>29) special ability.</em></p>

<ul>
<li>Dice with a non-special inherent die ability: Diplomatic
Immunity (<span class="icon-set-AW"></span>50), Launch Bay (<span class="icon-set-AW"></span>31),
Lure of Power (<span class="icon-set-SoR"></span>16), ID&#8211;9 Seeker Droid (<span class="icon-set-EaW"></span>13),
Training Remote (<span class="icon-set-EaW"></span>35), Gang Up (<span class="icon-set-LEG"></span>68),
Vibroknife (<span class="icon-set-SoR"></span>57).</li>
</ul>

<h4 id="specialabilities">Special abilities</h4>

<p>These are a type of inherent die abilities that appear on
some cards and are marked by the special (<span class="icon-special"></span>) symbol. When
a die with that symbol is resolved, the special ability on its
matching card is resolved.</p>

<ul>
<li>The special (<span class="icon-special"></span>) cannot be resolved to use the special ability
on a different card.</li>
</ul>

<h3 id="keywords">Keywords</h3>

<p>Keywords are shorthands for abilities that appear on
multiple cards.</p>

<ul>
<li>A card cannot gain another copy of a keyword; it either has
the keyword or does not have the keyword.</li>
<li>If a card loses a keyword, then it loses the keyword no
matter how many times it would gain it.</li>
<li>The italicized text that explains keywords on cards is
solely reminder text, and is overridden by the full rules
written below.</li>
</ul>

<h4 id="ambush">Ambush</h4>

<p>After playing (and resolving) a card with Ambush, a player
may immediately take another action.</p>

<ul>
<li>If a player is allowed to take an action outside of their turn,
they immediately take it.</li>
</ul>

<h4 id="guardian">Guardian</h4>

<p>Before a character with Guardian activates, its owner
may remove one die showing damage (<span class="icon-melee"></span>
or <span class="icon-ranged"></span>) from
their opponent’s dice pool to deal damage equal to
the value showing on the die removed to the activating
Guardian character.</p>

<h4 id="redeploy">Redeploy</h4>

<p>This keyword only appears on upgrades. After the attached
character is defeated, its controller may immediately move
this upgrade to any of their other characters. The upgrade die
moves to the new character card, even if it was in the dice pool.</p>

<ul>
<li>The Redeploy keyword ignores play restrictions when
attaching to a new character.</li>
</ul>

<h3 id="triggeredabilities">Triggered abilities</h3>

<p>A triggered ability has a trigger condition and an effect. When
a triggered ability meets its trigger condition, the ability
resolves.There are two types of triggered abilities: ”after” and
“before” abilities.</p>

<ul>
<li>Triggered abilities exist independently of their source. Once
triggered, the entire ability resolves, even if the card it was
on leaves play.</li>
</ul>

<h4 id="triggercondition">Trigger condition</h4>

<p>A trigger condition indicates the timing point at which an
ability may be used, and always follows either the word “after”
or “before.” A trigger condition matches a specific occurrence
that takes place in the game.</p>

<p><em>Example: Qui-Gon Jinn (<span class="icon-set-AW"></span>37) is about to gain a shield, which is the trigger condition for his ability that says “Before this character gains 1 or more shields, you may remove 1 of his shields to deal 1 damage to a character.”</em></p>

<h4 id="beforeabilities">Before abilities</h4>

<p>If, during the course of a game, a before ability meets its
trigger condition, immediately resolve the before ability
before continuing to resolve the rest of the effect. In this way,
before abilities can interrupt the flow of the game.</p>

<p><em>Example: One with the Force (<span class="icon-set-AW"></span>42) says “Before attached character is defeated, this card becomes a support for the rest of the game.” The trigger condition is “attached character is defeated,” and the timing word “before” tells you to resolve the rest of the effect before the trigger condition resolves.</em></p>

<h4 id="afterabilities">After abilities</h4>

<p>If, during the course of a game, an after ability meets its
trigger condition, it resolves following the resolution of the
trigger condition. Unlike before abilities, after abilities do not
interrupt the flow of the game, and instead wait their turn in
the queue to resolve.</p>

<p><em>Example: Comlink (<span class="icon-set-AW"></span>61) says “After you play this upgrade, you may reroll any number of your dice or any number of your opponent’s dice.” The effect of playing the card must fully resolve (paying the cost, choosing a character to attach it to), and then the after ability resolves.</em></p>

<h4 id="simultaneousabilities">Simultaneous abilities</h4>

<p>When two or more triggered abilities meet their trigger conditions
at the same time, the player who is resolving those abilities
chooses the order they resolve in (in the case of before abilities)
or enter the queue in (in the case of after abilities). If more than
one player has abilities that are simulatenous, the player who
controls the battlefield chooses the order they resolve in.</p>

<p><em>Example: A Tusken Raider (<span class="icon-set-AW"></span>22) is activated with Jango Fett (<span class="icon-set-AW"></span>21) in play. Each card is controlled by a different player. Both have an after ability that can resolve after the Tusken Raider activates, so it is the battlefield controller’s choice as to which one enters the queue first.</em></p>

<h3 id="effects">Effects</h3>

<p>An effect is anything that results from an ability. An effect
lasts for as long as the action described in it.</p>

<h4 id="delayedeffects">Delayed effects</h4>

<p>Some abilities contain delayed effects. Such abilities specify
a future timing point, or indicate a future condition that may
arise, and contain an effect that is to happen at that time.</p>

<p><em>Example: Crime Lord (<span class="icon-set-AW"></span>23) says “You may pay 5 resources to choose a character. That character is defeated after this round ends.” The character being defeated is a delayed effect because it does not fully resolve until a future point in time.</em></p>

<ul>
<li>An event with a delayed effect creates the effect, and
then is discarded. It does not remain in limbo until the
effect resolves.</li>
</ul>

<h4 id="replacementeffects">Replacement effects</h4>

<p>A replacement effect uses the word “instead” somewhere in
its text. If a replacement effect resolves, the original effect
is considered to have not resolved, and no abilities can
be triggered off of it. Abilities can be triggered off of the
replacement effect.</p>

<p><em>Second Chance (<span class="icon-set-AW"></span>137)
says “Before attached character
would be defeated, instead heal 5 damage from it and
discard this upgrade.” Because this prevents the character
from being defeated, the character is never considered to
have been defeated.</em></p>

<ul>
<li>If two or more replacement effects are trying to replace the
same thing, the battlefield controller chooses which one
resolves. The other replacement effects no longer resolve,
since the thing they are replacing no longer exists (it has
already been replaced).</li>
</ul>

<h4 id="self-referentialeffects">Self-referential effects</h4>

<p>When a card’s ability text refers to its own card type, such as
“this upgrade” or “this character,” it refers to itself only, and
not to other copies (by title) of the card.</p>

<h4 id="negativeeffects">Negative effects</h4>

<p>Negative effects take precedence over positive effects. If an
effect says a player cannot do something, then they cannot do
it, even if another effect says they can.</p>

<h4 id="“then”effects">“Then” effects</h4>

<p>In order to resolve an effect that is preceded by the word
“then,” the previous effects on the card must have fully
resolved (i.e., the game state changes to reflect the intent of
the effect in its entirety). If the part of an ability that precedes
the word “then” does not successfully resolve in full, the part
of the ability that follows the word “then” does not attempt
to resolve.</p>

<p><em>Example: Scavenge (<span class="icon-set-AW"></span>132) says “Discard the top 3 cards of your deck. Then you may add an upgrade or a support from your discard pile to your hand.” If less than 3 cards remain in your deck, you cannot add a card to your hand because the previous effect did not fully resolve.</em></p>

<h1 id="part8.terms">Part 8. Terms</h1>

<p>Below are definitions and explanations of important
terms that players should know. These are listed in
alphabetical order.</p>

<h3 id="characterdie">Character die</h3>

<p>A character die is a die that matches a character.</p>

<ul>
<li>Upgrade dice are not character dice, even though
characters also use them when they activate.</li>
</ul>

<h3 id="cheapest">Cheapest</h3>

<p>Something that is cheapest has the lowest cost.</p>

<ul>
<li>Any effect modifying the cost should be taken into account.</li>
</ul>

<h3 id="choose-either">Choose- Either</h3>

<p>If an ability uses “choose” and “either,” the player using the
ability may choose either option, even if the chosen one will
have no effect. Once the player has made their choice, they
have to resolve as much of it as possible.</p>

<ul>
<li>Some cards force an opponent to make a choice. The
opponent can also choose either option.</li>
</ul>

<h3 id="choose-target">Choose- Target</h3>

<p>A target is a card or die to which an effect will happen.
The term “choose” indicates that a target must be chosen
in order for the ability to resolve. The player resolving the
effect must choose a game element that meets the targeting
requirements of the ability.</p>

<ul>
<li>When making a choice, a player cannot choose invalid
targets, e.g., they cannot deal damage to a defeated
character. If there are no valid targets, then the card
does nothing.</li>
<li>If multiple targets are required to be chosen by the same
player, these are chosen simultaneously.</li>
<li>An effect that can choose “any number” of targets can
successfully resolve if zero of those targets are chosen,
though it might have no effect.</li>
</ul>

<h3 id="combinedvalue">Combined value</h3>

<p>The combined value is the sum of the values showing on all
the dice being referenced.</p>

<p><em>Example: The combined value of two dice showing ranged damage, with values of 2 and 1 respectively, would be 3.</em></p>

<h3 id="controller">Controller</h3>

<p>The controller of a card or die is the player who has it in their
in play area. By default, players control all of the cards and
dice they own.</p>

<h3 id="copyofacard">Copy (of a card)</h3>

<p>A copy of a card is defined by its title. Any other card that
shares the same title is considered a copy, regardless of card
type, text, artwork, or any other characteristic of the card.</p>

<h3 id="decreases">Decreases</h3>

<p>Effects which decrease something only last for the duration of
the effect. Some effects have an ongoing duration.</p>

<p><em>Example: It Binds All Things (<span class="icon-set-AW"></span>150) says “Before you play a Blue upgrade, you may exhaust this support to decrease its cost by 1.” This only applies while paying the cost to play the upgrade; once it is played, its cost returns to the normal value since you have now played a Blue upgrade.</em></p>

<h3 id="free">Free</h3>

<p>When something is played or resolved for free, a player does
not pay any cost for the card or die.</p>

<h3 id="heal">Heal</h3>

<p>When damage is healed from a character, remove that
amount of damage from it.</p>

<ul>
<li>Heal as much damage as possible. Excess healing
is ignored.</li>
<li>If no damage was removed by the healing effect, then the
character is not considered to have been healed.</li>
</ul>

<h3 id="increases">Increases</h3>

<p>Effects which increase something only last for the duration of
the effect. Some effects have an ongoing duration.</p>

<p><em>Example: Emperor’s Favor (<span class="icon-set-AW"></span>88) says “Your hand size is increased by 1.” Because this effect does not have a duration assigned to it, the increase is constantly applied.</em></p>

<h3 id="lookat">Look at</h3>

<p>Sometimes an effect allows a player to look at cards in a
player’s hand or deck. Looking at a card does not change the
position of the card, and after being looked at the card should
be returned to its previous location.</p>

<h3 id="move">Move</h3>

<p>Some effects allow players to move cards or tokens.</p>

<ul>
<li>When something moves, it cannot move to its same
(current) placement. If there is no valid destination for a
move, the move cannot resolve.</li>
<li>When damage is moved to a new character, it ignores
shields and the character is not considered to have
taken damage.</li>
</ul>

<h3 id="owner">Owner</h3>

<p>The owner of a card or die is the player who brought the card
or die to the game. A player can own a card or die but lose
control over it (such as losing control of the battlefield).</p>

<h3 id="playrestrictions">Play restrictions</h3>

<p>Play restrictions sometimes appear on a card and are marked
by the word “only.” A player cannot play the card unless the
play restriction is met.</p>

<p>Upgrade cards sometimes say “(Color) character only”. If a
player does not have a character of that color to attach the
upgrade to, the upgrade cannot be played.</p>

<ul>
<li>Upgrades do not get removed from a character if the play
restriction is no longer fulfilled. The character must only
fulfill the play restriction when the card is first played.</li>
</ul>

<h3 id="remaininghealth" class="new">Remaining Health</h3>

<p class="new">Remaining health is the health of a character minus the
amount of damage on it.</p>

<h3 id="removingdice">Removing dice</h3>

<p>Removing dice moves them from a player’s dice pool back to
their matching card.</p>

<ul>
<li>A die cannot be removed unless it is in a player’s dice pool.</li>
<li>If dice of a specific symbol must be removed to trigger an
effect, then it does not matter if those dice can currently be
resolved. Symbols that are modifiers or require a resource
match still count as that symbol.</li>
</ul>

<h3 id="replace">Replace</h3>

<p>When an upgrade is discarded to decrease the cost of another
upgrade, the new upgrade replaces the old one. Each player
can only replace an upgrade once per round.</p>

<h3 id="rolling">Rolling</h3>

<p>When a card refers to rolling a die, this applies to both rolling
it into your pool and rerolling it (if it was already in your pool).</p>

<h3 id="search" class="new">Search</h3>

<p class="new">When a player searches for a card, that player is allowed to
look at all of the cards in the searched area without revealing
them to opponents.</p>

<ul>
<li class="new">A player does not have to find the object of a search effect.</li>
</ul>

<h3 id="showing">Showing</h3>

<p>A die side is showing if it is the faceup side after being rolled
into a dice pool.</p>

<ul>
<li>Dice sides that are not faceup cannot be referenced when a
card requires a symbol to be showing.</li>
<li>Effects which reference a certain symbol showing on a die work
with any side showing that symbol, even if it is a modified side.
Showing damage includes ranged, melee, and indirect damage.</li>
<li>Dice on cards do not have any sides showing. A die can
only show a side once it has been rolled into a player’s
dice pool.</li>
</ul>

<h3 id="spotting">Spotting</h3>

<p>Some cards require a player to spot a specific game element
in order to use its ability. To spot an element, a player must
have that element in play. Most cards just require a player to
spot a character of a specific color.</p>

<p><em>Example: Use the Force (<span class="icon-set-AW"></span>149) says “Spot a Blue character to turn a die to any side” You must have an undefeated Blue character on your team, or the card does nothing.</em></p>

<ul>
<li>A player cannot spot their opponents’ characters or cards,
unless the card explicitly says so.</li>
<li>If a player is not able to spot the required element, then
the card does nothing.</li>
</ul>

<h3 id="takingdamage">Taking damage</h3>

<p>Damage is taken only when one or more damage tokens are
placed on the character. If all damage dealt was blocked by
shields or some other ability, then no damage was taken.</p>

<ul>
<li>Damage not taken is still dealt.</li>
</ul>

<p><em>Example: Hunker Down (<span class="icon-set-AW"></span>164) says “After this character takes melee damage, discard this upgrade.” If two melee damage is dealt to the character but is blocked by 2 shields, then no damage was taken by the character and Hunker Down is not discarded.</em></p>

<h3 id="turndie">Turn (die)</h3>

<p>When a player turns a die to a side, they rotate it so that side
is faceup (showing).</p>

<ul>
<li>When turning a die, it must turn to a different side. A
player cannot turn a die to the same side it was on before
turning it. (If the die has the same symbol and value on two
or more of its sides, it can be turned to an identical side).</li>
</ul>

<h3 id="unblockabledamage" class="new">Unblockable damage</h3>

<p>Unblockable damage cannot be blocked by shields or
card effects. Any shields on a character dealt unblockable
damage remain on that character.</p>

<ul>
<li class="new">All modifiers added to a die that deals unblockable damage
will also be unblockable.</li>
</ul>

<h3 id="xasavariable">X as a variable</h3>

<p>Some cards refer to X as a variable. X is always a number that
is defined by the card, and does not have a standard value.</p>

<h1 id="part9.multiplayerrules">Part 9. Multiplayer rules</h1>

<p>In addition to playing against one opponent, players can
choose to play against more than one opponent in a
multiplayer game. There is one official format: free-for-all.</p>

<h3 id="free-for-all">Free-for-all</h3>

<p>More than two players can participate in a free-for-all game,
though 3&#8211;4 is the recommended number. Players should
follow all of the normal rules of the game, with the following
exceptions and additions.</p>

<h4 id="setup">Setup</h4>

<p>To set up the game, follow these steps in order:</p>

<ol>
<li>Randomly seat the players at the table.</li>
<li>All players roll off for the battlefield. The player with the
highest value wins the roll off, and chooses a battlefield to
use for the game. Each other player gets 1 shield to give
to one of their characters and sets their battlefield aside. If
players tie during the roll off, only the tied players roll again
to break the tie.</li>
</ol>

<h4 id="actions">Actions</h4>

<p>Players take actions clockwise around the play area, starting
with the first player. All players must consecutively pass to
end the round. Only one person can claim the battlefield.</p>

<h4 id="choosingopponents">Choosing opponents</h4>

<p>When an ability refers to an opponent, the player using the
ability chooses which opponent it affects.</p>

<h4 id="playerelimination">Player elimination</h4>

<p>If all of a player’s characters are defeated, or there are no
cards left in their deck and hand at the end of the round, that
player is immediately eliminated from the game. Any of their
cards and dice are removed from the game, except for cards
that they no longer control or their battlefield if it is active. If
the eliminated player controlled the battlefield, then no one
controls the battlefield until someone else claims it (and if it
has already been claimed this round, then players must wait
until the next round). The player to their left decides how
simultaneous abilities controlled by more than one player are
resolved until someone else controls the battlefield. The other
players continue playing until there is only one player left in
the game; that player wins.</p>
