<h2 id="laregolad’oro">La regola d’oro</h2>

<h1 id="parte1.tipiecoloridicarte">Parte 1. Tipi e colori di carte</h1>

<p>Tutte le carte possono presentare i dettagli seguenti: affiliazione,
colore, tipo, nome, capacità, unicità, testo narrativo, identificazione,
rarità e riassunto del dado.</p>

<h3 id="affiliazione">Affiliazione</h3>

<p>Esistono tre affiliazioni diverse: eroe, malvagio e neutrale.
L’affiliazione di ogni carta è riportata in fondo alla carta.</p>

<h3 id="colore">Colore</h3>

<p>A ogni carta è associato un colore specifico, riportato anche in
fondo alla carta.</p>

<ul>
<li>Il rosso rappresenta l’Esercito e contiene strutture e personaggi
di natura militare.</li>
<li>Il blu rappresenta la Forza e contiene i personaggi addestrati a
usare la Forza e le capacità che ne derivano.</li>
<li>Il giallo rappresenta i Fuorilegge e contiene feccia, criminali,
spie e contrabbandieri di ogni genere.</li>
<li>Il grigio rappresenta tutto ciò che non ricade in uno degli altri
tre colori.</li>
</ul>

<h3 id="tipo">Tipo</h3>

<p>Ogni carta appartiene a uno di questi cinque tipi: campo di
battaglia, evento, miglioria, personaggio o supporto. Il tipo di una
carta è elencato sopra le sue capacità, tranne nel caso dei campi
di battaglia su cui non compare.</p>

<h3 id="nome">Nome</h3>

<p>Il nome di una carta è usato per identificare e descrivere ciò che
essa rappresenta nell’universo di Star Wars.</p>

<h3 id="capacità">Capacità</h3>

<p>Sulla maggior parte delle carte sono elencate una o più capacità.</p>

<h3 id="unicità">Unicità</h3>

<p>Ogni carta può essere unica o non unica. Le carte uniche sono
contrassegnate da un rombo (<span class="icon-unique"></span>) che precede il loro nome. Tutte le
altre carte sono non uniche.</p>

<p>Un giocatore non può avere in gioco più copie di una carta
unica allo stesso tempo. Non può esserci più di una copia di un
personaggio unico in una squadra e un giocatore non può giocare
un supporto unico o una miglioria unica se ha già un’altra copia di
quella carta in gioco.</p>

<ul>
<li><p>La restrizione di unicità si applica a ogni giocatore
individualmente. Ogni giocatore può avere solo una copia di
una carta unica in gioco in un qualsiasi momento.</p></li>
<li><p>La restrizione di unicità non si applica ai dadi. Un giocatore può
avere in gioco più copie dello stesso dado allo stesso tempo.</p></li>
<li><p>I personaggi con lo stesso nome ma con un sottotitolo diverso
sono comunque considerati lo stesso personaggio ai fini di
determinare l’unicità.</p>

<p><em>Esempio: Un giocatore non può usare Darth Vader, Signore dei Sith e Darth Vader, Apprendista Oscuro nella stessa squadra.</em></p></li>
</ul>

<h3 id="testonarrativo">Testo narrativo</h3>

<p>Il testo narrativo, dove presente, non ha applicazioni nelle
meccaniche di gioco.</p>

<h3 id="id_card">Identificazone (ID)</h3>

<p>L’identificazione di una carta contiene l’icona di espansione (quella
di Risvegli è <span class="icon-set-AW"></span>) seguita da un numero, che consente di identificare
la carta ed abbinarla al suo o ai suoi dadi.</p>

<h3 id="rarity_card">Rarità</h3>

<p>Esistono cinque livelli di rarità, rappresentati dal colore di sfondo
nelle informazioni di identificazione. Un dado abbinato a una
carta condivide sempre la stessa rarità di quella carta.</p>

<ul>
<li><span class="fg-rarity-S icon-collectors"></span> <strong>Fissa</strong> (grigio): Le carte fisse hanno una distribuzione
non casuale e sono sempre incluse nello stesso prodotto.</li>
<li><span class="fg-rarity-C icon-collectors"></span> <strong>Comune</strong> (blu): Ogni booster pack contiene 3 carte
comuni.</li>
<li><span class="fg-rarity-U icon-collectors"></span> <strong>Non Comune</strong> (giallo): Ogni booster pack contiene
1 carta non comune.</li>
<li><span class="fg-rarity-R icon-collectors"></span> <strong>Rara</strong> (verde): Ogni booster pack contiene 1 carta rara e
il suo dado corrispondente.</li>
<li><span class="fg-rarity-L icon-collectors"></span> <strong>Leggendaria</strong> (viola): In 1 booster pack su 6, la carta rara e
il relativo dado sono sostituite da una carta leggendaria e
dal suo dado.</li>
</ul>

<h3 id="riassuntodeldado">Riassunto del dado</h3>

<p>Una carta abbinata a un dado contiene un riquadro riassuntivo
che mostra tutte e sei le facce di quel dado.</p>

<h3 id="campodibattaglia">Campo di battaglia</h3>

<p>I campi di battaglia rappresentano i vari luoghi in cui i giocatori si
affronteranno. Il campo di battaglia che non viene scelto all’inizio
di una partita non viene usato in quella partita.</p>

<p>*Un giocatore alla volta controlla il campo di battaglia
collocandolo accanto al suo mazzo; questo può accadere perché
la partita è cominciata così, oppure perché quel giocatore è
stato l’ultimo a rivendicarlo.
* I campi di battaglia contengono delle capacità di rivendicazione.
Queste capacità possono essere risolte quando si effettua
l’azione di rivendicare il campo di battaglia.
* Il giocatore che controlla il campo di battaglia effettua la prima
azione ogni round.
* Tutti i campi di battaglia sono considerati di colore grigio.</p>

<h4 id="sottotitoloanchesuipersonaggi">Sottotitolo (anche sui personaggi)</h4>

<p>Un sottotitolo definisce il luogo o il pianeta di un campo di
battaglia e aiuta a distinguere tra loro le varie versioni di
un personaggio.</p>

<h3 id="personaggio">Personaggio</h3>

<p>I personaggi rappresentano gli individui degni di nota nell’universo
di Star Wars. Ogni giocatore spende fino a 30 punti in personaggi
durante la personalizzazione del mazzo. Ogni personaggio inizia
la partita in gioco e rimane in gioco finché non viene sconfitto.
Ogni personaggio possiede 1 o 2 dadi, che deve tirare quando
viene attivato.</p>

<h4 id="salute">Salute</h4>

<p>La salute di un personaggio indica l’ammontare di danni che quel
personaggio può subire prima di essere sconfitto.</p>

<h4 id="valoreinpunti">Valore in punti</h4>

<p>Il valore o i valori in punti di un personaggio indicano il costo
in punti da sostenere per includere quel personaggio in una
squadra. Se sono presenti due valori, il valore più basso indica
il costo in punti per usare 1 dado di quel personaggio mentre il
valore più alto indica il costo in punti per usare 2 di quei dadi.
Un personaggio con 2 suoi dadi è chiamato “personaggio elite”.</p>

<h3 id="evento">Evento</h3>

<p>Gli eventi rappresentano azioni tattiche,
strategie, colpi di scena e altri sviluppi
inaspettati che potrebbero verificarsi nel
corso della partita. Quando un giocatore
gioca un evento, segue le istruzioni della
carta e poi la scarta, collocandola nella
propria pila degli scarti.</p>

<ul>
<li>Quando un evento è giocato, è considerato nel limbo finché
non viene completamente risolto (vedi “<a href="#limbo">Limbo</a>”).</li>
<li>Un giocatore può giocare un evento anche se quell’evento non
ha nessun effetto, a patto che ogni eventuale restrizione di
gioco sia soddisfatta (vedi “<a href="#restrizionedigioco">Restrizione di gioco</a>”).</li>
</ul>

<h4 id="costoanchesusupportiemigliorie">Costo (anche su supporti e migliorie)</h4>

<p>Il costo di una carta è elencato nell’angolo in alto a sinistra della
carta. Per giocare una carta, un giocatore deve spendere un
numero di risorse pari al suo costo.</p>

<h3 id="supporto">Supporto</h3>

<p>Le carte supporto rappresentano veicoli, collegamenti e aiuti
logistici di vario tipo. Quando un giocatore gioca una carta
supporto, la colloca a faccia in su nella sua area di gioco, accanto
o dietro ai suoi personaggi. I supporti hanno degli effetti ripetibili
o persistenti e rimangono in gioco finché non sono scartati da un
effetto o da una capacità.</p>

<ul>
<li>Le carte supporto non subiscono danni.</li>
<li>Se un supporto possiede un dado, quel dado va tirato quando il
supporto è attivato.</li>
<li>Non c’è alcun limite ai supporti che possono essere
posseduti da un giocatore.</li>
</ul>

<h4 id="sottotipoanchesullemigliorie">Sottotipo (anche sulle migliorie)</h4>

<p>Su alcune carte sono elencati dei
sottotipi dopo il tipo di carta, come
<strong>Veicolo</strong> o <strong>Arma</strong>. Ai sottotipi non è
associata alcuna regola intrinseca, ma
altre carte potrebbero farvi riferimento.</p>

<ul>
<li>Quando una carta fa riferimento a un sottotipo nel suo testo,
tale sottotipo compare in grassetto.</li>
</ul>

<h3 id="migliorie">Migliorie</h3>

<p>Le migliorie rappresentano armi, attrezzature e capacità a
disposizione dei personaggi. Quando un giocatore gioca una
miglioria, la assegna a faccia in su a uno dei suoi personaggi.
Un giocatore può scartare 1 miglioria già presente su quel
personaggio per ridurre il costo della nuova miglioria del costo
di quella scartata. Le migliorie possiedono capacità ripetibili o
persistenti e restano in gioco finché un effetto o una capacità non
le scarta oppure finché il personaggio a cui sono state assegnate
non è sconfitto.</p>

<ul>
<li>Ogni personaggio può avere al massimo 3 migliorie. Se un
personaggio possiede 4 o più migliorie, il giocatore che lo
controlla deve scegliere e scartare le migliorie in eccesso finché
non ne rimangono solo 3.</li>
<li>Non c’è alcun limite alle carte Arma, Equipaggiamento o
Capacità che un personaggio può possedere come parte delle
sue migliorie.</li>
<li>Un personaggio può possedere più copie della stessa miglioria
non unica.</li>
<li>Se una miglioria possiede un dado, quel dado va tirato quando
il personaggio a cui è stata assegnata è attivato. Non ha
importanza se la miglioria è pronta o esaurita, e la miglioria
non si esaurisce assieme al personaggio.</li>
</ul>

<h1 id="parte2.dadiesimbolideidadi">Parte 2. Dadi e simboli dei dadi</h1>

<p>Il gioco usa dei dadi speciali a sei facce. Tutti i dadi possono
presentare i dettagli seguenti: valore, simbolo, costo,
modificatore, identificazione e rarità.</p>

<h3 id="valore">Valore</h3>

<p>Il valore è un numero elencato sopra il simbolo.</p>

<ul>
<li>I simboli “vuoto” e “speciale” non hanno mai un valore stampato
sul dado e sono considerati dotati di un valore pari a 0.</li>
</ul>

<h3 id="simbolo">Simbolo</h3>

<p>Su ogni faccia di un dado compare un simbolo. Quando
un dado viene risolto, viene applicato un effetto basato sul
simbolo mostrato.</p>

<h3 id="costo">Costo</h3>

<p>Alcuni dadi hanno un costo, elencato in un riquadro giallo sulla
parte bassa della sua faccia. Per risolvere una faccia di un dado,
un giocatore deve spendere un numero di risorse pari al suo
costo. Se non può pagare quel costo, non può risolvere la faccia
di quel dado.</p>

<h3 id="modificatore">Modificatore</h3>

<p>Alcuni dadi hanno una o più facce blu con il segno “più” (+) prima
del valore: quelle facce possono essere risolte soltanto allo stesso
tempo di un altro dado che mostra lo stesso simbolo senza un
“più”. Al momento della risoluzione, il valore “più” va aggiunto
all’altro dado per creare un nuovo valore.</p>

<p><em>Esempio: Un giocatore tira e ottiene un simbolo <em><strong>+2<span class="icon-ranged"></span></strong></em> e un simbolo <em><strong>1<span class="icon-ranged"></span></strong></em>, quindi può risolvere il <em><strong>+2<span class="icon-ranged"></span></strong></em> assieme al 1 jper infliggere 3 danni a distanza a un qualsiasi personaggio. Se non avesse ottenuto il simbolo <em><strong>1<span class="icon-ranged"></span></strong></em> (o se lo avesse già speso), non avrebbe potuto risolvere il <em><strong>+2<span class="icon-ranged"></span></strong></em>.</em></p>

<ul>
<li>Un modificatore non può essere risolto da solo.</li>
</ul>

<h3 id="id_die">Identificazione (ID)</h3>

<p>L’identificazione di un dado contiene l’icona di espansione (quella
di Risvegli è <span class="icon-set-AW"></span>) seguita da un numero, che consente di identificare
il dado ed abbinarlo alla sua carta.</p>

<h3 id="rarity_die">Rarità</h3>

<p>La rarità di un dado corrisponde alla rarità della sua carta (vedi
“<a href="#rarity_card">Rarità</a>”).</p>

<h3 id="simbolideidadi">Simboli dei dadi</h3>

<p>Attivando alcune carte si tirano dei dadi che vanno ad aggiungersi
alla riserva di dadi di un giocatore. Con un’azione successiva,
quei dadi possono poi essere risolti in base agli effetti dei loro
simboli. Ogni simbolo ha un effetto diverso, come descritto a
seguire. Molti simboli sono preceduti da un valore che determina
l’intensità dell’effetto.</p>

<h3 id="melee_symbol"><span class="icon-melee"></span> Danno in mischia</h3>

<p>Questo simbolo infligge un ammontare di danni pari al proprio
valore a un personaggio.</p>

<ul>
<li>Tutti i danni devono essere inflitti a un singolo personaggio.
Un giocatore non può suddividere i danni di un singolo dado
(o di un dado che è stato modificato) tra più personaggi.
Tuttavia, quando si risolvono più dadi con la stessa azione,
ogni dado può infliggere danni a un personaggio diverso.</li>
</ul>

<h3 id="ranged_symbol"><span class="icon-ranged"></span> Danno a distanza</h3>

<p>Questo simbolo infligge un ammontare di danni pari al proprio
valore a un personaggio.</p>

<ul>
<li>Tutti i danni devono essere inflitti a un singolo personaggio.
Un giocatore non può suddividere i danni di un singolo dado
(o di un dado che è stato modificato) tra più personaggi.
Tuttavia, quando si risolvono più dadi con la stessa azione,
ogni dado può infliggere danni a un personaggio diverso.</li>
</ul>

<h3 id="shield_symbol"><span class="icon-shield"></span> Scudo</h3>

<p>Questo simbolo fornisce un ammontare di scudi pari al proprio
valore a un personaggio.</p>

<ul>
<li>Tutti gli scudi devono essere forniti a un singolo personaggio.
Un giocatore non può suddividere gli scudi di un singolo dado
(o di un dado che è stato modificato) tra più personaggi.
Tuttavia, quando si risolvono più dadi con la stessa azione, ogni
dado può fornire scudi a un personaggio diverso.</li>
<li>Un personaggio non può avere più di 3 scudi. Ogni scudo
in eccesso che dovrebbe essere fornito a quel personaggio
va ignorato.</li>
</ul>

<h3 id="resource_symbol"><span class="icon-resource"></span> Risorsa</h3>

<p>Questo simbolo permette di ottenere un ammontare di risorse
pari al proprio valore.</p>

<h3 id="disrupt_symbol"><span class="icon-disrupt"></span> Distruzione</h3>

<p>Questo simbolo obbliga un avversario a perdere un ammontare di
risorse pari al proprio valore.</p>

<ul>
<li>Se l’avversario non possiede un ammontare di risorse pari al
valore del simbolo, perde tutte le sue risorse rimanenti.</li>
<li>L’avversario non può perdere delle risorse che non possiede; un
giocatore non può avere meno di 0 risorse.</li>
</ul>

<h3 id="discard_symbol"><span class="icon-discard"></span> Scarto</h3>

<p>Questo simbolo ti consente di scartare dalla mano di un avversario
un ammontare di carte casuali pari al valore del simbolo.</p>

<ul>
<li>Se l’avversario non possiede un ammontare di carte pari al
valore del simbolo, perde tutte le sue carte rimanenti.</li>
</ul>

<h3 id="focus_symbol"><span class="icon-focus"></span> Concentrazione</h3>

<p>Questo simbolo consente di girare un certo numero di dadi nella
riserva di dadi del giocatore sulle facce a sua scelta. Il numero di
dadi da girare può essere pari o inferiore al valore del simbolo.</p>

<ul>
<li>Un giocatore non può girare i dadi dell’avversario.</li>
</ul>

<h3 id="special_symbol"><span class="icon-special"></span> Speciale</h3>

<p>Questo simbolo consente di usare la capacità speciale
contrassegnata da un simbolo <span class="icon-special"></span> sulla carta di quel dado.
Il valore di un simbolo “speciale” è pari a 0.</p>

<ul>
<li>Un giocatore non può usare la capacità speciale di una
carta diversa; deve usare la capacità speciale della carta
corrispondente a quel dado.</li>
<li>Come nel caso di tutti gli altri simboli, un giocatore può usare
più capacità speciali durante la stessa azione, scegliendo
l’ordine con cui risolverle.</li>
<li>Una capacità speciale che permette di ripetere il tiro del
suo dado non può essere risolta più di una volta con la
stessa azione.</li>
</ul>

<h3 id="blank_symbol"><span class="icon-blank"></span> Vuoto</h3>

<p>I simboli vuoto non hanno nessun effetto e non possono essere
risolti. Il valore di un simbolo “vuoto” è pari a 0.</p>

<h3 id="risolvereidaditramitelecarte">Risolvere i dadi tramite le carte</h3>

<p>Molte carte consentono a un giocatore di risolvere uno o più
dadi. Quando un giocatore risolve un dado tramite una carta,
usa il normale effetto del dado basato sul suo simbolo e segue
le eventuali istruzioni extra.</p>

<ul>
<li>Un giocatore deve comunque pagare l’eventuale costo in risorse
su quel dado.</li>
<li>Un giocatore non può risolvere un modificatore da solo.</li>
<li>Un giocatore non può usare modificatori quando risolve un
dado tramite l’effetto di una carta, a meno che quella carta non
gli consenta di risolvere più dadi con lo stesso simbolo.</li>
</ul>

<h3 id="dadicheesconodalgioco">Dadi che escono dal gioco</h3>

<ul>
<li>Se una carta a cui corrisponde un dado esce dal gioco, anche
il dado corrispondente viene immediatamente rimosso dal
gioco e messo da parte. Il dado rimosso può rientrare in gioco
successivamente, se la sua carta rientra in gioco.</li>
<li>Se un giocatore possiede 2 copie della stessa miglioria su
un personaggio ed entrambi quei dadi miglioria si trovano
nella sua riserva di dadi quando il giocatore deve scartare
dal gioco 1 miglioria, il giocatore può scegliere quale dado
rimuovere e mettere da parte. Se un giocatore possiede 2
copie della stessa miglioria su personaggi diversi (1 miglioria
su ogni personaggio), deve assicurarsi di gestire ogni
dado separatamente.</li>
</ul>

<h1 id="parte3.areedigioco">Parte 3. Aree di gioco</h1>

<p>Ogni giocatore possiede alcune aree di gioco personali, che
possono essere in gioco o fuori dal gioco.</p>

<h3 id="ingioco">In gioco</h3>

<h4 id="personaggiecartegiocate">Personaggi e carte giocate</h4>

<p>Dopo che una carta miglioria o supporto è stata giocata, va
aggiunta all’area di gioco ed è considerata in gioco. Anche i
personaggi iniziano la partita in gioco, e vi rimangono finché non
sono sconfitti. Gli eventi non sono mai in gioco; vengono giocati,
risolti e scartati senza entrare nell’area di gioco.</p>

<ul>
<li>Le capacità sulle carte in gioco possono essere usate.</li>
<li>Una carta entra in gioco quando transita da un’area fuori dal
gioco all’area in gioco.</li>
<li>Il termine “dal gioco” è una forma abbreviata per il termine
“dall’area in gioco”.</li>
</ul>

<h4 id="riservadidadi">Riserva di dadi</h4>

<p>La riserva di dadi è composta dai dadi che sono stati tirati. Ogni
giocatore possiede una sua riserva di dadi. Quando non si trova
nella riserva di dadi, un dado va sempre collocato sulla sua
carta corrispondente.</p>

<ul>
<li>Un giocatore può risolvere soltanto i dadi nella sua riserva
di dadi.</li>
<li>I dadi nella riserva di dadi di un giocatore possono essere
manipolati (rimossi, girati e così via) o usati come riferimento
per gli effetti delle carte che richiedono di possedere un dado
che mostri una faccia specifica.</li>
</ul>

<h4 id="risorse">Risorse</h4>

<p>Le risorse di ogni giocatore vanno tenute accanto alle sue carte.</p>

<ul>
<li>Il numero di risorse possedute da un giocatore è
un’informazione aperta.</li>
</ul>

<h4 id="campodibattagliasecontrollato">Campo di battaglia (se controllato)</h4>

<p>Se un giocatore controlla il campo di battaglia, lo tiene nella
propria area di gioco.</p>

<h3 id="fuoridalgioco">Fuori dal gioco</h3>

<p>Le carte nella mano, nel mazzo e nella pila degli scarti di un
giocatore sono considerate fuori dal gioco e le loro capacità
non possono essere usate finché non vengono giocate.</p>

<ul>
<li>Una carta esce dal gioco quando transita dall’area in gioco a
un’area fuori dal gioco.</li>
</ul>

<h4 id="mano">Mano</h4>

<p>Ogni giocatore possiede una mano di carte. Con un’azione, può
giocare 1 carta dalla sua mano pagandone il costo in risorse.</p>

<ul>
<li>Ogni giocatore ha un limite di mano, che determina quante
carte quel giocatore pesca durante la fase di gestione (dopo
avere scartato le carte che vuole scartare). Il limite di mano
standard è di 5 carte. Un giocatore non deve scartare carte
quando ne possiede un numero superiore al suo limite di mano.</li>
<li>Il numero di carte che compongono la mano di un giocatore
è un’informazione aperta, ma le carte vere e proprie sono
nascoste all’avversario di quel giocatore.</li>
<li>Un giocatore non può avere in mano una carta posseduta da
un avversario.</li>
</ul>

<h4 id="mazzo">Mazzo</h4>

<p>Ogni giocatore partecipa alla partita con un mazzo di 30 carte.
Durante la partita, con il termine mazzo si intende il mazzetto di
carte a faccia in giù che il giocatore non ha ancora pescato.</p>

<ul>
<li>Una volta mescolato, il mazzo va tenuto in modo che le sue
carte siano girate a faccia in giù; i giocatori non possono
guardare le carte che lo compongono o cambiare il suo ordine
se non tramite apposite capacità di gioco.</li>
<li>Il numero di carte rimaste nel mazzo di un giocatore è
un’informazione aperta.</li>
<li>Un giocatore non può avere nel mazzo una carta posseduta da
un avversario.</li>
</ul>

<h4 id="piladegliscarti">Pila degli scarti</h4>

<p>La pila degli scarti è una pila a faccia in su accanto al mazzo di un
giocatore in cui quest’ultimo colloca le carte che scarta.</p>

<p>•• Le carte in una pila degli scarti sono un’informazione aperta.
Tutti i giocatori possono guardare le pile degli scarti di qualsiasi
giocatore in qualsiasi momento.
•• L’ordine delle carte nella pila degli scarti è irrilevante. Un
giocatore può modificare l’ordine delle carte nella propria pila
degli scarti in qualsiasi momento.</p>

<h4 id="limbo">Limbo</h4>

<p>Quando si gioca un evento, viene collocato a faccia in su sul tavolo
e non fa più parte della mano del giocatore: si trova nel limbo.
Una volta che l’evento è stato risolto, va nella pila degli scarti.</p>

<ul>
<li>L’evento non entra in gioco, ma è considerato giocato.</li>
</ul>

<h4 id="dadisullecarte">Dadi sulle carte</h4>

<p>Quando i dadi non si trovano su una riserva di dadi, vanno
collocati sulle loro carte corrispondenti.</p>

<ul>
<li>Questi dadi non sono attivi, non possono essere manipolati e
non sono considerati mostrare alcuna faccia.</li>
</ul>

<h4 id="dadimessidaparte">Dadi messi da parte</h4>

<p>All’inizio della partita, alcuni dadi sono messi da parte. Questi
dadi possono entrare in gioco tramite le carte. I giocatori possono
nascondere questi dadi ai loro avversari usando un contenitore o
un sacchetto per dadi.</p>

<h4 id="riservagenerale">Riserva generale</h4>

<p>La riserva generale ospita i vari segnalini del gioco. Tutti i
segnalini provengono dalla riserva generale quando sono ottenuti
(risorse), inflitti (danni) o forniti (scudi). Tutti i segnalini vanno
riposti nella riserva generale una volta spesi (risorse), perduti
(risorse), curati (danni) o rimossi (scudi). Se i giocatori esauriscono
i segnalini, possono usare dei sostituti appropriati.</p>

<h1 id="parte4.personalizzazione">Parte 4. Personalizzazione</h1>

<p>La personalizzazione va effettuata prima di iniziare una partita.
I giocatori possono fare nuove esperienze di gioco sviluppando
strategie e combinazioni inedite.</p>

<h3 id="1.comporreunasquadra">1. Comporre una squadra</h3>

<p>Per comporre una squadra, un giocatore sceglie personaggi per
un valore massimo di 30 punti.</p>

<ul>
<li>Un giocatore deve scegliere solo personaggi eroi oppure
malvagi; personaggi eroi e malvagi non possono far parte della
stessa squadra.</li>
<li>Un giocatore può selezionare solo una copia di ogni
personaggio unico (<span class="icon-unique"></span>), ma può selezionare un qualsiasi numero
di personaggi non unici. Quando seleziona un personaggio
unico, il giocatore deve scegliere se usare la versione elite (dal
valore in punti superiore, con 2 dadi) o la versione non elite
(dal valore in punti inferiore, con 1 dado) di quel personaggio.</li>
<li>Un giocatore deve scegliere almeno 1 personaggio.</li>
<li>Non esistono restrizioni basate sul colore di un personaggio.
Un giocatore può includere nella sua squadra personaggi dello
stesso colore o di colori diversi.</li>
</ul>

<h3 id="2.comporreunmazzo">2. Comporre un mazzo</h3>

<p>Un mazzo include esattamente 30 carte.</p>

<ul>
<li>Un mazzo non può includere più di 2 copie della stessa carta.</li>
<li>Se una squadra contiene personaggi eroi, il suo mazzo non può
contenere carte malvagio. Se una squadra contiene personaggi
malvagi, il suo mazzo non può contenere carte eroe. Le carte
neutrali possono essere incluse in ogni mazzo.</li>
<li>Le carte blu, rosse e gialle possono essere incluse in un
mazzo solo se la squadra include un personaggio del colore
corrispondente; le carte grigie possono essere incluse in
qualsiasi mazzo.</li>
<li>Un mazzo può contenere carte evento, miglioria e supporto.
Le carte personaggio e campo di battaglia non sono incluse
nel mazzo, quindi non contano ai fini di determinare il limite
di 30 carte.</li>
</ul>

<h3 id="3.scegliereuncampodibattaglia">3. Scegliere un campo di battaglia</h3>

<p>Oltre ai personaggi e a un mazzo, un giocatore seleziona 1 campo
di battaglia da portare con sé alla partita.</p>

<p><em>Esempio: Un giocatore sceglie la versione elite di Leia Organa (<span class="icon-set-AW"></span>28) per 16 punti e la versione non elite di Han Solo (<span class="icon-set-AW"></span>46) per 14 punti. I due personaggi hanno un valore totale di 30 punti, vale a dire il massimo di punti consentito in una squadra.</em></p>

<p><em>Dal momento che Leia Organa e Han Solo sono personaggi eroi, il giocatore non può usare alcuna carta malvagio nel suo mazzo; inoltre non può includere carte blu, dal momento che non ha scelto un personaggio blu. Il giocatore sceglie 30 carte rosse, gialle e grigie da aggiungere al suo mazzo. Decide di prendere almeno 10 carte dotate di dadi, dal momento che è importante pescare e giocare carte che forniscano dadi.</em></p>

<p><em>Infine, il giocatore seleziona la Sala di Guerra Ribelle (<span class="icon-set-AW"></span>171) come suo campo di battaglia: se scelto durante la preparazione, questo campo di battaglia gli permetterà di risolvere gratuitamente i suoi dadi con un costo in risorse, come ad esempio la faccia “3 danni a distanza” del dado di Han Solo.</em></p>

<h1 id="parte5.strutturadellapartita">Parte 5. Struttura della partita</h1>

<p>La partita è una frenetica battaglia di attacchi e contrattacchi in
cui i giocatori effettuano azioni a turni alterni.</p>

<h3 id="preparazione">Preparazione</h3>

<p>Per preparare una partita si svolgono i passi seguenti
nell’ordine indicato:</p>

<ol>
<li>Ogni giocatore colloca le sue carte personaggio a faccia in su
davanti a sé, assieme ai dadi corrispondenti.</li>
<li>Ogni giocatore mette da parte il suo campo di battaglia a
faccia in su.</li>
<li>Ogni giocatore mescola il suo mazzo di 30 carte e pesca
5 carte.</li>
<li>Ogni giocatore rimescola nel mazzo un qualsiasi numero di carte
dalla sua mano e pesca di nuovo finché non ha 5 carte in mano.</li>
<li>I giocatori suddividono i vari segnalini di gioco (danni, scudi
e risorse) in pile separate da tenere accanto all’area di gioco.
Ogni giocatore ottiene 2 risorse da questa riserva.</li>
<li>I giocatori tirano i loro dadi di partenza e sommano i valori
(i numeri bianchi) dei risultati ottenuti; in caso di pareggio,
ripetono il tiro. Il giocatore con il totale più alto sceglie
su quale campo di battaglia combattere. Il giocatore che
possiede il campo di battaglia scelto lo controlla e lo colloca
accanto al suo mazzo. L’altro giocatore rimuove il suo campo
di battaglia dal gioco e fornisce 2 scudi ai suoi personaggi,
distribuendoli come preferisce. Dopo aver tirato i dadi, tutti i
dadi personaggio vanno collocati sulle carte corrispondenti.</li>
</ol>

<h3 id="round">Round</h3>

<p>Ogni partita si svolge in una serie di round. Ogni round è composto
da due fasi diverse: la fase di azione e la fase di gestione.</p>

<h4 id="fasediazione">Fase di azione</h4>

<p>Durante la fase di azione, i giocatori svolgono i loro turni
alternandosi. Il giocatore che controlla il campo di battaglia
effettua il primo turno. Nel proprio turno, un giocatore può
effettuare un’azione o passare. Quando entrambi i giocatori
passano consecutivamente, la fase di azione termina e il gioco
prosegue con la fase di gestione.</p>

<h4 id="fasedigestione">Fase di gestione</h4>

<p>Durante la fase di gestione, ogni giocatore esegue quanto segue:</p>

<ol>
<li>Ripristina le sue carte esaurite.</li>
<li>Rimette sulle carte corrispondenti tutti i dadi che si trovano
nella sua riserva di dadi.</li>
<li>Ottiene 2 risorse.</li>
<li>Scarta un qualsiasi numero di carte dalla propria mano, poi pesca
fino ad avere un numero di carte pari al proprio limite di mano.

<ul>
<li>Se, dopo avere scartato, un giocatore ha nella sua mano un
numero di carte pari o superiore al suo limite di mano, quel
giocatore non pesca alcuna carta.</li>
<li>Se a un giocatore non rimangono abbastanza carte da
pescare per raggiungere il suo limite di mano, pesca il
maggior numero di carte possibile.</li>
</ul></li>
</ol>

<h3 id="azioni">Azioni</h3>

<p>Le azioni vengono svolte da ogni giocatore durante il proprio
turno. Nel proprio turno, un giocatore deve effettuare un’azione
o passare. Le varie azioni sono elencate di seguito e descritte in
dettaglio più avanti:</p>

<ul>
<li>Giocare una carta dalla mano</li>
<li>Attivare un personaggio o un supporto</li>
<li>Risolvere i dadi</li>
<li>Scartare una carta per ripetere il tiro dei dadi</li>
<li>Usare l’azione di una carta</li>
<li>Rivendicare il campo di battaglia</li>
</ul>

<p>Quando un giocatore ha diritto a effettuare azioni aggiuntive nel
proprio turno, deve effettuarle immediatamente o passare: non
può tenere da parte le azioni per effettuarle successivamente. Se
ha diritto a effettuare un’azione al di fuori del proprio turno, deve
effettuarla immediatamente.</p>

<h4 id="giocareunacartadallamano">Giocare una carta dalla mano</h4>

<p>Prima di giocare una carta, un giocatore deve controllare se su
di essa sono presenti restrizioni di gioco; se tali condizioni sono
presenti e non sono soddisfatte, quella carta non può essere giocata.</p>

<p>Se non ci sono restrizioni (o se tutte le restrizioni per giocare
la carta sono soddisfatte), allora il giocatore deve pagare
un ammontare di risorse pari al costo della carta; se non ha
abbastanza risorse da pagare, la carta non può essere giocata.</p>

<p>Una volta che il costo della carta è stato pagato, la carta si risolve
in base al suo tipo.</p>

<ul>
<li>Giocare un Evento: Il giocatore segue le istruzioni sulla carta e
poi la scarta. Durante la risoluzione, la carta si trova nel limbo.</li>
<li>Giocare una Miglioria: Il giocatore sceglie e assegna la
miglioria a un personaggio, collocandola accanto a quel
personaggio o sotto di esso. Prima di pagare il costo per
giocare una miglioria, il giocatore può scegliere di sostituire
1 miglioria già presente sul personaggio scelto: il costo per
giocare la nuova miglioria viene ridotto del costo della vecchia
miglioria e la vecchia miglioria viene scartata quando la nuova
entra in gioco. Se la vecchia miglioria ha un costo pari o
superiore a quella nuova, allora la nuova miglioria è gratuita.

<ul>
<li>La maggior parte delle migliorie è abbinata a un dado extra:
quando una di queste migliorie viene giocata, il giocatore
prende il dado corrispondente dai dadi messi da parte
e lo colloca sulla miglioria o, per maggiore facilità d’uso,
direttamente sul personaggio (dal momento che sarà tirato
assieme ai dadi del personaggio).</li>
<li>Un personaggio non può avere più di 3 migliorie.</li>
</ul></li>
<li>Giocare un Supporto: Il giocatore colloca la carta sul tavolo, al di
sotto della sua squadra. Alcuni supporti sono abbinati a un dado:
quando uno di questi supporti viene giocato, il giocatore prende il
dado corrispondente e lo colloca sul supporto in questione.</li>
</ul>

<h4 id="attivareunpersonaggioounsupporto">Attivare un personaggio o un supporto</h4>

<p>Per attivare una carta personaggio o supporto, un giocatore
esaurisce quella carta e tira tutti i suoi dadi. Quei dadi ora si trovano
nella riserva di dadi del giocatore, e quest’ultimo può effettuare
un’azione in un turno futuro per risolvere i loro simboli. I personaggi
tirano sempre i loro dadi personaggio e i loro dadi miglioria (quelli
delle migliorie a loro assegnate) quando si attivano. I supporti tirano
il loro dado e lo includono nella riserva di dadi quando si attivano.
I supporti senza dado non possono essere attivati.</p>

<ul>
<li>Tutti i dadi associati a un personaggio (i suoi dadi personaggio
e miglioria) devono essere tirati quando quel personaggio
viene attivato. Un giocatore non può scegliere di tirare soltanto
alcuni dadi.</li>
<li>Un personaggio o supporto esaurito non può essere attivato.</li>
</ul>

<h4 id="risolvereidadi">Risolvere i dadi</h4>

<p>Ogni faccia di un dado mostra un simbolo (vedi <a href="#simbolideidadi">Simboli dei dadi</a>).
Un giocatore può risolvere 1 o più dadi nella sua riserva che
mostrino lo stesso simbolo, uno alla volta (a meno che non si
aggiunga un dado modificato, nel qual caso i dadi vanno risolti
simultaneamente). Per risolvere un dado, un giocatore deve pagare
qualsiasi costo e applicare l’effetto rappresentato dal simbolo su
quel dado. Poi rimette il dado sulla carta di appartenenza.</p>

<ul>
<li>Un giocatore può risolvere soltanto i dadi della propria riserva
di dadi.</li>
<li>Un giocatore può risolvere dadi con valori diversi durante la
stessa azione, purché quei dadi condividano lo stesso simbolo.</li>
<li>Un giocatore non può scegliere di risolvere un simbolo di un dado
se non ha alcun simbolo di quel tipo da risolvere. Quando effettua
questa azione, un giocatore deve risolvere almeno 1 dado.</li>
<li>Un giocatore può risolvere qualsiasi dado con lo stesso
simbolo, anche se quel dado non mostrava il simbolo in
questione quando il giocatore ha iniziato a risolvere i dadi.
••Un giocatore non può risolvere lo stesso dado più di una volta
per azione.</li>
</ul>

<h4 id="scartareunacartaperripetereiltirodeidadi">Scartare una carta per ripetere il tiro dei dadi</h4>

<p>Un giocatore può scartare 1 carta a sua scelta dalla propria mano
per ripetere il tiro di 1 o più dadi nella propria riserva. Deve
scegliere tutti i dadi di cui vuole ripetere il tiro prima di ripeterlo.</p>

<ul>
<li>Se non c’è alcun dado nella sua riserva di dadi, il giocatore non
può scartare carte dalla sua mano per ripetere un tiro.</li>
</ul>

<h4 id="usarel’azionediunacarta">Usare l’azione di una carta</h4>

<p>Su alcune carte supporto, miglioria e personaggio sono elencate
delle azioni speciali. Queste azioni sono precedute dalla parola
“<strong>Azione</strong>” in grassetto. Per risolvere questa azione si seguono le
istruzioni della carta.</p>

<h4 id="rivendicareilcampodibattaglia">Rivendicare il campo di battaglia</h4>

<p>Quando un giocatore rivendica il campo di battaglia, può usare
la sua capacità di rivendicazione. Se non controlla il campo
di battaglia, ne prende il controllo e sposta la carta campo di
battaglia accanto al suo mazzo: per il resto di questo round, quel
giocatore passa automaticamente per tutte le sue future azioni,
mentre il suo avversario continua a effettuare azioni finché non
passa a sua volta. Ogni round, il campo di battaglia può essere
rivendicato da un solo giocatore.</p>

<ul>
<li>Un giocatore può rivendicare il campo di battaglia anche se lo
controlla già, al fine di mantenerne il controllo e di usare la sua
capacità di rivendicazione.</li>
<li>Ogni round, il giocatore che controlla il campo di battaglia
effettua la prima azione.</li>
</ul>

<h3 id="passare">Passare</h3>

<p>Se un giocatore non desidera effettuare un’azione, può passare.
Quel giocatore non effettua alcuna azione, ma mantiene l’opzione
di effettuare un’azione dopo il suo avversario. Dopo che entrambi
i giocatori hanno passato consecutivamente, il round prosegue
con la fase di gestione.</p>

<h3 id="vincerelapartita">Vincere la partita</h3>

<p>Una partita può finire in due modi diversi:</p>

<ul>
<li>Tutti i personaggi di un giocatore sono sconfitti. La partita
termina immediatamente e l’altro giocatore vince la partita.</li>
<li>Se un giocatore non ha più carte nella sua mano e nel
suo mazzo alla fine di un round (dopo la fase di gestione),
quel giocatore perde e l’altro vince. Se entrambi i giocatori
dovessero perdere in questo modo, il giocatore che controlla il
campo di battaglia alla fine del round è il vincitore.</li>
</ul>

<h1 id="parte6.concettidelgioco">Parte 6. Concetti del gioco</h1>

<p>Queste regole importanti vengono utilizzate in ogni partita.</p>

<h3 id="danno">Danno</h3>

<p>Quando un personaggio subisce danni, colloca quell’ammontare
di danni sul personaggio. Quando su un personaggio è presente
un ammontare di danni pari alla sua salute, quel personaggio è
immediatamente sconfitto.</p>

<ul>
<li>I danni diretti non possono essere bloccati dagli scudi o dagli
effetti delle carte. Gli eventuali scudi su un personaggio che
subisce danni diretti rimangono su quel personaggio; gli scudi
vengono ignorati soltanto ai fini di infliggere i danni diretti.</li>
<li>Esistono segnalini danno dal valore 1 e 3. Un giocatore può
opportunamente cambiare questi segnalini al fine di tenere il
conto dell’ammontare di danni presente su un personaggio.
Se la riserva di segnalini danno si esaurisce, è consentito usare
segnalini di tipo diverso in sostituzione o tenere il conto dei
danni con un metodo diverso.</li>
<li>Dal momento che i dadi vanno risolti uno alla volta, i danni
inflitti durante la stessa azione sono solitamente inflitti in
momenti diversi. L’unico caso in cui più dadi infliggono danni
esattamente nello stesso momento è quando un dado viene
modificato da altri dadi.</li>
</ul>

<h3 id="personaggiosconfitto">Personaggio sconfitto</h3>

<p>Quando su un personaggio è presente un ammontare di danni
pari alla sua salute, quel personaggio è immediatamente
sconfitto. Tutti i suoi dadi (sia personaggio che miglioria) sono
rimossi dal gioco, tutte le migliorie su di esso sono scartate e la
carta personaggio è rimossa dal gioco.</p>

<ul>
<li>Qualsiasi danno in eccesso inflitto a un personaggio da una
fonte che sconfigge il personaggio viene ignorato. Un giocatore
può infliggere a un personaggio più danni della sua salute,
anche quando distribuisce i danni come preferisce (ad esempio,
con lo speciale del Fucile F&#8211;11D).</li>
<li>Quando tutti i personaggi di un giocatore sono sconfitti, quel
giocatore ha perso la partita.</li>
</ul>

<h3 id="risorsa">Risorsa</h3>

<p>Le risorse sono la valuta del gioco e sono usate per pagare
le carte, le capacità delle carte e la risoluzione dei dadi.
L’ammontare di risorse che un giocatore ha a sua disposizione
in qualsiasi momento è rappresentato dai suoi segnalini risorsa.
All’inizio della partita, le risorse si trovano nella riserva generale.
Quando un giocatore ottiene risorse, prende i segnalini dalla
riserva generale. Quando un giocatore spende o perde risorse,
rimette i segnalini nella riserva generale.</p>

<ul>
<li>Durante la fase di gestione, ogni giocatore ottiene 2 risorse.</li>
<li>Se la riserva dei segnalini risorsa si esaurisce, è consentito
usare dei segnalini diversi in sostituzione o tenere il conto delle
risorse con un metodo diverso.</li>
</ul>

<h3 id="scudo">Scudo</h3>

<p>Gli scudi bloccano i danni. Ogni scudo blocca 1 danno che sta
per essere inflitto al personaggio. Dopo aver bloccato il danno,
il segnalino scudo è rimosso.</p>

<ul>
<li>L’uso di uno scudo non è facoltativo. Gli scudi devono essere
usati per bloccare i danni, se possibile.</li>
<li>In qualsiasi momento, un personaggio può avere un massimo di
3 scudi. Se un effetto fornisse a un personaggio più di 3 scudi,
gli scudi in eccesso andrebbero ignorati.</li>
<li>Se la riserva dei segnalini scudo si esaurisce, è consentito usare
dei segnalini diversi in sostituzione o tenere il conto degli scudi
con un metodo diverso.</li>
</ul>

<h3 id="pescare">Pescare</h3>

<p>Ogni volta che un giocatore pesca una carta, prende la carta in
cima al suo mazzo e l’aggiunge alla sua mano.</p>

<ul>
<li>Quando un giocatore pesca più carte, quelle carte sono
pescate simultaneamente.</li>
<li>Se a un giocatore non rimangono nel mazzo abbastanza carte
da pescare, quel giocatore pesca il maggior numero di carte
possibile. Se un giocatore non può pescare alcuna carta, non
accade nulla.</li>
</ul>

<h3 id="cartapronta">Carta pronta</h3>

<p>Una carta è pronta quando è in posizione verticale. Le carte
pronte possono essere esaurite (girate orizzontalmente). Quando
un giocatore riceve l’istruzione di ripristinare una carta, gira
quella carta in posizione verticale.</p>

<ul>
<li>Una carta pronta non può essere ripristinata.</li>
<li>I supporti e i personaggi pronti possono esaurirsi per attivarsi.
Le migliorie pronte possono essere esaurite solo tramite gli
effetti delle carte.</li>
</ul>

<h3 id="cartaesaurita">Carta esaurita</h3>

<p>Una carta è esaurita quando è girata orizzontalmente. Le carte
esaurite possono essere ripristinate (girate verticalmente). Se un
giocatore riceve l’istruzione di esaurire una carta, gira quella carta
in posizione orizzontale.</p>

<ul>
<li>Una carta esaurita non può essere esaurita di nuovo.</li>
</ul>

<h1 id="parte7.capacità">Parte 7. Capacità</h1>

<p>Una capacità è lo speciale testo di gioco con cui una carta
contribuisce alla partita. Esistono cinque tipi di capacità: capacità
di azione, capacità di rivendicazione, capacità persistente,
capacità speciale e capacità innescata. Esistono anche delle
parole chiave, vale a dire abbreviazioni di capacità che compaiono
su più carte. Una carta può possedere più di una capacità; a ogni
capacità è assegnato il suo paragrafo personale sulla carta.</p>

<p><em>Esempio: Finn (<span class="icon-set-AW"></span>45) possiede due capacità diverse.</em></p>

<p>Una capacità diventa utilizzabile non appena la sua carta entra in
gioco e rimane utilizzabile fintanto che quella carta è in gioco. La
capacità di un evento è risolta quando quell’evento viene giocato.</p>

<p>I giocatori devono risolvere la maggior parte possibile di una
capacità, a meno che quella capacità non includa il termine “può”
(o una sua variante) o non fornisca esplicitamente una scelta al
giocatore. Le capacità speciali (<span class="icon-special"></span>) sono obbligatorie se quella
faccia del dado viene risolta.</p>

<h3 id="capacitàdiazione">Capacità di azione</h3>

<p>Su alcune carte supporto, miglioria e personaggio sono elencate
delle azioni uniche. Queste azioni sono precedute dalla parola
“<strong>Azione</strong>” in grassetto. Per risolvere questa capacità, un giocatore
deve spendere un’azione su di essa durante il proprio turno e poi
seguire le istruzioni riportate sulla carta.</p>

<p><em>Esempio: Contatti con il Crimine (<span class="icon-set-AW"></span>101) possiede la capacità di azione “Azione - Esaurisci questo supporto per ottenere 1 risorsa”.</em></p>

<h3 id="capacitàdirivendicazione">Capacità di rivendicazione</h3>

<p>I campi di battaglia possiedono delle capacità di rivendicazione,
precedute dalla parola “<strong>Rivendicazione</strong>” in grassetto. Queste
capacità sono facoltative e possono essere risolte dal giocatore
che rivendica il campo di battaglia.</p>

<h3 id="capacitàpersistente">Capacità persistente</h3>

<p>Una capacità persistente è una qualsiasi capacità il cui testo non
contenga condizioni di innesco, che non sia preceduta da una
parola in grassetto (come “Azione” o “Rivendicazione”) e che non
sia una parola chiave.</p>

<p><em>Esempio: Scorta Personale (<span class="icon-set-AW"></span>78) possiede la capacità persistente “Fornisci la parola chiave Protezione al personaggio con questa miglioria”.</em></p>

<h3 id="capacitàspeciale">Capacità speciale</h3>

<p>Queste capacità compaiono su alcune carte che possiedono
un dado corrispondente e sono contrassegnate dal simbolo
“speciale” (<span class="icon-special"></span>). Quando un dado con quel simbolo viene risolto,
la capacità speciale sulla sua carta corrispondente viene risolta.</p>

<ul>
<li>Il simbolo “speciale” (<span class="icon-special"></span>) non può essere risolto per usare la
capacità speciale su una carta diversa.</li>
<li>Se un dado viene tirato in una riserva di dadi indipendentemente
dal fatto che la carta corrispondente sia in gioco o meno, quel
dado fa comunque riferimento a qualsiasi capacità speciale
posseduta dalla carta e che può risolvere normalmente,
se necessario.
<em>Esempio: Asso nella Manica (<span class="icon-set-AW"></span>92) recita “Scarta 1 miglioria gialla dalla tua mano per tirare il suo dado nella tua riserva, se possibile”. La capacità speciale su quella miglioria può essere risolta come è scritta sulla carta, dal momento che il dado è considerato dotato di quella capacità su quella faccia, a prescindere dal fatto che quella carta sia in gioco o meno.</em></li>
</ul>

<h3 id="capacitàinnescata">Capacità innescata</h3>

<p>Una capacità innescata possiede una condizione di innesco e un
effetto. Quando una capacità innescata soddisfa la sua condizione
di innesco, quella capacità si risolve. Esistono due tipi di capacità
innescate: “dopo” e “prima”.</p>

<ul>
<li>Le capacità innescate esistono indipendentemente dalla loro
fonte. Una volta innescata, l’intera capacità si risolve, anche se
la carta su cui essa si trovava esce dal gioco.</li>
</ul>

<h4 id="condizionediinnesco">Condizione di innesco</h4>

<p>Una condizione di innesco indica il punto di tempistica in cui una
capacità può essere usata ed è sempre preceduta dalla parola
“dopo” o “prima”. Una condizione di innesco corrisponde a
un’occorrenza specifica che ha luogo nel gioco.</p>

<p><em>Esempio: Qui-Gon Jinn (<span class="icon-set-AW"></span>37) sta per ottenere uno scudo, che è la condizione di innesco della sua capacità che recita: “Prima che questo personaggio ottenga 1 o più scudi, puoi rimuovere 1 suo scudo per infliggere 1 danno a un personaggio”.</em></p>

<h4 id="capacità“prima”">Capacità “prima”</h4>

<p>Nel corso di una partita, se una capacità “prima” soddisfa la sua
condizione di innesco, quella capacità va risolta immediatamente
prima di continuare a risolvere il resto dell’effetto. Questo
consente alle capacità “prima” di interrompere il flusso del gioco.</p>

<p><em>Esempio: Tutt’Uno con la Forza (<span class="icon-set-AW"></span>42) recita “Prima che il personaggio con questa miglioria sia sconfitto, questa miglioria diventa un supporto per il resto della partita”. La condizione di innesco è “il personaggio con questa miglioria sia sconfitto” e la parola di tempistica “prima” indica di risolvere il resto dell’effetto prima che la condizione di innesco sia risolta.</em></p>

<h4 id="capacità“dopo”">Capacità “dopo”</h4>

<p>Nel corso di una partita, se una capacità “dopo” soddisfa la sua
condizione di innesco, quella capacità va risolta immediatamente
dopo la risoluzione della condizione di innesco. A differenza delle
capacità “prima”, le capacità “dopo” non interrompono il flusso
del gioco e attendono in coda il loro turno di risoluzione.</p>

<p><em>Esempio: Il Comlink (<span class="icon-set-AW"></span>61) recita “Dopo che hai giocato questa miglioria, puoi ripetere il tiro di un qualsiasi numero di tuoi dadi o di un qualsiasi numero di dadi di un avversario”. L’effetto di giocare la carta deve essere completamene risolto (pagando il costo e scegliendo un personaggio a cui assegnarla) e poi la capacità “dopo” si risolve.</em></p>

<h4 id="coda">Coda</h4>

<p>Una volta soddisfatte le loro condizioni di innesco, le capacità
“dopo” entrano in una fila immaginaria nota come “coda”
e attendono in coda finché la condizione di innesco non è
completa. Se la condizione di innesco era parte di un’altra
capacità, quell’intera capacità deve essere completata prima che
la capacità “dopo” sia risolta. Le capacità in coda vengono risolte
nell’ordine in cui sono entrate in coda: ognuna deve essere risolta
completamente prima che di risolvere la successiva. Se, durante
la risoluzione di una capacità in coda, si aggiunge un’altra
capacità, quest’ultima si sposta “alla fine” della coda e viene
risolta per ultima.</p>

<ul>
<li>Le capacità entrano ed escono dalla coda in ordine cronologico,
in base a un principio “prima a entrare, prima a uscire”.</li>
<li>Se due o più capacità possiedono la stessa condizione di
innesco, il giocatore che controlla il campo di battaglia decide
l’ordine in cui entrano in coda.</li>
</ul>

<h4 id="capacitàsimultanea">Capacità simultanea</h4>

<p>Quando due o più capacità innescate soddisfano le loro condizioni di
innesco contemporaneamente, il giocatore che sta risolvendo quelle
capacità sceglie l’ordine in cui si risolvono (in caso di capacità “prima”)
o entrano in coda (in caso di capacità “dopo”). Se più di un giocatore
ha capacità innescate contemporaneamente, il giocatore che controlla
il campo di battaglia sceglie l’ordine in cui si risolvono (in caso di
capacità “prima”) o entrano in coda (in caso di capacità “dopo”).</p>

<p><em>Esempio: Un Predone Tusken (<span class="icon-set-AW"></span>22) è attivato con Jango Fett (<span class="icon-set-AW"></span>21) in gioco. Le due carte sono controllate da giocatori diversi. Entrambi hanno una capacità “dopo” che può risolversi dopo che il Predone Tusken è stato attivato, quindi è il controllore del campo di battaglia a scegliere quale delle due entra in coda per prima.</em></p>

<h3 id="parolachiave">Parola chiave</h3>

<p>Le parole chiave sono abbreviazioni di capacità che compaiono su
più carte.</p>

<ul>
<li>Una carta non può ottenere un’altra copia di una parola chiave;
può solo possedere quella parola chiave oppure non possederla.</li>
<li>Se una carta perde una parola chiave, la perde a prescindere
dal numero di volte che la ottiene.</li>
</ul>

<h4 id="imboscata">Imboscata</h4>

<p>Dopo avere giocato (e risolto) una carta con Imboscata, un
giocatore può effettuare immediatamente un’azione aggiuntiva.</p>

<ul>
<li>Se un giocatore ha diritto a effettuare un’azione al di fuori del
suo turno, la effettua immediatamente.</li>
</ul>

<h4 id="protezione">Protezione</h4>

<p>Prima che un personaggio con Protezione si attivi, il suo
proprietario può rimuovere 1 dado “danno” (<span class="icon-melee"></span> o <span class="icon-ranged"></span>) dalla riserva
di dadi dell’avversario per infliggere danni pari al valore mostrato
sul dado rimosso al personaggio con Protezione attivato.</p>

<h4 id="riposizionamento">Riposizionamento</h4>

<p>Questa parola chiave compare solo sulle migliorie. Dopo che il
personaggio a cui è stata assegnata la miglioria è stato sconfitto, il
suo controllore può spostare immediatamente quella miglioria su
un qualsiasi altro suo personaggio. Il dado miglioria si sposta sulla
nuova carta personaggio, anche se si trovava nella riserva di dadi.</p>

<ul>
<li>La parola chiave Riposizionamento ignora le restrizioni di gioco
quando la miglioria viene assegnata a un nuovo personaggio.</li>
</ul>

<h3 id="effetti">Effetti</h3>

<p>Tutto ciò che deriva da una capacità è considerato un effetto. Un
effetto ha la durata dell’azione descritta al suo interno.</p>

<h4 id="effettoritardato">Effetto ritardato</h4>

<p>Alcune capacità contengono degli effetti ritardati. Tali capacità
specificano un punto di tempistica futuro o indicano una condizione
futura che potrebbe verificarsi e contenere un effetto che accadrà
in quel momento.</p>

<p><em>Esempio: Signore del Crimine (<span class="icon-set-AW"></span>23) recita “Spendi 5 risorse per scegliere 1 personaggio. Dopo la fine di questo round, quel personaggio è sconfitto”. La sconfitta del personaggio è un effetto ritardato, in quanto non si risolve completamente fino a un punto di tempistica futuro.</em></p>

<ul>
<li>Un evento con un effetto ritardato crea l’effetto e poi viene
scartato. Non rimane nel limbo fino alla risoluzione dell’effetto.</li>
</ul>

<h4 id="effettodisostituzione">Effetto di sostituzione</h4>

<p>Un effetto di sostituzione usa la parola “invece” (o un’alternativa
all’effetto standard tra parentesi) da qualche parte nel suo testo.
Se un effetto di sostituzione si risolve, si considera che l’effetto
originale non sia stato risolto e che nessuna capacità possa
essere innescata da esso. Le capacità possono essere innescate
dall’effetto di sostituzione.</p>

<p><em>Esempio: Seconda Possibilità (<span class="icon-set-AW"></span>137) recita “Prima che il personaggio con questa miglioria sia sconfitto, curagli invece 5 danni e scarta questa miglioria dal gioco”. Dal momento che questo impedisce che il personaggio sia sconfitto, si considera che il personaggio non sia mai stato sconfitto.</em></p>

<ul>
<li>Se due o più effetti di sostituzione cercano di sostituire la
stessa cosa, è il controllore del campo di battaglia a scegliere
quale effetto risolvere. Gli altri effetti di sostituzione non si
risolvono più, dal momento che ciò che avrebbero sostituito
non esiste più (in quanto è già stato sostituito).</li>
</ul>

<h4 id="effettoautoreferenziale">Effetto autoreferenziale</h4>

<p>Quando il testo della capacità di una carta si riferisce al proprio
tipo di carta, come “questa miglioria” o “questo personaggio”, si
riferisce solo a se stessa e non ad altre copie della carta (con lo
stesso nome).</p>

<h4 id="effettonegativo">Effetto negativo</h4>

<p>Gli effetti negativi hanno la precedenza sugli effetti positivi. Se
un effetto afferma che un giocatore non può fare qualcosa, allora
quel giocatore non può fare quanto indicato, nemmeno se un altro
effetto afferma che può farlo.</p>

<h4 id="effetto“poi”">Effetto “poi”</h4>

<p>Al fine di risolvere un effetto preceduto dalla parola “poi”, gli
effetti precedenti sulla carta devono essere stati completamente
risolti (cioè lo stato di gioco cambia per riflettere l’intento
dell’effetto nella sua interezza). Se la parte di una capacità
che precede la parola “poi” non si risolve completamente con
successo, la parte della capacità che segue la parola “poi” non
si risolverà.</p>

<p><em>Esempio: Riciclare (<span class="icon-set-AW"></span>132) recita “Scarta le prime 3 carte dal tuo mazzo, poi aggiungi alla tua mano 1 carta miglioria o supporto dalla tua pila degli scarti”. Se nel mazzo rimangono meno di 3 carte, il giocatore non può aggiungere 1 carta alla sua mano perché l’effetto precedente non è stato completamente risolto.</em></p>

<h1 id="parte8.termini">Parte 8. Termini</h1>

<p>Di seguito sono fornite le definizioni e le spiegazioni dei termini
più importanti che i giocatori dovrebbero conoscere, presentati in
ordine alfabetico.</p>

<h3 id="aumentare">Aumentare</h3>

<p>Negli effetti che aumentano qualcosa, l’aumento dura soltanto per
la durata dell’effetto. Alcuni effetti hanno durata persistente.</p>

<p><em>Esempio: Il Favore dell’Imperatore (<span class="icon-set-AW"></span>88) recita: “Aumenta di 1 il tuo limite di mano”. Dal momento che a questo effetto non è assegnata alcuna durata, l’aumento è applicato costantemente.</em></p>

<h3 id="avvistare">Avvistare</h3>

<p>Alcune carte richiedono a un giocatore di avvistare un elemento
di gioco specifico al fine di usare la loro capacità. Per avvistare
un elemento, un giocatore deve avere quell’elemento in gioco.
La maggior parte delle carte richiede soltanto che un giocatore
avvisti 1 personaggio di un colore specifico.</p>

<p><em>Esempio: Usa la Forza (<span class="icon-set-AW"></span>149) recita “Avvista 1 personaggio blu per girare 1 dado su una faccia a tua scelta”. Un giocatore deve avere 1 personaggio blu non sconfitto nella propria squadra, altrimenti la carta non ha alcun effetto.</em></p>

<ul>
<li>Un giocatore non può avvistare le carte o i personaggi dei suoi
avversari, a meno che la carta non lo consenta esplicitamente.</li>
<li>Se un giocatore non è in grado di avvistare l’elemento richiesto,
la carta non ha alcun effetto.</li>
</ul>

<h3 id="controllare">Controllare</h3>

<p>Il controllore di una carta o di un dado è il giocatore che possiede
quell’elemento nella sua area di gioco. Di norma, un giocatore
controlla tutte le carte e tutti i dadi che possiede.</p>

<h3 id="copiadiunacarta">Copia (di una carta)</h3>

<p>Una copia di una carta è definita dal suo nome. Ogni altra
carta che condivide lo stesso nome è considerata una copia, a
prescindere dal tipo di carta, dal testo, dall’illustrazione o da
qualsiasi altra caratteristica della carta.</p>

<h3 id="costominore">Costo minore</h3>

<p>Il costo minore è il costo più basso possibile.</p>

<ul>
<li>Ogni effetto che modifichi il costo deve essere preso
in considerazione.</li>
</ul>

<h3 id="curare">Curare</h3>

<p>Quando un certo ammontare di danni viene curato da un
personaggio, si rimuove dal personaggio quell’ammontare
di danni.</p>

<ul>
<li>Si cura il maggior numero di danni possibile. La cura in eccesso
va ignorata.</li>
<li>Se nessun danno è stato rimosso dall’effetto di cura, non si
considera che il personaggio sia stato curato.</li>
</ul>

<h3 id="dadopersonaggio">Dado personaggio</h3>

<p>Un dado personaggio è un dado corrispondente a un personaggio.</p>

<ul>
<li>I dadi miglioria non sono dadi personaggio, sebbene i
personaggi usino anche quelli quando si attivano.</li>
</ul>

<h3 id="dannodiretto">Danno diretto</h3>

<ul>
<li>I danni diretti non possono essere bloccati dagli scudi o
dagli effetti delle carte. Qualsiasi scudo presente su un
personaggio a cui siano stati inflitti dei danni diretti rimane
su quel personaggio.</li>
</ul>

<h3 id="girareundado">Girare un dado</h3>

<p>Quando un giocatore gira un dado su una faccia, lo ruota in modo
che quella faccia sia la faccia in su di quel dado (ovvero in modo
che il dado mostri quella faccia).</p>

<ul>
<li>Quando si gira un dado, quel dado deve essere girato su una
faccia diversa. Un giocatore non può girare un dado sulla stessa
faccia su cui si trovava prima di girarlo (se il dado possiede lo
stesso simbolo e valore su due o più facce, può essere girato su
una faccia identica).</li>
</ul>

<h3 id="gratuitamente">Gratuitamente</h3>

<p>Quando qualcosa viene giocato o risolto gratuitamente, un
giocatore non paga alcun costo per la carta o il dado.</p>

<h3 id="guardare">Guardare</h3>

<p>A volte un effetto consente a un giocatore di guardare le carte
nella mano o nel mazzo di un giocatore. Guardare una carta non
cambia la posizione di quella carta: una volta guardata, la carta
deve essere rimessa nella sua collocazione precedente.</p>

<h3 id="mostrare">Mostrare</h3>

<p>Dopo che un dado è stato tirato in una riserva di dadi, la sua faccia
da considerare è quella a faccia in su.</p>

<ul>
<li>Quando una carta richiede un simbolo o un valore, non è
consentito fare riferimento alle facce dei dadi che non sono a
faccia in su.</li>
<li>Gli effetti che fanno riferimento a un determinato simbolo su un
dado funzionano con qualsiasi faccia con quel simbolo, anche se
presenta un valore modificato.</li>
<li>I dadi sulle carte non mostrano alcuna faccia. Un dado può
mostrare una faccia solo se è stato tirato nella riserva di dadi
di un giocatore.</li>
</ul>

<h3 id="proprietario">Proprietario</h3>

<p>Il proprietario di una carta o di un dado è il giocatore che ha
portato la carta o il dado alla partita. Un giocatore può essere il
proprietario di una carta o di un dado ma perderne il controllo
(per esempio, perdendo il controllo di un campo di battaglia).</p>

<h3 id="restrizionedigioco">Restrizione di gioco</h3>

<p>Le restrizioni di gioco a volte compaiono su una carta e sono
contrassegnate dalla parola “solo”. Un giocatore non può giocare
quella carta se la restrizione di gioco non è soddisfatta.</p>

<p>Alcune carte miglioria recitano “solo personaggi (colore)”. Se
un giocatore non possiede un personaggio di quel colore a cui
assegnare la miglioria, quella miglioria non può essere giocata.</p>

<ul>
<li>Le migliorie non vengono rimosse da un personaggio se la
restrizione di gioco non è più soddisfatta. Il personaggio deve
soddisfare la restrizione di gioco solo quando la carta è giocata
per la prima volta.</li>
</ul>

<h3 id="ridurre">Ridurre</h3>

<p>Negli effetti che riducono qualcosa, la riduzione dura soltanto per
la durata dell’effetto. Alcuni effetti hanno durata persistente.</p>

<p><em>Esempio: Mantiene Unita Ogni Cosa (<span class="icon-set-AW"></span>150) recita “Prima di giocare una miglioria blu, puoi esaurire questo supporto per ridurre di 1 il suo costo”. Questo effetto va applicato mentre si paga il costo per giocare la miglioria; una volta giocata, il costo torna al normale valore, dal momento che ormai il giocatore ha giocato una miglioria blu.</em></p>

<h3 id="rimuovereundado">Rimuovere un dado</h3>

<p>La rimozione dei dadi sposta i dadi dalla riserva di dadi di un
giocatore alle loro carte corrispondenti.</p>

<ul>
<li>Un dado non può essere rimosso se non si trova nella riserva di
dadi di un giocatore.</li>
<li>Se un dado con un simbolo specifico deve essere rimosso per
innescare un effetto, non ha importanza se quel dado può
attualmente essere risolto o meno: i modificatori o quelli che
richiedono un costo in risorse sono comunque considerati
simboli di quel tipo.</li>
</ul>

<h3 id="scegliereunbersaglio">Scegliere un bersaglio</h3>

<p>Un bersaglio è una carta o un dado a cui sarà applicato un effetto.
I termini “scegliere” o “a sua scelta” (o una loro variante) indicano
che è necessario scegliere un bersaglio affinché la capacità sia
risolta. Il giocatore che risolve l’effetto deve scegliere un elemento
di gioco che soddisfi i requisiti di bersagliamento della capacità.</p>

<ul>
<li>Quando fa una scelta, un giocatore non può scegliere bersagli
non validi; per esempio, non può infliggere danni a un
personaggio sconfitto. Se non ci sono bersagli validi, la carta
non ha alcun effetto.</li>
<li>Se allo stesso giocatore viene richiesto di scegliere più bersagli,
quei bersagli sono scelti contemporaneamente.</li>
<li>Un effetto che può scegliere “un qualsiasi numero” o “un
qualsiasi ammontare” di bersagli può essere risolto con
successo se vengono scelti 0 bersagli, anche se potrebbe
non avere alcun effetto.</li>
</ul>

<h3 id="sceglierese…oppure…">Scegliere se… oppure…</h3>

<p>Se una capacità usa la formula “scegliere se […] oppure” (o una
sua variante), il giocatore che usa la capacità può scegliere una
delle opzioni, anche se quella che sceglie non avrà nessun effetto.
Una volta che il giocatore ha fatto la sua scelta, dovrà risolvere la
maggior parte possibile di quell’opzione.</p>

<ul>
<li>Alcune carte obbligano un avversario a fare una scelta. Anche
l’avversario può scegliere una delle due opzioni.</li>
</ul>

<h3 id="spostare">Spostare</h3>

<p>Alcuni effetti consentono ai giocatori di spostare carte o segnalini.</p>

<ul>
<li>Quando qualcosa viene spostato, non può essere spostato nella
sua stessa collocazione (quella attuale). Se non c’è nessuna
destinazione valida per uno spostamento, lo spostamento non
può essere risolto.</li>
<li>Quando si spostano danni su un nuovo personaggio, quei danni
ignorano gli scudi e non si considera che il personaggio abbia
subito danni.</li>
</ul>

<h3 id="subiredanni">Subire danni</h3>

<p>Si subiscono danni solo quando 1 o più segnalini danno sono
collocati sul personaggio. Se tutti i danni inflitti sono stati
bloccati dagli scudi o da qualche altra capacità, non si subisce
alcun danno.</p>

<ul>
<li><p>I danni non subiti sono comunque inflitti.</p>

<p><em>Esempio: Accovacciarsi (<span class="icon-set-AW"></span>164) recita “Se il personaggio con questa miglioria subisce danni in mischia (<span class="icon-melee"></span>), scarta questa miglioria”. Se al personaggio vengono inflitti 2 danni in mischia che vengono bloccati da 2 scudi, nessun danno è stato subito dal personaggio, quindi Accovacciarsi non viene scartato.</em></p></li>
</ul>

<h3 id="valoretotale">Valore totale</h3>

<p>Il valore totale è la somma dei valori mostrati su tutti i dadi a cui
si fa riferimento.</p>

<p><em>Esempio: Il valore totale di 2 dadi “danno a distanza” con valori rispettivamente di 2 e di 1 è 3.</em></p>

<h3 id="x">X</h3>

<p>Alcune carte si riferiscono a X come a una variabile. X è sempre un
numero che viene definito dalla carta e non ha un valore standard.</p>

<h1 id="parte9.regoleperilmultiplayer">Parte 9. Regole per il multiplayer</h1>

<p>Oltre a giocare contro un avversario, i giocatori possono scegliere
di giocare contro più avversari in una partita multiplayer. Esiste
un solo formato ufficiale: tutti contro tutti.</p>

<h3 id="tutticontrotutti">Tutti contro tutti</h3>

<p>A una partita tutti contro tutti possono partecipare più di 2
giocatori, anche se il numero consigliato è di 3 o 4. I giocatori
applicano tutte le normali regole del gioco, con le seguenti
eccezioni e aggiunte.</p>

<h4 id="preparazione">Preparazione</h4>

<p>Per preparare la partita si svolgono i passi seguenti
nell’ordine indicato:</p>

<ol>
<li>Si decidono casualmente i posti dei giocatori al tavolo.</li>
<li>Tutti i giocatori tirano per il campo di battaglia. Il giocatore
con il valore più alto sceglie un campo di battaglia da usare per
la partita. Ogni altro giocatore riceve 1 scudo da fornire a uno
dei suoi personaggi e mette da parte il suo campo di battaglia.
In caso di parità, ripetono il tiro soltanto i giocatori in parità.</li>
</ol>

<h4 id="azioni">Azioni</h4>

<p>I giocatori effettuano le loro azioni in senso orario, partendo dal
primo giocatore. Tutti i giocatori devono passare consecutivamente
per far finire il round. Ogni round, il campo di battaglia può essere
rivendicato da un solo giocatore.</p>

<h4 id="sceglieregliavversari">Scegliere gli avversari</h4>

<p>Quando una capacità si riferisce a un avversario, il giocatore che
usa la capacità sceglie su quale avversario ha effetto.</p>

<h4 id="eliminazionedeigiocatori">Eliminazione dei giocatori</h4>

<p>Se tutti i personaggi di un giocatore sono sconfitti, o se a un
giocatore non rimane più alcuna carta nel mazzo e in mano alla
fine del round, quel giocatore è immediatamente eliminato dal
gioco. Tutte le sue carte e i suoi dadi vengono rimossi dal gioco,
ad eccezione delle carte che non controlla più o del suo campo di
battaglia, se è attivo. Gli altri giocatori continuano a giocare finché
non resta in gioco un solo giocatore; quel giocatore vince la partita.</p>
