<h2 id="złotazasada">Złota zasada</h2>

<p>Jeśli treść karty stoi w sprzeczności z zasadami gry,
to pierwszeństwo mają zasady opisane na karcie. Jeśli
jest możliwe przestrzeganie zarówno zasad gry, jak
i treści karty, należy zastosować się do obu.</p>

<h1 id="część1.rodzajeikolorykart">Część 1. Rodzaje i kolory kart</h1>

<p>Wszystkie karty mogą zawierać następujące informacje:
stronnictwo, kolor, rodzaj, tytuł, zdolność, unikatowość,
tekst fabularny, identyfikator, rzadkość oraz zestawienie
ścianek kości.</p>

<h3 id="stronnictwo">Stronnictwo</h3>

<p>W Star Wars: Przeznaczenie występują trzy różne stronnictwa:
bohaterowie, złoczyńcy oraz karty neutralne. Stronnictwo,
do którego przynależy dana karta, zaznaczone jest w jej
dolnej części.</p>

<h3 id="kolory">Kolory</h3>

<p>Każda karta jest powiązana z określonym kolorem, który jest
zaznaczony w jej dolnej części.</p>

<ul>
<li>Czerwony to Dowództwo – reprezentuje siłę militarną oraz
zaopatrzenie i powiązane z nimi postacie.</li>
<li>Niebieski to Moc – reprezentuje postaci wyszkolone
w używaniu Mocy oraz ich różne umiejętności.</li>
<li>Żółty to Łotrzy – reprezentuje szumowiny, nikczemników,
szpiegów oraz przemytników.</li>
<li>Szary to Ogólny – reprezentuje wszystko, co nie zawiera się
w jednym z trzech pozostałych kolorów.</li>
</ul>

<h3 id="rodzaj">Rodzaj</h3>

<p>Każda karta przynależy do jednego z pięciu rodzajów: pole
bitwy, postać, wydarzenie, ulepszenie lub wsparcie. Rodzaj
karty został zaznaczony powyżej jej zdolności – za wyjątkiem
pól bitwy, gdzie nie jest on zaznaczony.</p>

<h3 id="nazwa">Nazwa</h3>

<p>Nazwa karty jest używana do jej zidentyfikowania oraz jej
umiejscowienie w uniwersum Star Wars.</p>

<h3 id="zdolności">Zdolności</h3>

<p>Na większości kart znajduje się jedna lub kilka zdolności.</p>

<h3 id="unikatowość">Unikatowość</h3>

<p>Każda karta jest unikatowa albo nie-unikatowa. Karty
unikatowe przed swoją nazwą posiadają symbol gwiazdki (<span class="icon-unique"></span>).
Wszystkie pozostałe karty są nie-unikatowe.</p>

<p>Gracz nie może mieć równocześnie w grze więcej niż jednej
kopii unikatowej karty. W jednej drużynie nie może być
równocześnie w grze więcej niż jednej kopii unikatowej karty,
a gracz nie może zagrać unikatowego wsparcia ani unikatowego
ulepszenia, jeśli już ma w grze jego inną kopię.</p>

<ul>
<li>Ograniczenie unikatowości odnosi się do każdego z graczy
osobno. Gracze mogą mieć równocześnie w grze po jednej
kopii unikatowej karty.</li>
<li>Ograniczenie unikatowości nie odnosi się do kości. Gracz
może mieć w grze kilka kopii tej samej kości.</li>
<li>Podczas sprawdzania unikatowości postaci o tej samej
nazwie, ale różnym podtytule nadal są uznawane za tę
samą postać.
<em>Przykład: Gracz nie może w tej samej drużynie mieć Dartha Vadera, Lorda Sithów i Dartha Vadera, Mrocznego ucznia.</em></li>
</ul>

<h3 id="tekstfabularny">Tekst fabularny</h3>

<p>Tekst fabularny nie ma żadnego wpływu na grę.</p>

<h3 id="id_card">Identyfikator (ID)</h3>

<p>Identyfikator karty składa się z symbolu zestawu (symbolem
zestawu Przebudzenia jest r), po którym następuje numer.
Służy on identyfikacji kart oraz dopasowaniu ich do kości.</p>

<h3 id="rarity_card">Rzadkość</h3>

<p>W grze występuje pięć poziomów rzadkości. Rzadkość
karty jest oznaczona przy pomocy koloru widocznego pod
identyfikatorem. Kość powiązana z kartą ma ten sam poziom
rzadkości co odpowiadająca jej karta.</p>

<ul>
<li><span class="fg-rarity-S icon-collectors"></span> Stała (Szary): Stałe karty są dostępne w nie-losowy
sposób i zawsze można je znaleźć w tych samych,
określonych produktach.</li>
<li><span class="fg-rarity-C icon-collectors"></span> Powszechna (Niebieski): W każdym zestawie
dodatkowym znajdują się trzy powszechne karty.</li>
<li><span class="fg-rarity-U icon-collectors"></span> Częsta (Żółty): W każdym zestawie dodatkowym
znajduje się jedna częsta karta.</li>
<li><span class="fg-rarity-R icon-collectors"></span> Rzadka (Zielony): W każdym zestawie dodatkowym
znajduje się jedna rzadka karta oraz powiązana
z nią kość.</li>
<li><span class="fg-rarity-L icon-collectors"></span> Legendarna (Fioletowy): W co szóstym zestawie
dodatkowym rzadka karta oraz powiązana z nią kość
zastąpiona jest kartą legendarną oraz jej kością.</li>
</ul>

<h3 id="zestawienieścianekkości">Zestawienie ścianek kości</h3>

<p>Karta, która jest powiązana z kością, posiada graficzne
zestawienie ścianek kości, przedstawiające wszystkie sześć
ścianek jej kości.</p>

<h3 id="polabitwy">Pola bitwy</h3>

<p>Pola bitwy reprezentują różnorodne lokalizacje, w
których gracze mogą się ze sobą zmierzyć. Na początku
rozgrywki wybierane jest jedno pole bitwy – drugie nie
jest wykorzystywane.</p>

<ul>
<li>W danym momencie tylko jeden gracz kontroluje pole bitwy
i umieszcza je obok swojej talii – ponieważ zaczynał z nim
grę albo jest ostatnią osobą, która je zajęła.</li>
<li>Na polach bitwy mogą znajdować się zdolności, związane
z zajęciem. Zdolności te mogą zostać rozpatrzone, kiedy
wykonywana jest akcja Zajęcia pola bitwy.</li>
<li>Gracz kontrolujący pole bitwy w każdej rundzie wykonuje
pierwszą akcję.</li>
<li>Uważa się, że wszystkie pola bitwy są szare.</li>
</ul>

<h4 id="podtytułwystępujetakżenapostaciach">Podtytuł (występuje także na postaciach)</h4>

<p>Podtytuł określa lokalizację lub planetę, na której znajduje
się pole bitwy oraz pomaga odróżnić od siebie różne
wersje postaci.</p>

<h3 id="postacie">Postacie</h3>

<p>Postacie reprezentują znane osobistości z uniwersum Star
Wars. Podczas tworzenia talii każdy gracz wydaje maksymalnie
30 punktów na swoje postacie. Postacie rozpoczynają, będąc
w grze, i pozostają w grze, dopóki nie zostaną pokonane.
Każda postać posiada jedną lub dwie kości, którymi
w momencie aktywowania danej postaci wykonywany
jest rzut.</p>

<h4 id="wytrzymałość">Wytrzymałość</h4>

<p>Wytrzymałość postaci to liczba obrażeń, które może otrzymać,
zanim zostanie pokonana.</p>

<h4 id="wartośćpunktowa">Wartość punktowa</h4>

<p>Wartość punktowa postaci to liczba punktów, które należy
wydać, aby dołączyć ją do swojej drużyny. Jeśli w tym miejscu
występują dwie wartości, to niższa oznacza liczbę punktów,
które należy wydać, aby użyć jednej kości danej postaci,
a wyższa oznacza liczbę punktów, które należy wydać, aby
użyć dwóch jej kości. Postać z dwiema kośćmi jest nazywana
postacią elitarną.</p>

<h3 id="wydarzenia">Wydarzenia</h3>

<p>Wydarzenia reprezentują akcje
taktyczne, spiski, zrządzenia losu oraz
inne nieprzewidywalne zdarzenia, które
mogą wystąpić podczas rozgrywki. Kiedy gracz zagrywa
wydarzenie, postępuje zgodnie z instrukcjami zawartymi na
karcie, a następnie odrzuca ją na swój stos kart odrzuconych.</p>

<ul>
<li>Uznaje się, że od momentu zagrania aż do całkowitego
rozpatrzenia wydarzenie znajduje się w zawieszeniu
(patrz „<a href="#wzawieszeniu">W zawieszeniu</a>”).</li>
<li>Pod warunkiem, że spełnione są warunki zagrania (patrz
„[Warunki zagrania][]”), gracz może zagrać
wydarzenie, nawet jeśli nie przyniesie ono żadnego efektu.</li>
</ul>

<h4 id="kosztwystępujetakżenawsparciachiulepszeniach">Koszt (występuje także na wsparciach i ulepszeniach)</h4>

<p>Koszt karty znajduje się w jej lewym górnym rogu. Gracz musi
wydać żetony zasobów w liczbie równej kosztowi danej karty,
aby móc ją zagrać.</p>

<h3 id="wsparcie">Wsparcie</h3>

<p>Karty wsparcia reprezentują pojazdy, połączenia oraz
wsparcie logistyczne. Kiedy gracz zagrywa kartę wsparcia,
kładzie ją odkrytą na swoim obszarze gry, obok lub za swoimi
postaciami. Karty wsparcia posiadają powtarzalne lub trwałe
efekty i pozostają w grze, dopóki jakiś efekt lub zdolność ich
nie odrzuci.</p>

<ul>
<li>Karty wsparcia nie mogą otrzymywać obrażeń.</li>
<li>Jeśli karta wsparcia posiada kość, to kością tą wykonuje się
rzut w momencie aktywowania danej karty.</li>
<li>Nie ma limitu wsparć, które może posiadać gracz.</li>
</ul>

<h4 id="podrodzajewystępujątakżenaulepszeniach">Podrodzaje (występują także na ulepszeniach)</h4>

<p>Niektóre karty posiadają podrodzaje,
wyszczególnione
za swoim rodzajem – takie jak „Pojazd”
lub „Broń”.
Z samymi podrodzajami nie są
powiązane żadne konkretne zasady,
ale inne karty mogą się do nich
odnosić.</p>

<ul>
<li>Kiedy karta w swej treści odwołuje się do podrodzaju,
jest on wytłuszczony.</li>
</ul>

<h3 id="ulepszenia">Ulepszenia</h3>

<p>Ulepszenia reprezentują broń, wyposażenie oraz zdolności,
które postacie mają do swojej dyspozycji. Kiedy gracz zagrywa
kartę ulepszenia, dołącza ją odkrytą do jednej ze swoich
postaci. Gracz może odrzucić ulepszenie już znajdujące się
na danej postaci, aby zredukować kosz nowego ulepszenia
o koszt ulepszenia właśnie odrzuconego. Ulepszenia posiadają
powtarzalne lub trwałe efekty i pozostają w grze, dopóki jakiś
efekt lub zdolność ich nie odrzuci albo postać, do której
zostały dołączone, nie zostanie pokonana.</p>

<ul>
<li>Każda postać może posiadać maksymalnie 3 ulepszenia.
Jeśli postać kiedykolwiek ma więcej niż 3 ulepszenia,
kontrolujący ją gracz musi wybierać i odrzucać ulepszenia,
dopóki postać nie będzie miała ich tylko 3.</li>
<li>W grze nie ma limitu broni, wyposażenia ani zdolności,
które postać może posiadać w ramach limitu swoich
3 ulepszeń.</li>
<li>Postać może posiadać kilka kopii tego samego
nie-unikatowego ulepszenia.</li>
<li>Jeśli karta ulepszenia posiada kość, to kością tą wykonuje
się rzut w momencie aktywowania danej karty. Nie ma
przy tym znaczenia, czy ulepszenie jest przygotowane,
czy wyczerpane, a ulepszenie nie wyczerpuje się wraz
z postacią.</li>
</ul>

<h1 id="część2.kościorazsymbolenakościach">Część 2. Kości oraz symbole na kościach</h1>

<p>W grze wykorzystywane są sześciościenne kości wysokiej
jakości. Wszystkie kości mogą zawierać następujące informacje:
wartość, symbol, koszt, modyfikator, identyfikator oraz
rzadkość.</p>

<h3 id="wartość">Wartość</h3>

<p>Wartość to cyfra widoczna ponad symbolem.</p>

<ul>
<li>Puste ścianki oraz ścianki specjalne nie mają wydrukowanej
wartości i uznaje się, że ich wartość wynosi 0.</li>
</ul>

<h3 id="symbol">Symbol</h3>

<p>Na każdej ściance kości widnieje symbol. Podczas
rozpatrywania kości, stosowany efekt jest uzależniony
do symbolu widocznego na danej kości.</p>

<h3 id="koszt">Koszt</h3>

<p>Niektóre karty posiadają koszt, widoczny w żółtej ramce
w dolnej części ścianki. Gracz musi wydać żetony zasobów
w liczbie równej kosztowi danej ścianki, aby móc ją rozpatrzyć.
Jeśli gracz nie może zapłacić kosztu, to nie może rozpatrzyć
danej ścianki kości.</p>

<h3 id="modyfikator">Modyfikator</h3>

<p>Na niektórych kościach występuje jedna lub dwie niebieskie
ścianki, na których wartość poprzedzona jest symbolem
plusa (+). Ścianki z plusem mogą być rozpatrzone tylko
w momencie rozpatrzenia innej kości przedstawiającej ten sam
symbol, ale niepoprzedzony plusem. Podczas rozpatrywania
wartość za plusem jest dodawana do innej kości w celu
utworzenia nowej wartości.</p>

<p><em>Przykład: gracz wyrzucił symbol <em><strong>+2<span class="icon-ranged"></span></strong></em>. Wyrzucił również <em><strong>1<span class="icon-ranged"></span></strong></em>, więc może rozpatrzyć <em><strong>+2<span class="icon-ranged"></span></strong></em> wraz z <em><strong>1<span class="icon-ranged"></span></strong></em>, aby zadać jednej postaci 3 obrażenia dystansowe. Gdyby gracz nie wyrzucił <em><strong>1<span class="icon-ranged"></span></strong></em> lub wydał je wcześniej, to nie mógłby rozpatrzyć kości z <em><strong>+2<span class="icon-ranged"></span></strong></em>.</em></p>

<ul>
<li>Modyfikator nie może być rozpatrzony samodzielnie.</li>
</ul>

<h3 id="id_die">Identyfikator (ID)</h3>

<p>Identyfikator składa się z symbolu zestawu, po którym
następuje numer. Każdy ID pasuje do odpowiedniej karty.</p>

<h3 id="rarity_die">Rzadkość</h3>

<p>Rzadkość kości odpowiada rzadkości powiązanej z nią karty
(patrz „<a href="#rarity_card">Rzadkość</a>”).</p>

<h3 id="symbolenakościach">Symbole na kościach</h3>

<p>Aktywowanie różnych kart pozwala na rzut kośćmi do puli
gracza. Kości te w późniejszej akcji mogą zostać rozpatrzone
dla uzyskania efektów powiązanych z ich symbolami. Każdy
symbol kości posiada własny efekt, zgodnie z tym, co opisano
poniżej. Większość symboli posiada nad sobą wartość,
określającą siłę danego efektu.</p>

<h4 id="melee_symbol"><span class="icon-melee"></span> Obrażenia wręcz</h4>

<p>Zadaje postaci obrażenia w liczbie równej wartości symbolu.</p>

<ul>
<li>Wszystkie obrażenia muszą zostać zadane jednej postaci.
Gracz nie może rozdzielić obrażeń z jednej kości (lub
kości, która została zmodyfikowana) pomiędzy kilka
postaci. Podczas rozpatrywania kilku kości w ramach
tej samej akcji każda kość może zadać obrażenia
innej postaci.</li>
</ul>

<h4 id="ranged_symbol"><span class="icon-ranged"></span> Obrażenia dystansowe</h4>

<p>Zadaje postaci obrażenia w liczbie równej wartości symbolu.</p>

<ul>
<li>Wszystkie obrażenia muszą zostać zadane jednej postaci.
Gracz nie może rozdzielić obrażeń z jednej kości (lub
kości, która została zmodyfikowana) pomiędzy kilka
postaci. Podczas rozpatrywania kilku kości w ramach
tej samej akcji każda kość może zadać obrażenia
innej postaci.</li>
</ul>

<h4 id="shield_symbol"><span class="icon-shield"></span> Osłona</h4>

<p>Daje postaci żetony osłon w liczbie równej wartości symbolu.</p>

<ul>
<li>Wszystkie osłony muszą zostać przyznane jednej postaci.
Gracz nie może rozdzielić osłon z jednej kości (lub kości,
która została zmodyfikowana) pomiędzy kilka postaci.
Podczas rozpatrywania kilku kości w ramach tej samej akcji
każda kość może przyznać osłony innej postaci.</li>
<li>Postać nie może posiadać więcej niż 3 osłony. Wszelkie
nadmiarowe osłony, które miałyby zostać przyznane
postaci, są ignorowane.</li>
</ul>

<h4 id="resource_symbol"><span class="icon-resource"></span> Zasoby</h4>

<p>Zapewnia żetony zasobów w liczbie równej wartości symbolu.</p>

<h4 id="disrupt_symbol"><span class="icon-disrupt"></span> Zakłócenie</h4>

<p>Zmusza dowolnego przeciwnika do utraty żetonów zasobów
w liczbie równej wartości symbolu.</p>

<ul>
<li>Jeśli przeciwnik nie posiada żetonów zasobów w liczbie
wskazanej przez wartość symbolu, wówczas odrzuca
wszystkie swoje pozostałe żetony zasobów.</li>
<li>Przeciwnik nie może stracić żetonów zasobów, których nie
posiada. Gracz nigdy nie może mieć mniej niż zero zasobów.</li>
</ul>

<h4 id="discard_symbol"><span class="icon-discard"></span> Odrzucenie</h4>

<p>Odrzuca losowe karty z ręki dowolnego przeciwnika w liczbie
równej wartości symbolu.</p>

<ul>
<li>Jeśli przeciwnik nie posiada kart w liczbie wskazanej
wartością symbolu, wówczas odrzuca wszystkie swoje
pozostałe karty.</li>
</ul>

<h4 id="focus_symbol"><span class="icon-focus"></span> Skupienie</h4>

<p>Obraca wskazaną liczbę innych kości w puli gracza na ścianki
przez niego wybrane. Liczba obracanych kości jest równa lub
niższa od wartości symbolu.</p>

<ul>
<li>Gracz nie może obrócić kości przeciwnika.</li>
</ul>

<h4 id="special_symbol"><span class="icon-special"></span> Specjalny</h4>

<p>Używa specjalnej zdolności oznaczonej symbolem <span class="icon-special"></span> na karcie
danej kości. Symbole specjalne mają wartość równą 0.</p>

<ul>
<li>Gracz nie może użyć specjalnej zdolności na innej karcie
– musi użyć specjalnej zdolności na karcie, która pasuje
do danej kości.</li>
<li>Tak, jak w przypadku pozostałych symboli, gracz może użyć
kilku specjalnych zdolności podczas tej samej akcji i sam
wówczas wybiera kolejność ich rozpatrywania.</li>
<li>Specjalna zdolność, pozwaląca przerzucić kość, na której się
znajduje, nie może być rozpatrywana po raz drugi podczas
tej samej akcji.</li>
</ul>

<h4 id="blank_symbol"><span class="icon-blank"></span> Pusta ścianka</h4>

<p>Symbole pustych ścianek nie posiadają efektów i nie mogą
być rozpatrywane. Puste ścianki mają wartość równą 0.</p>

<h3 id="rozpatrywaniekościprzezkarty">Rozpatrywanie kości przez karty</h3>

<p>Wiele kart pozwala graczowi na rozpatrzenie jednej bądź
kilku kości. Kiedy gracz rozpatruje kość poprzez kartę, używa
normalnego efektu danej kości, opierając się na symbolu oraz
postępując zgodnie z wszelkimi dodatkowymi instrukcjami.</p>

<ul>
<li>Gracz nadal musi zapłacić koszt w surowcach danej kości
(jeśli występuje).</li>
<li>Gracz nadal nie może rozpatrzyć samodzielnie
modyfikatora.</li>
<li>Gracz nie może używać modyfikatorów podczas
rozpatrywania kości przez efekt karty, chyba że karta
pozwala mu na rozpatrzenie kilku kości z tym samym
symbolem.</li>
</ul>

<h3 id="kościopuszczającegrę">Kości opuszczające grę</h3>

<ul>
<li>Jeśli karta, która jest powiązana z kością, opuszcza grę,
powiązana z nią kość także jest natychmiast usuwana z gry
i odkładana na bok. Usunięta kość może ponownie później
wejść do gry, jeśli jej karta zostanie zagrana ponownie.</li>
<li>Jeśli gracz posiada na jednej postaci dwie kopie tego
samego ulepszenia, a obie kości danego ulepszenia
znajdują się w jego puli kości, kiedy musi odrzucić dane
ulepszenie z gry, gracz sam wybiera, którą z kości usunie
i odłoży na bok. Jeśli gracz ma dwie kopie tego samego
ulepszenia na różnych postaciach (po jednym ulepszeniu
dla każdej z postaci), musi upewnić się, że trzyma je
osobno.</li>
</ul>

<h1 id="część3.obszarygry">Część 3. Obszary gry</h1>

<p>Każdy gracz posiada swoje obszary gry. Obszary te znajdują
się w grze lub poza grą.</p>

<h3 id="wgrze">W grze</h3>

<h4 id="postacieorazzagranekarty">Postacie oraz zagrane karty</h4>

<p>Po tym, jak ulepszenie lub wsparcie zostanie zagrane, dodaje
się je do obszaru gry i znajduje się ono w grze. Postacie
rozpoczynają grę, będąc w grze, i pozostają tam, dopóki nie
zostaną pokonane. Wydarzenia nigdy nie znajdują się w grze –
zostają zagrane, rozpatrzone i odrzucone bez wchodzenia do
obszaru gry.</p>

<ul>
<li>Zdolności znajdujące się na kartach w grze mogą być
wykorzystywane.</li>
<li>Karta wchodzi do gry, kiedy przechodzi z obszaru poza
grą do obszaru w grze.</li>
<li>„Z gry” to skrócona forma wyrażenia „z obszaru gry”.</li>
</ul>

<h4 id="pulakości">Pula kości</h4>

<p>W puli kości rzuca się kośćmi. Każdy gracz ma swoją pulę
kości. Kiedy kości nie znajdują się w puli kości, to zawsze
umieszcza się je na odpowiadających im kartach.</p>

<ul>
<li>Gracz może rozpatrywać jedynie kości, które ma w swojej
puli kości.</li>
<li>Kośćmi, które znajdują się w puli gracza, można
manipulować (usuwać, obracać itd.) lub wykorzystywać jako
przypomnienie efektów kart, które wymagają aby widoczna
była określona ścianka.</li>
</ul>

<h4 id="zasoby">Zasoby</h4>

<p>Zasoby (żetony zasobów) gracza są przechowywane obok
jego kart.</p>

<ul>
<li>Liczba posiadanych przez gracza żetonów zasobów jest
informacją dostępną publicznie.</li>
</ul>

<h4 id="polebitwyjeśligraczjekontroluje">Pole bitwy (jeśli gracz je kontroluje)</h4>

<p>Jeśli gracz kontroluje pole bitwy, to trzyma je na swoim
obszarze gry.</p>

<h3 id="pozagrą">Poza grą</h3>

<p>Karty na ręce gracza, w jego talii oraz na jego stosie kart
odrzuconych są poza gra, a ich zdolności nie mogą być
wykorzystywane dopóki nie zostaną zagrane.</p>

<ul>
<li>Karta opuszcza grę, kiedy przechodzi z obszaru w grze
do obszaru poza grą.</li>
</ul>

<h4 id="ręka">Ręka</h4>

<p>Każdy gracz posiada rękę kart. W ramach akcji może
zagrywać karty ze swojej ręki, płacąc przy tym ich koszt
w żetonach zasobów.</p>

<ul>
<li>Każdy gracz posiada limit ręki. Limit ręki gracza wskazuje
liczbę kart, które gracz musi mieć po dobraniu nowych kart
w fazie utrzymania (po odrzuceniu dowolnych kart, które
zechce). Domyślny limit ręki wynosi 5 kart. Gracz nie musi
odrzucać kart, kiedy ma ich na ręce więcej, niż wynosi jego
limit ręki.</li>
<li>Liczba kart na ręce gracza jest informacją dostępną
powszechnie, ale same karty są trzymane w tajemnicy
przed przeciwnikiem.</li>
<li>Gracz nie może posiadać karty, która znajduje się na
ręce przeciwnika.</li>
</ul>

<h4 id="talia">Talia</h4>

<p>Każdy gracz wprowadza do gry talię złożoną z 30 kart.
Podczas gry określenie „talia” odnosi się do stosu zakrytych
kart, których gracz jeszcze nie dobrał.</p>

<ul>
<li>Po potasowaniu talia jest przechowywana tak, aby karty
były zakryte, a gracze nie mogą przeglądać jej ani zmieniać
kolejności kart, chyba że pozwalają im na to określone
zdolności gry.</li>
<li>Liczba kart, które pozostały w talii gracza, jest informacją
dostępną powszechnie.</li>
<li>Gracz nie może posiadać karty, która znajduje się na
ręce przeciwnika.</li>
</ul>

<h4 id="stoskartodrzuconych">Stos kart odrzuconych</h4>

<p>Stos kart odrzuconych to znajdujący się obok talii odkryty
stos, na którym gracz umieszcza swoje odrzucone karty.</p>

<ul>
<li>Karty znajdujące się na stosie kart odrzuconych są
informacją dostępną publicznie. Wszyscy gracze mogą
przeglądać stos kart odrzuconych dowolnego gracza, kiedy
tylko będą mieli na to ochotę.</li>
<li>Kolejność kart w stosie kart odrzuconych nie ma znaczenia.
Gracz może w dowolnej chwili zmieniać kolejność kart
w swoim stosie kart odrzuconych.</li>
</ul>

<h4 id="wzawieszeniu">W zawieszeniu</h4>

<p>Kiedy wydarzenie zostanie zagrane, umieszcza się je odkryte
na stole i znajduje się ono w zawieszeniu. Nie znajduje się już
ono na ręce gracza. Po tym, jak zostanie rozpatrzone, przenosi
się je na stos kart odrzuconych gracza.</p>

<ul>
<li>Wydarzenie nie wchodzi do gry, ale uznaje się je za zagrane.</li>
</ul>

<h4 id="kościnakartach">Kości na kartach</h4>

<p>Kiedy kości nie znajdują się w puli kości, to zawsze umieszcza
się je na odpowiadających im kartach.</p>

<ul>
<li>Kości te nie są aktywne, nie można nimi manipulować oraz
uznaje się, że żadne z ich ścianek nie są widoczne.</li>
</ul>

<h4 id="kościodłożonenabok">Kości odłożone na bok</h4>

<p>Na początku gry niektóre kości odkłada się na bok. To kości,
które mogą wejść do gry w wyniku zagrania kart. Gracze mogą
ukryć te kości przed przeciwnikiem, korzystając z tacki lub
woreczka na kości.</p>

<h4 id="pula">Pula</h4>

<p>To miejsce, w którym umieszcza się różne żetony związane
z grą. Wszystkie żetony zabiera się z puli w momencie
ich zyskania (zasoby), zadawania (obrażenia) lub dawania
(osłony). Wszystkie żetony zwraca się do puli w momencie ich
wydania (zasoby), utracenia (zasoby), wyleczenia (obrażenia)
lub usunięcia (osłony). Jeśli graczom skończą się jakieś żetony,
powinni dla nich znaleźć odpowiedni zamiennik.</p>

<h1 id="część4.dostosowywanietalii">Część 4. Dostosowywanie talii</h1>

<p>Dostosowywanie talii przez graczy następuje przed
rozpoczęciem rozgrywki. Gracze mogą poznać grę na
różne sposoby poprzez tworzenie własnych strategii oraz
odkrywanie kombinacji kart.</p>

<h3 id="1.przygotowywaniedrużyny">1. Przygotowywanie drużyny</h3>

<p>Aby przygotować drużynę gracz wybiera postaci o łącznym
koszcie nie większym niż 30 punktów.</p>

<ul>
<li>Gracz musi wybrać do swojej drużyny same postacie
bohaterów lub same postacie złoczyńców. W ramach jednej
drużyny nie można łączyć bohaterów i złoczyńców.</li>
<li>Gracz może wybrać po jednej kopii każdej unikatowej (<span class="icon-unique"></span>)
postaci oraz może wybrać dowolną liczbę kopii postaci
nie-unikatowych. Podczas dokonywania wyboru postaci
unikatowej gracz musi zdecydować, czy użyje jej elitarnej
(droższej, z dwiema kośćmi) czy nie-elitarnej (tańszej,
z jedną kością) wersji.</li>
<li>Gracz musi wybrać co najmniej jedną postać.</li>
<li>Nie ma ograniczeń dotyczących dozwolonych kolorów
postaci gracza. Gracz może mieć w swojej drużynie zarówno
postacie jednego koloru, jak i postacie w różnych kolorach.</li>
</ul>

<h3 id="2.budowatalii">2. Budowa talii</h3>

<p>Talia składa się z dokładnie 30 kart.</p>

<ul>
<li>W talii mogą znajdować się maksymalnie dwie kopie tej
samej karty.</li>
<li>Jeśli gracz na swoje postaci wybrał bohaterów, nie może
mieć w swojej talii żadnych kart złoczyńców. Jeśli gracz na
swoje postaci wybrał złoczyńców, nie może mieć w swojej
talii żadnych kart bohaterów. Karty neutralne mogą być
wykorzystywane w dowolnych taliach.</li>
<li>Niebieskie, czerwone oraz żółte karty mogą znaleźć się
w talii tylko wtedy, gdy w drużynie znajduje się postać tego
samego koloru. Szare karty mogą być wykorzystywane
w dowolnych taliach.</li>
<li>W talii mogą znajdować się karty wydarzeń, ulepszeń
i wsparcia. Postacie oraz pola bitwy nie znajdują się
w talii i nie wliczają się do limitu 30 kart.</li>
</ul>

<h3 id="3.wybórpolabitwy">3. Wybór pola bitwy</h3>

<p>Poza postaciami i talią gracz wybiera jedną kartę pola bitwy,
którą wprowadza do gry.</p>

<p><em>Przykład: Gracz wybiera elitarną wersję Lei Organy (<span class="icon-set-AW"></span>28) za 16 punktów oraz nie-elitarną wersję Hana Solo (<span class="icon-set-AW"></span>46) za 14 punktów. Jego dwie postacie mają łącznie wartość 30 punktów, czyli maksymalnie tyle, ile może znaleźć się w drużynie.</em></p>

<p><em>W związku z tym, że Leia Organa oraz Han Solo są postaciami
bohaterów, gracz nie może używać w swojej talii kart
złoczyńców. Ponadto, nie może zawrzeć w niej niebieskich kart,
ponieważ nie wybrał niebieskiej postaci. Gracz wybiera łącznie
30 czerwonych, żółtych oraz szarych kart, z których zbuduje
talię. Decyduje także wziąć co najmniej 10 kart z kośćmi,
ponieważ bardzo ważne jest dobieranie i zagrywanie kart
zapewniających kości.</em></p>

<p><em>Na koniec gracz wybiera jako swoje pole bitwy Rebeliancką
Salę Narad (<span class="icon-set-AW"></span>171). Jeśli zostanie ona wybrana podczas
przygotowania gry, pozwala graczowi użyć kości z kosztem
w zasobach, takich jak w przypadku ścianki Hana Solo
z 3 obrażeniami dystansowymi, za darmo.</em></p>

<h1 id="część5.strukturagry">Część 5. Struktura gry</h1>

<p>Rozgrywka to szybka walka cios za cios, w której gracze
na przemian wykonują akcje.</p>

<h3 id="przygotowanie">Przygotowanie</h3>

<p>W celu przygotowania gry należy wykonać poniższe kroki
w podanej kolejności.</p>

<ol>
<li>Każdy gracz umieszcza przed sobą swoje karty postaci
wraz z odpowiadającymi im kośćmi.</li>
<li>Każdy gracz odkłada na bok swoje odkryte pole bitwy.</li>
<li>Każdy gracz tasuje swoją trzydziestokartową talię i dobiera
z niej 5 kart.</li>
<li>Każdy gracz wtasowuje dowolną liczbę kart ze swojej ręki
z powrotem do swojej talii, a następnie dobiera z niej nowe,
tak aby mieć na ręce 5 kart.</li>
<li>Gracze dzielą poszczególne żetony (obrażenia, osłony oraz
zasoby) na stosy obok obszaru gry. Każdy gracz zyskuje
z puli 2 żetony zasobów.</li>
<li>Gracze rzucają kośćmi swoich początkowych postaci
i dodają wyrzucone wartości (białe numery). W przypadku
remisu należy powtórzyć rzut. Gracz, który uzyskał wyższą
sumę, wybiera, na którym polu bitwy będzie toczyło się
starcie. Gracz, którego pole bitwy jest wykorzystywane,
kontroluje pole bitwy i umieszcza je obok swojej talii.
Gracz, którego pole bitwy nie jest wykorzystywane, usuwa
z gry swoją kartę pola bitwy i przydziela swoim postaciom
2 osłony (sam decyduje, jak je rozdziela). Po wykonaniu
rzutu wszystkie kości postaci należy odłożyć z powrotem
na odpowiadających im kartach.</li>
</ol>

<h3 id="rundygry">Rundy gry</h3>

<p>Każda rozgrywka składa się z serii rund. Każda runda jest
podzielona na dwie fazy: fazę akcji oraz fazę utrzymania.</p>

<h4 id="fazaakcji">Faza akcji</h4>

<p>Podczas fazy akcji gracze na zmianę wykonują swoje tury. Jako
pierwszy swoją turę wykonuje gracz, który kontroluje pole
bitwy. Podczas swojej tury gracz może wykonać jedną akcję
albo może spasować. Kiedy obaj gracze kolejno spasują, faza
akcji się kończy i należy przejść do fazy utrzymania.</p>

<h4 id="fazautrzymania">Faza utrzymania</h4>

<p>Podczas fazy utrzymania wszyscy gracze wykonują
następujące czynności:</p>

<ol>
<li>Przygotowują swoje wyczerpane karty.</li>
<li>Cofają wszystkie kości ze swoich pul kości na odpowiadające
im karty.</li>
<li>Zyskują po 2 żetony zasobów.</li>
<li>Odrzucają dowolną liczbę kart ze swojej ręki, a następnie
dobierają nowe karty, dopóki nie będą mieli na ręce liczby
kart zgodnej z ich limitem ręki.
*Jeśli po odrzuceniu kart gracz ma na ręce karty w liczbie
równej lub wyższej od swojego limitu ręki, wówczas nie
dobiera żadnych kart.
*Jeśli gracz nie ma wystarczającej liczby kart, aby dobrać
je zgodnie ze swoim limitem ręki, dobiera ich tyle,
ile może.</li>
</ol>

<h3 id="akcje">Akcje</h3>

<p>W każdej swojej turze gracze wykonują akcje. Podczas swojej
tury gracz musi wykonać jedną akcję albo musi spasować.
Poszczególne akcje zostały wypisane poniżej, a w dalszej
części znajduje się ich szczegółowy opis:</p>

<ul>
<li>Zagranie karty z ręki</li>
<li>Aktywowanie postaci lub wsparcia</li>
<li>Rozpatrzenie kości</li>
<li>Odrzucenie karty w celu przerzucenia kości</li>
<li>Użycie akcji z karty</li>
<li>Zajęcie pola bitwy</li>
</ul>

<p>Kiedy gracz może wykonać dodatkowe akcje w swojej turze,
musi natychmiast je wykonać albo musi spasować. Gracz
nie może zachować swoich akcji na później. Jeśli gracz
może wykonać akcję poza swoją turą, to ją także musi
wykonać natychmiast.</p>

<h4 id="zagraniekartyzręki">Zagranie karty z ręki</h4>

<p>Zanim gracz zagra kartę, powinien najpierw sprawdzić, czy
występują na niej ograniczenia zagrania. Jeśli tak, a warunki
te nie są spełnione, dana karta nie może zostać zagrana.</p>

<p>Jeśli nie ma żadnych ograniczeń, albo wszystkie ograniczenia
dotyczące zagrania danej karty są spełnione, wówczas gracz
musi zapłacić żetonami zasobów w liczbie równej kosztowi
danej karty. Jeśli nie ma wystarczającej liczby żetonów
zasobów, wówczas karta nie może zostać zagrana.</p>

<p>Po tym, jak koszt karty został opłacony, karta jest rozgrywana
odpowiednio do swojego rodzaju.</p>

<ul>
<li>Zagranie wydarzenia: gracz postępuje zgodnie z instrukcjami
zawartymi na karcie, a następnie ją odrzuca. W momencie
rozpatrywania karta znajduje się w zawieszeniu.</li>
<li>Zagranie ulepszenia: gracz wybiera postać i dołącza do
niej ulepszenie, kładąc je obok lub poniżej niej. Przed
zapłaceniem kosztu zagrania ulepszenia gracz może
zdecydować się zastąpić nim inne ulepszenie, które już jest
dołączone do wybranej postaci. Koszt zagrania nowego
ulepszenia zostaje zmniejszony o koszt starego ulepszenia,
a stare ulepszenie jest odrzucane w momencie, kiedy nowe
ulepszenie wchodzi do gry. Jeśli koszt starego ulepszenia
jest równy lub niższy od kosztu nowego, wówczas nowe
ulepszenie jest darmowe.

<ul>
<li>Większość ulepszeń jest powiązana z kością. Kiedy takie
ulepszenie zostanie zagrane, gracz bierze odpowiadającą
mu kość z puli kości odłożonych na bok i umieszcza ją
na danym ulepszeniu (lub, dla swojej wygody, może ją
zamiast tego umieścić na karcie postaci, ponieważ rzut
daną kością wykonuje się równocześnie z kośćmi postaci).</li>
<li>Postać nie może posiadać więcej niż 3 ulepszenia.</li>
</ul></li>
<li>Zagranie wsparcia: gracz umieszcza kartę na stole, poniżej
swojej drużyny. Niektórym kartom wsparcia towarzyszy
kość. Kiedy jedna z takich kart zostaje zagrana, gracz bierze
z puli swoich odłożonych kości pasującą kość i umieszcza ją
na danej karcie wsparcia.</li>
</ul>

<h4 id="aktywowaniepostacilubwsparcia">Aktywowanie postaci lub wsparcia</h4>

<p>W celu aktywowania karty postaci lub wsparcia, gracz
wyczerpuje daną kartę i rzuca wszystkimi jej kośćmi. Kości
te znajdują się teraz w puli kości danego gracza, a gracz
może wykonać w przyszłości akcję, aby rozpatrzyć widoczne
na nich symbole. Postacie w momencie aktywowania zawsze
rzucają swoimi kośćmi oraz kośćmi swoich ulepszeń (ulepszeń,
które zostały do nich dołączone). Wsparcia w momencie
aktywowania rzucają swoimi kośćmi. Wsparcia bez kości
nie mogą zostać aktywowane.</p>

<ul>
<li>W momencie aktywowania postaci gracz wykonuje rzut
wszystkimi kośćmi powiązanymi z daną postacią (czyli kości
postaci i ulepszeń). Gracz nie może wybrać kości, którymi
wykona rzut.</li>
<li>Wyczerpane postacie i wsparcia nie mogą zostać aktywowane.</li>
</ul>

<h4 id="rozpatrzeniekości">Rozpatrzenie kości</h4>

<p>Na każdej ściance kości widnieje symbol (patrz <a href="#symbolenakościach">Symbole na kościach</a>).
Gracz może rozpatrzyć jedną lub kilka kości ze swojej puli,
które mają ten sam symbol, rozpatrując je pojedynczo
(chyba że dodaje zmodyfikowaną kość, wówczas kości są
rozpatrywane równocześnie). W celu rozpatrzenia kości gracz
musi zapłacić wszelkie koszty i wykonać efekt reprezentowany
przez symbol widniejący na danej kości. Następnie cofa kość
na kartę, z której pochodzi.</p>

<ul>
<li>Gracz może rozpatrywać jedynie kości, które ma w swojej
puli kości.</li>
<li>W ramach jednej akcji gracz może rozpatrzyć kości
z różnymi wartościami, pod warunkiem, że wszystkie
przedstawiają ten sam symbol.</li>
<li>Gracz nie może zdecydować się na rozpatrzenie
symbolu, jeśli nie ma żadnych symboli danego rodzaju
do rozpatrzenia. Podczas wykonywania tej akcji gracz
musi rozpatrzyć co najmniej jedną kość.</li>
<li>Gracz może rozpatrzyć dowolne kości przedstawiające
ten sam symbol, nawet jeśli nie przedstawiały one tego
symbolu, kiedy gracz rozpoczynał rozpatrywanie kości.</li>
<li>Gracz nie może rozpatrzyć tej samej kości więcej niż raz
podczas jednej akcji.</li>
</ul>

<h4 id="odrzuceniekartywceluprzerzuceniakości">Odrzucenie karty w celu przerzucenia kości</h4>

<p>Gracz może odrzucić jedną, wybraną przez siebie kartę ze
swojej ręki, aby przerzucić jedną lub więcej kości ze swojej
puli. Gracz musi wybrać wszystkie przerzucane kości, zanim
rozpocznie przerzucanie.</p>

<ul>
<li>Jeśli gracz nie ma żadnych kości w swojej puli, nie może
odrzucić ze swojej ręki karty, aby przerzucić kości.</li>
</ul>

<h4 id="użycieakcjizkarty">Użycie akcji z karty</h4>

<p>Na niektórych kartach wsparcia, ulepszeń i postaci
wyszczególniono specjalne akcje. Akcje te są poprzedzone
wytłuszczonym słowem „Akcja”. W celu rozpatrzenia takiej
akcji należy postępować zgodnie z instrukcjami zawartymi
na karcie.</p>

<h4 id="zajęciepolabitwy">Zajęcie pola bitwy</h4>

<p>Kiedy gracz zajmuje pole bitwy, może natychmiast rozpatrzyć
jego zdolność zajęcia. Jeśli gracz nie kontroluje pola bitwy,
przejmuje nad nim kontrolę i przesuwa je, aby leżało obok
jego talii. Do końca obecnej rundy dany gracz automatycznie
pasuje we wszystkich swoich kolejnych akcjach. Jego
przeciwnik kontynuuje wykonywanie akcji, dopóki także
nie spasuje. W każdej rundzie pole bitwy może zająć tylko
jeden gracz.</p>

<ul>
<li>Gracz może zająć pole bitwy nawet wtedy, gdy już kontroluje
pole bitwy, aby w ten sposób utrzymać nad nim kontrolę
i użyć jego zdolności zajęcia.</li>
<li>Gracz kontrolujący pole bitwy w każdej rundzie wykonuje
pierwszą akcję.</li>
</ul>

<h3 id="pasowanie">Pasowanie</h3>

<p>Jeśli gracz nie chce wykonać akcji, to może spasować.
Niczego nie robi, ale zachowuje możliwość wykonania akcji
po przeciwniku. Po tym, jak obaj gracze kolejno spasują,
runda przechodzi do fazy utrzymania.</p>

<h3 id="zwycięstwo">Zwycięstwo</h3>

<p>W grze występują dwa sposoby zakończenia rozgrywki:</p>

<ul>
<li>Wszystkie postacie gracza zostaną pokonane. Gra kończy
się natychmiast, a drugi gracz wygrywa grę.</li>
<li>Jeśli na koniec rundy (po fazie utrzymania) gracz nie ma
żadnych kart na swojej ręce ani w swojej talii, to przegrywa,
a drugi gracz wygrywa grę. Jeśli obaj gracze mieliby
równocześnie przegrać w ten sposób, wygrywa gracz
kontrolujący pole bitwy na koniec rundy.</li>
</ul>

<h1 id="część6.pojęciagry">Część 6. Pojęcia gry</h1>

<p>Poniżej przedstawiono ważne zasady, używane podczas
każdej rozgrywki.</p>

<h3 id="obrażenia">Obrażenia</h3>

<p>Kiedy postać otrzymuje obrażenia, należy umieścić na
niej żetony obrażeń w takiej samej liczbie. Postać zostaje
natychmiast pokonana, kiedy znajdą się na niej żetony
obrażeń w liczbie odpowiadającej jej wytrzymałości.</p>

<ul>
<li>Nieblokowalne obrażenia nie mogą zostać zablokowane przy
pomocy osłon ani efektów kart. Wszelkie osłony znajdujące
się na postaci, która otrzymuje nieblokowalne obrażenia,
pozostają na swoim miejscu. Osłony te są ignorowane na
potrzeby zadawania nieblokowalnych obrażeń.</li>
<li>Dostępne w grze żetony obrażeń mają wartość „1” oraz „3”.
Gracz może swobodnie rozmieniać/wymieniać żetony, aby
oznaczyć liczbę obrażeń danej postaci. Jeśli pula żetonów
obrażeń wyczerpie się, brakujące żetony należy czymś
zastąpić lub śledzić liczbę obrażeń w inny sposób.</li>
<li>Obrażenia zadane podczas tej samej akcji są na ogół
zadawane w różnych momentach, ponieważ kości są
rozpatrywane pojedynczo. Jedynym momentem, kiedy
kilka kości zadaje obrażenia dokładnie w tym samym
momencie, jest sytuacja, kiedy kość jest modyfikowana
przez inną kość.</li>
</ul>

<h3 id="pokonanepostacie">Pokonane postacie</h3>

<p>Postać zostaje natychmiast pokonana, kiedy znajdą
się na niej żetony obrażeń w liczbie odpowiadającej jej
wytrzymałości. Wszystkie kości związane z daną postacią
należy usunąć z gry (odnosi się to zarówno do kości postaci,
jak i kości ulepszeń), wszystkie dołączone do niej ulepszenia
odrzucić, a kartę postaci usunąć z gry.</p>

<ul>
<li>Wszelkie nadmiarowe obrażenia zadane postaci ze źródła,
które ją pokonuje, są ignorowane. Gracz może zadać
postaci więcej obrażeń, niż ma ona wytrzymałości, nawet
gdy sam decyduje, jak rozdzieli obrażenia (np. w wyniku
specjalnej zdolności Karabinu F11-D).</li>
<li>Kiedy wszystkie postacie gracza zostaną pokonane, taki
gracz przegrywa.</li>
</ul>

<h3 id="zasoby">Zasoby</h3>

<p>Zasoby są walutą gry i są wykorzystywane do płacenia
za karty, zdolności kart oraz rozpatrywane kości. Liczba
zasobów posiadanych w danym momencie przez gracza jest
reprezentowana za pomocą jego żetonów zasobów. Żetony
zasobów na początku rozgrywki znajdują się w puli. Kiedy
gracz zyskuje zasoby, wówczas bierze żetony z puli zasobów.
Kiedy gracz wydaje bądź traci zasoby, wówczas odkłada
żetony zasobów do puli.</p>

<ul>
<li>Każdy gracz zdobywa w fazie utrzymania po 2 żetony
zasobów.</li>
<li>Jeśli pula żetonów zasobów wyczerpie się, brakujące
żetony należy czymś zastąpić lub śledzić liczbę zasobów
w inny sposób.</li>
</ul>

<h3 id="osłony">Osłony</h3>

<p>Osłony blokują obrażenia. Każda osłona blokuje 1 obrażenie,
które normalnie zostałoby zadane postaci. Po zablokowaniu
obrażenia, osłona jest usuwana.</p>

<ul>
<li>Użycie osłony nie jest opcjonalne. Osłony muszą zostać
użyte do zablokowania obrażeń, jeśli tylko jest to możliwe.</li>
<li>Każda postać może posiadać równocześnie maksymalnie
3 osłony. Jeśli efekt miałby sprawić, że postać miałaby
ponad 3 osłony, wówczas nadmiarowe osłony są
ignorowane.</li>
<li>Jeśli pula żetonów osłon wyczerpie się, brakujące żetony
należy czymś zastąpić lub śledzić liczbę osłon w inny
sposób.</li>
</ul>

<h3 id="dobraniekarty">Dobranie karty</h3>

<p>Ilekroć gracz dobiera kartę, wówczas bierze kartę z wierzchu
swojej talii i dodaje ją do swojej ręki.</p>

<ul>
<li>Kiedy gracz dobiera kilka kart, wówczas karty dobierane są
równocześnie.</li>
<li>Jeśli gracz nie ma w swojej talii kart w liczbie, którą ma
dobrać, dobiera z pozostałych kart tyle, ile może. Jeśli gracz
nie może dobrać żadnych kart, nic się nie dzieje.</li>
</ul>

<h3 id="przygotowana">Przygotowana</h3>

<p>Karta jest przygotowana, kiedy znajduje się w pozycji
pionowej. Przygotowane karty mogą zostać wyczerpane
(obrócone do pozycji poziomej). Jeśli gracz zostanie
poinstruowany, że ma przygotować kartę, wówczas powinien
obrócić ją do pozycji pionowej.</p>

<ul>
<li>Karta, która jest już przygotowana, nie może
zostać przygotowana.</li>
<li>Przygotowane karty wsparcia i postaci mogą zostać
wyczerpane w celu aktywowania ich. Przygotowane
ulepszenia mogą zostać wyczerpane tylko przez efekty
kart.</li>
</ul>

<h3 id="wyczerpana">Wyczerpana</h3>

<p>Karta jest wyczerpana, kiedy znajduje się w pozycji poziomej.
Wyczerpane karty mogą zostać przygotowane (obrócone
do pozycji pionowej). Jeśli gracz zostanie poinstruowany,
że ma wyczerpać kartę, wówczas powinien obrócić ją do
pozycji poziomej.</p>

<ul>
<li>Karta, która jest już wyczerpana, nie może zostać
wyczerpana.</li>
</ul>

<h1 id="część7.zdolności">Część 7. Zdolności</h1>

<p>Zdolność to specjalny tekst gry, który karta wprowadza
do rozgrywki. W grze występuje pięć rodzajów zdolności:
zdolności akcji, zdolności zajęcia, zdolności trwałe, zdolności
specjalne oraz zdolności aktywowane. W grze występują
także słowa kluczowe, które są skrótowym zapisem zdolności
występujących na wielu kartach. Karty mogą posiadać więcej
niż jedną zdolność.</p>

<p><em>Przykład: Finn (<span class="icon-set-AW"></span>45) ma dwie różne zdolności.</em></p>

<p>Zdolność może być używana od momentu wejścia karty do gry
i jest użyteczna, dopóki dana karta znajduje się w grze.
Zdolność z karty wydarzenia jest rozpatrywana w momencie
zagrania danej karty wydarzenia.</p>

<p>Gracze muszą rozpatrzyć zdolność tak bardzo, jak to możliwe,
chyba że w jej treści znajduje się słowo „może” (lub dowolna
jego odmiana) lub zdolność wyraźnie pozostawia graczowi
wybór. Zdolności specjalne (<span class="icon-special"></span>) są obowiązkowe, kiedy dana
ścianka kości jest rozpatrywana.</p>

<h3 id="zdolnościakcji">Zdolności akcji</h3>

<p>Na niektórych kartach wsparcia, ulepszeń i postaci
wyszczególniono specjalne akcje. Akcje te są poprzedzone
wytłuszczonym słowem „<strong>Akcja</strong>”. W celu rozpatrzenia takiej
zdolności gracz musi poświęcić jedną akcję w swojej turze,
a następnie postąpić zgodnie z instrukcjami zawartymi
na karcie.</p>

<p><em>Przykład: Kontakty w podziemiu (<span class="icon-set-AW"></span>101) posiadają zdolność akcji: „Akcja – Wyczerp to ulepszenie, aby zyskać 1 żeton zasobu”.</em></p>

<h3 id="zdolnościzajęcia">Zdolności zajęcia</h3>

<p>Pola bitwy mają na sobie zdolności zajęcia, poprzedzone
wytłuszczonym słowem „<strong>Zajęcie</strong>”. Zdolności te są opcjonalne
i mogą zostać rozpatrzone przez gracza, który zajmuje pole
bitwy.</p>

<h3 id="zdolnościtrwałe">Zdolności trwałe</h3>

<p>Zdolności trwałe to niebędące słowami kluczowymi zdolności,
które nie posiadają warunku aktywacji i nie mają na początku
żadnego wytłuszczonego słowa (takiego jak „akcja” czy
„zajęcie”).</p>

<p><em>Przykład: Osobista eskorta (<span class="icon-set-AW"></span>78) posiada trwałą zdolność: „Postać, do której dołączono tę kartę, posiada słowo kluczowe Strażnik”.</em></p>

<h3 id="zdolnościspecjalne">Zdolności specjalne</h3>

<p>Zdolności te występują na niektórych kartach, którym
odpowiada kość, i są oznaczone symbolem zdolności
specjalnej (<span class="icon-special"></span>). Kiedy rozpatrywana jest kość z danym
symbolem, rozpatrywana jest specjalna zdolność na
odpowiadającej jej karcie.</p>

<ul>
<li><p>Symbol zdolności specjalnej (<span class="icon-special"></span>) nie może zostać
rozpatrzony, aby użyć zdolności specjalnej z innej karty.</p></li>
<li><p>Jeśli kość jest rzucana do puli kości niezależnie od zagrania
karty, dana kość nadal normalnie odnosi się do wszelkich
zdolności specjalnych, które ma jej karta (jeśli potrzeba).</p>

<p><em>Przykład: treść Asa w rękawie brzmi (<span class="icon-set-AW"></span>92) „Odrzuć z twojej ręki żółtą kartę ulepszenia, aby rzucić jej kością do twojej puli, jeśli to możliwe. Odłóż tę kość na bok po tym, jak zostanie rozpatrzona lub usunięta”. Specjalna zdolność na danym ulepszeniu może być rozpatrzona zgodnie ze swoją treścią, ponieważ uznaje się, że kość posiada umiejętność danej ścianki, niezależnie od tego, czy karta znajduje się w grze, czy nie.</em></p></li>
</ul>

<h3 id="zdolnościaktywowane">Zdolności aktywowane</h3>

<p>Zdolność aktywowana posiada warunek aktywacji oraz
efekt. Kiedy spełniony zostanie warunek aktywacji zdolności
aktywowanej, to jest ona rozpatrywana. W grze występują
dwa rodzaje zdolności aktywowanych: „przed tym” oraz
„po tym”.</p>

<ul>
<li>Zdolności aktywowane istnieją niezależnie od swojego
źródła. Po aktywowaniu rozpatruje się całą zdolność, nawet
jeśli karta, z której pochodzi, opuści grę.</li>
</ul>

<h4 id="warunekaktywacji">Warunek aktywacji</h4>

<p>Warunek aktywacji wskazuje moment, w którym zdolność
może zostać użyta, i zawsze jest poprzedzony zwrotem
„przed tym” lub „po tym”. Warunek aktywacji pokrywa się
z określonym aktem, do którego dochodzi w czasie rozgrywki.</p>

<p><em>Przykład: Qui-Gon Jinn (<span class="icon-set-AW"></span>37) ma zyskać osłonę, co jest warunkiem aktywacji dla jego zdolności, która brzmi: „Przed tym, jak ta postać zyska 1 lub więcej żetonów osłon, możesz usunąć z niej 1 z jej żetonów osłon, aby zadać 1 obrażenie dowolnej postaci.”</em></p>

<h4 id="zdolności„przedtym”">Zdolności „przed tym”</h4>

<p>Jeśli podczas rozgrywki zostanie spełniony warunek aktywacji
zdolności „przed tym”, zdolność taką należy rozpatrzyć
natychmiast przed kontynuowaniem rozpatrzenia reszty
efektu zdolności, która go wywołała. W ten sposób zdolności
„przed tym” mogą przerywać przebieg gry.</p>

<p><em>Przykład: treść Jedności z Mocą (<span class="icon-set-AW"></span>42) brzmi: „Przed tym, jak postać, do której dołączono tę kartę, zostanie pokonana, do końca gry to ulepszenie staje się wsparciem”. Warunkiem aktywacji jest „Przed tym, jak postać, do której dołączono tę kartę, zostanie pokonana”, a określenie czasu „przed tym” nakazuje rozpatrzyć pozostałą część efektu, zanim rozpatrzony zostanie warunek aktywacji.</em></p>

<h4 id="zdolności„potym”">Zdolności „po tym”</h4>

<p>Jeśli podczas rozgrywki zostanie spełniony warunek aktywacji
zdolności „po tym”, zdolność taką należy rozpatrzyć po
rozpatrzeniu warunku jej aktywacji. W przeciwieństwie do
zdolności „przed tym”, zdolności „po tym” nie przerywają
przebiegu gry i zamiast tego czekają na swoją kolej
na rozpatrzenie.</p>

<p><em>Przykład: treść Komunikatora (<span class="icon-set-AW"></span>61) brzmi: „Po tym, jak zagrasz to ulepszenie, możesz przerzucić dowolną liczbę swoich kości lub dowolną liczbę kości
dowolnego przeciwnika”. Efekt zagrania karty musi zostać rozpatrzony w pełni (koszty muszą zostać opłacone, musi zostać wybrana postać, do której zostanie dołączona karta itd.), a dopiero potem zdolność „po tym” zostanie rozpatrzona.</em></p>

<h4 id="kolejka">Kolejka</h4>

<p>Zdolności „po tym” tworzą wyimaginowaną kolejkę po tym,
jak spełnione zostaną warunki ich aktywacji. Czekają w tej
kolejce, dopóki warunek aktywacji się nie zakończy. Jeśli
warunek aktywacji był częścią innej zdolności, cała ta
zdolność jest dokańczana, zanim zdolność „po tym”
zostanie rozpatrzona. Zdolności znajdujące się w kolejce są
rozpatrywane w kolejności, w której do niej dołączyły. Każda
z nich musi być rozpatrzona w pełni, zanim zostanie
rozpatrzona kolejna. Jeśli podczas rozpatrywania zdolności
w kolejce do kolejki zostanie dodana kolejna zdolność,
przesuwa się ona „na koniec” kolejki i zostanie rozpatrzona
jako ostatnia.</p>

<ul>
<li>Zdolności dołączają do kolejki i opuszczają ją w kolejności
chronologicznej, opierając się na zasadzie „pierwsza weszła,
pierwsza wychodzi”.</li>
<li>Jeśli dwie lub więcej zdolności mają ten sam warunek
aktywacji, gracz kontrolujący pole bitwy decyduje, w jakiej
kolejności wchodzą one do kolejki.</li>
</ul>

<h4 id="zdolnościrównoczesne">Zdolności równoczesne</h4>

<p>Kiedy warunek aktywacji dwóch lub więcej zdolności
aktywowanych zostanie spełniony w tym samym momencie,
gracz, który rozpatruje te zdolności, decyduje, w jakiej
kolejności zostaną one rozpatrzone (w odniesieniu do
zdolności „przed tym”) bądź w jakiej kolejności wejdą do
kolejki (w odniesieniu do zdolności „po tym”). Jeśli w tym
samym momencie zostaną spełnione warunki aktywacji
zdolności należących do więcej niż jednego gracza,
o kolejności ich rozpatrzenia decyduje gracz kontrolujący
pole bitwy.</p>

<p><em>Przykład: Człowiek pustyni (<span class="icon-set-AW"></span>22) jest aktywowany przez będącego w grze Jango Fetta (<span class="icon-set-AW"></span>21). Każda karta jest kontrolowana przez innego gracza. Obie postacie posiadają zdolność „po tym”, która może być rozpatrzona po tym, jak Człowiek pustyni zostanie aktywowany, tak więc gracz kontrolujący pole bitwy wybiera, która ze zdolności jako pierwsza wejdzie do kolejki.</em></p>

<h3 id="słowakluczowe">Słowa kluczowe</h3>

<p>Słowa kluczowe to skrótowy zapis zdolności występujących
na wielu kartach.</p>

<ul>
<li>Karta nie może zyskać kolejnej kopii słowa kluczowego.
Karta może mieć określone słowo kluczowe lub go nie mieć.</li>
<li>Jeśli karta straci słowo kluczowe, wówczas traci je
niezależnie od tego, ile razy je zyskała.</li>
</ul>

<h4 id="przepisanie">Przepisanie</h4>

<p>To słowo kluczowe występuje tylko na kartach ulepszeń.
Po tym, jak postać, do której dołączona została dana karta,
zostanie pokonana, gracz ją kontrolujący może natychmiast
przesunąć dane ulepszenie do dowolnej innej swojej postaci.
Kość ulepszenia porusza się na nową kartę postaci, nawet jeśli
znajdowała się w puli kości.</p>

<ul>
<li>Słowo kluczowe Przepisanie ignoruje ograniczenia zagrania,
kiedy karta jest dołączana do nowej postaci.</li>
</ul>

<h4 id="strażnik">Strażnik</h4>

<p>Przed tym, jak postać ze słowem kluczowym Strażnik
zostanie aktywowana, jej właściciel może usunąć z puli kości
dowolnego przeciwnika jedną kość przedstawiającą obrażenia
(<span class="icon-melee"></span> lub <span class="icon-ranged"></span>), aby zadać aktywowanej postaci strażnika obrażenia
w liczbie równej wartości usuniętej kości.</p>

<h4 id="zasadzka">Zasadzka</h4>

<p>Po zagraniu (i rozpatrzeniu) karty ze słowem kluczowym
Zasadzka, gracz może natychmiast wykonać dodatkową akcję.</p>

<ul>
<li>Jeśli gracz może wykonać akcję poza swoją turą, to musi ją
wykonać natychmiast.</li>
</ul>

<h3 id="efekty">Efekty</h3>

<p>Efektem jest wszystko, co jest wynikiem działania zdolności.
Efekt trwa tak długo, jak akcja go opisująca.</p>

<h4 id="efektyopóźnione">Efekty opóźnione</h4>

<p>Niektóre zdolności zawierają efekty opóźnione. Takie zdolności
wskazują wyraźnie moment w przyszłości lub przyszły
warunek, który może wystąpić, oraz opisują efekt, który
w danym momencie ma wystąpić.</p>

<p><em>Przykład: zdolność Szefa gangsterów (<span class="icon-set-AW"></span>23) brzmi: „Wydaj 5 żetonów zasobów, aby wybrać dowolną postać. Wybrana postać zostaje pokonana po zakończeniu aktualnej rundy”. Pokonanie postaci to efekt opóźniony, ponieważ nie jest ono w pełni rozgrywane do wskazanego momentu w przyszłości.</em></p>

<ul>
<li>Wydarzenie z efektem opóźnionym tworzy efekt, a następnie
jest odrzucane. Nie pozostaje w zawieszeniu do momentu
rozpatrzenia efektu.</li>
</ul>

<h4 id="efektyzastępujące">Efekty zastępujące</h4>

<p>Efekt zastępujący używa w swej treści słowa „zamiast”.
Jeśli efekt zastępujący jest rozpatrywany, uznaje się, że
oryginalny efekt nie został rozpatrzony i w jego wyniku nie
mogą być aktywowane żadne zdolności. Zdolności mogą być
aktywowane w wyniku działania efektu zastępującego.</p>

<p><em>Treść Drugiej szansy (<span class="icon-set-AW"></span>137) brzmi: „Przed tym, jak postać, do
której dołączono tę kartę, miałaby zostać pokonana, zamiast
tego ulecz z niej 5 obrażeń i odrzuć z gry to ulepszenie”.
W związku z tym, że zapobiega ona pokonaniu postaci,
uznaje się, że dana postać nigdy nie została pokonana.</em></p>

<ul>
<li>Jeśli dwa lub więcej efektów zastępujących próbuje zastąpić
tę samą rzecz, gracz kontrolujący pole bitwy wybiera, który
z nich zostanie rozpatrzony. Drugi efekt zastępujący nie jest
rozpatrywany, ponieważ rzecz, którą miał zastąpić, już nie
istnieje (została już zastąpiona).</li>
</ul>

<h4 id="efektyodnoszącesiędosamychsiebie">Efekty odnoszące się do samych siebie</h4>

<p>Kiedy treść zdolności karty odnosi się do jej własnego rodzaju
(np. „to ulepszenie” lub „tę postać”), odnosi się tylko do siebie,
a nie do innych kopii (według nazwy) danej karty.</p>

<h4 id="efektynegatywne">Efekty negatywne</h4>

<p>Efekty negatywne mają pierwszeństwo przed efektami
pozytywnymi. Jeśli efekt mówi, że gracz nie może czegoś
zrobić, wówczas gracz nie może tego zrobić, nawet jeśli inny
efekt mówi, że może.</p>

<h4 id="efekty„następnie”">Efekty „następnie”</h4>

<p>W celu rozpatrzenia efektu poprzedzonego zapisem „przed
tym” wcześniejsze efekty opisane na karcie muszą zostać
rozpatrzone w pełni (np. stan gry zmienia się, aby odwzorować
w całości cel efektu). Jeśli część zdolności, która poprzedza
„następnie”, nie zostanie rozpatrzona w pełni skutecznie, to
część zdolności następująca po „następnie”
nie jest rozpatrywana.</p>

<p><em>Przykład: treść Przeszukiwania (<span class="icon-set-AW"></span>132) brzmi: „Odrzuć 3 wierzchnie karty z twojej talii. Następnie możesz dodać do twojej ręki dowolne ulepszenie lub wsparcie z twojego stosu kart odrzuconych”. Jeśli w talii gracza pozostały mniej niż 3 karty, wówczas nie może on dodać do swojej ręki nowej karty, ponieważ efekt poprzedzający nie został rozpatrzony w pełni.</em></p>

<h1 id="część8.terminologia">Część 8. Terminologia</h1>

<p>Poniżej znajdują się definicje i wyjaśnienia ważnych pojęć,
które gracze powinni znać. Zostały one uszeregowane
alfabetycznie.</p>

<h3 id="graczkontrolujący">Gracz kontrolujący</h3>

<p>Graczem kontrolującym kartę lub kość jest gracz, który ma ją
na swoim obszarze gry. Domyślnie gracze kontrolują wszystkie
karty i kości, które posiadają.</p>

<h3 id="kopiakarty">Kopia (karty)</h3>

<p>Kopia karty jest definiowana według jej nazwy. Wszelkie inne
karty o tym samym tytule są uznawane za kopie, niezależnie
od ich rodzaju, ilustracji lub innych cech szczególnych.</p>

<h3 id="kośćpostaci">Kość postaci</h3>

<p>Kość postaci to kość, która odpowiada postaci.</p>

<ul>
<li>Kości ulepszeń nie są kośćmi postaci, mimo że postacie
używają ich, kiedy zostają aktywowane.</li>
</ul>

<h3 id="Łącznawartość">Łączna wartość</h3>

<p>Łączna wartość to suma wartości przedstawionych na
wszystkich kościach, do których odnosi się efekt.</p>

<p><em>Przykład: łączna wartość dwóch kości przedstawiających obrażenia dystansowe, o wartościach odpowiednio 2 oraz 1, wynosiłaby 3.</em></p>

<h3 id="najtańszynajtańsza">Najtańszy/Najtańsza</h3>

<p>Coś, co jest najtańsze, ma najniższy koszt.</p>

<ul>
<li>Wszelkie efekty modyfikujące koszt powinny przy tym być
brane pod uwagę.</li>
</ul>

<h3 id="nieblokowalneobrażenia">Nieblokowalne obrażenia</h3>

<ul>
<li>Nieblokowalne obrażenia nie mogą zostać zablokowane
przy pomocy osłon ani efektów kart. Wszelkie
osłony znajdujące się na postaci, której zadawane są
nieblokowalne obrażenia, pozostają na danej postaci.</li>
</ul>

<h3 id="obracaniekości">Obracanie (kości)</h3>

<p>Kiedy gracz obraca kość na konkretną ściankę, wówczas
fizycznie ją przekręca w taki sposób, aby dana ścianka była
widoczna od góry.</p>

<ul>
<li>Podczas obracania kości musi ona zostać obrócona na inną
ściankę. Gracz nie może obrócić kości na tę samą ściankę,
którą pokazywała przed obróceniem. (Jeśli kość ma ten
sam symbol i wartość na dwóch lub więcej ściankach, to
można obrócić ją na identyczną ściankę).</li>
</ul>

<h3 id="ograniczeniazagrania">Ograniczenia zagrania</h3>

<p>Ograniczenia zagrania czasami występują na kartach i są
oznaczone słowem „tylko”. Gracz nie może zagrać karty, jeśli
nie jest spełnione ograniczenie zagrania.</p>

<p>Karty ulepszeń czasami zawierają zapis „Tylko (kolor) postać”.
Jeśli gracz nie ma postaci w danym kolorze, aby dołączyć
do niej ulepszenie, wówczas dane ulepszenie nie może
zostać zagrane.</p>

<ul>
<li>Ulepszenia nie są usuwane z postaci, jeśli warunek zagrania
przestaje być spełniony. Postać musi spełniać ograniczenie
zagrania tylko w momencie, kiedy karta jest zagrywana po
raz pierwszy.</li>
</ul>

<h3 id="podejrzyj">Podejrzyj</h3>

<p>Czasami efekt pozwala graczowi podejrzeć karty na ręce
innego gracza lub w talii. Podglądanie kart nie zmienia pozycji
karty, a po podejrzeniu karta powinna zostać zwrócona do
swojej pierwotnej lokalizacji.</p>

<h3 id="poruszanie">Poruszanie</h3>

<p>Niektóre efekty pozwalają graczom poruszać karty lub żetony.</p>

<ul>
<li>Kiedy coś się porusza, nie może poruszyć się do tej samej
(obecnej) lokalizacji. Jeśli nie ma dozwolonego miejsca na
poruszenie się, ruch nie może być rozpatrzony.</li>
<li>Kiedy obrażenia są poruszane na nową postać, to
ignorują one osłony. Nie uznaje się, że dana postać
otrzymała obrażenia.</li>
</ul>

<h3 id="Ściankawidocznaprzedstawiająca">Ścianka widoczna/przedstawiająca</h3>

<p>Widoczna ścianka kości to ścianka widoczna od góry po tym,
jak kość została rzucona do puli kości.</p>

<ul>
<li>Ścianki, które nie są widoczne od góry, nie mogą być
punktem odniesienia dla kart, które wymagają, aby
przedstawiony był konkretny symbol.</li>
<li>Efekty, które odnoszą się do konkretnego symbolu
przedstawionego na kości, działają wraz z dowolną ścianką,
na której widoczny jest dany symbol, nawet jeśli jest to
zmodyfikowana strona.</li>
<li>Kości znajdujące się na kartach nie przedstawiają żadnej
ścianki. Kość może przedstawiać ściankę tylko po tym, jak
została rzucona do puli kości gracza.</li>
</ul>

<h3 id="ulecz">Ulecz</h3>

<p>Kiedy obrażenia postaci są leczone, należy usunąć z danej
postaci odpowiednią liczbę żetonów obrażeń.</p>

<ul>
<li>Gracz musi uleczyć tyle obrażeń, ile może. Nadmiarowe
leczenie jest ignorowane.</li>
<li>Jeśli żadne obrażenia nie zostały usunięte przez efekt
leczący, wówczas uznaje się, że postać nie została uleczona.</li>
</ul>

<h3 id="usuwaniekości">Usuwanie kości</h3>

<p>Usuwane kości są poruszane z puli kości gracza z powrotem
na odpowiadającą im kartę.</p>

<ul>
<li>Kość nie może zostać usunięta, jeśli nie znajduje się w puli
kości gracza.</li>
<li>Jeśli kość z określonym symbolem musi zostać usunięta,
aby aktywować określony efekt, wówczas nie ma znaczenia,
czy dana kość może zostać rozpatrzona w danym momencie.
Symbole, które są modyfikatorami lub wymagają dopasowania
surowców, nadal liczą się jako dany symbol.</li>
</ul>

<h3 id="właściciel">Właściciel</h3>

<p>Właścicielem karty bądź kości jest gracz, który wprowadził
daną kartę lub kość do gry. Gracz może posiadać kartę
lub kość, ale utracić nad nimi kontrolę (na przykład utraci
kontrolę nad polem bitwy).</p>

<h3 id="wybierzcel">Wybierz (cel)</h3>

<p>Celem jest karta lub kość, wobec której zadziała efekt.
Określenie „wybierz” wskazuje, że cel musi zostać wybrany,
aby dana zdolność została rozpatrzona. Gracz rozpatrujący
dany efekt musi wybrać element gry, spełniający wymogi
wyboru wskazane przez daną zdolność.</p>

<ul>
<li>Podczas dokonywania wyboru gracz nie może wybrać
niedozwolonych celów, np. nie może zadać obrażeń
pokonanej postaci. Jeśli nie ma żadnych dozwolonych
celów, wówczas karta niczego nie robi.</li>
<li>Jeśli kilka celów musi być wybranych przez tego samego
gracza, to są one wybierane równocześnie.</li>
<li>Efekt, który wybiera „dowolną liczbę” celów, może być
skutecznie rozpatrzony nawet wtedy, gdy żadne cele
nie zostaną wybrane, choć wówczas może nie mieć
żadnego efektu.</li>
</ul>

<h3 id="wybierzjednązopcji">Wybierz (jedną z opcji)</h3>

<p>Jeśli zdolność używa słowa „wybierz”, gracz, który jej używa,
może wybrać jedną z opcji, nawet jeśli nie będzie miała ona
żadnego efektu. Po tym, jak gracz dokona wyboru, wówczas
rozpatruje go tak bardzo, jak może.</p>

<ul>
<li>Niektóre karty zmuszają przeciwnika do dokonania wyboru.
W takim wypadku przeciwnik także może wybrać dowolną
z opcji.</li>
</ul>

<h3 id="wyznaczanie">Wyznaczanie</h3>

<p>Niektóre karty wymagają, aby gracz wyznaczył określony
element gry, aby móc użyć ich zdolności. W celu wyznaczenia
elementu gry gracz musi mieć dany element w grze. Większość
kart wymaga, aby gracz wyznaczył postać określonego koloru.</p>

<p><em>Przykład: treść Użyj Mocy (<span class="icon-set-AW"></span>149) brzmi: „Wyznacz niebieską postać, aby obrócić dowolną kość na dowolną ściankę”. Gracz musi mieć w swojej drużynie niepokonaną niebieską postać, w przeciwnym wypadku ta karta niczego nie robi.</em></p>

<ul>
<li>Gracz nie może wyznaczać postaci ani kart przeciwnika,
chyba że karta mu to wyraźnie nakazuje.</li>
<li>Jeśli gracz nie jest w stanie wyznaczyć wymaganego
elementu, wówczas karta nie robi niczego.</li>
</ul>

<h3 id="xjakozmienna">X jako zmienna</h3>

<p>Niektóre karty odnoszą się do zmiennej w postaci X. X to
zawsze liczba zdefiniowana przez kartę i nieposiadająca
standardowej wartości.</p>

<h3 id="zadarmo">Za darmo</h3>

<p>Kiedy coś jest zagrywane lub rozpatrywane za darmo, gracz
nie płaci żadnego kosztu karty bądź kości.</p>

<h3 id="zadawanieobrażeń">Zadawanie obrażeń</h3>

<p>Obrażenia są zadawane, kiedy na postaci umieszcza się jeden
lub więcej żetonów obrażeń. Jeśli wszystkie obrażenia zostały
zablokowane przez osłony lub inną zdolność, wówczas nie
zostały otrzymane żadne obrażenia.</p>

<ul>
<li>Nieotrzymane obrażenia nadal są zadawane.</li>
</ul>

<p><em>Przykład: treść Padnij! (<span class="icon-set-AW"></span>164) brzmi: „Jeśli postać, do której dołączono tę kartę, otrzyma obrażenia wręcz, odrzuć to ulepszenie”. Jeśli dwa obrażenia wręcz zostaną zadane postaci, ale zostaną zablokowane przez 2 osłony, wówczas postać nie otrzymała żadnych obrażeń, a Padnij! nie jest odrzucane.</em></p>

<h3 id="zmniejszenie">Zmniejszenie</h3>

<p>Efekt, który coś zmniejsza, trwa tylko przez okres swojego
trwania. Niektóre efekty mają trwały okres działania.</p>

<p><em>Przykład: treść Spaja wszystkie rzeczy (<span class="icon-set-AW"></span>150) brzmi: „Przed tym, jak zagrasz niebieskie ulepszenie, możesz wyczerpać to wsparcie, aby zmniejszyć o 1 koszt zagrywanego ulepszenia”. Efekt ten działa tylko podczas płacenia za koszt zagrania danego ulepszenia. Po tym, jak zostanie ono zagrane, jego koszt wraca do normalnej wartości, ponieważ gracz zagrał już niebieskie ulepszenie.</em></p>

<h3 id="zwiększenie">Zwiększenie</h3>

<p>Efekt, który coś zwiększa, trwa tylko przez okres swojego
trwania. Niektóre efekty mają trwały okres działania.</p>

<p><em>Przykład: treść Przychylności Imperatora (<span class="icon-set-AW"></span>88) brzmi: „Twój limit kart na ręce zostaje zwiększony o 1”. W związku z tym, że nie został wskazany okres trwania efektu, zwiększenie działa w sposób trwały.</em></p>

<h1 id="część9.zasadywieloosobowe">Część 9. Zasady wieloosobowe</h1>

<p>Poza grą przeciwko tylko jednemu przeciwnikowi gracze
mogą zdecydować się także na rozgrywkę wieloosobową
w większym gronie. Jest jeden oficjalny format takiej
rozgrywki: każdy na każdego.</p>

<h3 id="każdynakażdego">Każdy na każdego</h3>

<p>W wariancie każdy na każdego może brać udział więcej niż
2 graczy, ale sugeruje się, aby uczestników było 3 lub 4.
Gracze powinni postępować zgodnie z normalnymi zasadami
gry, z wyjątkiem poniższych wyjątków i dodatków do zasad.</p>

<h4 id="przygotowanie">Przygotowanie</h4>

<p>W celu przygotowania gry należy wykonać poniższe kroki
w podanej kolejności.</p>

<ol>
<li>Graczy należy w losowy sposób rozsadzić naokoło stołu.</li>
<li>Wszyscy gracze rzucają kośćmi na pole bitwy. Gracz
z największą wartością wygrywa i wybiera pole bitwy, które
będzie wykorzystywane podczas rozgrywki. Każdy pozostały
gracz otrzymuje 1 żeton osłony, który może dać jednej ze
swoich postaci, oraz odkłada na bok swoje pole bitwy. Jeśli
gracze zremisują podczas tego rzutu, nowy rzut wykonują
tylko remisujący gracze.</li>
</ol>

<h4 id="akcje">Akcje</h4>

<p>Gracze wykonują akcje w kolejności zgodnej z kierunkiem
ruchu wskazówek zegara wokół obszaru gry, zaczynając od
pierwszego gracza. Wszyscy gracze muszą kolejno spasować,
aby runda się zakończyła. Tylko jedna osoba może zająć
pole bitwy.</p>

<h4 id="wybieranieprzeciwników">Wybieranie przeciwników</h4>

<p>Kiedy zdolność odnosi się do przeciwnika, gracz używający
danej zdolności decyduje, na którego z przeciwników
ona działa.</p>

<h4 id="eliminacjagraczy">Eliminacja graczy</h4>

<p>Jeśli wszystkie postacie gracza zostaną wyeliminowane albo
na koniec rundy nie będzie miał on żadnych kart w swojej ręce
ani w swojej talii, wówczas taki gracz zostaje wyeliminowany.
Wszystkie jego karty i kości są usuwane z gry, z wyjątkiem
kart, których nie kontroluje, oraz polem bitwy, jeśli jest ono
aktywne. Pozostali gracze kontynuują rozgrywkę, dopóki
w grze nie zostanie jeden gracz – ten gracz zostaje zwycięzcą.</p>
