{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block stylesheets %}
	<style>
	.new {
		color: red;
	}
	</style>
{% endblock %}

{% block body %}
<div class="main white container">
<div class="row">
<div class="col-md-4">
<h4>{{'toc' | trans}}</h4>
<ul data-toc="div#rules" data-toc-headings="h1,h2,h3"></ul>
</div>

<div class="col-md-8" id="rules">
	{% include ['AppBundle:Default:rulesreference.'~app.request.locale~'.html.twig', 'AppBundle:Default:rulesreference.en.html.twig']%}
</div>

</div>
</div>
{% endblock %}




