<h2 id="laregladeoro">La Regla de Oro</h2>

<p>Si el texto de una carta contradice directamente las
reglas del juego, el texto de la carta tiene precedencia.
Si es posible aplicar tanto las reglas del juego como el
texto de la carta, hazlo.</p>

<h1 id="parte1.tiposycoloresdecartas">Parte 1. Tipos y colores de cartas</h1>

<p>Todas las cartas pueden tener los siguientes elementos: afiliación,
color, tipo, título, capacidad, unicidad, texto de ambientación,
identificación, rareza y resumen del dado.</p>

<h3 id="afiliación">Afiliación</h3>

<p>Hay tres afiliaciones distintas: “Héroe”, “Villano” y “Neutral”.
Cada carta tiene su afiliación escrita en su parte inferior.</p>

<h3 id="colores">Colores</h3>

<p>Cada carta está asociada con un color específico que está
escrito en su parte inferior.</p>

<ul>
<li>El color rojo es el de Mando y representa actividades e individuos
relacionados con el aparato militar y logístico.</li>
<li>El color azul es el de la Fuerza y representa a individuos
entrenados en el uso de la Fuerza y sus distintas capacidades.</li>
<li>El color amarillo es el de lo Clandestino y representa a granujas,
malhechores, espías y contrabandistas.</li>
<li>El color gris es el de lo Generalista y representa todo lo que
no tiene cabida dentro de uno de los otros tres colores.</li>
</ul>

<h3 id="tipo">Tipo</h3>

<p>Cada carta pertenece a uno de estos cinco tipos: Campo de
batalla, Personaje, Evento, Mejora o Apoyo. El tipo de cada
carta está indicado encima de sus capacidades, excepto en las
cartas de Campo de batalla, en las que no aparece.</p>

<h3 id="título">Título</h3>

<p>El título de una carta sirve para identificarla y describir qué es
lo que representa en el universo de Star Wars.</p>

<h4 id="capacidades">Capacidades</h4>

<p>La mayoría de cartas tienen una o más capacidades escritas
en ellas.</p>

<h3 id="unicidad">Unicidad</h3>

<p>Cada carta es única o no lo es. Las cartas únicas están señaladas
por un símbolo en forma de diamante (<span class="icon-unique"></span>)
delante de sus títulos.
Todas las demás cartas no son únicas.</p>

<p>Un jugador no puede tener en juego al mismo tiempo más de
una copia de una carta única. En un equipo no puede haber
más de una copia de un Personaje único, y un jugador no
puede jugar un Apoyo único o una Mejora única si ya tiene en
juego otra copia de esa carta.</p>

<ul>
<li><p>Las restricciones a las cartas únicas se aplican de forma
individual a cada jugador. Cada uno de los jugadores puede
tener en juego al mismo tiempo una copia de una carta única.</p></li>
<li><p>Las restricciones a las cartas únicas no se aplican a los
dados. Un jugador puede tener en juego al mismo tiempo
múltiples copias de un mismo dado.</p></li>
<li><p>Los Personajes que tienen el mismo título pero un subtítulo
distinto se siguen considerando como el mismo Personaje a
efectos de determinar su unicidad.</p>

<p><em>Ejemplo: Un jugador no puede usar a “Darth Vader, Lord Sith” y a “Darth Vader, Aprendiz Oscuro” en el mismo equipo.</em></p></li>
</ul>

<h3 id="textodeambientación">Texto de ambientación</h3>

<p>Cuando hay escrito algún texto de ambientación, éste no tiene
ningún efecto de juego.</p>

<h3 id="id_card">Identificación (ID)</h3>

<p>La identificación de una carta contiene el símbolo de la expansión
a la que pertenece (el de la expansión Despertares es <span class="icon-set-AW"></span>)
seguido por un número. Esto ayuda a identificar las cartas y
emparejarlas con sus correspondientes dados.</p>

<h3 id="rarity_card">Rareza</h3>

<p>Hay cinco niveles de rareza. La rareza de una carta está indicada
por el color del recuadro de su identificación. Todo dado
procedente de una carta comparte la rareza de esa carta.</p>

<ul>
<li><span class="fg-rarity-S icon-collectors"></span> Fija (Gris): Las cartas fijas no están distribuidas
aleatoriamente, sino que siempre vienen en el mismo producto.</li>
<li><span class="fg-rarity-C icon-collectors"></span> Común (Azul): En cada sobre de ampliación hay tres
cartas comunes.</li>
<li><span class="fg-rarity-U icon-collectors"></span> Infrecuente (Amarillo): En cada sobre de ampliación
hay una carta infrecuente.</li>
<li><span class="fg-rarity-R icon-collectors"></span> Rara (Verde): En cada sobre de ampliación hay una
carta rara y su correspondiente dado.</li>
<li><span class="fg-rarity-L icon-collectors"></span> Legendaria (Púrpura): En uno de cada seis sobres de
ampliación, en vez de una carta rara (y su dado) hay
una carta legendaria (y su correspondiente dado).</li>
</ul>

<h3 id="resumendeldado">Resumen del dado</h3>

<p>Las cartas que vienen con un dado tienen una columna de
recuadros que reproducen las seis caras de ese dado.</p>

<h3 id="camposdebatalla">Campos de batalla</h3>

<p>Los campos de batalla representan distintos lugares donde se
producen los enfrentamientos entre los jugadores. Al comenzar
la partida se elige un campo de batalla, y el otro restante
no se usa.</p>

<ul>
<li>El campo de batalla está bajo el control de un único jugador,
quien lo deja junto a su mazo, ya sea porque ese jugador ha
empezado la partida con ese campo de batalla, o porque ha
sido la última persona en reclamarlo.</li>
<li>Los campos de batalla poseen capacidades de reclamación.
Estas capacidades se pueden resolver cuando se lleva a
cabo la acción de reclamar el campo de batalla.</li>
<li>El jugador que controla el campo de batalla lleva a cabo la
primera acción de cada ronda.</li>
<li>Todos los campos de batalla se consideran de color gris.</li>
</ul>

<h4 id="subtítulotambiénapareceenlospersonajes">Subtítulo (también aparece en los Personajes)</h4>

<p>Los subtítulos definen el lugar o planeta representando por un
campo de batalla, y ayudan a diferenciar distintas versiones de
un mismo Personaje.</p>

<h3 id="personajes">Personajes</h3>

<p>Los Personajes representan a individuos notables del universo
de <em>Star Wars</em>. Cada jugador gasta hasta 30 puntos en
Personajes durante la personalización. Los Personajes empiezan
la partida en juego y permanecen en juego hasta ser derrotados.
Cada Personaje posee uno o dos dados que se tiran
cuando ese Personaje es activado.</p>

<h4 id="salud">Salud</h4>

<p>La salud de un Personaje indica cuánto daño puede sufrir antes
de ser derrotado.</p>

<h4 id="valoresenpuntos">Valor(es) en puntos</h4>

<p>El valor (o valores) en puntos de un Personaje indica cuantos
puntos cuesta incluirlo en un equipo. Si hay dos valores, entonces
el valor inferior indica cuantos puntos cuesta usar uno de
los dados de ese Personaje, y el valor superior indica cuantos
puntos cuesta usar dos dados de ese Personaje. Todo Personaje
que posee dos de sus dados se denomina Personaje de élite.</p>

<h3 id="eventos">Eventos</h3>

<p>Los Eventos representan acciones tácticas,
estratagemas, sucesos inesperados y otras
circunstancias imprevisibles que pueden producirse
durante la partida. Cuando un jugador
juega un Evento, deben seguirse las instrucciones de la
carta y luego descartarla a su correspondiente pila de descarte.
* Cuando se juega un Evento, se considera que está en el
limbo (ver &#8220;<a href="#limbo">Limbo</a>&#8221;) hasta que sea resuelto
por completo.
* Suponiendo que se cumplan todos las restricciones necesarias
(ver &#8220;<a href="#restriccionesparajugar">Restricciones para jugar</a>&#8221; para
poder jugarlo, un jugador puede jugar un Evento incluso
aunque el Evento no vaya a producir ningún efecto.</p>

<h4 id="costetambiénapareceenapoyosymejoras">Coste (también aparece en Apoyos y Mejoras)</h4>

<p>El coste de una carta está indicado en su esquina superior
izquierda. Un jugador debe gastar tantos recursos como el
coste de una carta para poder jugarla.</p>

<h3 id="apoyos">Apoyos</h3>

<p>Las cartas de Apoyo representan diversos vehículos, pactos de
colaboración y ayuda logística. Cuando un jugador juega una
carta de Apoyo, la coloca boca arriba en su zona de juego, al
lado o detrás de sus Personajes. Los Apoyos tienen efectos
repetibles o constantes y permanecen en juego a menos que
un efecto o capacidad los descarte.</p>

<ul>
<li>Las cartas de Apoyo no pueden sufrir daño.</li>
<li>Si un Apoyo posee un dado, ese dado se tira cuando el
Apoyo es activado.</li>
<li>No hay ningún limite a la cantidad de Apoyos que un jugador
puede tener.</li>
</ul>

<h4 id="subtipostambiénaparecenenlasmejoras">Subtipos (también aparecen en las Mejoras)</h4>

<p>Algunas cartas poseen subtipos, como
“Vehículo” o “Arma”, que se indican tras el
tipo de la carta. Los subtipos no poseen
ninguna regla inherente asociada a ellos,
pero otras cartas pueden mencionarlos.
* Cuando en el texto de una carta se
menciona un subtipo, éste está escrito
en negrita.</p>

<h3 id="mejoras">Mejoras</h3>

<p>Las Mejoras representan armas, equipo y habilidades que los
Personajes tienen a su disposición. Cuando un jugador juega
una Mejora, la vincula boca arriba a uno de sus Personajes. El
jugador puede descartar una Mejora que ya está vinculada a
ese Personaje para reducir el coste de la nueva Mejora en una
cantidad igual al coste de la Mejora descartada. Las Mejoras
poseen capacidades repetibles o constantes y permanecen en
juego a menos que un efecto o capacidad las descarte, o el
Personaje al que están vinculadas sea derrotado.</p>

<ul>
<li>Cada Personaje puede tener 3 Mejoras como máximo. Si un
Personaje llega a tener en algún momento más de 3 Mejoras,
el jugador que lo controla debe elegir y descartar Mejoras
de ese Personaje hasta que sólo tenga 3.</li>
<li>No hay ningún límite a la cantidad de <strong>armas</strong>, <strong>equipo</strong> o
<strong>capacidades</strong> que un Personaje puede tener como parte de
sus 3 Mejoras.</li>
<li>Un Personaje puede tener múltiples copias de una misma
Mejora que no sea única.</li>
<li>Si una Mejora posee un dado, ese dado se tira cuando el
Personaje al que está vinculada es activado. El que la Mejora
esté preparada o agotada es irrelevante, y la Mejora no se
agota junto con el Personaje.</li>
</ul>

<h1 id="parte2.dadosysímbolosdelosdados">Parte 2. Dados y símbolos de los dados</h1>

<p>Este juego utiliza unos dados especiales de seis caras. Todos
los dados pueden tener los siguientes elementos: valor de
resultado, símbolo, coste, modificador, identificación y rareza.</p>

<h3 id="valorderesultado">Valor de resultado</h3>

<p>El valor de resultado es un número que aparece encima
del símbolo.</p>

<ul>
<li>Los resultados especiales y de cara vacía no tienen ningún
número impreso en el dado, y se considera que tienen un
valor de resultado de 0.</li>
</ul>

<h3 id="símbolo">Símbolo</h3>

<p>Cada una de las caras de un dado tiene un símbolo en ella.
Cuando se resuelve un dado, se produce un efecto que depende
del símbolo que aparece en el dado.</p>

<h3 id="coste">Coste</h3>

<p>Algunos dados tienen un coste. Este coste se indica en un
recuadro amarillo situado en la parte inferior del dado. Para
poder resolver un dado, el jugador debe gastar tantos recursos
como el coste indicado en la cara del dado. Si no puede pagar
ese coste, el jugador no puede resolver esa cara de dado.</p>

<h3 id="modificador">Modificador</h3>

<p>Algunos dados poseen una o más caras azules con un signo
positivo (+) antes del valor de resultado. Las caras con un
signo positivo sólo se pueden resolver al mismo tiempo que
otro dado que muestre el mismo símbolo, pero sin signo positivo.
A la hora de resolver estos dados, el valor con el signo
positivo se suma al del otro dado para crear un nuevo valor
de resultado.</p>

<p><em>Ejemplo: Obtienes un símbolo <em><strong>+2<span class="icon-ranged"></span></strong></em>. Obtienes también un símbolo 1<span class="icon-ranged"></span>, por lo que puedes resolver el <em><strong>+2<span class="icon-ranged"></span></strong></em> junto con el <em><strong>1<span class="icon-ranged"></span></strong></em> para un total de 3 puntos de daño a distancia infligidos a un Personaje cualquiera. Si no hubieras obtenido el <em><strong>1<span class="icon-ranged"></span></strong></em>, o si ya lo hubieras gastado, no habrías podido resolver el dado <em><strong>+2<span class="icon-ranged"></span></strong></em>.</em></p>

<ul>
<li>Un modificador no puede resolverse a sí mismo.</li>
</ul>

<h3 id="id_die">Identificación (ID)</h3>

<p>La identificación contiene el símbolo de la expansión seguido
por un número. Cada ID coincide con la de una carta
correspondiente.</p>

<h3 id="rarity_die">Rareza</h3>

<p>La rareza de un dado coincide con la rareza de su carta (ver
“<a href="#rarity_card">Rareza</a>”).</p>

<h3 id="símbolosdelosdados">Símbolos de los dados</h3>

<p>Al activar cartas se tiran dados en la reserva de dados de un
jugador. Los dados se pueden resolver en una acción posterior
para producir el efecto de su símbolo. Cada símbolo posee un
efecto diferente, tal como se explica a continuación. Casi todos
los símbolos poseen un valor de resultado encima de ellos que
determina la magnitud de su efecto.</p>

<h4 id="melee_symbol"><span class="icon-melee"></span> Daño cuerpo a cuerpo</h4>

<p>Inflige a un Personaje tantos puntos de daño como el valor de
resultado del símbolo.</p>

<ul>
<li>Todo el daño debe ser infligido a un solo Personaje. El jugador
no puede repartir entre varios Personajes el daño infligido
por un solo dado (o un dado que ha sido modificado).
Cuando se resuelven múltiples dados en una misma acción,
cada dado puede infligir daño a un Personaje distinto.</li>
</ul>

<h4 id="ranged_symbol"><span class="icon-ranged"></span> Daño a distancia</h4>

<p>Inflige a un Personaje tantos puntos de daño como el valor de
resultado del símbolo.</p>

<ul>
<li>Todo el daño debe ser infligido a un solo Personaje. El jugador
no puede repartir entre varios Personajes el daño infligido
por un solo dado (o un dado que ha sido modificado).
Cuando se resuelven múltiples dados en una misma acción,
cada dado puede infligir daño a un Personaje distinto.</li>
</ul>

<h4 id="shield_symbol"><span class="icon-shield"></span> Escudo</h4>

<p>Entrega a un Personaje tantos escudos como el valor de resultado
del símbolo.</p>

<ul>
<li>Todos los escudos deben ser entregados a un solo Personaje.
El jugador no puede repartir entre varios Personajes
los escudos entregados por un solo dado (o un dado que ha
sido modificado). Cuando se resuelven múltiples dados en
una misma acción, cada dado puede entregar escudos a un
Personaje distinto.</li>
<li>Un Personaje no puede tener más de 3 escudos. Todo
escudo que vaya a ser entregado al Personaje y supere esta
cantidad se ignora.</li>
</ul>

<h4 id="resource_symbol"><span class="icon-resource"></span> Recurso</h4>

<p>Se reciben tantos recursos como el valor de resultado
del símbolo.</p>

<h4 id="disrupt_symbol"><span class="icon-disrupt"></span> Interferir</h4>

<p>Obliga a un adversario a perder tantos recursos como el valor
de resultado del símbolo.</p>

<ul>
<li>Si un adversario tiene menos recursos que el valor de resultado
del símbolo, en ese caso pierde todos los recursos que
le quedan.</li>
<li>El adversario no puede perder recursos que no tiene; un jugador
no puede tener una cantidad de recursos inferior a 0.</li>
</ul>

<h4 id="discard_symbol"><span class="icon-discard"></span> Descartar</h4>

<p>Descarta tantas cartas elegidas al azar de la mano de un adversario
como el valor de resultado del símbolo.</p>

<ul>
<li>Si un adversario tiene menos cartas en su mano que el valor
de resultado del símbolo, en ese caso se descarta de todas
las cartas que le quedan.</li>
</ul>

<h4 id="focus_symbol"><span class="icon-focus"></span> Concentración</h4>

<p>Gira cierta cantidad de otros dados en la reserva de dados del
jugador a las caras de su elección. La cantidad de dados que
se giran es igual o inferior al valor de resultado del símbolo.</p>

<ul>
<li>Un jugador no puede girar los dados de su adversario.</li>
</ul>

<h4 id="special_symbol"><span class="icon-special"></span> Especial</h4>

<p>Utiliza la capacidad especial señalada con un símbolo <span class="icon-special"></span> en la
carta de ese dado. Los resultados especiales tienen un valor
de resultado de 0.</p>

<ul>
<li>El jugador no puede usar la capacidad especial de una carta
distinta; debe usarse la capacidad especial de la carta que
corresponde al dado.</li>
<li>Igual que con los otros símbolos, el jugador puede usar múltiples
capacidades especiales durante la misma acción, y
elige el orden en que se resuelven.</li>
<li>Una capacidad especial que vuelve a tirar su dado no puede
resolverse una segunda vez durante la misma acción.</li>
</ul>

<h4 id="blank_symbol"><span class="icon-blank"></span> Cara vacía</h4>

<p>Los símbolos de cara vacía no tienen ningún efecto y no pueden
resolverse. Las caras vacías tienen un valor de resultado de 0.</p>

<h3 id="resolverdadosmediantecartas">Resolver dados mediante cartas</h3>

<p>Muchas cartas permiten a un jugador resolver uno o más
dados. Cuando un jugador resuelve un dado mediante una
carta, utiliza el efecto normal del dado según el símbolo, y
luego aplica cualquier instrucción adicional.</p>

<ul>
<li>El jugador sigue teniendo que pagar cualquier coste en
recursos de ese dado.</li>
<li>El jugador no puede resolver un modificador por sí mismo.</li>
<li>Un jugador no puede usar modificadores cuando resuelve un
dado mediante el efecto de una carta, a menos que la carta
le permita resolver múltiples dados del mismo símbolo.</li>
</ul>

<h3 id="dadosdejandodeestarenjuego">Dados dejando de estar en juego</h3>

<ul>
<li>Si una carta con un dado asociado a ella deja de estar en
juego, el dado correspondiente a esa carta también se retira
inmediatamente del juego y se deja aparte. El dado retirado
puede volver a entrar en juego en algún momento posterior,
si su carta vuelve a entrar en juego.</li>
<li>Si un jugador tiene dos copias de la misma Mejora en un
Personaje, y esos dos dados de Mejora están en su reserva
de dados cuando tiene que descartar una Mejora del juego,
el jugador puede elegir cuál de esos dados retirar y dejar
aparte. Si un jugador tiene dos copias de la misma Mejora
en Personajes distintos (una Mejora en cada Personaje),
debe asegurarse de poder determinar siempre cuál de esos
dados pertenece a cada Mejora.</li>
</ul>

<h1 id="parte3.zonasdejuego">Parte 3. Zonas de juego</h1>

<p>Cada jugador posee sus propias zonas de juego. Estas zonas
están o bien en juego o bien fuera del juego.</p>

<h3 id="enjuego">En juego</h3>

<h4 id="personajesycartasjugadas">Personajes y cartas jugadas</h4>

<p>Después de que se juegue una Mejora o un Apoyo, la carta
jugada se añade a la zona de juego y se considera en juego.
Los Personajes también empiezan la partida en juego, y permanecen
allí hasta que son derrotados. Los Eventos nunca
están en juego; se juegan, resuelven y descartan sin llegar a
entrar en la zona de juego.</p>

<ul>
<li>Las capacidades que hay en las cartas en juego pueden usarse.</li>
<li>Se considera que una carta entra en juego cuando se traslada
de una zona fuera del juego a la zona en juego.</li>
<li>“Del juego” es una forma abreviada de decir “de la zona en juego”.</li>
</ul>

<h4 id="reservadedados">Reserva de dados</h4>

<p>Aquí es donde se tiran los dados. Cada jugador posee su propia
reserva de dados. Los dados siempre se dejan sobre la carta
que les corresponde cuando no están en una reserva de dados.</p>

<ul>
<li>Un jugador sólo puede resolver dados que estén en su propia
reserva de dados.</li>
<li>Los dados en la reserva de dados de un jugador pueden ser
manipulados (retirados, girados, etcétera) o utilizados como
indicación para efectos de cartas que requieren que se vea
una cara específica.</li>
</ul>

<h4 id="recursos">Recursos</h4>

<p>Los recursos de un jugador se dejan junto a sus cartas.</p>

<ul>
<li>La cantidad de recursos que posee un jugador se considera
información abierta.</li>
</ul>

<h4 id="campodebatallasiestácontrolado">Campo de batalla (si está controlado)</h4>

<p>Si un jugador controla el campo de batalla, éste se deja en la
zona en juego de ese jugador.</p>

<h3 id="fueradeljuego">Fuera del juego</h3>

<p>Las cartas que están en la mano, el mazo o la pila de descarte
de un jugador están fuera del juego y sus capacidades no pueden
usarse hasta que la carta sea jugada.</p>

<ul>
<li>Una carta deja el juego cuando se traslada de la zona de
juego a una zona fuera del juego.</li>
</ul>

<h4 id="mano">Mano</h4>

<p>Cada jugador posee una mano de cartas. Como una acción, el
jugador puede jugar una carta de su mano pagando el coste
en recursos de la carta.</p>

<ul>
<li>Cada jugador posee un tamaño de mano. El tamaño de la
mano de un jugador determina cuantas cartas roba durante
la fase de Mantenimiento (tras descartarse de las cartas que
desee). El tamaño de mano por defecto es de 5 cartas. Un
jugador no está obligado a descartar cartas cuando tiene
una cantidad superior a la de su tamaño de mano.</li>
<li>La cantidad de cartas que hay en la mano de un jugador se
considera información abierta, pero la identidad de las cartas
que hay en la mano se oculta al adversario del jugador.</li>
<li>Un jugador no puede tener en su mano una carta perteneciente
a su adversario.</li>
</ul>

<h4 id="mazo">Mazo</h4>

<p>Cada jugador trae a la partida un mazo de 30 cartas. Durante
la partida, el mazo consiste en la pila de cartas boca abajo que
el jugador todavía no ha robado.</p>

<ul>
<li>Tras ser barajado, el mazo se deja con sus cartas boca abajo,
y los jugadores no pueden mirar las cartas que hay en el
mazo o alterar su orden a menos que sea mediante alguna
capacidad del juego.</li>
<li>La cantidad de cartas que quedan en el mazo de un jugador
se considera información abierta.</li>
<li>Un jugador no puede tener en su mazo una carta perteneciente
a su adversario.</li>
</ul>

<h4 id="piladedescarte">Pila de descarte</h4>

<p>La pila de descarte es una pila de cartas boca arriba que hay
junto al mazo de un jugador en la que el jugador deja las cartas
que descarta.</p>

<ul>
<li>Las cartas que hay en una pila de descarte se consideran
información abierta. Todos los jugadores pueden mirar siempre
que lo deseen el contenido de la pila de descarte de
cualquier jugador.</li>
<li>El orden de las cartas que hay en una pila de descarte es
irrelevante. El jugador puede cambiar siempre que lo desee
el orden de las cartas que hay en su pila de descarte.</li>
</ul>

<h4 id="limbo">Limbo</h4>

<p>Cuando se juega un Evento, la carta del Evento se deja boca
arriba en la mesa y se considera que está en el limbo. El Evento
ya no está en la mano del jugador. Una vez el Evento ha sido
resuelto, va a la pila de descarte.</p>

<ul>
<li>El Evento no llega nunca a entrar en juego, pero se considera
que ha sido jugado.</li>
</ul>

<h4 id="dadosencartas">Dados en cartas</h4>

<p>Cuando los dados no están en una reserva de dados, se dejan
encima de la carta a la que pertenecen.</p>

<ul>
<li>Estos dados no están activos, no pueden ser manipulados, y
no se considera que estén mostrando ninguna de sus caras.</li>
</ul>

<h4 id="dadosaparte">Dados aparte</h4>

<p>Al comienzo de la partida, algunos dados se dejan aparte.
Se trata de dados que pueden entrar en juego mediante cartas.
Los jugadores pueden utilizar una bandeja o una bolsa de
dados para ocultar estos dados a la vista de su adversario.</p>

<h4 id="suministro">Suministro</h4>

<p>Aquí es donde se colocan las distintas fichas del juego. Todas
las fichas se cogen del suministro cuando se reciben (fichas
de Recursos), infligen (fichas de Daño) o entregan (fichas de
Escudos). Todas las fichas se devuelven al suministro cuando
se gastan (fichas de Recursos), pierden (fichas de Recursos),
curan (fichas de Daño) o retiran (fichas de Escudos). Si un jugador
se queda sin fichas, debe encontrar un sustituto apropiado.</p>

<h1 id="parte4.personalización">Parte 4. Personalización</h1>

<p>La personalización tiene lugar antes de jugar una partida.
Los jugadores pueden probar nuevas estrategias y combinaciones
de cartas para descubrir nuevas maneras de disfrutar
del juego.</p>

<h3 id="1.formarunequipo">1. Formar un equipo</h3>

<p>Para formar un equipo, el jugador elige hasta 30 puntos de
Personajes.</p>

<ul>
<li>El jugador debe elegir a Personajes que sean o bien héroes
o bien villanos; no pueden haber Personajes héroes y Personajes
villanos en el mismo equipo.</li>
<li>El jugador solamente puede elegir una copia de cada Personaje
único (<span class="icon-unique"></span>), pero puede seleccionar cualquier cantidad
de copias de Personajes que no sean únicos. Cuando selecciona
a un Personaje único, el jugador debe elegir entre usar
la versión de élite (mayor coste en puntos, dos dados) o la
versión que no es de élite (menor coste en puntos, un dado)
de ese Personaje.</li>
<li>El jugador debe elegir como mínimo a un Personaje.</li>
<li>No hay ninguna restricción basada en el color de los Personajes.
El jugador puede incluir en su equipo a Personajes que
sean todos del mismo color o que sean de distintos colores.</li>
</ul>

<h3 id="2.construirunmazo">2. Construir un mazo</h3>

<p>Un mazo consta exactamente de 30 cartas.</p>

<ul>
<li>El mazo no puede incluir más de 2 copias de la misma carta.</li>
<li>Si los Personajes de un equipo son héroes, su mazo no puede
contener cartas de villanos. Si los Personajes de un equipo
son villanos, su mazo no puede contener cartas de héroes.
Las cartas neutrales se pueden incluir en cualquier mazo.</li>
<li>Las cartas de color Azul, Rojo y Amarillo sólo se pueden
incluir en el mazo si el equipo incluye un Personaje del color
correspondiente. Las cartas de color Gris se pueden incluir
en cualquier mazo.</li>
<li>Un mazo puede contener Eventos, Mejoras y Apoyos. Los
Personajes y los campos de batalla no se incluyen en un
mazo y no cuentan para su límite de 30 cartas.</li>
</ul>

<h3 id="3.seleccionaruncampodebatalla">3. Seleccionar un campo de batalla</h3>

<p>Además de Personajes y un mazo, el jugador selecciona un
campo de batalla para traerlo consigo a la partida.</p>

<p><em>Ejemplo: Un jugador elige la versión de élite de Leia Organa (<span class="icon-set-AW"></span>28) por 16 puntos, y la versión que no es de élite de Han Solo (<span class="icon-set-AW"></span>46) por 14 puntos. Sus dos Personajes suman un total de 30 puntos, que es la cantidad máxima de puntos que puede haber en un equipo.</em></p>

<p><em>Dado que Leia Organa y Han Solo son Personajes héroes, el jugador
no puede usar en su mazo cartas de villanos. Tampoco puede incluir
cartas de color Azul, porque no ha elegido a ningún Personaje de
color Azul. El jugador selecciona 30 cartas de los colores Rojo,
Amarillo y Gris para añadir a su mazo. Decide coger como mínimo 10
cartas que tengan dados asociados, porque es importante robar y jugar
cartas que proporcionen dados.</em></p>

<p><em>Por último, el jugador selecciona la Sala de guerra rebelde
(<span class="icon-set-AW"></span>171) como su campo de batalla. Si
durante la preparación de la partida se elige este campo de batalla,
permitirá usar los dados con costes en recursos, como la cara de
puntos de daño a distancia de Han Solo, sin tener que pagarlos.</em></p>

<h1 id="parte5.estructuradelapartida">Parte 5. Estructura de la partida</h1>

<p>Cada partida es una batalla tan encarnizada como frenética en
la que los jugadores se turnan para realizar acciones.</p>

<h3 id="preparación">Preparación</h3>

<p>Para preparar la partida, sigue estos pasos en el orden
presentado.</p>

<ol>
<li>Cada jugador deja sus cartas de Personaje boca arriba
frente a él, junto con los dados correspondientes a
esos Personajes.</li>
<li>Cada jugador deja aparte su carta de Campo de batalla
boca arriba.</li>
<li>Cada jugador baraja su mazo de 30 cartas y roba 5 cartas
de él.</li>
<li>Cada jugador devuelve a su mazo las cartas que desee de su
mano, y luego vuelve a barajar el mazo y robar cartas de él
hasta tener 5 cartas en su mano.</li>
<li>Los jugadores separan las distintas fichas del juego (de
Daño, de Escudos y de Recursos) formando diferentes montones
cerca de la zona de juego. Cada jugador recibe 2 recursos
de este suministro.</li>
<li>Los jugadores tiran sus dados de Personaje iniciales y suman
los valores de resultado (los números blancos) obtenidos. Si
se produce un empate, se repite la tirada. El jugador con el
mayor valor total elige en qué campo de batalla combatir. El
jugador cuyo campo de batalla está siendo usado controla el
campo de batalla y lo coloca junto a su mazo. El jugador cuyo
campo de batalla no está siendo usado retira ese campo de
batalla de la partida y entrega 2 escudos a sus Personajes, distribuidos
como prefiera. Tras efectuar la tirada, todos los dados
de Personaje se devuelven a sus correspondientes cartas.</li>
</ol>

<h3 id="rondas">Rondas</h3>

<p>Cada partida se juega a lo largo de una serie de rondas. Cada
ronda consta de dos fases diferenciadas: una fase de Acciones
y una fase de Mantenimiento.</p>

<h4 id="fasedeacciones">Fase de acciones</h4>

<p>Durante la fase de Acciones, los jugadores van jugando turnos
alternos. El jugador que controla el campo de batalla lleva
a cabo el primer turno. Durante el turno de un jugador, éste
puede realizar una acción o dejar pasar su turno. Cuando
ambos jugadores dejan pasar su turno de manera consecutiva,
termina la fase de Acciones y empieza la de Mantenimiento.</p>

<h4 id="fasedemantenimiento">Fase de mantenimiento</h4>

<p>Durante la fase de Mantenimiento, cada jugador hace
lo siguiente:</p>

<ol>
<li>Prepara sus cartas agotadas.</li>
<li>Devuelve todos los dados que siguen en su reserva de dados
a sus correspondientes cartas.</li>
<li>Recibe 2 recursos.</li>
<li>Descarta cualquier cantidad de cartas de su mano, y luego
roba cartas hasta tener en su mano tantas cartas como su
tamaño de mano.

<ul>
<li>Si, tras descartar cartas, a un jugador le quedan en su
mano tantas o más cartas como su tamaño de mano, en
ese caso el jugador no roba ninguna carta.</li>
<li>Si a un jugador no le quedan suficientes cartas por robar
como para alcanzar su tamaño de mano, en ese caso el
jugador roba tantas cartas como le es posible.</li>
</ul></li>
</ol>

<h3 id="acciones">Acciones</h3>

<p>Las acciones las puede realizar un jugador siempre que es su
turno. Cuando es su turno, el jugador debe realizar una acción
o dejar pasar su turno. Las diferentes acciones se enumeran a
continuación y se explican con detalle más adelante.</p>

<ul>
<li>Jugar una carta de la mano</li>
<li>Activar un Personaje o un Apoyo</li>
<li>Resolver dados</li>
<li>Descartar una carta para volver a tirar dados</li>
<li>Usar la acción de una carta</li>
<li>Reclamar el campo de batalla</li>
</ul>

<p>Cuando a un jugador se le permite realizar acciones adicionales
en su turno, debe realizarlas de inmediato o dejar pasar su
turno. No puede reservar esas acciones para más adelante.
Si a un jugador se le permite realizar una acción fuera de su
turno, también debe realizarla de inmediato. </p>

<h4 id="jugarunacartadelamano">Jugar una carta de la mano</h4>

<p>Antes de que un jugador juegue una carta, primero debe comprobar
si en esa carta figura alguna restricción para jugarla.
Si lo hay, y las condiciones especificadas en él no se cumplen,
entonces la carta no se puede jugar.</p>

<p>Si no hay ninguna restricción, o si se cumplen todas las restricciones
para jugar la carta, entonces el jugador debe pagar
tantos recursos como el coste de la carta. Si no posee recursos
suficientes para pagar ese coste, entonces la carta no se
puede jugar.</p>

<p>Una vez que se ha pagado el coste que figura en una carta, esa
carta se resuelve según su tipo.</p>

<ul>
<li><strong>Jugar un Evento</strong>: El jugador sigue las instrucciones de la
carta y luego la descarta. La carta se considera que está en
el limbo mientras se resuelve.</li>
<li><strong>Jugar una Mejora</strong>: El jugador escoge y vincula la Mejora a
un Personaje, poniendo la Mejora al lado o debajo de ese
Personaje. Antes de pagar el coste para jugar una Mejora,
el jugador puede elegir reemplazar un Mejora que ya está
vinculada al Personaje escogido. El coste para jugar la nueva
Mejora se reduce en una cantidad igual al coste de la Mejora
anterior, y la Mejora anterior se descarta cuando la que la
reemplaza entra en juego. Si el coste de la Mejora anterior
es igual o superior al de la que la reemplaza, entonces no
hay que pagar nada para jugar la Mejora nueva.

<ul>
<li>Casi todas las Mejoras vienen con un dado adicional.
Cuando juega una de estas Mejoras, el jugador coge el
dado correspondiente de entre los que ha dejado aparte
y lo pone encima de la Mejora (o, para mayor comodidad,
en vez de eso puede dejarlo encima de ese Personaje ya
que el dado se tirará junto con el dado del Personaje).</li>
<li>Un Personaje no puede tener más de 3 Mejoras.</li>
</ul></li>
<li><strong>Jugar un Apoyo</strong>: El jugador coloca la carta en la mesa
detrás de su equipo. Algunos Apoyos poseen también un
dado que los acompaña. Cuando juega uno de estos Apoyos,
el jugador coge el dado correspondiente de entre los que ha
dejado aparte y lo pone encima del Apoyo.</li>
</ul>

<h4 id="activarunpersonajeounapoyo">Activar un personaje o un apoyo</h4>

<p>Para activar una carta de Personaje o de Apoyo, el jugador
agota esa carta y tira todos sus dados. Esos dados están ahora
en la reserva de dados de ese jugador, y ese jugador puede
realizar una acción en un turno posterior para resolver sus símbolos.
Los Personajes siempre tiran todos sus dados y los de
las Mejoras que tengan vinculadas cuando son activados. Los
Apoyos tiran sus propios dados en la reserva de dados cuando
se activan. Los Apoyos que no tienen ningún dado no pueden
ser activados.</p>

<ul>
<li>Todos los dados asociados a un Personaje (sus dados de Personaje
y de Mejora) deben ser tirados cuando ese Personaje
se activa. Un jugador no puede escoger cuáles de esos
dados desea tirar.</li>
<li>Un Personaje o un Apoyo que están agotados no se
pueden activar.</li>
</ul>

<h4 id="resolverdados">Resolver dados</h4>

<p>Cada dado posee un símbolo en cada una de sus caras (ver
<a href="#símbolosdelosdados">Símbolos de los dados</a>). Un jugador puede resolver uno
o más dados en
su reserva que tengan el mismo símbolo, de uno en uno (a
menos que esté añadiendo un dado modificado, en cuyo caso
los dados se resuelven de forma simultánea). Para resolver
un dado, el jugador debe pagar cualquier coste que tenga y
aplicar el efecto representado por el símbolo que hay en ese
dado. A continuación, el jugador devuelve el dado a la carta de
la que procede.</p>

<ul>
<li>Un jugador sólo puede resolver dados que estén en su propia
reserva de dados.</li>
<li>Un jugador puede resolver dados con distintos valores de
resultado durante la misma acción, siempre y cuando los
dados compartan el mismo símbolo.</li>
<li>Un jugador no puede elegir resolver símbolos de dados si
no tiene ningún símbolo de ese tipo para resolver. Un jugador
debe resolver como mínimo un dado cuando realiza
esta acción.</li>
<li>Un jugador puede resolver cualquier cantidad de dados con
el mismo símbolo, incluso aunque esos dados no estuvieran
mostrando ese símbolo cuando el jugador empezó a
resolver dados.</li>
<li>Un jugador no puede resolver el mismo dado más de una
vez por acción.</li>
</ul>

<h4 id="descartarunacartaparavolveratirardados">Descartar una carta para volver a tirar dados</h4>

<p>Un jugador puede descartar una carta de su elección de su
mano para volver a tirar uno o más dados en su reserva. El
jugador debe elegir todos los dados que desea volver a tirar
antes de efectuar la nueva tirada.</p>

<ul>
<li>Si no hay ningún dado en su reserva, el jugador no puede
descartar una carta de su mano para volver a tirar dados.</li>
</ul>

<h4 id="usarlaaccióndeunacarta">Usar la acción de una carta</h4>

<p>Algunas cartas de Apoyo, de Mejora y de Personaje poseen
acciones especiales escritas en ellas. Estas acciones están precedidas
por la palabra “<strong>Acción</strong>” escrita en negrita. Para resolver
esta acción, sigue las instrucciones de la carta.</p>

<h4 id="reclamarelcampodebatalla">Reclamar el campo de batalla</h4>

<p>Cuando un jugador reclama el campo de batalla, puede usar
su capacidad de reclamación. Si el jugador no controlaba el
campo de batalla, puede hacerse con el control de él y poner
la carta del campo de batalla al lado de su mazo. Para el resto
de esta ronda, ese jugador deja pasar automáticamente todas
sus futuras acciones. Su adversario sigue realizando acciones
hasta que también decida dejar pasar su turno. Solamente un
jugador puede reclamar el campo de batalla en cada ronda.</p>

<ul>
<li>Un jugador puede reclamar el campo de batalla incluso aunque
ya lo controle, con el objetivo de conservar el control del
campo de batalla y usar su capacidad de reclamación.</li>
<li>El jugador que controla el campo de batalla lleva a cabo la
primera acción de cada ronda.</li>
</ul>

<h3 id="pasarelturno">Pasar el turno</h3>

<p>Si un jugador no desea realizar ninguna acción, puede elegir
dejar pasar su turno. El jugador no hace nada, pero conserva
la opción de realizar una acción después de su adversario.
Cuando ambos jugadores dejan pasar su turno consecutivamente,
el ronda avanza a la fase de Mantenimiento.</p>

<h3 id="ganarlapartida">Ganar la partida</h3>

<p>Hay dos maneras de terminar una partida:</p>

<ul>
<li>Si todos los Personajes de un jugador están derrotados.
La partida termina de inmediato y el otro jugador gana
la partida.</li>
<li>Si al final de una ronda (tras la fase de Mantenimiento) a
un jugador no le queda ninguna carta en su mano ni en
su mazo, ese jugador pierde la partida y el otro jugador la
gana. Si ambos jugadores fueran a perder la partida de esta
manera, el jugador que controla el campo de batalla al final
de esa ronda es el vencedor.</li>
</ul>

<h1 id="parte6.conceptosdeljuego">Parte 6. Conceptos del juego</h1>

<p>Estas reglas son importantes porque se utilizan en todas
las partidas.</p>

<h3 id="daño">Daño</h3>

<p>Cuando un Personaje sufre daño, coloca
esa cantidad de fichas de Daño encima del
Personaje. Cuando un Personaje tiene encima
una cantidad de daño igual a su salud, es
derrotado de inmediato.</p>

<ul>
<li>El daño no anulable no puede ser anulado por escudos o
por efectos de cartas. Todo escudo que tenga un Personaje
que sufre daño no anulable se queda en ese Personaje; los
escudos se ignoran a efectos de infligir el daño no anulable.</li>
<li>Las fichas de Escudos vienen en valores de “1” y de “3”. Un
jugador puede ir cambiando estas fichas como crea necesario
para contabilizar la cantidad de daño que hay en un Personaje.
Si el suministro de fichas de Daño se agota, debe
buscarse algún sustituto para las fichas o utilizar un método
distinto para contabilizarlas.</li>
<li>El daño infligido durante la misma acción suele infligirse en
diferentes momentos porque los dados se resuelven de uno
en uno. La única ocasión en que múltiples dados infligen
daño en el mismo momento exacto se produce cuando un
dado está siendo modificado por otro dado.</li>
</ul>

<h3 id="personajesderrotados">Personajes derrotados</h3>

<p>Cuando un Personaje tiene encima una cantidad de daño igual
a su salud, ese Personaje es derrotado de inmediato. Retira
todos sus dados del juego (tanto sus dados de Personaje como
los de sus Mejoras vinculadas), descarta todas las Mejoras que
tenía, y retira la carta del Personaje del juego.</p>

<ul>
<li>Todo daño sobrante que es infligido a un Personaje por
una fuente que derrota al Personaje se ignora. Un jugador
puede infligir a un Personaje una cantidad de daño superior
a su salud, incluso cuando está distribuyendo el daño
como prefiera (por ejemplo, mediante la capacidad especial
del Fusil F&#8211;11D).</li>
<li>Cuando todos los Personajes de un jugador están derrotados,
ese jugador pierde la partida.</li>
</ul>

<h3 id="recursos">Recursos</h3>

<p>Los recursos son la unidad monetaria del juego
y se usan para pagar el coste de cartas, capacidades
de cartas y resolver dados. La cantidad de
recursos disponibles para un jugador en cualquier
momento dado se representa mediante fichas de Recursos.
Los recursos empiezan la partida en el suministro. Cuando un
jugador recibe recursos, coge fichas del suministro. Cuando un
jugador gasta o pierde recursos, devuelve fichas al suministro.</p>

<ul>
<li>Cada jugador recibe 2 recursos durante la fase
de Mantenimiento.</li>
<li>Si el suministro de fichas de Recursos se agota, debe buscarse
algún sustituto para las fichas o utilizar un método distinto
para contabilizarlas.</li>
</ul>

<h3 id="escudos">Escudos</h3>

<p>Los escudos anulan el daño. Cada escudo
anula 1 punto de daño que vaya a ser infligido
al Personaje. Tras anular el daño, la ficha de
Escudos se retira.</p>

<ul>
<li>El uso de los escudos no es opcional. Los escudos deben
usarse para anular el daño siempre que sea posible.</li>
<li>Cada Personaje puede tener un máximo de 3 escudos en
todo momento. Si un efecto va a darle a un Personaje más
de 3 escudos, los escudos sobrantes se ignoran.</li>
<li>Si el suministro de fichas de Escudos se agota, debe buscarse
algún sustituto para las fichas o utilizar un método distinto
para contabilizarlas.</li>
</ul>

<h3 id="robar">Robar</h3>

<p>Siempre que un jugador roba una carta, coge la carta que está
en la parte superior de su mazo y la añade a su mano.</p>

<ul>
<li>Cuando los jugadores roban múltiples cartas, las cartas se
roban de forma simultánea.</li>
<li>Si en el mazo de un jugador quedan menos cartas que las
que se supone que debe robar, en ese caso el jugador roba
tantas cartas restantes como le sea posible. Si un jugador no
puede robar ninguna carta, entonces no sucede nada.</li>
</ul>

<h3 id="preparada">Preparada</h3>

<p>Una carta se considera preparada cuando está en posición vertical.
Las cartas preparadas se pueden agotar (ser puestas en
posición horizontal). Cuando a un jugador se le indica que prepare
una carta, el jugador debe ponerla en posición vertical.</p>

<ul>
<li>Una carta que ya está preparada no puede ser preparada
de nuevo.</li>
<li>Los Apoyos y los Personajes preparados pueden ser agotados
para activarlos. Las Mejoras preparadas sólo pueden
ser agotadas mediante efectos de cartas.</li>
</ul>

<h3 id="agotada">Agotada</h3>

<p>Una carta se considera agotada cuando está en posición horizontal.
Las cartas agotadas se pueden preparar (ser puestas en
posición vertical). Cuando a un jugador se le indica que agote
una carta, el jugador debe ponerla en posición horizontal.</p>

<ul>
<li>Una carta que ya está agotada no puede ser agotada
de nuevo.</li>
</ul>

<h1 id="parte7.capacidades">Parte 7. Capacidades</h1>

<p>Una capacidad es el texto especial de juego que una carta
aporta a la partida. Hay cinco tipos de capacidades: capacidades
de acción, capacidades de reclamación, capacidades persistentes,
capacidades especiales y capacidades de activación.
También hay palabras clave, que son formas abreviadas para
referirse a capacidades que aparecen en múltiples cartas. Las
cartas pueden poseer más de una capacidad; cada capacidad
ocupa su propio párrafo en la carta.</p>

<p><em>Ejemplo: Finn (<span class="icon-set-AW"></span>45) posee dos capacidades diferentes.</em></p>

<p>Una capacidad se vuelve utilizable tan pronto como la carta
en la que figura entra en juego, y permanece utilizable mientras
esa carta siga en juego. Una capacidad de un Evento se
resuelve cuando ese Evento es jugado.</p>

<p>Los jugadores deben resolver la mayor parte de una capacidad
que sea posible, a menos que su texto incluya la palabra
“puede” o proporcione explícitamente al jugador una elección.
Las capacidades especiales (<span class="icon-special"></span>) son obligatorias si se resuelve
esa cara de su dado.</p>

<h3 id="capacidadesdeacción">Capacidades de acción</h3>

<p>Algunas cartas de Apoyo, de Mejora y de Personaje poseen
acciones únicas escritas en ellas. Estas acciones están precedidas
por la palabra “Acción” escrita en negrita. Para resolver
esta capacidad, el jugador debe gastar una acción en ella
durante su turno y luego resolver las instrucciones en la carta.</p>

<p><em>Ejemplo: Contactos en los bajos fondos (<span class="icon-set-AW"></span>101) posee la capacidad de acción “Acción - Agota este Apoyo para recibir 1 recurso”.</em></p>

<h3 id="capacidadesdereclamación">Capacidades de reclamación</h3>

<p>En los campos de batalla figuran capacidades de reclamación
que están precedidas por la palabra “<strong>Reclamar</strong>” escrita en
negrita. Estas capacidades son opcionales y pueden ser resueltas
por el jugador que reclama el campo de batalla.</p>

<h3 id="capacidadespersistentes">Capacidades persistentes</h3>

<p>Toda capacidad que no sea una palabra clave y cuyo texto
no contenga ninguna condición de activación ni vaya precedido
por una palabra escrita en negrita (como “Acción” o
“Reclamar”) es una capacidad persistente.</p>

<p><em>Ejemplo: Escolta personal (<span class="icon-set-AW"></span>78) posee la capacidad persistente “El Personaje vinculado posee la palabra clave Guardián”.</em></p>

<h3 id="capacidadesespeciales">Capacidades especiales</h3>

<p>Estas capacidades aparecen en algunas cartas que tienen un
dado asociado que está señalado por el símbolo especial (<span class="icon-special"></span>).
Cuando se resuelve un dado con ese símbolo, se resuelve la
capacidad especial en su carta correspondiente.</p>

<ul>
<li><p>El resultado especial (<span class="icon-special"></span>) no se puede resolver para usar la
capacidad especial que figura en una carta diferente.</p></li>
<li><p>Si se tira un dado en una reserva de dados independientemente
de la carta que se está jugando, el dado sigue haciendo
referencia a cualquier capacidad especial que posea la carta
y, si es necesario, puede resolverla de manera normal.</p>

<p><em>Ejemplo: As en la manga (<span class="icon-set-AW"></span>92) dice que tires en un tu reserva un dado de una Mejora de color Amarillo. La capacidad especial de esa Mejora se puede resolver tal como está escrita en la carta, porque el dado se considera que posee esa capacidad en esa cara, independientemente de si la carta está en juego o no.</em></p></li>
</ul>

<h3 id="capacidadesdeactivación">Capacidades de activación</h3>

<p>Una capacidad de activación posee una condición de activación
y un efecto. Cuando una capacidad de activación cumple
su condición de activación, la capacidad se resuelve. Hay
dos tipos de capacidades de activación: las capacidades “Antes
de&#8230;” y las capacidades “Después de&#8230;”.</p>

<ul>
<li>Las capacidades de activación existen independientemente
de procedencia. Una vez activadas, se resuelve la capacidad
entera, incluso aunque la carta en la que figuraba deje de
estar en juego.</li>
</ul>

<h4 id="condicióndeactivación">Condición de activación</h4>

<p>Una condición de activación indica el momento exacto en que
se puede usar una capacidad, y siempre va precedida por las
palabras “antes de” o “después de”. Una condición de activación
coincide con una circunstancia concreta que ocurre
durante la partida.</p>

<p><em>Ejemplo: Qui-Gon Jinn (<span class="icon-set-AW"></span>37) va a recibir un escudo, que es la condición de activación para su capacidad, la cual dice: “Antes de que este Personaje reciba 1 o más escudos, puedes retirar 1 de sus escudos infligir 1 punto de daño a un Personaje”.</em></p>

<h4 id="capacidades“antesde...”">Capacidades “Antes de&#8230;”</h4>

<p>Si, durante el transcurso de una partida, una capacidad “Antes
de&#8230;” cumple su condición de activación, resuelve inmediatamente
esa capacidad antes de seguir resolviendo el resto del
efecto. De esta manera, las capacidades “Antes de&#8230;” pueden
interrumpir el flujo de la partida.</p>

<p><em>Ejemplo: Uno con la Fuerza (<span class="icon-set-AW"></span>42) dice: “Antes de que el Personaje vinculado sea derrotado, esta Mejora se convierte en un Apoyo para el resto de la partida”. La condición de activación es “que el Personaje vinculado sea derrotado”, y la expresión “Antes de” te indica que debes resolver el resto de este efecto antes de que la condición de activación se resuelva.</em></p>

<h4 id="capacidades“despuésde...”">Capacidades “Después de&#8230;”</h4>

<p>Si, durante el transcurso de una partida, una capacidad “Después
de&#8230;” cumple su condición de activación, esa capacidad se resuelve
después de la resolución de la condición de activación. A diferencia
de las capacidades “Antes de&#8230;”, las capacidades “Después
de&#8230;” no interrumpen el flujo de la partida, y en vez de eso esperan
a que llegue su turno en la cola para ser resueltas.</p>

<p><em>Ejemplo: El Comunicador (<span class="icon-set-AW"></span>61) dice: “Después de que juegues esta Mejora, puedes volver a tirar cualquier cantidad de tus dados o cualquier cantidad de los dados de un adversario”. El efecto de jugar la carta debe resolverse por completo (pagar el coste, elegir un Personaje al que vincularla) y luego se resuelve la capacidad “Después de&#8230;”.</em></p>

<h4 id="cola">Cola</h4>

<p>Las capacidades “Después de&#8230;” entran en una cola imaginaria
una vez que se han cumplido sus condiciones de activación.
Estas capacidades esperan en la cola hasta que condición de
activación ha sido completada. Si la condición de activación formaba
parte de otra capacidad, esa otra capacidad se resuelve
por completo antes de pasar a resolver la capacidad “Después
de&#8230;”. Las capacidades que están en la cola se resuelven en el
orden en que han entrado en la cola. Cada una de ellas debe
resolverse por completo antes de resolver la siguiente capacidad.
Si, durante la resolución de una capacidad en la cola, se
añade otra capacidad a la cola, esa capacidad va “al final” de
la cola y se resolverá en último lugar.</p>

<ul>
<li>Las capacidades entran y salen de la cola por orden cronológico,
siguiendo la norma de que la primera capacidad que
entra en la cola es la primera en salir de ella.</li>
<li>Si dos o más capacidades poseen la misma condición de
activación, el jugador que controla el campo de batalla
decide el orden en que entran en la cola.</li>
</ul>

<h4 id="capacidadessimultáneas">Capacidades simultáneas</h4>

<p>Cuando dos o más capacidades de activación cumplen sus condiciones
de activación al mismo tiempo, el jugador que está
resolviendo esas capacidades elige el orden en que se resuelven
(en el caso de capacidades “Antes de&#8230;”) o entran en la
calo (en el caso de capacidades “Después de&#8230;”). Si más de
un jugador posee capacidades que son simultáneas, el jugador
que controla el campo de batalla elige el orden que en
se resuelven.</p>

<p><em>Ejemplo: Un Bandido tusken (<span class="icon-set-AW"></span>22) se activa con Jango Fett (<span class="icon-set-AW"></span>21) en juego. Cada carta está controlada por un jugador distinto. Ambas poseen una capacidad “Después de&#8230;” que puede resolverse después de la activación del Bandido tusken, por lo que el controlador del campo de batalla decide cuál de esas dos cartas entra primero en la cola.</em></p>

<h3 id="palabrasclave">Palabras clave</h3>

<p>Las palabras clave son formas abreviadas de referirse a capacidades
que aparecen en múltiples cartas.</p>

<ul>
<li>Una carta no puede recibir otra copia de una palabra clave;
o bien posee la palabra clave, o bien no la posee.</li>
<li>Si una carta pierde una palabra clave, entonces pierde la
palabra clave sin importar cuantas veces la hubiera ganado.</li>
</ul>

<h4 id="emboscada">Emboscada</h4>

<p>Después de jugar (y resolver) una carta con Emboscada, el
jugador puede realizar de inmediato otra acción.</p>

<ul>
<li>Si al jugador se le permite realizar un acción fuera de su
turno, la realiza inmediatamente.</li>
</ul>

<h4 id="guardián">Guardián</h4>

<p>Antes de que un Personaje con Guardián se active, su propietario
puede retirar un dado que muestre daño (k o j) de la
reserva de dados de un adversario para infligir al Personaje
con Guardián que va a activarse tantos puntos de daño como
el valor de resultado mostrado en el dado retirado.</p>

<h4 id="redesplegar">Redesplegar</h4>

<p>Esta palabra clave sólo aparece en Mejoras. Después de que
el Personaje al que está vinculada la Mejora sea derrotado,
su controlador puede transferirla inmediatamente a cualquiera
de sus otros Personajes. El dado de Mejora se transfiere a la
carta del nuevo Personaje, incluso aunque el dado esté en la
reserva de dados.</p>

<ul>
<li>La palabra clave Redesplegar ignora las restricciones
para jugar la carta cuando está siendo vinculada a un
nuevo Personaje.</li>
</ul>

<h3 id="efectos">Efectos</h3>

<p>Un efecto es cualquier cosa producida por una capacidad. Un
efecto dura tanto tiempo como la acción descrita en él.</p>

<h4 id="efectosretrasados">Efectos retrasados</h4>

<p>Algunas capacidades contienen efectos retrasados. Estas capacidades
especifican un momento concreto del futuro, o indican
una condición futura que puede producirse, y contienen un
efecto que tendrá lugar en ese momento.</p>

<p><em>Ejemplo: Señor del crimen (<span class="icon-set-AW"></span>23) dice: “Paga 5 recursos para elegir un Personaje. Ese Personaje es derrotado después de que termine esta ronda”. La derrota del Personaje es un efecto retrasado porque no se resuelve por completo hasta un momento concreto del futuro.</em></p>

<ul>
<li>Un Evento con un efecto retrasado crea el efecto y luego
el Evento se descarta. El Evento no permanece en el limbo
hasta el momento en que el efecto se resuelve.</li>
</ul>

<h4 id="efectossustitutivos">Efectos sustitutivos</h4>

<p>Un efecto sustitutivo utiliza la expresión “en vez de” en algún
lugar de su texto. Si un efecto sustitutivo se resuelve, el efecto
original se considera que no ha sido resuelto, y por lo tanto
no puede provocar la activación de ninguna capacidad. Sí que
pueden activarse capacidades a resultas del efecto sustitutivo.</p>

<p><em>Ejemplo: Segunda oportunidad (<span class="icon-set-AW"></span>137) dice: “Antes de que el Personaje vinculado vaya a ser derrotado, en vez de ello cúrale 5 puntos de daño y descarta esta Mejora”. Debido a que este efecto impide que el Personaje sea derrotado, el Personaje nunca se considera que ha sido derrotado.</em></p>

<ul>
<li>Si dos o más efectos sustitutivos están tratando de reemplazar
la misma cosa, el jugador que controla el campo de
batalla elige cuál de esos efectos se resuelve. El otro efecto
sustitutivo ya no se resuelve, porque aquello que estaba
reemplazando ya no existe (ya ha sido sustituido por el
otro efecto).</li>
</ul>

<h4 id="efectosautorreferenciales">Efectos autorreferenciales</h4>

<p>Cuando el texto de la capacidad de una carta menciona su propio
tipo de carta, como en la expresión “esta Mejora” o “este
Personaje”, se está refiriendo solamente a sí mismo, y no a
otras copias (por título) de esa carta.</p>

<h4 id="efectosnegativos">Efectos negativos</h4>

<p>Los efectos negativos tienen precedencia sobre los efectos
positivos. Si un efecto dice que un jugador no puede hacer
algo, entonces no puede hacerlo, incluso aunque otro efecto
diga que sí puede.</p>

<h4 id="efectos“luego”">Efectos “luego”</h4>

<p>Para resolver un efecto que está precedido por la palabra
“luego”, los efectos mencionados previamente en la carta
deben haber sido resueltos por completo (es decir, el estado
de la partida debe haber cambiado para reflejar en su totalidad
la intención de ese efecto). Si la parte de una capacidad
que precede a la palabra “luego” no se puede resolver en su
totalidad, la parte de la capacidad que va después de la palabra
“luego” no llega a intentar resolverse.</p>

<p><em>Ejemplo: Rebuscar en la basura (<span class="icon-set-AW"></span>132) dice: “Descarta las 3 primeras cartas de tu mazo. Luego puedes añadir a tu mano una Mejora o un Apoyo de tu pila de descarte”. Si en tu mazo quedan menos de 3 cartas, no puedes añadir una carta a tu mano porque el efecto que precede a la palabra “luego” no se ha resuelto por completo.</em></p>

<h1 id="parte8.términos">Parte 8. Términos</h1>

<p>A continuación se ofrecen definiciones y explicaciones de términos
importantes que los jugadores deben conocer. Los términos
están ordenados alfabéticamente.</p>

<h3 id="caramostrada">Cara mostrada</h3>

<p>La cara mostrada por un dado es aquella que ha quedado boca
arriba después de tirar el dado en una reserva de dados.</p>

<ul>
<li>Las caras de dados que no están boca arriba no se tienen
en consideración cuando una carta requiere que se muestre
un símbolo concreto.</li>
<li>Los efectos que hacen referencia a cierto símbolo mostrado
en un dado aceptan cualquier cara que muestre ese símbolo,
incluso aunque sea la cara de un dado modificado.</li>
<li>Los dados que están encima de cartas no están mostrando
ninguna cara. Un dado sólo puede mostrar una cara una vez
que ha sido tirado en la reserva de dados de un jugador.</li>
</ul>

<h3 id="controlador">Controlador</h3>

<p>El controlador de un carta o de un dado es el jugador que lo
tiene en su zona de juego. Como norma general, los jugadores
controlan todas las cartas y dados que les perte necen.</p>

<h3 id="copiadeunacarta">Copia (de una carta)</h3>

<p>La copia de una carta está definida por su título. Cualquier otra
carta que comparta el mismo título se considera una copia,
independientemente del tipo, texto o ilustración de la carta, o
cualquier otra característica que tenga.</p>

<h3 id="curar">Curar</h3>

<p>Cuando se cura daño de un Personaje, retira esa cantidad de
daño de encima del Personaje.</p>

<ul>
<li>Se cura tanto daño como sea posible. Las curaciones sobrantes
se ignoran.</li>
<li>Si el daño no es retirado por un efecto de curación, entonces
no se considera que el Personaje haya sido curado.</li>
</ul>

<h3 id="dadodepersonaje">Dado de personaje</h3>

<p>Un dado de Personaje es un dado que corresponde a
un Personaje.</p>

<ul>
<li>Los dados de Mejora no son dados de Personaje, incluso
aunque los Personajes también los usan cuando se activan.</li>
</ul>

<h3 id="dañonoanulable">Daño no anulable</h3>

<ul>
<li>El daño no anulable no puede ser anulado por escudos o
efectos de carta. Todo escudo que esté encima de un Personaje
a quien se le inflige daño no anulable permanece
encima de ese Personaje.</li>
</ul>

<h3 id="elegir-entre">Elegir - Entre</h3>

<p>Si una capacidad utiliza las expresiones “elige” y “entre”, el
jugador que utiliza la capacidad puede elegir cualquiera de las
opciones presentadas, incluso si la opción elegida no va a tener
ningún efecto. Una vez que el jugador ha hecho su elección,
tiene que resolverla en la medida de lo posible.</p>

<ul>
<li>Algunas cartas obligan a un adversario a hacer una elección.
En ese caso, el adversario también puede elegir cualquiera
de las opciones presentadas.</li>
</ul>

<h3 id="elegir-objetivo">Elegir - Objetivo</h3>

<p>Un objetivo es una carta o un dado sobre el que tendrá lugar
un efecto. La expresión “elegir” indica que se ha de escoger
un objetivo para que la capacidad pueda resolverse. El jugador
que resuelve el efecto debe elegir un elemento de la partida
que cumpla las requisitos de objetivo necesarios para
esa capacidad.</p>

<ul>
<li>Cuando está haciendo una elección, el jugador no puede
seleccionar objetivos inválidos. Por ejemplo: no puede infligir
daño a un Personaje derrotado. Si no hay ningún objetivo
válido, entonces la carta no hace nada.</li>
<li>Si se requiere que múltiples objetivos sean elegidos por el
mismo jugador, estos objetivos son elegidos simultáneamente.</li>
<li>Un efecto que permite elegir “cualquier cantidad” de objetivos
se puede resolver con éxito si la cantidad elegida de
objetivos es 0, aunque esto tal vez cause que el efecto no
haga nada.</li>
</ul>

<h3 id="girardado">Girar (dado)</h3>

<p>Cuando un jugador gira un dado a una cara, lo manipula de
manera que esa cara quede boca arriba (convirtiéndose en la
cara mostrada por el dado).</p>

<ul>
<li>Cuando se gira un dado, debe ser girado a una cara distinta.
Un jugador no puede girar un dado a la misma cara
que tenía antes de ser girado. Sin embargo, si el dado posee
el mismo símbolo y valor de resultado en dos o más de sus
caras, entonces el dado puede ser girado a una cara idéntica
a la actual.</li>
</ul>

<h3 id="incrementar">Incrementar</h3>

<p>Los efectos que incrementan alguna cosa sólo se aplican
mientras dure el efecto. Algunos efectos poseen una duración
constante.</p>

<p><em>Ejemplo: El favor del Emperador (<span class="icon-set-AW"></span>88) dice: “El tamaño de tu mano se incrementa en 1”. Debido a que este efecto no posee ninguna duración asignada, el incremento se aplica constantemente.</em></p>

<h3 id="másbarato">Más barato</h3>

<p>La expresión “más barato” se refiere a lo que tenga el
menor coste.</p>

<ul>
<li>Debe tenerse en cuenta todo efecto que modifique el coste.</li>
</ul>

<h3 id="mirar">Mirar</h3>

<p>Algunas veces un efecto permite a un jugador mirar cartas en
la mano o el mazo de algún jugador. Mirar una carta no modifica
la posición de la carta, y tras haber sido mirada, la carta
debe ser devuelta a su posición original.</p>

<h3 id="propietario">Propietario</h3>

<p>El propietario de una carta o de un dado es el jugador que ha
traído esa carta o dado a la partida. Un jugador puede ser el
propietario de un carta o dado pero perder el control de él
(como sucede cuando se pierde el control del campo de batalla).</p>

<h3 id="reducir">Reducir</h3>

<p>Los efectos que reducen alguna cosa sólo se aplican mientras
dure el efecto. Algunos efectos poseen una duración constante.</p>

<p><em>Ejemplo: Mantiene unida la galaxia (<span class="icon-set-AW"></span>150) dice: “Antes de que juegues una carta de Mejora de color Azul, puedes agotar este Apoyo para reducir en 1 su coste”. Esto sólo se aplica mientras se paga el coste para jugar la Mejora; una vez ha sido jugada, su coste vuelve a su valor normal porque ya has jugad una Mejora de color Azul.</em></p>

<h3 id="restriccionesparajugar">Restricciones para jugar</h3>

<p>Algunas cartas poseen una serie de restricciones para poder
jugarlas, que se indican mediante la palabra “Sólo”. Un jugador
no puede jugar esa carta a menos que cumpla las restricciones
para jugarla.</p>

<p>A veces en las cartas de Mejora pone “Sólo Personaje de color
[X]”. Si el jugador no posee ningún Personaje del color indicado
para vincular esa Mejora, entonces la Mejora no puede jugarse.</p>

<ul>
<li>Las Mejoras no se retiran de un Personaje si la restricción
de juego deja de cumplirse. El Personaje sólo debe cumplir
la restricción de juego cuando la carta se juega inicialmente.</li>
</ul>

<h3 id="retirardados">Retirar dados</h3>

<p>Retirar dados los transfiere de la reserva de dados de un jugador
a la carta que les corresponde.</p>

<ul>
<li>Un dado no puede ser retirado a menos que esté en la
reserva de dados de un jugador.</li>
<li>Si se deben retirar dados de un símbolo concreto para activar
un efecto, entonces es irrelevante si esos dados pueden
ser resueltos. Los símbolos que son modificadores o requieren
un gasto de recursos siguen contando como ese símbolo.</li>
</ul>

<h3 id="señalar">Señalar</h3>

<p>Algunas cartas requieren que un jugador señale un elemento
concreto de la partida para poder usar la capacidad de la
carta. Para poder señalar un elemento, un jugador debe tener
ese elemento en juego. La mayoría de las cartas sólo piden al
jugador que señale un Personaje de un color concreto.</p>

<p><em>Ejemplo: Utiliza la Fuerza (<span class="icon-set-AW"></span>49) dice: “Señala un Personaje de color Azul para girar un dado a cualquier cara”. Debes tener en tu equipo a un Personaje de color Azul que no esté derrotado, o la carta no hará nada.</em></p>

<ul>
<li>Un jugador no puede señalar los Personajes o cartas de un
adversario, a menos que la carta diga explícitamente que
puede hacerlo.</li>
<li>Si un jugador no es capaz de señalar el elemento requerido,
entonces la carta no hace nada.</li>
</ul>

<h3 id="sincostealguno">Sin coste alguno</h3>

<p>Cuando algo se juega o se resuelve sin coste alguno, el jugador
no paga ningún coste para esa carta o dado.</p>

<h3 id="sufrirdaño">Sufrir daño</h3>

<p>El daño solamente se sufre cuando una o más fichas de Daño
se colocan encima del Personaje. Si todo el daño infligido es
anulado por escudos o por alguna otra capacidad, entonces no
se ha sufrido daño.</p>

<ul>
<li>El daño que no se ha sufrido sigue habiendo sido infligido.</li>
</ul>

<p><em>Ejemplo: Resguardarse (<span class="icon-set-AW"></span>164) dice: “Si el Personaje vinculado sufre daño cuerpo a cuerpo, descarta esta Mejora”. Si se infligen 2 puntos de daño a ese Personaje, pero todo ese daño es anulado por escudos, entonces el Personaje no ha sufrido daño y Resguardarse no se descarta.</em></p>

<h3 id="transferir">Transferir</h3>

<p>Algunos efectos permiten a los jugadores transferir cartas
o fichas.</p>

<ul>
<li>Cuando se transfiere algo, no se puede transferir al mismo
sitio que ocupa actualmente. Si no hay ningún destino válido
para la transferencia, esa transferencia no se puede resolver.</li>
<li>Cuando se transfiere daño a un nuevo Personaje, esta transferencia
ignora los escudos y no se considera que el Personaje
acabe de sufrir daño.</li>
</ul>

<h3 id="valorderesultadocombinado">Valor de resultado combinado</h3>

<p>El valor de resultado combinado es la suma de todos los valores
de resultados mostrados en todos los dados a los que se
hace referencia.</p>

<p><em>Ejemplo: El valor de resultado combinado de dos dados que muestran daño a distancia con unos valores de resultado de 2 y 1 respectivamente es de 3.</em></p>

<h3 id="variablex">Variable X</h3>

<p>Algunas cartas hacen referencia a X como una variable. Esta X
siempre es un número que resulta definido por la carta y no
posee un valor estándar.</p>

<h1 id="parte9.reglasparapartidasmultijugador">Parte 9. Reglas para partidas multijugador</h1>

<p>Además de jugar contra un adversario, los jugadores pueden
elegir jugar contra más de un adversario en una partida
multijugador. Este formato se considera oficial y se denomina
“todos contra todos”.</p>

<h3 id="todoscontratodos">Todos contra todos</h3>

<p>Las partidas de todos contra todos permiten la participación
de más de dos jugadores, aunque la cantidad recomendada es
3 o 4. Los jugadores deben aplicar todas las reglas normales
del juego, con las siguientes excepciones y añadidos.</p>

<h4 id="preparación">Preparación</h4>

<p>Para preparar la partida, sigue estos pasos en el orden
presentado:</p>

<ol>
<li>Dispón a los jugadores al azar en torno a la mesa.</li>
<li>Todos los jugadores efectúan la tirada para determinar el
campo de batalla. El jugador con el mayor valor total elige el
campo de batalla que se usará para la partida. Cada uno de los
demás jugadores recibe 1 escudo para entregar a uno de sus
Personajes y deja aparte su campo de batalla. Si se produce
algún empate en esta tirada, sólo repiten la tirada los jugadores
que han empatado.</li>
</ol>

<h4 id="acciones">Acciones</h4>

<p>Empezando por el primer jugador, los jugadores van realizando
acciones siguiendo el sentido de las agujas del reloj tal
como están sentados en torno a la zona de juego. Todos los
jugados deben dejar pasar su turno de forma consecutiva para
poner fin a la ronda. El campo de batalla solamente puede ser
reclamado por una sola persona.</p>

<h4 id="eleccióndeadversarios">Elección de adversarios</h4>

<p>Cuando una capacidad menciona a un adversario, el jugador
que usa la capacidad elige a qué adversario afecta.</p>

<h4 id="eliminacióndejugadores">Eliminación de jugadores</h4>

<p>Si todos los Personajes de un jugador son derrotados, o si a
un jugador no le quedan cartas en su mazo ni en su mano al
final de la ronda, ese jugador es eliminado inmediatamente de
la partida. Todas sus cartas y dados se retiran de la partida,
excepto las cartas que ya no controla o su campo de batalla
en caso de estar activo. Los demás jugadores siguen jugando
hasta que sólo quede un jugador en la partida, quien será
el vencedor.</p>
