{{#each codes}}
<label class="btn btn-default btn-sm" data-code="{{code}}" title="{{example.affiliation_name}}">
	<input type="checkbox" name="{{code}}">
	<strong>{{example.affiliation_name}}!</strong>
</label>
{{/each}}