{{#each codes}}
<label class="btn btn-default btn-sm fg-rarity-{{code}}" data-code="{{code}}" title="{{example.rarity_name}}">
	<input type="checkbox" name="{{code}}">
	<span class="icon-collectors"></span>
</label>
{{/each}}