{{#each codes}}
<label class="btn btn-default btn-sm" data-code="{{code}}" title="{{example.type_name}}">
	<input type="checkbox" name="{{code}}">
	<span class="icon-{{code}}"></span>
</label>
{{/each}}